XSD/IfcActorResource.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:ifc="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" version="4.3">
  <include schemaLocation="IfcExternalReferenceResource.xsd"/>
  <include schemaLocation="IfcMeasureResource.xsd"/>
  <include schemaLocation="IfcResourceLayer.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="IfcActorRole" substitutionGroup="gco:AbstractObject" type="ifc:IfcActorRole_Type"/>
  <complexType name="IfcActorRole_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="role" type="ifc:IfcRoleEnum_PropertyType"/>
          <element minOccurs="0" name="userDefinedRole" type="string"/>
          <element minOccurs="0" name="description" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcActorRole_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcActorRole"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcActorSelect" type="ifc:IfcActorSelect_Type"/>
  <complexType name="IfcActorSelect_Type">
    <choice>
      <element name="organization" type="ifc:IfcOrganization_PropertyType"/>
      <element name="person" type="ifc:IfcPerson_PropertyType"/>
      <element name="personAndOrganization" type="ifc:IfcPersonAndOrganization_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcActorSelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcActorSelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcAddress" substitutionGroup="gco:AbstractObject" type="ifc:AbstractIfcAddress_Type"/>
  <complexType abstract="true" name="AbstractIfcAddress_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="purpose" type="ifc:IfcAddressTypeEnum_PropertyType"/>
          <element minOccurs="0" name="description" type="string"/>
          <element minOccurs="0" name="userDefinedPurpose" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcAddress_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcAddress"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcAddressTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcAddressTypeEnum_Type"/>
  <simpleType name="IfcAddressTypeEnum_Type">
    <restriction base="string">
      <enumeration value="DISTRIBUTIONPOINT"/>
      <enumeration value="HOME"/>
      <enumeration value="OFFICE"/>
      <enumeration value="SITE"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcAddressTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAddressTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcOrganization" substitutionGroup="gco:AbstractObject" type="ifc:IfcOrganization_Type"/>
  <complexType name="IfcOrganization_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="identification" type="string"/>
          <element name="name" type="string"/>
          <element minOccurs="0" name="description" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="roles" type="ifc:IfcActorRole_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="addresses" type="ifc:AbstractIfcAddress_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcOrganization_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcOrganization"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcOrganizationRelationship" substitutionGroup="ifc:AbstractIfcResourceLevelRelationship" type="ifc:IfcOrganizationRelationship_Type"/>
  <complexType name="IfcOrganizationRelationship_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcResourceLevelRelationship_Type">
        <sequence>
          <element maxOccurs="unbounded" name="relatedOrganizations" type="ifc:IfcOrganization_PropertyType"/>
          <element name="relatingOrganization" type="ifc:IfcOrganization_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcOrganizationRelationship_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcOrganizationRelationship"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPerson" substitutionGroup="gco:AbstractObject" type="ifc:IfcPerson_Type"/>
  <complexType name="IfcPerson_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="identification" type="string"/>
          <element minOccurs="0" name="familyName" type="string"/>
          <element minOccurs="0" name="givenName" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="middleNames" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="prefixTitles" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="suffixTitles" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="roles" type="ifc:IfcActorRole_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="addresses" type="ifc:AbstractIfcAddress_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPerson_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPerson"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPersonAndOrganization" substitutionGroup="gco:AbstractObject" type="ifc:IfcPersonAndOrganization_Type"/>
  <complexType name="IfcPersonAndOrganization_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="roles" type="ifc:IfcActorRole_PropertyType"/>
          <element name="thePerson" type="ifc:IfcPerson_PropertyType"/>
          <element name="theOrganization" type="ifc:IfcOrganization_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPersonAndOrganization_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPersonAndOrganization"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPostalAddress" substitutionGroup="ifc:AbstractIfcAddress" type="ifc:IfcPostalAddress_Type"/>
  <complexType name="IfcPostalAddress_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcAddress_Type">
        <sequence>
          <element minOccurs="0" name="internalLocation" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="addressLines" type="string"/>
          <element minOccurs="0" name="postalBox" type="string"/>
          <element minOccurs="0" name="town" type="string"/>
          <element minOccurs="0" name="region" type="string"/>
          <element minOccurs="0" name="postalCode" type="string"/>
          <element minOccurs="0" name="country" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPostalAddress_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPostalAddress"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRoleEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcRoleEnum_Type"/>
  <simpleType name="IfcRoleEnum_Type">
    <restriction base="string">
      <enumeration value="ARCHITECT"/>
      <enumeration value="BUILDINGOPERATOR"/>
      <enumeration value="BUILDINGOWNER"/>
      <enumeration value="CIVILENGINEER"/>
      <enumeration value="CLIENT"/>
      <enumeration value="COMMISSIONINGENGINEER"/>
      <enumeration value="CONSTRUCTIONMANAGER"/>
      <enumeration value="CONSULTANT"/>
      <enumeration value="CONTRACTOR"/>
      <enumeration value="COSTENGINEER"/>
      <enumeration value="ELECTRICALENGINEER"/>
      <enumeration value="ENGINEER"/>
      <enumeration value="FACILITIESMANAGER"/>
      <enumeration value="FIELDCONSTRUCTIONMANAGER"/>
      <enumeration value="MANUFACTURER"/>
      <enumeration value="MECHANICALENGINEER"/>
      <enumeration value="OWNER"/>
      <enumeration value="PROJECTMANAGER"/>
      <enumeration value="RESELLER"/>
      <enumeration value="STRUCTURALENGINEER"/>
      <enumeration value="SUBCONTRACTOR"/>
      <enumeration value="SUPPLIER"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcRoleEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRoleEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTelecomAddress" substitutionGroup="ifc:AbstractIfcAddress" type="ifc:IfcTelecomAddress_Type"/>
  <complexType name="IfcTelecomAddress_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcAddress_Type">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="telephoneNumbers" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="facsimileNumbers" type="string"/>
          <element minOccurs="0" name="pagerNumber" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="electronicMailAddresses" type="string"/>
          <element minOccurs="0" name="wWWHomePageURL" type="ifc:IfcURIReference_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="messagingIDs" type="ifc:IfcURIReference_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTelecomAddress_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTelecomAddress"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
