XSD/IfcArchitectureDomain.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:ifc="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" version="4.3">
  <include schemaLocation="IfcActorResource.xsd"/>
  <include schemaLocation="IfcDateTimeResource.xsd"/>
  <include schemaLocation="IfcDomainLayer.xsd"/>
  <include schemaLocation="IfcExternalReferenceResource.xsd"/>
  <include schemaLocation="IfcGeometricModelResource.xsd"/>
  <include schemaLocation="IfcGeometryResource.xsd"/>
  <include schemaLocation="IfcKernel.xsd"/>
  <include schemaLocation="IfcMaterialResource.xsd"/>
  <include schemaLocation="IfcMeasureResource.xsd"/>
  <include schemaLocation="IfcPresentationAppearanceResource.xsd"/>
  <include schemaLocation="IfcProductExtension.xsd"/>
  <include schemaLocation="IfcPropertyResource.xsd"/>
  <include schemaLocation="IfcRepresentationResource.xsd"/>
  <include schemaLocation="IfcSharedBldgElements.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="IfcDoorLiningProperties" substitutionGroup="ifc:AbstractIfcPreDefinedPropertySet" type="ifc:IfcDoorLiningProperties_Type"/>
  <complexType name="IfcDoorLiningProperties_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPreDefinedPropertySet_Type">
        <sequence>
          <element minOccurs="0" name="liningDepth" type="gml:LengthType"/>
          <element minOccurs="0" name="liningThickness" type="gml:LengthType"/>
          <element minOccurs="0" name="thresholdDepth" type="gml:LengthType"/>
          <element minOccurs="0" name="thresholdThickness" type="gml:LengthType"/>
          <element minOccurs="0" name="transomThickness" type="gml:LengthType"/>
          <element minOccurs="0" name="transomOffset" type="gml:LengthType"/>
          <element minOccurs="0" name="liningOffset" type="gml:LengthType"/>
          <element minOccurs="0" name="thresholdOffset" type="gml:LengthType"/>
          <element minOccurs="0" name="casingThickness" type="gml:LengthType"/>
          <element minOccurs="0" name="casingDepth" type="gml:LengthType"/>
          <element minOccurs="0" name="liningToPanelOffsetX" type="gml:LengthType"/>
          <element minOccurs="0" name="liningToPanelOffsetY" type="gml:LengthType"/>
          <element minOccurs="0" name="shapeAspectStyle" type="ifc:IfcShapeAspect_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDoorLiningProperties_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDoorLiningProperties"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDoorPanelOperationEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcDoorPanelOperationEnum_Type"/>
  <simpleType name="IfcDoorPanelOperationEnum_Type">
    <restriction base="string">
      <enumeration value="DOUBLE_ACTING"/>
      <enumeration value="FIXEDPANEL"/>
      <enumeration value="FOLDING"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="REVOLVING"/>
      <enumeration value="ROLLINGUP"/>
      <enumeration value="SLIDING"/>
      <enumeration value="SWINGING"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcDoorPanelOperationEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDoorPanelOperationEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDoorPanelPositionEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcDoorPanelPositionEnum_Type"/>
  <simpleType name="IfcDoorPanelPositionEnum_Type">
    <restriction base="string">
      <enumeration value="LEFT"/>
      <enumeration value="MIDDLE"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="RIGHT"/>
    </restriction>
  </simpleType>
  <complexType name="IfcDoorPanelPositionEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDoorPanelPositionEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDoorPanelProperties" substitutionGroup="ifc:AbstractIfcPreDefinedPropertySet" type="ifc:IfcDoorPanelProperties_Type"/>
  <complexType name="IfcDoorPanelProperties_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPreDefinedPropertySet_Type">
        <sequence>
          <element minOccurs="0" name="panelDepth" type="gml:LengthType"/>
          <element name="panelOperation" type="ifc:IfcDoorPanelOperationEnum_PropertyType"/>
          <element minOccurs="0" name="panelWidth" type="gml:MeasureType"/>
          <element name="panelPosition" type="ifc:IfcDoorPanelPositionEnum_PropertyType"/>
          <element minOccurs="0" name="shapeAspectStyle" type="ifc:IfcShapeAspect_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDoorPanelProperties_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDoorPanelProperties"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDoorStyle" substitutionGroup="ifc:IfcTypeProduct" type="ifc:IfcDoorStyle_Type"/>
  <complexType name="IfcDoorStyle_Type">
    <complexContent>
      <extension base="ifc:IfcTypeProduct_Type">
        <sequence>
          <element name="operationType" type="ifc:IfcDoorStyleOperationEnum_PropertyType"/>
          <element name="constructionType" type="ifc:IfcDoorStyleConstructionEnum_PropertyType"/>
          <element name="parameterTakesPrecedence" type="boolean"/>
          <element name="sizeable" type="boolean"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDoorStyle_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDoorStyle"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDoorStyleConstructionEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcDoorStyleConstructionEnum_Type"/>
  <simpleType name="IfcDoorStyleConstructionEnum_Type">
    <restriction base="string">
      <enumeration value="ALUMINIUM"/>
      <enumeration value="ALUMINIUM_PLASTIC"/>
      <enumeration value="ALUMINIUM_WOOD"/>
      <enumeration value="HIGH_GRADE_STEEL"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PLASTIC"/>
      <enumeration value="STEEL"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="WOOD"/>
    </restriction>
  </simpleType>
  <complexType name="IfcDoorStyleConstructionEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDoorStyleConstructionEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDoorStyleOperationEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcDoorStyleOperationEnum_Type"/>
  <simpleType name="IfcDoorStyleOperationEnum_Type">
    <restriction base="string">
      <enumeration value="DOUBLE_DOOR_DOUBLE_SWING"/>
      <enumeration value="DOUBLE_DOOR_FOLDING"/>
      <enumeration value="DOUBLE_DOOR_SINGLE_SWING"/>
      <enumeration value="DOUBLE_DOOR_SINGLE_SWING_OPPOSITE_LEFT"/>
      <enumeration value="DOUBLE_DOOR_SINGLE_SWING_OPPOSITE_RIGHT"/>
      <enumeration value="DOUBLE_DOOR_SLIDING"/>
      <enumeration value="DOUBLE_SWING_LEFT"/>
      <enumeration value="DOUBLE_SWING_RIGHT"/>
      <enumeration value="FOLDING_TO_LEFT"/>
      <enumeration value="FOLDING_TO_RIGHT"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="REVOLVING"/>
      <enumeration value="ROLLINGUP"/>
      <enumeration value="SINGLE_SWING_LEFT"/>
      <enumeration value="SINGLE_SWING_RIGHT"/>
      <enumeration value="SLIDING_TO_LEFT"/>
      <enumeration value="SLIDING_TO_RIGHT"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcDoorStyleOperationEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDoorStyleOperationEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPermeableCoveringOperationEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcPermeableCoveringOperationEnum_Type"/>
  <simpleType name="IfcPermeableCoveringOperationEnum_Type">
    <restriction base="string">
      <enumeration value="GRILL"/>
      <enumeration value="LOUVER"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="SCREEN"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcPermeableCoveringOperationEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPermeableCoveringOperationEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPermeableCoveringProperties" substitutionGroup="ifc:AbstractIfcPreDefinedPropertySet" type="ifc:IfcPermeableCoveringProperties_Type"/>
  <complexType name="IfcPermeableCoveringProperties_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPreDefinedPropertySet_Type">
        <sequence>
          <element name="operationType" type="ifc:IfcPermeableCoveringOperationEnum_PropertyType"/>
          <element name="panelPosition" type="ifc:IfcWindowPanelPositionEnum_PropertyType"/>
          <element minOccurs="0" name="frameDepth" type="gml:LengthType"/>
          <element minOccurs="0" name="frameThickness" type="gml:LengthType"/>
          <element minOccurs="0" name="shapeAspectStyle" type="ifc:IfcShapeAspect_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPermeableCoveringProperties_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPermeableCoveringProperties"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcWindowLiningProperties" substitutionGroup="ifc:AbstractIfcPreDefinedPropertySet" type="ifc:IfcWindowLiningProperties_Type"/>
  <complexType name="IfcWindowLiningProperties_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPreDefinedPropertySet_Type">
        <sequence>
          <element minOccurs="0" name="liningDepth" type="gml:LengthType"/>
          <element minOccurs="0" name="liningThickness" type="gml:LengthType"/>
          <element minOccurs="0" name="transomThickness" type="gml:LengthType"/>
          <element minOccurs="0" name="mullionThickness" type="gml:LengthType"/>
          <element minOccurs="0" name="firstTransomOffset" type="gml:MeasureType"/>
          <element minOccurs="0" name="secondTransomOffset" type="gml:MeasureType"/>
          <element minOccurs="0" name="firstMullionOffset" type="gml:MeasureType"/>
          <element minOccurs="0" name="secondMullionOffset" type="gml:MeasureType"/>
          <element minOccurs="0" name="liningOffset" type="gml:LengthType"/>
          <element minOccurs="0" name="liningToPanelOffsetX" type="gml:LengthType"/>
          <element minOccurs="0" name="liningToPanelOffsetY" type="gml:LengthType"/>
          <element minOccurs="0" name="shapeAspectStyle" type="ifc:IfcShapeAspect_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcWindowLiningProperties_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcWindowLiningProperties"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcWindowPanelOperationEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcWindowPanelOperationEnum_Type"/>
  <simpleType name="IfcWindowPanelOperationEnum_Type">
    <restriction base="string">
      <enumeration value="BOTTOMHUNG"/>
      <enumeration value="FIXEDCASEMENT"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="OTHEROPERATION"/>
      <enumeration value="PIVOTHORIZONTAL"/>
      <enumeration value="PIVOTVERTICAL"/>
      <enumeration value="REMOVABLECASEMENT"/>
      <enumeration value="SIDEHUNGLEFTHAND"/>
      <enumeration value="SIDEHUNGRIGHTHAND"/>
      <enumeration value="SLIDINGHORIZONTAL"/>
      <enumeration value="SLIDINGVERTICAL"/>
      <enumeration value="TILTANDTURNLEFTHAND"/>
      <enumeration value="TILTANDTURNRIGHTHAND"/>
      <enumeration value="TOPHUNG"/>
    </restriction>
  </simpleType>
  <complexType name="IfcWindowPanelOperationEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcWindowPanelOperationEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcWindowPanelPositionEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcWindowPanelPositionEnum_Type"/>
  <simpleType name="IfcWindowPanelPositionEnum_Type">
    <restriction base="string">
      <enumeration value="BOTTOM"/>
      <enumeration value="LEFT"/>
      <enumeration value="MIDDLE"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="RIGHT"/>
      <enumeration value="TOP"/>
    </restriction>
  </simpleType>
  <complexType name="IfcWindowPanelPositionEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcWindowPanelPositionEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcWindowPanelProperties" substitutionGroup="ifc:AbstractIfcPreDefinedPropertySet" type="ifc:IfcWindowPanelProperties_Type"/>
  <complexType name="IfcWindowPanelProperties_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPreDefinedPropertySet_Type">
        <sequence>
          <element name="operationType" type="ifc:IfcWindowPanelOperationEnum_PropertyType"/>
          <element name="panelPosition" type="ifc:IfcWindowPanelPositionEnum_PropertyType"/>
          <element minOccurs="0" name="frameDepth" type="gml:LengthType"/>
          <element minOccurs="0" name="frameThickness" type="gml:LengthType"/>
          <element minOccurs="0" name="shapeAspectStyle" type="ifc:IfcShapeAspect_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcWindowPanelProperties_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcWindowPanelProperties"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcWindowStyle" substitutionGroup="ifc:IfcTypeProduct" type="ifc:IfcWindowStyle_Type"/>
  <complexType name="IfcWindowStyle_Type">
    <complexContent>
      <extension base="ifc:IfcTypeProduct_Type">
        <sequence>
          <element name="constructionType" type="ifc:IfcWindowStyleConstructionEnum_PropertyType"/>
          <element name="operationType" type="ifc:IfcWindowStyleOperationEnum_PropertyType"/>
          <element name="parameterTakesPrecedence" type="boolean"/>
          <element name="sizeable" type="boolean"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcWindowStyle_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcWindowStyle"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcWindowStyleConstructionEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcWindowStyleConstructionEnum_Type"/>
  <simpleType name="IfcWindowStyleConstructionEnum_Type">
    <restriction base="string">
      <enumeration value="ALUMINIUM"/>
      <enumeration value="ALUMINIUM_WOOD"/>
      <enumeration value="HIGH_GRADE_STEEL"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="OTHER_CONSTRUCTION"/>
      <enumeration value="PLASTIC"/>
      <enumeration value="STEEL"/>
      <enumeration value="WOOD"/>
    </restriction>
  </simpleType>
  <complexType name="IfcWindowStyleConstructionEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcWindowStyleConstructionEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcWindowStyleOperationEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcWindowStyleOperationEnum_Type"/>
  <simpleType name="IfcWindowStyleOperationEnum_Type">
    <restriction base="string">
      <enumeration value="DOUBLE_PANEL_HORIZONTAL"/>
      <enumeration value="DOUBLE_PANEL_VERTICAL"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="SINGLE_PANEL"/>
      <enumeration value="TRIPLE_PANEL_BOTTOM"/>
      <enumeration value="TRIPLE_PANEL_HORIZONTAL"/>
      <enumeration value="TRIPLE_PANEL_LEFT"/>
      <enumeration value="TRIPLE_PANEL_RIGHT"/>
      <enumeration value="TRIPLE_PANEL_TOP"/>
      <enumeration value="TRIPLE_PANEL_VERTICAL"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcWindowStyleOperationEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcWindowStyleOperationEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
