XSD/IfcBuildingControlsDomain.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:ifc="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" version="4.3">
  <include schemaLocation="IfcDomainLayer.xsd"/>
  <include schemaLocation="IfcSharedBldgServiceElements.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="IfcActuator" substitutionGroup="ifc:IfcDistributionControlElement" type="ifc:IfcActuator_Type"/>
  <complexType name="IfcActuator_Type">
    <complexContent>
      <extension base="ifc:IfcDistributionControlElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcActuatorTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcActuator_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcActuator"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcActuatorType" substitutionGroup="ifc:AbstractIfcDistributionControlElementType" type="ifc:IfcActuatorType_Type"/>
  <complexType name="IfcActuatorType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcDistributionControlElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcActuatorTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcActuatorType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcActuatorType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcActuatorTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcActuatorTypeEnum_Type"/>
  <simpleType name="IfcActuatorTypeEnum_Type">
    <restriction base="string">
      <enumeration value="ELECTRICACTUATOR"/>
      <enumeration value="HANDOPERATEDACTUATOR"/>
      <enumeration value="HYDRAULICACTUATOR"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PNEUMATICACTUATOR"/>
      <enumeration value="THERMOSTATICACTUATOR"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcActuatorTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcActuatorTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcAlarm" substitutionGroup="ifc:IfcDistributionControlElement" type="ifc:IfcAlarm_Type"/>
  <complexType name="IfcAlarm_Type">
    <complexContent>
      <extension base="ifc:IfcDistributionControlElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcAlarmTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcAlarm_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAlarm"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcAlarmType" substitutionGroup="ifc:AbstractIfcDistributionControlElementType" type="ifc:IfcAlarmType_Type"/>
  <complexType name="IfcAlarmType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcDistributionControlElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcAlarmTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcAlarmType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAlarmType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcAlarmTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcAlarmTypeEnum_Type"/>
  <simpleType name="IfcAlarmTypeEnum_Type">
    <restriction base="string">
      <enumeration value="BELL"/>
      <enumeration value="BREAKGLASSBUTTON"/>
      <enumeration value="LIGHT"/>
      <enumeration value="MANUALPULLBOX"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="SIREN"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="WHISTLE"/>
    </restriction>
  </simpleType>
  <complexType name="IfcAlarmTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAlarmTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcController" substitutionGroup="ifc:IfcDistributionControlElement" type="ifc:IfcController_Type"/>
  <complexType name="IfcController_Type">
    <complexContent>
      <extension base="ifc:IfcDistributionControlElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcControllerTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcController_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcController"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcControllerType" substitutionGroup="ifc:AbstractIfcDistributionControlElementType" type="ifc:IfcControllerType_Type"/>
  <complexType name="IfcControllerType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcDistributionControlElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcControllerTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcControllerType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcControllerType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcControllerTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcControllerTypeEnum_Type"/>
  <simpleType name="IfcControllerTypeEnum_Type">
    <restriction base="string">
      <enumeration value="FLOATING"/>
      <enumeration value="MULTIPOSITION"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PROGRAMMABLE"/>
      <enumeration value="PROPORTIONAL"/>
      <enumeration value="TWOPOSITION"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcControllerTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcControllerTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFlowInstrument" substitutionGroup="ifc:IfcDistributionControlElement" type="ifc:IfcFlowInstrument_Type"/>
  <complexType name="IfcFlowInstrument_Type">
    <complexContent>
      <extension base="ifc:IfcDistributionControlElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcFlowInstrumentTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcFlowInstrument_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFlowInstrument"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFlowInstrumentType" substitutionGroup="ifc:AbstractIfcDistributionControlElementType" type="ifc:IfcFlowInstrumentType_Type"/>
  <complexType name="IfcFlowInstrumentType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcDistributionControlElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcFlowInstrumentTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcFlowInstrumentType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFlowInstrumentType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFlowInstrumentTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcFlowInstrumentTypeEnum_Type"/>
  <simpleType name="IfcFlowInstrumentTypeEnum_Type">
    <restriction base="string">
      <enumeration value="AMMETER"/>
      <enumeration value="FREQUENCYMETER"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PHASEANGLEMETER"/>
      <enumeration value="POWERFACTORMETER"/>
      <enumeration value="PRESSUREGAUGE"/>
      <enumeration value="THERMOMETER"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="VOLTMETER_PEAK"/>
      <enumeration value="VOLTMETER_RMS"/>
    </restriction>
  </simpleType>
  <complexType name="IfcFlowInstrumentTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFlowInstrumentTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSensor" substitutionGroup="ifc:IfcDistributionControlElement" type="ifc:IfcSensor_Type"/>
  <complexType name="IfcSensor_Type">
    <complexContent>
      <extension base="ifc:IfcDistributionControlElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcSensorTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSensor_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSensor"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSensorType" substitutionGroup="ifc:AbstractIfcDistributionControlElementType" type="ifc:IfcSensorType_Type"/>
  <complexType name="IfcSensorType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcDistributionControlElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcSensorTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSensorType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSensorType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSensorTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcSensorTypeEnum_Type"/>
  <simpleType name="IfcSensorTypeEnum_Type">
    <restriction base="string">
      <enumeration value="CO2SENSOR"/>
      <enumeration value="CONDUCTANCESENSOR"/>
      <enumeration value="CONTACTSENSOR"/>
      <enumeration value="COSENSOR"/>
      <enumeration value="FIRESENSOR"/>
      <enumeration value="FLOWSENSOR"/>
      <enumeration value="FROSTSENSOR"/>
      <enumeration value="GASSENSOR"/>
      <enumeration value="HEATSENSOR"/>
      <enumeration value="HUMIDITYSENSOR"/>
      <enumeration value="IDENTIFIERSENSOR"/>
      <enumeration value="IONCONCENTRATIONSENSOR"/>
      <enumeration value="LEVELSENSOR"/>
      <enumeration value="LIGHTSENSOR"/>
      <enumeration value="MOISTURESENSOR"/>
      <enumeration value="MOVEMENTSENSOR"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PHSENSOR"/>
      <enumeration value="PRESSURESENSOR"/>
      <enumeration value="RADIATIONSENSOR"/>
      <enumeration value="RADIOACTIVITYSENSOR"/>
      <enumeration value="SMOKESENSOR"/>
      <enumeration value="SOUNDSENSOR"/>
      <enumeration value="TEMPERATURESENSOR"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="WINDSENSOR"/>
    </restriction>
  </simpleType>
  <complexType name="IfcSensorTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSensorTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcUnitaryControlElement" substitutionGroup="ifc:IfcDistributionControlElement" type="ifc:IfcUnitaryControlElement_Type"/>
  <complexType name="IfcUnitaryControlElement_Type">
    <complexContent>
      <extension base="ifc:IfcDistributionControlElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcUnitaryControlElementTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcUnitaryControlElement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcUnitaryControlElement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcUnitaryControlElementType" substitutionGroup="ifc:AbstractIfcDistributionControlElementType" type="ifc:IfcUnitaryControlElementType_Type"/>
  <complexType name="IfcUnitaryControlElementType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcDistributionControlElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcUnitaryControlElementTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcUnitaryControlElementType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcUnitaryControlElementType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcUnitaryControlElementTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcUnitaryControlElementTypeEnum_Type"/>
  <simpleType name="IfcUnitaryControlElementTypeEnum_Type">
    <restriction base="string">
      <enumeration value="ALARMPANEL"/>
      <enumeration value="CONTROLPANEL"/>
      <enumeration value="GASDETECTIONPANEL"/>
      <enumeration value="HUMIDISTAT"/>
      <enumeration value="INDICATORPANEL"/>
      <enumeration value="MIMICPANEL"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="THERMOSTAT"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="WEATHERSTATION"/>
    </restriction>
  </simpleType>
  <complexType name="IfcUnitaryControlElementTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcUnitaryControlElementTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
