XSD/IfcCostResource.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:ifc="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" version="4.3">
  <include schemaLocation="IfcConstraintResource.xsd"/>
  <include schemaLocation="IfcDateTimeResource.xsd"/>
  <include schemaLocation="IfcExternalReferenceResource.xsd"/>
  <include schemaLocation="IfcMeasureResource.xsd"/>
  <include schemaLocation="IfcResourceLayer.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="IfcAppliedValue" substitutionGroup="gml:AbstractFeature" type="ifc:IfcAppliedValueType"/>
  <complexType name="IfcAppliedValueType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="name" type="string"/>
          <element minOccurs="0" name="description" type="string"/>
          <element minOccurs="0" name="appliedValue" type="ifc:IfcAppliedValueSelectPropertyType"/>
          <element minOccurs="0" name="applicableDate" type="date"/>
          <element minOccurs="0" name="fixedUntilDate" type="date"/>
          <element minOccurs="0" name="category" type="string"/>
          <element minOccurs="0" name="condition" type="string"/>
          <element minOccurs="0" name="arithmeticOperator" type="ifc:IfcArithmeticOperatorEnumType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="components" type="ifc:IfcAppliedValuePropertyType"/>
          <element minOccurs="0" name="unitBasis" type="gml:MeasureType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcAppliedValuePropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAppliedValue"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcAppliedValueSelect" substitutionGroup="gml:AbstractObject" type="ifc:IfcAppliedValueSelectType"/>
  <complexType name="IfcAppliedValueSelectType">
    <choice>
      <element name="measureWithUnit">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractFeatureMemberType">
              <sequence minOccurs="0">
                <element ref="ifc:IfcMeasureWithUnit"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element name="reference">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractFeatureMemberType">
              <sequence minOccurs="0">
                <element ref="ifc:IfcReference"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element name="value" type="ifc:IfcValuePropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcAppliedValueSelectPropertyType">
    <sequence>
      <element ref="ifc:IfcAppliedValueSelect"/>
    </sequence>
  </complexType>
  <simpleType name="IfcArithmeticOperatorEnumType">
    <restriction base="string">
      <enumeration value="ADD"/>
      <enumeration value="DIVIDE"/>
      <enumeration value="MULTIPLY"/>
      <enumeration value="SUBTRACT"/>
    </restriction>
  </simpleType>
  <element name="IfcCostValue" substitutionGroup="ifc:IfcAppliedValue" type="ifc:IfcCostValueType"/>
  <complexType name="IfcCostValueType">
    <complexContent>
      <extension base="ifc:IfcAppliedValueType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCostValuePropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCostValue"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcCurrencyRelationship" substitutionGroup="ifc:IfcResourceLevelRelationship" type="ifc:IfcCurrencyRelationshipType"/>
  <complexType name="IfcCurrencyRelationshipType">
    <complexContent>
      <extension base="ifc:IfcResourceLevelRelationshipType">
        <sequence>
          <element name="exchangeRate" type="gml:MeasureType"/>
          <element minOccurs="0" name="rateDateTime" type="dateTime"/>
          <element name="relatedMonetaryUnit" type="ifc:IfcMonetaryUnitPropertyType"/>
          <element name="relatingMonetaryUnit" type="ifc:IfcMonetaryUnitPropertyType"/>
          <element minOccurs="0" name="rateSource" type="ifc:IfcLibraryInformationPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCurrencyRelationshipPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCurrencyRelationship"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
