XSD/IfcConstructionMgmtDomain.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:ifc="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" version="4.3">
  <include schemaLocation="IfcCostResource.xsd"/>
  <include schemaLocation="IfcDateTimeResource.xsd"/>
  <include schemaLocation="IfcDomainLayer.xsd"/>
  <include schemaLocation="IfcKernel.xsd"/>
  <include schemaLocation="IfcMeasureResource.xsd"/>
  <include schemaLocation="IfcQuantityResource.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="IfcConstructionEquipmentResource" substitutionGroup="ifc:AbstractIfcConstructionResource" type="ifc:IfcConstructionEquipmentResource_Type"/>
  <complexType name="IfcConstructionEquipmentResource_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcConstructionResource_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcConstructionEquipmentResourceTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcConstructionEquipmentResource_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcConstructionEquipmentResource"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcConstructionEquipmentResourceType" substitutionGroup="ifc:AbstractIfcConstructionResourceType" type="ifc:IfcConstructionEquipmentResourceType_Type"/>
  <complexType name="IfcConstructionEquipmentResourceType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcConstructionResourceType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcConstructionEquipmentResourceTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcConstructionEquipmentResourceType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcConstructionEquipmentResourceType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcConstructionEquipmentResourceTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcConstructionEquipmentResourceTypeEnum_Type"/>
  <simpleType name="IfcConstructionEquipmentResourceTypeEnum_Type">
    <restriction base="string">
      <enumeration value="DEMOLISHING"/>
      <enumeration value="EARTHMOVING"/>
      <enumeration value="ERECTING"/>
      <enumeration value="HEATING"/>
      <enumeration value="LIGHTING"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PAVING"/>
      <enumeration value="PUMPING"/>
      <enumeration value="TRANSPORTING"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcConstructionEquipmentResourceTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcConstructionEquipmentResourceTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcConstructionMaterialResource" substitutionGroup="ifc:AbstractIfcConstructionResource" type="ifc:IfcConstructionMaterialResource_Type"/>
  <complexType name="IfcConstructionMaterialResource_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcConstructionResource_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcConstructionMaterialResourceTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcConstructionMaterialResource_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcConstructionMaterialResource"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcConstructionMaterialResourceType" substitutionGroup="ifc:AbstractIfcConstructionResourceType" type="ifc:IfcConstructionMaterialResourceType_Type"/>
  <complexType name="IfcConstructionMaterialResourceType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcConstructionResourceType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcConstructionMaterialResourceTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcConstructionMaterialResourceType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcConstructionMaterialResourceType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcConstructionMaterialResourceTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcConstructionMaterialResourceTypeEnum_Type"/>
  <simpleType name="IfcConstructionMaterialResourceTypeEnum_Type">
    <restriction base="string">
      <enumeration value="AGGREGATES"/>
      <enumeration value="CONCRETE"/>
      <enumeration value="DRYWALL"/>
      <enumeration value="FUEL"/>
      <enumeration value="GYPSUM"/>
      <enumeration value="MASONRY"/>
      <enumeration value="METAL"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PLASTIC"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="WOOD"/>
    </restriction>
  </simpleType>
  <complexType name="IfcConstructionMaterialResourceTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcConstructionMaterialResourceTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcConstructionProductResource" substitutionGroup="ifc:AbstractIfcConstructionResource" type="ifc:IfcConstructionProductResource_Type"/>
  <complexType name="IfcConstructionProductResource_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcConstructionResource_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcConstructionProductResourceTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcConstructionProductResource_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcConstructionProductResource"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcConstructionProductResourceType" substitutionGroup="ifc:AbstractIfcConstructionResourceType" type="ifc:IfcConstructionProductResourceType_Type"/>
  <complexType name="IfcConstructionProductResourceType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcConstructionResourceType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcConstructionProductResourceTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcConstructionProductResourceType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcConstructionProductResourceType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcConstructionProductResourceTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcConstructionProductResourceTypeEnum_Type"/>
  <simpleType name="IfcConstructionProductResourceTypeEnum_Type">
    <restriction base="string">
      <enumeration value="ASSEMBLY"/>
      <enumeration value="FORMWORK"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcConstructionProductResourceTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcConstructionProductResourceTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcConstructionResource" substitutionGroup="ifc:AbstractIfcResource" type="ifc:AbstractIfcConstructionResource_Type"/>
  <complexType abstract="true" name="AbstractIfcConstructionResource_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcResource_Type">
        <sequence>
          <element minOccurs="0" name="usage" type="ifc:IfcResourceTime_PropertyType"/>
          <element minOccurs="0" name="baseQuantity" type="ifc:AbstractIfcPhysicalQuantity_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="baseCosts" type="ifc:IfcAppliedValue_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcConstructionResource_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcConstructionResource"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcConstructionResourceType" substitutionGroup="ifc:AbstractIfcTypeResource" type="ifc:AbstractIfcConstructionResourceType_Type"/>
  <complexType abstract="true" name="AbstractIfcConstructionResourceType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcTypeResource_Type">
        <sequence>
          <element minOccurs="0" name="baseQuantity" type="ifc:AbstractIfcPhysicalQuantity_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="baseCosts" type="ifc:IfcAppliedValue_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcConstructionResourceType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcConstructionResourceType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCrewResource" substitutionGroup="ifc:AbstractIfcConstructionResource" type="ifc:IfcCrewResource_Type"/>
  <complexType name="IfcCrewResource_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcConstructionResource_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcCrewResourceTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCrewResource_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCrewResource"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCrewResourceType" substitutionGroup="ifc:AbstractIfcConstructionResourceType" type="ifc:IfcCrewResourceType_Type"/>
  <complexType name="IfcCrewResourceType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcConstructionResourceType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcCrewResourceTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCrewResourceType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCrewResourceType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCrewResourceTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcCrewResourceTypeEnum_Type"/>
  <simpleType name="IfcCrewResourceTypeEnum_Type">
    <restriction base="string">
      <enumeration value="NOTDEFINED"/>
      <enumeration value="OFFICE"/>
      <enumeration value="SITE"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcCrewResourceTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCrewResourceTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLaborResource" substitutionGroup="ifc:AbstractIfcConstructionResource" type="ifc:IfcLaborResource_Type"/>
  <complexType name="IfcLaborResource_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcConstructionResource_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcLaborResourceTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLaborResource_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLaborResource"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLaborResourceType" substitutionGroup="ifc:AbstractIfcConstructionResourceType" type="ifc:IfcLaborResourceType_Type"/>
  <complexType name="IfcLaborResourceType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcConstructionResourceType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcLaborResourceTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLaborResourceType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLaborResourceType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLaborResourceTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcLaborResourceTypeEnum_Type"/>
  <simpleType name="IfcLaborResourceTypeEnum_Type">
    <restriction base="string">
      <enumeration value="ADMINISTRATION"/>
      <enumeration value="CARPENTRY"/>
      <enumeration value="CLEANING"/>
      <enumeration value="CONCRETE"/>
      <enumeration value="DRYWALL"/>
      <enumeration value="ELECTRIC"/>
      <enumeration value="FINISHING"/>
      <enumeration value="FLOORING"/>
      <enumeration value="GENERAL"/>
      <enumeration value="HVAC"/>
      <enumeration value="LANDSCAPING"/>
      <enumeration value="MASONRY"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PAINTING"/>
      <enumeration value="PAVING"/>
      <enumeration value="PLUMBING"/>
      <enumeration value="ROOFING"/>
      <enumeration value="SITEGRADING"/>
      <enumeration value="STEELWORK"/>
      <enumeration value="SURVEYING"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcLaborResourceTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLaborResourceTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSubContractResource" substitutionGroup="ifc:AbstractIfcConstructionResource" type="ifc:IfcSubContractResource_Type"/>
  <complexType name="IfcSubContractResource_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcConstructionResource_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcSubContractResourceTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSubContractResource_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSubContractResource"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSubContractResourceType" substitutionGroup="ifc:AbstractIfcConstructionResourceType" type="ifc:IfcSubContractResourceType_Type"/>
  <complexType name="IfcSubContractResourceType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcConstructionResourceType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcSubContractResourceTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSubContractResourceType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSubContractResourceType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSubContractResourceTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcSubContractResourceTypeEnum_Type"/>
  <simpleType name="IfcSubContractResourceTypeEnum_Type">
    <restriction base="string">
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PURCHASE"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="WORK"/>
    </restriction>
  </simpleType>
  <complexType name="IfcSubContractResourceTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSubContractResourceTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
