XSD/IfcConstraintResource.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:ifc="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" version="4.3">
  <include schemaLocation="IfcActorResource.xsd"/>
  <include schemaLocation="IfcCostResource.xsd"/>
  <include schemaLocation="IfcDateTimeResource.xsd"/>
  <include schemaLocation="IfcExternalReferenceResource.xsd"/>
  <include schemaLocation="IfcMeasureResource.xsd"/>
  <include schemaLocation="IfcPropertyResource.xsd"/>
  <include schemaLocation="IfcResourceLayer.xsd"/>
  <include schemaLocation="IfcUtilityResource.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="IfcBenchmarkEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcBenchmarkEnum_Type"/>
  <simpleType name="IfcBenchmarkEnum_Type">
    <restriction base="string">
      <enumeration value="EQUALTO"/>
      <enumeration value="GREATERTHAN"/>
      <enumeration value="GREATERTHANOREQUALTO"/>
      <enumeration value="INCLUDEDIN"/>
      <enumeration value="INCLUDES"/>
      <enumeration value="LESSTHAN"/>
      <enumeration value="LESSTHANOREQUALTO"/>
      <enumeration value="NOTEQUALTO"/>
      <enumeration value="NOTINCLUDEDIN"/>
      <enumeration value="NOTINCLUDES"/>
    </restriction>
  </simpleType>
  <complexType name="IfcBenchmarkEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBenchmarkEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcConstraint" substitutionGroup="gco:AbstractObject" type="ifc:AbstractIfcConstraint_Type"/>
  <complexType abstract="true" name="AbstractIfcConstraint_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="name" type="string"/>
          <element minOccurs="0" name="description" type="string"/>
          <element name="constraintGrade" type="ifc:IfcConstraintEnum_PropertyType"/>
          <element minOccurs="0" name="constraintSource" type="string"/>
          <element minOccurs="0" name="creatingActor" type="ifc:IfcActorSelect_PropertyType"/>
          <element minOccurs="0" name="creationTime" type="dateTime"/>
          <element minOccurs="0" name="userDefinedGrade" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcConstraint_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcConstraint"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcConstraintEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcConstraintEnum_Type"/>
  <simpleType name="IfcConstraintEnum_Type">
    <restriction base="string">
      <enumeration value="ADVISORY"/>
      <enumeration value="HARD"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="SOFT"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcConstraintEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcConstraintEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLogicalOperatorEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcLogicalOperatorEnum_Type"/>
  <simpleType name="IfcLogicalOperatorEnum_Type">
    <restriction base="string">
      <enumeration value="LOGICALAND"/>
      <enumeration value="LOGICALNOTAND"/>
      <enumeration value="LOGICALNOTOR"/>
      <enumeration value="LOGICALOR"/>
      <enumeration value="LOGICALXOR"/>
    </restriction>
  </simpleType>
  <complexType name="IfcLogicalOperatorEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLogicalOperatorEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMetric" substitutionGroup="ifc:AbstractIfcConstraint" type="ifc:IfcMetric_Type"/>
  <complexType name="IfcMetric_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcConstraint_Type">
        <sequence>
          <element name="benchmark" type="ifc:IfcBenchmarkEnum_PropertyType"/>
          <element minOccurs="0" name="valueSource" type="string"/>
          <element minOccurs="0" name="dataValue" type="ifc:IfcMetricValueSelect_PropertyType"/>
          <element minOccurs="0" name="referencePath" type="ifc:IfcReference_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMetric_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMetric"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMetricValueSelect" type="ifc:IfcMetricValueSelect_Type"/>
  <complexType name="IfcMetricValueSelect_Type">
    <choice>
      <element name="appliedValue" type="ifc:IfcAppliedValue_PropertyType"/>
      <element name="measureWithUnit" type="ifc:IfcMeasureWithUnit_PropertyType"/>
      <element name="reference" type="ifc:IfcReference_PropertyType"/>
      <element name="table" type="ifc:IfcTable_PropertyType"/>
      <element name="timeSeries" type="ifc:AbstractIfcTimeSeries_PropertyType"/>
      <element name="value" type="ifc:IfcValue_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcMetricValueSelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMetricValueSelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcObjective" substitutionGroup="ifc:AbstractIfcConstraint" type="ifc:IfcObjective_Type"/>
  <complexType name="IfcObjective_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcConstraint_Type">
        <sequence>
          <element minOccurs="0" name="logicalAggregator" type="ifc:IfcLogicalOperatorEnum_PropertyType"/>
          <element name="objectiveQualifier" type="ifc:IfcObjectiveEnum_PropertyType"/>
          <element minOccurs="0" name="userDefinedQualifier" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="benchmarkValues" type="ifc:AbstractIfcConstraint_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcObjective_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcObjective"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcObjectiveEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcObjectiveEnum_Type"/>
  <simpleType name="IfcObjectiveEnum_Type">
    <restriction base="string">
      <enumeration value="CODECOMPLIANCE"/>
      <enumeration value="CODEWAIVER"/>
      <enumeration value="DESIGNINTENT"/>
      <enumeration value="EXTERNAL"/>
      <enumeration value="HEALTHANDSAFETY"/>
      <enumeration value="MERGECONFLICT"/>
      <enumeration value="MODELVIEW"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PARAMETER"/>
      <enumeration value="REQUIREMENT"/>
      <enumeration value="SPECIFICATION"/>
      <enumeration value="TRIGGERCONDITION"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcObjectiveEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcObjectiveEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcReference" substitutionGroup="gco:AbstractObject" type="ifc:IfcReference_Type"/>
  <complexType name="IfcReference_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="typeIdentifier" type="string"/>
          <element minOccurs="0" name="attributeIdentifier" type="string"/>
          <element minOccurs="0" name="instanceName" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="listPositions" type="integer"/>
          <element minOccurs="0" name="innerReference" type="ifc:IfcReference_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcReference_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcReference"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcResourceConstraintRelationship" substitutionGroup="ifc:AbstractIfcResourceLevelRelationship" type="ifc:IfcResourceConstraintRelationship_Type"/>
  <complexType name="IfcResourceConstraintRelationship_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcResourceLevelRelationship_Type">
        <sequence>
          <element maxOccurs="unbounded" name="relatedResourceObjects" type="ifc:IfcResourceObjectSelect_PropertyType"/>
          <element name="relatingConstraint" type="ifc:AbstractIfcConstraint_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcResourceConstraintRelationship_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcResourceConstraintRelationship"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
