XSD/IfcDateTimeResource.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:ifc="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" version="4.3">
  <include schemaLocation="IfcExternalReferenceResource.xsd"/>
  <include schemaLocation="IfcMeasureResource.xsd"/>
  <include schemaLocation="IfcResourceLayer.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Class1" substitutionGroup="gco:AbstractObject" type="ifc:Class1_Type"/>
  <complexType name="Class1_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Class1_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:Class1"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDataOriginEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcDataOriginEnum_Type"/>
  <simpleType name="IfcDataOriginEnum_Type">
    <restriction base="string">
      <enumeration value="MEASURED"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PREDICTED"/>
      <enumeration value="SIMULATED"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcDataOriginEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDataOriginEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDate" substitutionGroup="gco:AbstractObject" type="ifc:IfcDate_Type"/>
  <complexType name="IfcDate_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDate_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDate"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDateTime" substitutionGroup="gco:AbstractObject" type="ifc:IfcDateTime_Type"/>
  <complexType name="IfcDateTime_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDateTime_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDateTime"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDayInMonthNumber" substitutionGroup="gco:AbstractObject" type="ifc:IfcDayInMonthNumber_Type"/>
  <complexType name="IfcDayInMonthNumber_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDayInMonthNumber_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDayInMonthNumber"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDayInWeekNumber" substitutionGroup="gco:AbstractObject" type="ifc:IfcDayInWeekNumber_Type"/>
  <complexType name="IfcDayInWeekNumber_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDayInWeekNumber_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDayInWeekNumber"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDuration" substitutionGroup="gco:AbstractObject" type="ifc:IfcDuration_Type"/>
  <complexType name="IfcDuration_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDuration_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDuration"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcEventTime" substitutionGroup="ifc:AbstractIfcSchedulingTime" type="ifc:IfcEventTime_Type"/>
  <complexType name="IfcEventTime_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcSchedulingTime_Type">
        <sequence>
          <element minOccurs="0" name="actualDate" type="dateTime"/>
          <element minOccurs="0" name="earlyDate" type="dateTime"/>
          <element minOccurs="0" name="lateDate" type="dateTime"/>
          <element minOccurs="0" name="scheduleDate" type="dateTime"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcEventTime_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcEventTime"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcIrregularTimeSeries" substitutionGroup="ifc:AbstractIfcTimeSeries" type="ifc:IfcIrregularTimeSeries_Type"/>
  <complexType name="IfcIrregularTimeSeries_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcTimeSeries_Type">
        <sequence>
          <element maxOccurs="unbounded" name="values" type="ifc:IfcIrregularTimeSeriesValue_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcIrregularTimeSeries_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcIrregularTimeSeries"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcIrregularTimeSeriesValue" substitutionGroup="gco:AbstractObject" type="ifc:IfcIrregularTimeSeriesValue_Type"/>
  <complexType name="IfcIrregularTimeSeriesValue_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="timeStamp" type="dateTime"/>
          <element maxOccurs="unbounded" name="listValues" type="ifc:IfcValue_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcIrregularTimeSeriesValue_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcIrregularTimeSeriesValue"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLagTime" substitutionGroup="ifc:AbstractIfcSchedulingTime" type="ifc:IfcLagTime_Type"/>
  <complexType name="IfcLagTime_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcSchedulingTime_Type">
        <sequence>
          <element name="lagValue" type="ifc:IfcTimeOrRatioSelect_PropertyType"/>
          <element name="durationType" type="ifc:IfcTaskDurationEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLagTime_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLagTime"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMonthInYearNumber" substitutionGroup="gco:AbstractObject" type="ifc:IfcMonthInYearNumber_Type"/>
  <complexType name="IfcMonthInYearNumber_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMonthInYearNumber_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMonthInYearNumber"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRecurrencePattern" substitutionGroup="gco:AbstractObject" type="ifc:IfcRecurrencePattern_Type"/>
  <complexType name="IfcRecurrencePattern_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="recurrenceType" type="ifc:IfcRecurrenceTypeEnum_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="dayComponent" type="integer"/>
          <element maxOccurs="unbounded" minOccurs="0" name="weekdayComponent" type="integer"/>
          <element maxOccurs="unbounded" minOccurs="0" name="monthComponent" type="integer"/>
          <element minOccurs="0" name="position" type="integer"/>
          <element minOccurs="0" name="interval" type="integer"/>
          <element minOccurs="0" name="occurrences" type="integer"/>
          <element maxOccurs="unbounded" minOccurs="0" name="timePeriods" type="ifc:IfcTimePeriod_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRecurrencePattern_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRecurrencePattern"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRecurrenceTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcRecurrenceTypeEnum_Type"/>
  <simpleType name="IfcRecurrenceTypeEnum_Type">
    <restriction base="string">
      <enumeration value="BY_DAY_COUNT"/>
      <enumeration value="BY_WEEKDAY_COUNT"/>
      <enumeration value="DAILY"/>
      <enumeration value="MONTHLY_BY_DAY_OF_MONTH"/>
      <enumeration value="MONTHLY_BY_POSITION"/>
      <enumeration value="WEEKLY"/>
      <enumeration value="YEARLY_BY_DAY_OF_MONTH"/>
      <enumeration value="YEARLY_BY_POSITION"/>
    </restriction>
  </simpleType>
  <complexType name="IfcRecurrenceTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRecurrenceTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRegularTimeSeries" substitutionGroup="ifc:AbstractIfcTimeSeries" type="ifc:IfcRegularTimeSeries_Type"/>
  <complexType name="IfcRegularTimeSeries_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcTimeSeries_Type">
        <sequence>
          <element name="timeStep" type="gml:MeasureType"/>
          <element maxOccurs="unbounded" name="values" type="ifc:IfcTimeSeriesValue_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRegularTimeSeries_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRegularTimeSeries"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcResourceTime" substitutionGroup="ifc:AbstractIfcSchedulingTime" type="ifc:IfcResourceTime_Type"/>
  <complexType name="IfcResourceTime_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcSchedulingTime_Type">
        <sequence>
          <element minOccurs="0" name="scheduleWork" type="duration"/>
          <element minOccurs="0" name="scheduleUsage" type="gml:MeasureType"/>
          <element minOccurs="0" name="scheduleStart" type="dateTime"/>
          <element minOccurs="0" name="scheduleFinish" type="dateTime"/>
          <element minOccurs="0" name="scheduleContour" type="string"/>
          <element minOccurs="0" name="levelingDelay" type="duration"/>
          <element minOccurs="0" name="isOverAllocated" type="boolean"/>
          <element minOccurs="0" name="statusTime" type="dateTime"/>
          <element minOccurs="0" name="actualWork" type="duration"/>
          <element minOccurs="0" name="actualUsage" type="gml:MeasureType"/>
          <element minOccurs="0" name="actualStart" type="dateTime"/>
          <element minOccurs="0" name="actualFinish" type="dateTime"/>
          <element minOccurs="0" name="remainingWork" type="duration"/>
          <element minOccurs="0" name="remainingUsage" type="gml:MeasureType"/>
          <element minOccurs="0" name="completion" type="gml:MeasureType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcResourceTime_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcResourceTime"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcSchedulingTime" substitutionGroup="gco:AbstractObject" type="ifc:AbstractIfcSchedulingTime_Type"/>
  <complexType abstract="true" name="AbstractIfcSchedulingTime_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="name" type="string"/>
          <element minOccurs="0" name="dataOrigin" type="ifc:IfcDataOriginEnum_PropertyType"/>
          <element minOccurs="0" name="userDefinedDataOrigin" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcSchedulingTime_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcSchedulingTime"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTaskDurationEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcTaskDurationEnum_Type"/>
  <simpleType name="IfcTaskDurationEnum_Type">
    <restriction base="string">
      <enumeration value="ELAPSEDTIME"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="WORKTIME"/>
    </restriction>
  </simpleType>
  <complexType name="IfcTaskDurationEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTaskDurationEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTaskTime" substitutionGroup="ifc:AbstractIfcSchedulingTime" type="ifc:IfcTaskTime_Type"/>
  <complexType name="IfcTaskTime_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcSchedulingTime_Type">
        <sequence>
          <element minOccurs="0" name="durationType" type="ifc:IfcTaskDurationEnum_PropertyType"/>
          <element minOccurs="0" name="scheduleDuration" type="duration"/>
          <element minOccurs="0" name="scheduleStart" type="dateTime"/>
          <element minOccurs="0" name="scheduleFinish" type="dateTime"/>
          <element minOccurs="0" name="earlyStart" type="dateTime"/>
          <element minOccurs="0" name="earlyFinish" type="dateTime"/>
          <element minOccurs="0" name="lateStart" type="dateTime"/>
          <element minOccurs="0" name="lateFinish" type="dateTime"/>
          <element minOccurs="0" name="freeFloat" type="duration"/>
          <element minOccurs="0" name="totalFloat" type="duration"/>
          <element minOccurs="0" name="isCritical" type="boolean"/>
          <element minOccurs="0" name="statusTime" type="dateTime"/>
          <element minOccurs="0" name="actualDuration" type="duration"/>
          <element minOccurs="0" name="actualStart" type="dateTime"/>
          <element minOccurs="0" name="actualFinish" type="dateTime"/>
          <element minOccurs="0" name="remainingTime" type="duration"/>
          <element minOccurs="0" name="completion" type="gml:MeasureType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTaskTime_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTaskTime"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTaskTimeRecurring" substitutionGroup="ifc:IfcTaskTime" type="ifc:IfcTaskTimeRecurring_Type"/>
  <complexType name="IfcTaskTimeRecurring_Type">
    <complexContent>
      <extension base="ifc:IfcTaskTime_Type">
        <sequence>
          <element name="recurrence" type="ifc:IfcRecurrencePattern_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTaskTimeRecurring_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTaskTimeRecurring"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTime" substitutionGroup="gco:AbstractObject" type="ifc:IfcTime_Type"/>
  <complexType name="IfcTime_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTime_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTime"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTimeOrRatioSelect" type="ifc:IfcTimeOrRatioSelect_Type"/>
  <complexType name="IfcTimeOrRatioSelect_Type">
    <choice>
      <element name="duration" type="ifc:IfcDuration_PropertyType"/>
      <element name="ratioMeasure" type="ifc:IfcRatioMeasure_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcTimeOrRatioSelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTimeOrRatioSelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTimePeriod" substitutionGroup="gco:AbstractObject" type="ifc:IfcTimePeriod_Type"/>
  <complexType name="IfcTimePeriod_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="startTime" type="time"/>
          <element name="endTime" type="time"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTimePeriod_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTimePeriod"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcTimeSeries" substitutionGroup="gco:AbstractObject" type="ifc:AbstractIfcTimeSeries_Type"/>
  <complexType abstract="true" name="AbstractIfcTimeSeries_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="name" type="string"/>
          <element minOccurs="0" name="description" type="string"/>
          <element name="startTime" type="dateTime"/>
          <element name="endTime" type="dateTime"/>
          <element name="timeSeriesDataType" type="ifc:IfcTimeSeriesDataTypeEnum_PropertyType"/>
          <element name="dataOrigin" type="ifc:IfcDataOriginEnum_PropertyType"/>
          <element minOccurs="0" name="userDefinedDataOrigin" type="string"/>
          <element minOccurs="0" name="unit" type="ifc:IfcUnit_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcTimeSeries_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcTimeSeries"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTimeSeriesDataTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcTimeSeriesDataTypeEnum_Type"/>
  <simpleType name="IfcTimeSeriesDataTypeEnum_Type">
    <restriction base="string">
      <enumeration value="CONTINUOUS"/>
      <enumeration value="DISCRETE"/>
      <enumeration value="DISCRETEBINARY"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PIECEWISEBINARY"/>
      <enumeration value="PIECEWISECONSTANT"/>
      <enumeration value="PIECEWISECONTINUOUS"/>
    </restriction>
  </simpleType>
  <complexType name="IfcTimeSeriesDataTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTimeSeriesDataTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTimeSeriesValue" substitutionGroup="gco:AbstractObject" type="ifc:IfcTimeSeriesValue_Type"/>
  <complexType name="IfcTimeSeriesValue_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element maxOccurs="unbounded" name="listValues" type="ifc:IfcValue_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTimeSeriesValue_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTimeSeriesValue"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTimeStamp" substitutionGroup="gco:AbstractObject" type="ifc:IfcTimeStamp_Type"/>
  <complexType name="IfcTimeStamp_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTimeStamp_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTimeStamp"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcWorkTime" substitutionGroup="ifc:AbstractIfcSchedulingTime" type="ifc:IfcWorkTime_Type"/>
  <complexType name="IfcWorkTime_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcSchedulingTime_Type">
        <sequence>
          <element minOccurs="0" name="start" type="date"/>
          <element minOccurs="0" name="finish" type="date"/>
          <element minOccurs="0" name="recurrencePattern" type="ifc:IfcRecurrencePattern_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcWorkTime_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcWorkTime"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
