XSD/IfcExternalReferenceResource.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:ifc="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" version="4.3">
  <include schemaLocation="IfcActorResource.xsd"/>
  <include schemaLocation="IfcApprovalResource.xsd"/>
  <include schemaLocation="IfcConstraintResource.xsd"/>
  <include schemaLocation="IfcCostResource.xsd"/>
  <include schemaLocation="IfcDateTimeResource.xsd"/>
  <include schemaLocation="IfcKernel.xsd"/>
  <include schemaLocation="IfcMaterialResource.xsd"/>
  <include schemaLocation="IfcMeasureResource.xsd"/>
  <include schemaLocation="IfcProfileResource.xsd"/>
  <include schemaLocation="IfcPropertyResource.xsd"/>
  <include schemaLocation="IfcQuantityResource.xsd"/>
  <include schemaLocation="IfcRepresentationResource.xsd"/>
  <include schemaLocation="IfcResourceLayer.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="IfcClassification" substitutionGroup="ifc:AbstractIfcExternalInformation" type="ifc:IfcClassification_Type"/>
  <complexType name="IfcClassification_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcExternalInformation_Type">
        <sequence>
          <element minOccurs="0" name="source" type="string"/>
          <element minOccurs="0" name="edition" type="string"/>
          <element minOccurs="0" name="editionDate" type="date"/>
          <element name="name" type="string"/>
          <element minOccurs="0" name="description" type="string"/>
          <element minOccurs="0" name="location" type="ifc:IfcURIReference_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="referenceTokens" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcClassification_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcClassification"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcClassificationReference" substitutionGroup="ifc:AbstractIfcExternalReference" type="ifc:IfcClassificationReference_Type"/>
  <complexType name="IfcClassificationReference_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcExternalReference_Type">
        <sequence>
          <element minOccurs="0" name="referencedSource" type="ifc:IfcClassificationReferenceSelect_PropertyType"/>
          <element minOccurs="0" name="description" type="string"/>
          <element minOccurs="0" name="sort" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcClassificationReference_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcClassificationReference"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcClassificationReferenceSelect" type="ifc:IfcClassificationReferenceSelect_Type"/>
  <complexType name="IfcClassificationReferenceSelect_Type">
    <choice>
      <element name="classification" type="ifc:IfcClassification_PropertyType"/>
      <element name="classificationReference" type="ifc:IfcClassificationReference_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcClassificationReferenceSelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcClassificationReferenceSelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcClassificationSelect" type="ifc:IfcClassificationSelect_Type"/>
  <complexType name="IfcClassificationSelect_Type">
    <choice>
      <element name="classification" type="ifc:IfcClassification_PropertyType"/>
      <element name="classificationReference" type="ifc:IfcClassificationReference_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcClassificationSelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcClassificationSelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDocumentConfidentialityEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcDocumentConfidentialityEnum_Type"/>
  <simpleType name="IfcDocumentConfidentialityEnum_Type">
    <restriction base="string">
      <enumeration value="CONFIDENTIAL"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PERSONAL"/>
      <enumeration value="PUBLIC"/>
      <enumeration value="RESTRICTED"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcDocumentConfidentialityEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDocumentConfidentialityEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDocumentInformation" substitutionGroup="ifc:AbstractIfcExternalInformation" type="ifc:IfcDocumentInformation_Type"/>
  <complexType name="IfcDocumentInformation_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcExternalInformation_Type">
        <sequence>
          <element name="identification" type="string"/>
          <element name="name" type="string"/>
          <element minOccurs="0" name="description" type="string"/>
          <element minOccurs="0" name="location" type="ifc:IfcURIReference_PropertyType"/>
          <element minOccurs="0" name="purpose" type="string"/>
          <element minOccurs="0" name="intendedUse" type="string"/>
          <element minOccurs="0" name="scope" type="string"/>
          <element minOccurs="0" name="revision" type="string"/>
          <element minOccurs="0" name="documentOwner" type="ifc:IfcActorSelect_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="editors" type="ifc:IfcActorSelect_PropertyType"/>
          <element minOccurs="0" name="creationTime" type="dateTime"/>
          <element minOccurs="0" name="lastRevisionTime" type="dateTime"/>
          <element minOccurs="0" name="electronicFormat" type="string"/>
          <element minOccurs="0" name="validFrom" type="date"/>
          <element minOccurs="0" name="validUntil" type="date"/>
          <element minOccurs="0" name="confidentiality" type="ifc:IfcDocumentConfidentialityEnum_PropertyType"/>
          <element minOccurs="0" name="status" type="ifc:IfcDocumentStatusEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDocumentInformation_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDocumentInformation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDocumentInformationRelationship" substitutionGroup="ifc:AbstractIfcResourceLevelRelationship" type="ifc:IfcDocumentInformationRelationship_Type"/>
  <complexType name="IfcDocumentInformationRelationship_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcResourceLevelRelationship_Type">
        <sequence>
          <element minOccurs="0" name="relationshipType" type="string"/>
          <element name="relatingDocument" type="ifc:IfcDocumentInformation_PropertyType"/>
          <element maxOccurs="unbounded" name="relatedDocuments" type="ifc:IfcDocumentInformation_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDocumentInformationRelationship_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDocumentInformationRelationship"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDocumentReference" substitutionGroup="ifc:AbstractIfcExternalReference" type="ifc:IfcDocumentReference_Type"/>
  <complexType name="IfcDocumentReference_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcExternalReference_Type">
        <sequence>
          <element minOccurs="0" name="description" type="string"/>
          <element minOccurs="0" name="referencedDocument" type="ifc:IfcDocumentInformation_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDocumentReference_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDocumentReference"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDocumentSelect" type="ifc:IfcDocumentSelect_Type"/>
  <complexType name="IfcDocumentSelect_Type">
    <choice>
      <element name="documentInformation" type="ifc:IfcDocumentInformation_PropertyType"/>
      <element name="documentReference" type="ifc:IfcDocumentReference_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcDocumentSelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDocumentSelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDocumentStatusEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcDocumentStatusEnum_Type"/>
  <simpleType name="IfcDocumentStatusEnum_Type">
    <restriction base="string">
      <enumeration value="DRAFT"/>
      <enumeration value="FINAL"/>
      <enumeration value="FINALDRAFT"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="REVISION"/>
    </restriction>
  </simpleType>
  <complexType name="IfcDocumentStatusEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDocumentStatusEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcExternalInformation" substitutionGroup="gco:AbstractObject" type="ifc:AbstractIfcExternalInformation_Type"/>
  <complexType abstract="true" name="AbstractIfcExternalInformation_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcExternalInformation_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcExternalInformation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcExternalReference" substitutionGroup="gco:AbstractObject" type="ifc:AbstractIfcExternalReference_Type"/>
  <complexType abstract="true" name="AbstractIfcExternalReference_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="location" type="ifc:IfcURIReference_PropertyType"/>
          <element minOccurs="0" name="identification" type="string"/>
          <element minOccurs="0" name="name" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcExternalReference_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcExternalReference"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcExternalReferenceRelationship" substitutionGroup="ifc:AbstractIfcResourceLevelRelationship" type="ifc:IfcExternalReferenceRelationship_Type"/>
  <complexType name="IfcExternalReferenceRelationship_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcResourceLevelRelationship_Type">
        <sequence>
          <element maxOccurs="unbounded" name="relatedResourceObjects" type="ifc:IfcResourceObjectSelect_PropertyType"/>
          <element name="relatingReference" type="ifc:AbstractIfcExternalReference_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcExternalReferenceRelationship_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcExternalReferenceRelationship"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLanguageId" substitutionGroup="ifc:IfcIdentifier" type="ifc:IfcLanguageId_Type"/>
  <complexType name="IfcLanguageId_Type">
    <complexContent>
      <extension base="ifc:IfcIdentifier_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLanguageId_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLanguageId"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLibraryInformation" substitutionGroup="ifc:AbstractIfcExternalInformation" type="ifc:IfcLibraryInformation_Type"/>
  <complexType name="IfcLibraryInformation_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcExternalInformation_Type">
        <sequence>
          <element name="name" type="string"/>
          <element minOccurs="0" name="version" type="string"/>
          <element minOccurs="0" name="publisher" type="ifc:IfcActorSelect_PropertyType"/>
          <element minOccurs="0" name="versionDate" type="dateTime"/>
          <element minOccurs="0" name="location" type="ifc:IfcURIReference_PropertyType"/>
          <element minOccurs="0" name="description" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLibraryInformation_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLibraryInformation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLibraryReference" substitutionGroup="ifc:AbstractIfcExternalReference" type="ifc:IfcLibraryReference_Type"/>
  <complexType name="IfcLibraryReference_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcExternalReference_Type">
        <sequence>
          <element minOccurs="0" name="description" type="string"/>
          <element minOccurs="0" name="language" type="ifc:IfcLanguageId_PropertyType"/>
          <element minOccurs="0" name="referencedLibrary" type="ifc:IfcLibraryInformation_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLibraryReference_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLibraryReference"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLibrarySelect" type="ifc:IfcLibrarySelect_Type"/>
  <complexType name="IfcLibrarySelect_Type">
    <choice>
      <element name="libraryInformation" type="ifc:IfcLibraryInformation_PropertyType"/>
      <element name="libraryReference" type="ifc:IfcLibraryReference_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcLibrarySelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLibrarySelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcResourceLevelRelationship" substitutionGroup="gco:AbstractObject" type="ifc:AbstractIfcResourceLevelRelationship_Type"/>
  <complexType abstract="true" name="AbstractIfcResourceLevelRelationship_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="name" type="string"/>
          <element minOccurs="0" name="description" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcResourceLevelRelationship_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcResourceLevelRelationship"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcResourceObjectSelect" type="ifc:IfcResourceObjectSelect_Type"/>
  <complexType name="IfcResourceObjectSelect_Type">
    <choice>
      <element name="actorRole" type="ifc:IfcActorRole_PropertyType"/>
      <element name="appliedValue" type="ifc:IfcAppliedValue_PropertyType"/>
      <element name="approval" type="ifc:IfcApproval_PropertyType"/>
      <element name="constraint" type="ifc:AbstractIfcConstraint_PropertyType"/>
      <element name="contextDependentUnit" type="ifc:IfcContextDependentUnit_PropertyType"/>
      <element name="conversionBasedUnit" type="ifc:IfcConversionBasedUnit_PropertyType"/>
      <element name="externalInformation" type="ifc:AbstractIfcExternalInformation_PropertyType"/>
      <element name="externalReference" type="ifc:AbstractIfcExternalReference_PropertyType"/>
      <element name="materialDefinition" type="ifc:AbstractIfcMaterialDefinition_PropertyType"/>
      <element name="organization" type="ifc:IfcOrganization_PropertyType"/>
      <element name="person" type="ifc:IfcPerson_PropertyType"/>
      <element name="personAndOrganization" type="ifc:IfcPersonAndOrganization_PropertyType"/>
      <element name="physicalQuantity" type="ifc:AbstractIfcPhysicalQuantity_PropertyType"/>
      <element name="profileDef" type="ifc:IfcProfileDef_PropertyType"/>
      <element name="propertyAbstraction" type="ifc:AbstractIfcPropertyAbstraction_PropertyType"/>
      <element name="shapeAspect" type="ifc:IfcShapeAspect_PropertyType"/>
      <element name="timeSeries" type="ifc:AbstractIfcTimeSeries_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcResourceObjectSelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcResourceObjectSelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcURIReference" substitutionGroup="gco:AbstractObject" type="ifc:IfcURIReference_Type"/>
  <complexType name="IfcURIReference_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcURIReference_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcURIReference"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
