XSD/IfcElectricalDomain.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:ifc="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" version="4.3">
  <include schemaLocation="IfcDomainLayer.xsd"/>
  <include schemaLocation="IfcProductExtension.xsd"/>
  <include schemaLocation="IfcSharedBldgServiceElements.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="IfcAudioVisualAppliance" substitutionGroup="ifc:IfcFlowTerminal" type="ifc:IfcAudioVisualAppliance_Type"/>
  <complexType name="IfcAudioVisualAppliance_Type">
    <complexContent>
      <extension base="ifc:IfcFlowTerminal_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcAudioVisualApplianceTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcAudioVisualAppliance_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAudioVisualAppliance"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcAudioVisualApplianceType" substitutionGroup="ifc:AbstractIfcFlowTerminalType" type="ifc:IfcAudioVisualApplianceType_Type"/>
  <complexType name="IfcAudioVisualApplianceType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowTerminalType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcAudioVisualApplianceTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcAudioVisualApplianceType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAudioVisualApplianceType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcAudioVisualApplianceTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcAudioVisualApplianceTypeEnum_Type"/>
  <simpleType name="IfcAudioVisualApplianceTypeEnum_Type">
    <restriction base="string">
      <enumeration value="AMPLIFIER"/>
      <enumeration value="CAMERA"/>
      <enumeration value="DISPLAY"/>
      <enumeration value="MICROPHONE"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PLAYER"/>
      <enumeration value="PROJECTOR"/>
      <enumeration value="RECEIVER"/>
      <enumeration value="SPEAKER"/>
      <enumeration value="SWITCHER"/>
      <enumeration value="TELEPHONE"/>
      <enumeration value="TUNER"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcAudioVisualApplianceTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAudioVisualApplianceTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCableCarrierFitting" substitutionGroup="ifc:IfcFlowFitting" type="ifc:IfcCableCarrierFitting_Type"/>
  <complexType name="IfcCableCarrierFitting_Type">
    <complexContent>
      <extension base="ifc:IfcFlowFitting_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcCableCarrierFittingTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCableCarrierFitting_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCableCarrierFitting"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCableCarrierFittingType" substitutionGroup="ifc:AbstractIfcFlowFittingType" type="ifc:IfcCableCarrierFittingType_Type"/>
  <complexType name="IfcCableCarrierFittingType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowFittingType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcCableCarrierFittingTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCableCarrierFittingType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCableCarrierFittingType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCableCarrierFittingTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcCableCarrierFittingTypeEnum_Type"/>
  <simpleType name="IfcCableCarrierFittingTypeEnum_Type">
    <restriction base="string">
      <enumeration value="BEND"/>
      <enumeration value="CROSS"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="REDUCER"/>
      <enumeration value="TEE"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcCableCarrierFittingTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCableCarrierFittingTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCableCarrierSegment" substitutionGroup="ifc:IfcFlowSegment" type="ifc:IfcCableCarrierSegment_Type"/>
  <complexType name="IfcCableCarrierSegment_Type">
    <complexContent>
      <extension base="ifc:IfcFlowSegment_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcCableCarrierSegmentTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCableCarrierSegment_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCableCarrierSegment"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCableCarrierSegmentType" substitutionGroup="ifc:AbstractIfcFlowSegmentType" type="ifc:IfcCableCarrierSegmentType_Type"/>
  <complexType name="IfcCableCarrierSegmentType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowSegmentType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcCableCarrierSegmentTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCableCarrierSegmentType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCableCarrierSegmentType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCableCarrierSegmentTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcCableCarrierSegmentTypeEnum_Type"/>
  <simpleType name="IfcCableCarrierSegmentTypeEnum_Type">
    <restriction base="string">
      <enumeration value="CABLELADDERSEGMENT"/>
      <enumeration value="CABLETRAYSEGMENT"/>
      <enumeration value="CABLETRUNKINGSEGMENT"/>
      <enumeration value="CONDUITSEGMENT"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcCableCarrierSegmentTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCableCarrierSegmentTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCableFitting" substitutionGroup="ifc:IfcFlowFitting" type="ifc:IfcCableFitting_Type"/>
  <complexType name="IfcCableFitting_Type">
    <complexContent>
      <extension base="ifc:IfcFlowFitting_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcCableFittingTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCableFitting_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCableFitting"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCableFittingType" substitutionGroup="ifc:AbstractIfcFlowFittingType" type="ifc:IfcCableFittingType_Type"/>
  <complexType name="IfcCableFittingType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowFittingType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcCableFittingTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCableFittingType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCableFittingType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCableFittingTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcCableFittingTypeEnum_Type"/>
  <simpleType name="IfcCableFittingTypeEnum_Type">
    <restriction base="string">
      <enumeration value="CONNECTOR"/>
      <enumeration value="ENTRY"/>
      <enumeration value="EXIT"/>
      <enumeration value="JUNCTION"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="TRANSITION"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcCableFittingTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCableFittingTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCableSegment" substitutionGroup="ifc:IfcFlowSegment" type="ifc:IfcCableSegment_Type"/>
  <complexType name="IfcCableSegment_Type">
    <complexContent>
      <extension base="ifc:IfcFlowSegment_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcCableSegmentTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCableSegment_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCableSegment"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCableSegmentType" substitutionGroup="ifc:AbstractIfcFlowSegmentType" type="ifc:IfcCableSegmentType_Type"/>
  <complexType name="IfcCableSegmentType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowSegmentType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcCableSegmentTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCableSegmentType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCableSegmentType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCableSegmentTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcCableSegmentTypeEnum_Type"/>
  <simpleType name="IfcCableSegmentTypeEnum_Type">
    <restriction base="string">
      <enumeration value="BUSBARSEGMENT"/>
      <enumeration value="CABLESEGMENT"/>
      <enumeration value="CONDUCTORSEGMENT"/>
      <enumeration value="CORESEGMENT"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcCableSegmentTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCableSegmentTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCommunicationsAppliance" substitutionGroup="ifc:IfcFlowTerminal" type="ifc:IfcCommunicationsAppliance_Type"/>
  <complexType name="IfcCommunicationsAppliance_Type">
    <complexContent>
      <extension base="ifc:IfcFlowTerminal_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcCommunicationsApplianceTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCommunicationsAppliance_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCommunicationsAppliance"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCommunicationsApplianceType" substitutionGroup="ifc:AbstractIfcFlowTerminalType" type="ifc:IfcCommunicationsApplianceType_Type"/>
  <complexType name="IfcCommunicationsApplianceType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowTerminalType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcCommunicationsApplianceTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCommunicationsApplianceType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCommunicationsApplianceType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCommunicationsApplianceTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcCommunicationsApplianceTypeEnum_Type"/>
  <simpleType name="IfcCommunicationsApplianceTypeEnum_Type">
    <restriction base="string">
      <enumeration value="ANTENNA"/>
      <enumeration value="COMPUTER"/>
      <enumeration value="FAX"/>
      <enumeration value="GATEWAY"/>
      <enumeration value="MODEM"/>
      <enumeration value="NETWORKAPPLIANCE"/>
      <enumeration value="NETWORKBRIDGE"/>
      <enumeration value="NETWORKHUB"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PRINTER"/>
      <enumeration value="REPEATER"/>
      <enumeration value="ROUTER"/>
      <enumeration value="SCANNER"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcCommunicationsApplianceTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCommunicationsApplianceTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcElectricAppliance" substitutionGroup="ifc:IfcFlowTerminal" type="ifc:IfcElectricAppliance_Type"/>
  <complexType name="IfcElectricAppliance_Type">
    <complexContent>
      <extension base="ifc:IfcFlowTerminal_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcElectricApplianceTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcElectricAppliance_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcElectricAppliance"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcElectricApplianceType" substitutionGroup="ifc:AbstractIfcFlowTerminalType" type="ifc:IfcElectricApplianceType_Type"/>
  <complexType name="IfcElectricApplianceType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowTerminalType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcElectricApplianceTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcElectricApplianceType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcElectricApplianceType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcElectricApplianceTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcElectricApplianceTypeEnum_Type"/>
  <simpleType name="IfcElectricApplianceTypeEnum_Type">
    <restriction base="string">
      <enumeration value="DISHWASHER"/>
      <enumeration value="ELECTRICCOOKER"/>
      <enumeration value="FREESTANDINGELECTRICHEATER"/>
      <enumeration value="FREESTANDINGFAN"/>
      <enumeration value="FREESTANDINGWATERCOOLER"/>
      <enumeration value="FREESTANDINGWATERHEATER"/>
      <enumeration value="FREEZER"/>
      <enumeration value="FRIDGE_FREEZER"/>
      <enumeration value="HANDDRYER"/>
      <enumeration value="KITCHENMACHINE"/>
      <enumeration value="MICROWAVE"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PHOTOCOPIER"/>
      <enumeration value="REFRIGERATOR"/>
      <enumeration value="TUMBLEDRYER"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="VENDINGMACHINE"/>
      <enumeration value="WASHINGMACHINE"/>
    </restriction>
  </simpleType>
  <complexType name="IfcElectricApplianceTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcElectricApplianceTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcElectricDistributionBoard" substitutionGroup="ifc:IfcFlowController" type="ifc:IfcElectricDistributionBoard_Type"/>
  <complexType name="IfcElectricDistributionBoard_Type">
    <complexContent>
      <extension base="ifc:IfcFlowController_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcElectricDistributionBoardTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcElectricDistributionBoard_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcElectricDistributionBoard"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcElectricDistributionBoardType" substitutionGroup="ifc:AbstractIfcFlowControllerType" type="ifc:IfcElectricDistributionBoardType_Type"/>
  <complexType name="IfcElectricDistributionBoardType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowControllerType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcElectricDistributionBoardTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcElectricDistributionBoardType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcElectricDistributionBoardType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcElectricDistributionBoardTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcElectricDistributionBoardTypeEnum_Type"/>
  <simpleType name="IfcElectricDistributionBoardTypeEnum_Type">
    <restriction base="string">
      <enumeration value="CONSUMERUNIT"/>
      <enumeration value="DISTRIBUTIONBOARD"/>
      <enumeration value="MOTORCONTROLCENTRE"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="SWITCHBOARD"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcElectricDistributionBoardTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcElectricDistributionBoardTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcElectricFlowStorageDevice" substitutionGroup="ifc:IfcFlowStorageDevice" type="ifc:IfcElectricFlowStorageDevice_Type"/>
  <complexType name="IfcElectricFlowStorageDevice_Type">
    <complexContent>
      <extension base="ifc:IfcFlowStorageDevice_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcElectricFlowStorageDeviceTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcElectricFlowStorageDevice_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcElectricFlowStorageDevice"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcElectricFlowStorageDeviceType" substitutionGroup="ifc:AbstractIfcFlowStorageDeviceType" type="ifc:IfcElectricFlowStorageDeviceType_Type"/>
  <complexType name="IfcElectricFlowStorageDeviceType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowStorageDeviceType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcElectricFlowStorageDeviceTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcElectricFlowStorageDeviceType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcElectricFlowStorageDeviceType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcElectricFlowStorageDeviceTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcElectricFlowStorageDeviceTypeEnum_Type"/>
  <simpleType name="IfcElectricFlowStorageDeviceTypeEnum_Type">
    <restriction base="string">
      <enumeration value="BATTERY"/>
      <enumeration value="CAPACITORBANK"/>
      <enumeration value="HARMONICFILTER"/>
      <enumeration value="INDUCTORBANK"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="UPS"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcElectricFlowStorageDeviceTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcElectricFlowStorageDeviceTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcElectricGenerator" substitutionGroup="ifc:IfcEnergyConversionDevice" type="ifc:IfcElectricGenerator_Type"/>
  <complexType name="IfcElectricGenerator_Type">
    <complexContent>
      <extension base="ifc:IfcEnergyConversionDevice_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcElectricGeneratorTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcElectricGenerator_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcElectricGenerator"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcElectricGeneratorType" substitutionGroup="ifc:AbstractIfcEnergyConversionDeviceType" type="ifc:IfcElectricGeneratorType_Type"/>
  <complexType name="IfcElectricGeneratorType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcEnergyConversionDeviceType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcElectricGeneratorTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcElectricGeneratorType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcElectricGeneratorType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcElectricGeneratorTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcElectricGeneratorTypeEnum_Type"/>
  <simpleType name="IfcElectricGeneratorTypeEnum_Type">
    <restriction base="string">
      <enumeration value="CHP"/>
      <enumeration value="ENGINEGENERATOR"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="STANDALONE"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcElectricGeneratorTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcElectricGeneratorTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcElectricMotor" substitutionGroup="ifc:IfcEnergyConversionDevice" type="ifc:IfcElectricMotor_Type"/>
  <complexType name="IfcElectricMotor_Type">
    <complexContent>
      <extension base="ifc:IfcEnergyConversionDevice_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcElectricMotorTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcElectricMotor_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcElectricMotor"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcElectricMotorType" substitutionGroup="ifc:AbstractIfcEnergyConversionDeviceType" type="ifc:IfcElectricMotorType_Type"/>
  <complexType name="IfcElectricMotorType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcEnergyConversionDeviceType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcElectricMotorTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcElectricMotorType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcElectricMotorType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcElectricMotorTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcElectricMotorTypeEnum_Type"/>
  <simpleType name="IfcElectricMotorTypeEnum_Type">
    <restriction base="string">
      <enumeration value="DC"/>
      <enumeration value="INDUCTION"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="POLYPHASE"/>
      <enumeration value="RELUCTANCESYNCHRONOUS"/>
      <enumeration value="SYNCHRONOUS"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcElectricMotorTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcElectricMotorTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcElectricTimeControl" substitutionGroup="ifc:IfcFlowController" type="ifc:IfcElectricTimeControl_Type"/>
  <complexType name="IfcElectricTimeControl_Type">
    <complexContent>
      <extension base="ifc:IfcFlowController_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcElectricTimeControlTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcElectricTimeControl_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcElectricTimeControl"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcElectricTimeControlType" substitutionGroup="ifc:AbstractIfcFlowControllerType" type="ifc:IfcElectricTimeControlType_Type"/>
  <complexType name="IfcElectricTimeControlType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowControllerType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcElectricTimeControlTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcElectricTimeControlType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcElectricTimeControlType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcElectricTimeControlTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcElectricTimeControlTypeEnum_Type"/>
  <simpleType name="IfcElectricTimeControlTypeEnum_Type">
    <restriction base="string">
      <enumeration value="NOTDEFINED"/>
      <enumeration value="RELAY"/>
      <enumeration value="TIMECLOCK"/>
      <enumeration value="TIMEDELAY"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcElectricTimeControlTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcElectricTimeControlTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcJunctionBox" substitutionGroup="ifc:IfcFlowFitting" type="ifc:IfcJunctionBox_Type"/>
  <complexType name="IfcJunctionBox_Type">
    <complexContent>
      <extension base="ifc:IfcFlowFitting_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcJunctionBoxTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcJunctionBox_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcJunctionBox"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcJunctionBoxType" substitutionGroup="ifc:AbstractIfcFlowFittingType" type="ifc:IfcJunctionBoxType_Type"/>
  <complexType name="IfcJunctionBoxType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowFittingType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcJunctionBoxTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcJunctionBoxType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcJunctionBoxType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcJunctionBoxTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcJunctionBoxTypeEnum_Type"/>
  <simpleType name="IfcJunctionBoxTypeEnum_Type">
    <restriction base="string">
      <enumeration value="DATA"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="POWER"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcJunctionBoxTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcJunctionBoxTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLamp" substitutionGroup="ifc:IfcFlowTerminal" type="ifc:IfcLamp_Type"/>
  <complexType name="IfcLamp_Type">
    <complexContent>
      <extension base="ifc:IfcFlowTerminal_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcLampTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLamp_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLamp"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLampType" substitutionGroup="ifc:AbstractIfcFlowTerminalType" type="ifc:IfcLampType_Type"/>
  <complexType name="IfcLampType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowTerminalType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcLampTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLampType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLampType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLampTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcLampTypeEnum_Type"/>
  <simpleType name="IfcLampTypeEnum_Type">
    <restriction base="string">
      <enumeration value="COMPACTFLUORESCENT"/>
      <enumeration value="FLUORESCENT"/>
      <enumeration value="HALOGEN"/>
      <enumeration value="HIGHPRESSUREMERCURY"/>
      <enumeration value="HIGHPRESSURESODIUM"/>
      <enumeration value="LED"/>
      <enumeration value="METALHALIDE"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="OLED"/>
      <enumeration value="TUNGSTENFILAMENT"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcLampTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLampTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLightFixture" substitutionGroup="ifc:IfcFlowTerminal" type="ifc:IfcLightFixture_Type"/>
  <complexType name="IfcLightFixture_Type">
    <complexContent>
      <extension base="ifc:IfcFlowTerminal_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcLightFixtureTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLightFixture_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLightFixture"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLightFixtureType" substitutionGroup="ifc:AbstractIfcFlowTerminalType" type="ifc:IfcLightFixtureType_Type"/>
  <complexType name="IfcLightFixtureType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowTerminalType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcLightFixtureTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLightFixtureType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLightFixtureType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLightFixtureTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcLightFixtureTypeEnum_Type"/>
  <simpleType name="IfcLightFixtureTypeEnum_Type">
    <restriction base="string">
      <enumeration value="DIRECTIONSOURCE"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="POINTSOURCE"/>
      <enumeration value="SECURITYLIGHTING"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcLightFixtureTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLightFixtureTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMotorConnection" substitutionGroup="ifc:IfcEnergyConversionDevice" type="ifc:IfcMotorConnection_Type"/>
  <complexType name="IfcMotorConnection_Type">
    <complexContent>
      <extension base="ifc:IfcEnergyConversionDevice_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcMotorConnectionTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMotorConnection_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMotorConnection"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMotorConnectionType" substitutionGroup="ifc:AbstractIfcEnergyConversionDeviceType" type="ifc:IfcMotorConnectionType_Type"/>
  <complexType name="IfcMotorConnectionType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcEnergyConversionDeviceType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcMotorConnectionTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMotorConnectionType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMotorConnectionType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMotorConnectionTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcMotorConnectionTypeEnum_Type"/>
  <simpleType name="IfcMotorConnectionTypeEnum_Type">
    <restriction base="string">
      <enumeration value="BELTDRIVE"/>
      <enumeration value="COUPLING"/>
      <enumeration value="DIRECTDRIVE"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcMotorConnectionTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMotorConnectionTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcOutlet" substitutionGroup="ifc:IfcFlowTerminal" type="ifc:IfcOutlet_Type"/>
  <complexType name="IfcOutlet_Type">
    <complexContent>
      <extension base="ifc:IfcFlowTerminal_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcOutletTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcOutlet_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcOutlet"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcOutletType" substitutionGroup="ifc:AbstractIfcFlowTerminalType" type="ifc:IfcOutletType_Type"/>
  <complexType name="IfcOutletType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowTerminalType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcOutletTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcOutletType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcOutletType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcOutletTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcOutletTypeEnum_Type"/>
  <simpleType name="IfcOutletTypeEnum_Type">
    <restriction base="string">
      <enumeration value="AUDIOVISUALOUTLET"/>
      <enumeration value="COMMUNICATIONSOUTLET"/>
      <enumeration value="DATAOUTLET"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="POWEROUTLET"/>
      <enumeration value="TELEPHONEOUTLET"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcOutletTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcOutletTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcProtectiveDevice" substitutionGroup="ifc:IfcFlowController" type="ifc:IfcProtectiveDevice_Type"/>
  <complexType name="IfcProtectiveDevice_Type">
    <complexContent>
      <extension base="ifc:IfcFlowController_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcProtectiveDeviceTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcProtectiveDevice_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcProtectiveDevice"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcProtectiveDeviceTrippingUnit" substitutionGroup="ifc:IfcDistributionControlElement" type="ifc:IfcProtectiveDeviceTrippingUnit_Type"/>
  <complexType name="IfcProtectiveDeviceTrippingUnit_Type">
    <complexContent>
      <extension base="ifc:IfcDistributionControlElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcProtectiveDeviceTrippingUnitTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcProtectiveDeviceTrippingUnit_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcProtectiveDeviceTrippingUnit"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcProtectiveDeviceTrippingUnitType" substitutionGroup="ifc:AbstractIfcDistributionControlElementType" type="ifc:IfcProtectiveDeviceTrippingUnitType_Type"/>
  <complexType name="IfcProtectiveDeviceTrippingUnitType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcDistributionControlElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcProtectiveDeviceTrippingUnitTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcProtectiveDeviceTrippingUnitType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcProtectiveDeviceTrippingUnitType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcProtectiveDeviceTrippingUnitTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcProtectiveDeviceTrippingUnitTypeEnum_Type"/>
  <simpleType name="IfcProtectiveDeviceTrippingUnitTypeEnum_Type">
    <restriction base="string">
      <enumeration value="ELECTROMAGNETIC"/>
      <enumeration value="ELECTRONIC"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="RESIDUALCURRENT"/>
      <enumeration value="THERMAL"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcProtectiveDeviceTrippingUnitTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcProtectiveDeviceTrippingUnitTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcProtectiveDeviceType" substitutionGroup="ifc:AbstractIfcFlowControllerType" type="ifc:IfcProtectiveDeviceType_Type"/>
  <complexType name="IfcProtectiveDeviceType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowControllerType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcProtectiveDeviceTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcProtectiveDeviceType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcProtectiveDeviceType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcProtectiveDeviceTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcProtectiveDeviceTypeEnum_Type"/>
  <simpleType name="IfcProtectiveDeviceTypeEnum_Type">
    <restriction base="string">
      <enumeration value="CIRCUITBREAKER"/>
      <enumeration value="EARTHINGSWITCH"/>
      <enumeration value="EARTHLEAKAGECIRCUITBREAKER"/>
      <enumeration value="FUSEDISCONNECTOR"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="RESIDUALCURRENTCIRCUITBREAKER"/>
      <enumeration value="RESIDUALCURRENTSWITCH"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="VARISTOR"/>
    </restriction>
  </simpleType>
  <complexType name="IfcProtectiveDeviceTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcProtectiveDeviceTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSolarDevice" substitutionGroup="ifc:IfcEnergyConversionDevice" type="ifc:IfcSolarDevice_Type"/>
  <complexType name="IfcSolarDevice_Type">
    <complexContent>
      <extension base="ifc:IfcEnergyConversionDevice_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcSolarDeviceTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSolarDevice_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSolarDevice"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSolarDeviceType" substitutionGroup="ifc:AbstractIfcEnergyConversionDeviceType" type="ifc:IfcSolarDeviceType_Type"/>
  <complexType name="IfcSolarDeviceType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcEnergyConversionDeviceType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcSolarDeviceTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSolarDeviceType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSolarDeviceType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSolarDeviceTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcSolarDeviceTypeEnum_Type"/>
  <simpleType name="IfcSolarDeviceTypeEnum_Type">
    <restriction base="string">
      <enumeration value="NOTDEFINED"/>
      <enumeration value="SOLARCOLLECTOR"/>
      <enumeration value="SOLARPANEL"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcSolarDeviceTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSolarDeviceTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSwitchingDevice" substitutionGroup="ifc:IfcFlowController" type="ifc:IfcSwitchingDevice_Type"/>
  <complexType name="IfcSwitchingDevice_Type">
    <complexContent>
      <extension base="ifc:IfcFlowController_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcSwitchingDeviceTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSwitchingDevice_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSwitchingDevice"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSwitchingDeviceType" substitutionGroup="ifc:AbstractIfcFlowControllerType" type="ifc:IfcSwitchingDeviceType_Type"/>
  <complexType name="IfcSwitchingDeviceType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowControllerType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcSwitchingDeviceTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSwitchingDeviceType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSwitchingDeviceType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSwitchingDeviceTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcSwitchingDeviceTypeEnum_Type"/>
  <simpleType name="IfcSwitchingDeviceTypeEnum_Type">
    <restriction base="string">
      <enumeration value="CONTACTOR"/>
      <enumeration value="DIMMERSWITCH"/>
      <enumeration value="EMERGENCYSTOP"/>
      <enumeration value="KEYPAD"/>
      <enumeration value="MOMENTARYSWITCH"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="SELECTORSWITCH"/>
      <enumeration value="STARTER"/>
      <enumeration value="SWITCHDISCONNECTOR"/>
      <enumeration value="TOGGLESWITCH"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcSwitchingDeviceTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSwitchingDeviceTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTransformer" substitutionGroup="ifc:IfcEnergyConversionDevice" type="ifc:IfcTransformer_Type"/>
  <complexType name="IfcTransformer_Type">
    <complexContent>
      <extension base="ifc:IfcEnergyConversionDevice_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcTransformerTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTransformer_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTransformer"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTransformerType" substitutionGroup="ifc:AbstractIfcEnergyConversionDeviceType" type="ifc:IfcTransformerType_Type"/>
  <complexType name="IfcTransformerType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcEnergyConversionDeviceType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcTransformerTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTransformerType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTransformerType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTransformerTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcTransformerTypeEnum_Type"/>
  <simpleType name="IfcTransformerTypeEnum_Type">
    <restriction base="string">
      <enumeration value="CURRENT"/>
      <enumeration value="FREQUENCY"/>
      <enumeration value="INVERTER"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="RECTIFIER"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="VOLTAGE"/>
    </restriction>
  </simpleType>
  <complexType name="IfcTransformerTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTransformerTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
