XSD/IfcExternalReferenceResource.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:ifc="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" version="4.3">
  <include schemaLocation="IfcActorResource.xsd"/>
  <include schemaLocation="IfcApprovalResource.xsd"/>
  <include schemaLocation="IfcConstraintResource.xsd"/>
  <include schemaLocation="IfcCostResource.xsd"/>
  <include schemaLocation="IfcDateTimeResource.xsd"/>
  <include schemaLocation="IfcKernel.xsd"/>
  <include schemaLocation="IfcMaterialResource.xsd"/>
  <include schemaLocation="IfcMeasureResource.xsd"/>
  <include schemaLocation="IfcProfileResource.xsd"/>
  <include schemaLocation="IfcPropertyResource.xsd"/>
  <include schemaLocation="IfcQuantityResource.xsd"/>
  <include schemaLocation="IfcRepresentationResource.xsd"/>
  <include schemaLocation="IfcResourceLayer.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="IfcClassification" substitutionGroup="ifc:IfcExternalInformation" type="ifc:IfcClassificationType"/>
  <complexType name="IfcClassificationType">
    <complexContent>
      <extension base="ifc:IfcExternalInformationType">
        <sequence>
          <element minOccurs="0" name="source" type="string"/>
          <element minOccurs="0" name="edition" type="string"/>
          <element minOccurs="0" name="editionDate" type="date"/>
          <element name="name" type="string"/>
          <element minOccurs="0" name="description" type="string"/>
          <element minOccurs="0" name="location" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="referenceTokens" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcClassificationPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcClassification"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcClassificationReference" substitutionGroup="ifc:IfcExternalReference" type="ifc:IfcClassificationReferenceType"/>
  <complexType name="IfcClassificationReferenceType">
    <complexContent>
      <extension base="ifc:IfcExternalReferenceType">
        <sequence>
          <element minOccurs="0" name="referencedSource" type="ifc:IfcClassificationReferenceSelectPropertyType"/>
          <element minOccurs="0" name="description" type="string"/>
          <element minOccurs="0" name="sort" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcClassificationReferencePropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcClassificationReference"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcClassificationReferenceSelect" substitutionGroup="gml:AbstractObject" type="ifc:IfcClassificationReferenceSelectType"/>
  <complexType name="IfcClassificationReferenceSelectType">
    <choice>
      <element name="classification">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractFeatureMemberType">
              <sequence minOccurs="0">
                <element ref="ifc:IfcClassification"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element name="classificationReference">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractFeatureMemberType">
              <sequence minOccurs="0">
                <element ref="ifc:IfcClassificationReference"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
    </choice>
  </complexType>
  <complexType name="IfcClassificationReferenceSelectPropertyType">
    <sequence>
      <element ref="ifc:IfcClassificationReferenceSelect"/>
    </sequence>
  </complexType>
  <element name="IfcClassificationSelect" substitutionGroup="gml:AbstractObject" type="ifc:IfcClassificationSelectType"/>
  <complexType name="IfcClassificationSelectType">
    <choice>
      <element name="classification">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractFeatureMemberType">
              <sequence minOccurs="0">
                <element ref="ifc:IfcClassification"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element name="classificationReference">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractFeatureMemberType">
              <sequence minOccurs="0">
                <element ref="ifc:IfcClassificationReference"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
    </choice>
  </complexType>
  <complexType name="IfcClassificationSelectPropertyType">
    <sequence>
      <element ref="ifc:IfcClassificationSelect"/>
    </sequence>
  </complexType>
  <simpleType name="IfcDocumentConfidentialityEnumType">
    <restriction base="string">
      <enumeration value="CONFIDENTIAL"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PERSONAL"/>
      <enumeration value="PUBLIC"/>
      <enumeration value="RESTRICTED"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <element name="IfcDocumentInformation" substitutionGroup="ifc:IfcExternalInformation" type="ifc:IfcDocumentInformationType"/>
  <complexType name="IfcDocumentInformationType">
    <complexContent>
      <extension base="ifc:IfcExternalInformationType">
        <sequence>
          <element name="identification" type="string"/>
          <element name="name" type="string"/>
          <element minOccurs="0" name="description" type="string"/>
          <element minOccurs="0" name="location" type="string"/>
          <element minOccurs="0" name="purpose" type="string"/>
          <element minOccurs="0" name="intendedUse" type="string"/>
          <element minOccurs="0" name="scope" type="string"/>
          <element minOccurs="0" name="revision" type="string"/>
          <element minOccurs="0" name="documentOwner" type="ifc:IfcActorSelectPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="editors" type="ifc:IfcActorSelectPropertyType"/>
          <element minOccurs="0" name="creationTime" type="dateTime"/>
          <element minOccurs="0" name="lastRevisionTime" type="dateTime"/>
          <element minOccurs="0" name="electronicFormat" type="string"/>
          <element minOccurs="0" name="validFrom" type="date"/>
          <element minOccurs="0" name="validUntil" type="date"/>
          <element minOccurs="0" name="confidentiality" type="ifc:IfcDocumentConfidentialityEnumType"/>
          <element minOccurs="0" name="status" type="ifc:IfcDocumentStatusEnumType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDocumentInformationPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDocumentInformation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcDocumentInformationRelationship" substitutionGroup="ifc:IfcResourceLevelRelationship" type="ifc:IfcDocumentInformationRelationshipType"/>
  <complexType name="IfcDocumentInformationRelationshipType">
    <complexContent>
      <extension base="ifc:IfcResourceLevelRelationshipType">
        <sequence>
          <element minOccurs="0" name="relationshipType" type="string"/>
          <element name="relatingDocument" type="ifc:IfcDocumentInformationPropertyType"/>
          <element maxOccurs="unbounded" name="relatedDocuments" type="ifc:IfcDocumentInformationPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDocumentInformationRelationshipPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDocumentInformationRelationship"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcDocumentReference" substitutionGroup="ifc:IfcExternalReference" type="ifc:IfcDocumentReferenceType"/>
  <complexType name="IfcDocumentReferenceType">
    <complexContent>
      <extension base="ifc:IfcExternalReferenceType">
        <sequence>
          <element minOccurs="0" name="description" type="string"/>
          <element minOccurs="0" name="referencedDocument" type="ifc:IfcDocumentInformationPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDocumentReferencePropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDocumentReference"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcDocumentSelect" substitutionGroup="gml:AbstractObject" type="ifc:IfcDocumentSelectType"/>
  <complexType name="IfcDocumentSelectType">
    <choice>
      <element name="documentInformation">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractFeatureMemberType">
              <sequence minOccurs="0">
                <element ref="ifc:IfcDocumentInformation"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element name="documentReference">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractFeatureMemberType">
              <sequence minOccurs="0">
                <element ref="ifc:IfcDocumentReference"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
    </choice>
  </complexType>
  <complexType name="IfcDocumentSelectPropertyType">
    <sequence>
      <element ref="ifc:IfcDocumentSelect"/>
    </sequence>
  </complexType>
  <simpleType name="IfcDocumentStatusEnumType">
    <restriction base="string">
      <enumeration value="DRAFT"/>
      <enumeration value="FINAL"/>
      <enumeration value="FINALDRAFT"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="REVISION"/>
    </restriction>
  </simpleType>
  <element abstract="true" name="IfcExternalInformation" substitutionGroup="gml:AbstractFeature" type="ifc:IfcExternalInformationType"/>
  <complexType abstract="true" name="IfcExternalInformationType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcExternalInformationPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcExternalInformation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="IfcExternalReference" substitutionGroup="gml:AbstractFeature" type="ifc:IfcExternalReferenceType"/>
  <complexType abstract="true" name="IfcExternalReferenceType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="location" type="string"/>
          <element minOccurs="0" name="identification" type="string"/>
          <element minOccurs="0" name="name" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcExternalReferencePropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcExternalReference"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcExternalReferenceRelationship" substitutionGroup="ifc:IfcResourceLevelRelationship" type="ifc:IfcExternalReferenceRelationshipType"/>
  <complexType name="IfcExternalReferenceRelationshipType">
    <complexContent>
      <extension base="ifc:IfcResourceLevelRelationshipType">
        <sequence>
          <element maxOccurs="unbounded" name="relatedResourceObjects" type="ifc:IfcResourceObjectSelectPropertyType"/>
          <element name="relatingReference" type="ifc:IfcExternalReferencePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcExternalReferenceRelationshipPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcExternalReferenceRelationship"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcLibraryInformation" substitutionGroup="ifc:IfcExternalInformation" type="ifc:IfcLibraryInformationType"/>
  <complexType name="IfcLibraryInformationType">
    <complexContent>
      <extension base="ifc:IfcExternalInformationType">
        <sequence>
          <element name="name" type="string"/>
          <element minOccurs="0" name="version" type="string"/>
          <element minOccurs="0" name="publisher" type="ifc:IfcActorSelectPropertyType"/>
          <element minOccurs="0" name="versionDate" type="dateTime"/>
          <element minOccurs="0" name="location" type="string"/>
          <element minOccurs="0" name="description" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLibraryInformationPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLibraryInformation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcLibraryReference" substitutionGroup="ifc:IfcExternalReference" type="ifc:IfcLibraryReferenceType"/>
  <complexType name="IfcLibraryReferenceType">
    <complexContent>
      <extension base="ifc:IfcExternalReferenceType">
        <sequence>
          <element minOccurs="0" name="description" type="string"/>
          <element minOccurs="0" name="language"/>
          <element minOccurs="0" name="referencedLibrary" type="ifc:IfcLibraryInformationPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLibraryReferencePropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLibraryReference"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcLibrarySelect" substitutionGroup="gml:AbstractObject" type="ifc:IfcLibrarySelectType"/>
  <complexType name="IfcLibrarySelectType">
    <choice>
      <element name="libraryInformation">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractFeatureMemberType">
              <sequence minOccurs="0">
                <element ref="ifc:IfcLibraryInformation"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element name="libraryReference">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractFeatureMemberType">
              <sequence minOccurs="0">
                <element ref="ifc:IfcLibraryReference"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
    </choice>
  </complexType>
  <complexType name="IfcLibrarySelectPropertyType">
    <sequence>
      <element ref="ifc:IfcLibrarySelect"/>
    </sequence>
  </complexType>
  <element abstract="true" name="IfcResourceLevelRelationship" substitutionGroup="gml:AbstractFeature" type="ifc:IfcResourceLevelRelationshipType"/>
  <complexType abstract="true" name="IfcResourceLevelRelationshipType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="name" type="string"/>
          <element minOccurs="0" name="description" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcResourceLevelRelationshipPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcResourceLevelRelationship"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcResourceObjectSelect" substitutionGroup="gml:AbstractObject" type="ifc:IfcResourceObjectSelectType"/>
  <complexType name="IfcResourceObjectSelectType">
    <choice>
      <element name="actorRole">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractFeatureMemberType">
              <sequence minOccurs="0">
                <element ref="ifc:IfcActorRole"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element name="appliedValue">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractFeatureMemberType">
              <sequence minOccurs="0">
                <element ref="ifc:IfcAppliedValue"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element name="approval">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractFeatureMemberType">
              <sequence minOccurs="0">
                <element ref="ifc:IfcApproval"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element name="constraint">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractFeatureMemberType">
              <sequence minOccurs="0">
                <element ref="ifc:IfcConstraint"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element name="contextDependentUnit">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractFeatureMemberType">
              <sequence minOccurs="0">
                <element ref="ifc:IfcContextDependentUnit"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element name="conversionBasedUnit">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractFeatureMemberType">
              <sequence minOccurs="0">
                <element ref="ifc:IfcConversionBasedUnit"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element name="externalInformation">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractFeatureMemberType">
              <sequence minOccurs="0">
                <element ref="ifc:IfcExternalInformation"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element name="externalReference">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractFeatureMemberType">
              <sequence minOccurs="0">
                <element ref="ifc:IfcExternalReference"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element name="materialDefinition">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractFeatureMemberType">
              <sequence minOccurs="0">
                <element ref="ifc:IfcMaterialDefinition"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element name="organization">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractFeatureMemberType">
              <sequence minOccurs="0">
                <element ref="ifc:IfcOrganization"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element name="person">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractFeatureMemberType">
              <sequence minOccurs="0">
                <element ref="ifc:IfcPerson"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element name="personAndOrganization">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractFeatureMemberType">
              <sequence minOccurs="0">
                <element ref="ifc:IfcPersonAndOrganization"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element name="physicalQuantity">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractFeatureMemberType">
              <sequence minOccurs="0">
                <element ref="ifc:IfcPhysicalQuantity"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element name="profileDef">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractFeatureMemberType">
              <sequence minOccurs="0">
                <element ref="ifc:IfcProfileDef"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element name="propertyAbstraction">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractFeatureMemberType">
              <sequence minOccurs="0">
                <element ref="ifc:IfcPropertyAbstraction"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element name="shapeAspect">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractFeatureMemberType">
              <sequence minOccurs="0">
                <element ref="ifc:IfcShapeAspect"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element name="timeSeries">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractFeatureMemberType">
              <sequence minOccurs="0">
                <element ref="ifc:IfcTimeSeries"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
    </choice>
  </complexType>
  <complexType name="IfcResourceObjectSelectPropertyType">
    <sequence>
      <element ref="ifc:IfcResourceObjectSelect"/>
    </sequence>
  </complexType>
  <element name="IfcURIReference" substitutionGroup="gml:AbstractObject" type="ifc:IfcURIReferenceType"/>
  <complexType name="IfcURIReferenceType">
    <sequence/>
  </complexType>
  <complexType name="IfcURIReferencePropertyType">
    <sequence>
      <element ref="ifc:IfcURIReference"/>
    </sequence>
  </complexType>
</schema>
