XSD/IfcGeometricConstraintResource.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco"
  xmlns:gml="http://www.opengis.net/gml/3.2"
  xmlns:ifc="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC"
  elementFormDefault="qualified"
  targetNamespace="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" version="4.3">
  <include schemaLocation="IfcGeometricModelResource.xsd"/>
  <include schemaLocation="IfcGeometryResource.xsd"/>
  <include schemaLocation="IfcKernel.xsd"/>
  <include schemaLocation="IfcMeasureResource.xsd"/>
  <include schemaLocation="IfcPresentationAppearanceResource.xsd"/>
  <include schemaLocation="IfcProductExtension.xsd"/>
  <include schemaLocation="IfcProfileResource.xsd"/>
  <include schemaLocation="IfcResourceLayer.xsd"/>
  <include schemaLocation="IfcTopologyResource.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco"
    schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2"
    schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="IfcAlignment2DHorizontal" substitutionGroup="ifc:IfcGeometricRepresentationItem"
    type="ifc:IfcAlignment2DHorizontal_Type"/>
  <complexType name="IfcAlignment2DHorizontal_Type">
    <complexContent>
      <extension base="ifc:IfcGeometricRepresentationItemType">
        <sequence>
          <element minOccurs="0" name="startDistAlong" type="gml:LengthType"/>
          <element maxOccurs="unbounded" name="segments"
            type="ifc:IfcAlignment2DHorizontalSegment_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcAlignment2DHorizontal_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAlignment2DHorizontal"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcAlignment2DHorizontalSegment"
    substitutionGroup="ifc:AbstractIfcAlignment2DSegment"
    type="ifc:IfcAlignment2DHorizontalSegment_Type"/>
  <complexType name="IfcAlignment2DHorizontalSegment_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcAlignment2DSegment_Type">
        <sequence>
          <element name="curveGeometry">
            <complexType>
              <sequence minOccurs="0">
                <element ref="ifc:IfcCurveSegment2D"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcAlignment2DHorizontalSegment_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAlignment2DHorizontalSegment"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcAlignment2DSegment"
    substitutionGroup="ifc:IfcGeometricRepresentationItem"
    type="ifc:AbstractIfcAlignment2DSegment_Type"/>
  <complexType abstract="true" name="AbstractIfcAlignment2DSegment_Type">
    <complexContent>
      <extension base="ifc:IfcGeometricRepresentationItemType">
        <sequence>
          <element minOccurs="0" name="tangentialContinuity" type="boolean"/>
          <element minOccurs="0" name="startTag" type="string"/>
          <element minOccurs="0" name="endTag" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcAlignment2DSegment_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcAlignment2DSegment"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcAlignment2DVerSegCircularArc"
    substitutionGroup="ifc:AbstractIfcAlignment2DVerticalSegment"
    type="ifc:IfcAlignment2DVerSegCircularArc_Type"/>
  <complexType name="IfcAlignment2DVerSegCircularArc_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcAlignment2DVerticalSegment_Type">
        <sequence>
          <element name="radius" type="gml:LengthType"/>
          <element name="isConvex" type="boolean"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcAlignment2DVerSegCircularArc_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAlignment2DVerSegCircularArc"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcAlignment2DVerSegLine"
    substitutionGroup="ifc:AbstractIfcAlignment2DVerticalSegment"
    type="ifc:IfcAlignment2DVerSegLine_Type"/>
  <complexType name="IfcAlignment2DVerSegLine_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcAlignment2DVerticalSegment_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcAlignment2DVerSegLine_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAlignment2DVerSegLine"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcAlignment2DVerSegParabolicArc"
    substitutionGroup="ifc:AbstractIfcAlignment2DVerticalSegment"
    type="ifc:IfcAlignment2DVerSegParabolicArc_Type"/>
  <complexType name="IfcAlignment2DVerSegParabolicArc_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcAlignment2DVerticalSegment_Type">
        <sequence>
          <element name="parabolaConstant" type="gml:LengthType"/>
          <element name="isConvex" type="boolean"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcAlignment2DVerSegParabolicArc_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAlignment2DVerSegParabolicArc"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcAlignment2DVertical" substitutionGroup="ifc:IfcGeometricRepresentationItem"
    type="ifc:IfcAlignment2DVertical_Type"/>
  <complexType name="IfcAlignment2DVertical_Type">
    <complexContent>
      <extension base="ifc:IfcGeometricRepresentationItemType">
        <sequence>
          <element maxOccurs="unbounded" name="segments"
            type="ifc:AbstractIfcAlignment2DVerticalSegment_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcAlignment2DVertical_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAlignment2DVertical"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcAlignment2DVerticalSegment"
    substitutionGroup="ifc:AbstractIfcAlignment2DSegment"
    type="ifc:AbstractIfcAlignment2DVerticalSegment_Type"/>
  <complexType abstract="true" name="AbstractIfcAlignment2DVerticalSegment_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcAlignment2DSegment_Type">
        <sequence>
          <element name="startDistAlong" type="gml:LengthType"/>
          <element name="horizontalLength" type="gml:LengthType"/>
          <element name="startHeight" type="gml:LengthType"/>
          <element name="startGradient" type="gml:MeasureType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcAlignment2DVerticalSegment_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcAlignment2DVerticalSegment"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcAlignmentCurve" substitutionGroup="ifc:IfcBoundedCurve"
    type="ifc:IfcAlignmentCurve_Type"/>
  <complexType name="IfcAlignmentCurve_Type">
    <complexContent>
      <extension base="ifc:IfcBoundedCurveType">
        <sequence>
          <element minOccurs="0" name="tag" type="string"/>
          <element name="horizontal" type="ifc:IfcAlignment2DHorizontal_PropertyType"/>
          <element minOccurs="0" name="vertical" type="ifc:IfcAlignment2DVertical_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcAlignmentCurve_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAlignmentCurve"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcConnectionCurveGeometry" substitutionGroup="ifc:AbstractIfcConnectionGeometry"
    type="ifc:IfcConnectionCurveGeometry_Type"/>
  <complexType name="IfcConnectionCurveGeometry_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcConnectionGeometry_Type">
        <sequence>
          <element name="curveOnRelatingElement" type="ifc:IfcCurveOrEdgeCurve_PropertyType"/>
          <element minOccurs="0" name="curveOnRelatedElement"
            type="ifc:IfcCurveOrEdgeCurve_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcConnectionCurveGeometry_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcConnectionCurveGeometry"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcConnectionGeometry"
    substitutionGroup="gco:AbstractObject" type="ifc:AbstractIfcConnectionGeometry_Type"/>
  <complexType abstract="true" name="AbstractIfcConnectionGeometry_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcConnectionGeometry_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcConnectionGeometry"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcConnectionPointEccentricity" substitutionGroup="ifc:IfcConnectionPointGeometry"
    type="ifc:IfcConnectionPointEccentricity_Type"/>
  <complexType name="IfcConnectionPointEccentricity_Type">
    <complexContent>
      <extension base="ifc:IfcConnectionPointGeometry_Type">
        <sequence>
          <element minOccurs="0" name="eccentricityInX" type="gml:LengthType"/>
          <element minOccurs="0" name="eccentricityInY" type="gml:LengthType"/>
          <element minOccurs="0" name="eccentricityInZ" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcConnectionPointEccentricity_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcConnectionPointEccentricity"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcConnectionPointGeometry" substitutionGroup="ifc:AbstractIfcConnectionGeometry"
    type="ifc:IfcConnectionPointGeometry_Type"/>
  <complexType name="IfcConnectionPointGeometry_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcConnectionGeometry_Type">
        <sequence>
          <element name="pointOnRelatingElement" type="ifc:IfcPointOrVertexPoint_PropertyType"/>
          <element minOccurs="0" name="pointOnRelatedElement"
            type="ifc:IfcPointOrVertexPoint_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcConnectionPointGeometry_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcConnectionPointGeometry"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcConnectionSurfaceGeometry" substitutionGroup="ifc:AbstractIfcConnectionGeometry"
    type="ifc:IfcConnectionSurfaceGeometry_Type"/>
  <complexType name="IfcConnectionSurfaceGeometry_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcConnectionGeometry_Type">
        <sequence>
          <element name="surfaceOnRelatingElement" type="ifc:IfcSurfaceOrFaceSurface_PropertyType"/>
          <element minOccurs="0" name="surfaceOnRelatedElement"
            type="ifc:IfcSurfaceOrFaceSurface_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcConnectionSurfaceGeometry_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcConnectionSurfaceGeometry"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcConnectionVolumeGeometry" substitutionGroup="ifc:AbstractIfcConnectionGeometry"
    type="ifc:IfcConnectionVolumeGeometry_Type"/>
  <complexType name="IfcConnectionVolumeGeometry_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcConnectionGeometry_Type">
        <sequence>
          <element name="volumeOnRelatingElement" type="ifc:IfcSolidOrShell_PropertyType"/>
          <element minOccurs="0" name="volumeOnRelatedElement"
            type="ifc:IfcSolidOrShell_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcConnectionVolumeGeometry_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcConnectionVolumeGeometry"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCurveOrEdgeCurve" type="ifc:IfcCurveOrEdgeCurve_Type"/>
  <complexType name="IfcCurveOrEdgeCurve_Type">
    <choice>
      <element name="boundedCurve">
        <complexType>
          <sequence minOccurs="0">
            <element ref="ifc:IfcBoundedCurve"/>
          </sequence>
          <attributeGroup ref="gml:AssociationAttributeGroup"/>
        </complexType>
      </element>
      <element name="edgeCurve" type="ifc:IfcEdgeCurve_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcCurveOrEdgeCurve_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCurveOrEdgeCurve"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcGeometricConstraintResourceFunction"
    substitutionGroup="gco:AbstractObject"
    type="ifc:AbstractIfcGeometricConstraintResourceFunction_Type"/>
  <complexType abstract="true" name="AbstractIfcGeometricConstraintResourceFunction_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcGeometricConstraintResourceFunction_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcGeometricConstraintResourceFunction"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcGeometricConstraintResourceFunctions"
    substitutionGroup="gco:AbstractObject"
    type="ifc:AbstractIfcGeometricConstraintResourceFunctions_Type"/>
  <complexType abstract="true" name="AbstractIfcGeometricConstraintResourceFunctions_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcGeometricConstraintResourceFunctions_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcGeometricConstraintResourceFunctions"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcGridAxis" substitutionGroup="gco:AbstractObject" type="ifc:IfcGridAxis_Type"/>
  <complexType name="IfcGridAxis_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="axisTag" type="string"/>
          <element name="sameSense" type="boolean"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcGridAxis_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcGridAxis"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcGridPlacement" substitutionGroup="ifc:AbstractIfcObjectPlacement"
    type="ifc:IfcGridPlacement_Type"/>
  <complexType name="IfcGridPlacement_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcObjectPlacement_Type">
        <sequence>
          <element minOccurs="0" name="placementRefDirection"
            type="ifc:IfcGridPlacementDirectionSelect_PropertyType"/>
          <element name="placementLocation" type="ifc:IfcVirtualGridIntersection_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcGridPlacement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcGridPlacement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcGridPlacementDirectionSelect" type="ifc:IfcGridPlacementDirectionSelect_Type"/>
  <complexType name="IfcGridPlacementDirectionSelect_Type">
    <choice>
      <element name="direction">
        <complexType>
          <sequence minOccurs="0">
            <element ref="ifc:IfcDirection"/>
          </sequence>
          <attributeGroup ref="gml:AssociationAttributeGroup"/>
        </complexType>
      </element>
      <element name="virtualGridIntersection" type="ifc:IfcVirtualGridIntersection_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcGridPlacementDirectionSelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcGridPlacementDirectionSelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcIntervalPlacement" substitutionGroup="ifc:IfcLinearSpanPlacement"
    type="ifc:IfcIntervalPlacement_Type"/>
  <complexType name="IfcIntervalPlacement_Type">
    <complexContent>
      <extension base="ifc:IfcLinearSpanPlacement_Type">
        <sequence>
          <element name="intervalCount" type="integer"/>
          <element name="elementCount" type="integer"/>
          <element name="intervalLength" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcIntervalPlacement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcIntervalPlacement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLinearPlacement" substitutionGroup="ifc:AbstractIfcObjectPlacement"
    type="ifc:IfcLinearPlacement_Type"/>
  <complexType name="IfcLinearPlacement_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcObjectPlacement_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLinearPlacement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLinearPlacement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLinearSpanPlacement" substitutionGroup="ifc:IfcLinearPlacement"
    type="ifc:IfcLinearSpanPlacement_Type"/>
  <complexType name="IfcLinearSpanPlacement_Type">
    <complexContent>
      <extension base="ifc:IfcLinearPlacement_Type">
        <sequence>
          <element name="span" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLinearSpanPlacement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLinearSpanPlacement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLocalPlacement" substitutionGroup="ifc:AbstractIfcObjectPlacement"
    type="ifc:IfcLocalPlacement_Type"/>
  <complexType name="IfcLocalPlacement_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcObjectPlacement_Type">
        <sequence>
          <element name="relativePlacement" type="ifc:IfcAxis2PlacementPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLocalPlacement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLocalPlacement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcObjectPlacement" substitutionGroup="gco:AbstractObject"
    type="ifc:AbstractIfcObjectPlacement_Type"/>
  <complexType abstract="true" name="AbstractIfcObjectPlacement_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="placementRelTo"
            type="ifc:AbstractIfcObjectPlacement_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcObjectPlacement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcObjectPlacement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPointOrVertexPoint" type="ifc:IfcPointOrVertexPoint_Type"/>
  <complexType name="IfcPointOrVertexPoint_Type">
    <choice>
      <element name="point" type="gml:PointPropertyType"/>
      <element name="vertexPoint" type="ifc:IfcVertexPoint_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcPointOrVertexPoint_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPointOrVertexPoint"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSolidOrShell" type="ifc:IfcSolidOrShell_Type"/>
  <complexType name="IfcSolidOrShell_Type">
    <choice>
      <element name="closedShell" type="ifc:IfcClosedShell_PropertyType"/>
      <element name="solidModel">
        <complexType>
          <sequence minOccurs="0">
            <element ref="ifc:IfcSolidModel"/>
          </sequence>
          <attributeGroup ref="gml:AssociationAttributeGroup"/>
        </complexType>
      </element>
    </choice>
  </complexType>
  <complexType name="IfcSolidOrShell_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSolidOrShell"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSurfaceOrFaceSurface" type="ifc:IfcSurfaceOrFaceSurface_Type"/>
  <complexType name="IfcSurfaceOrFaceSurface_Type">
    <choice>
      <element name="faceBasedSurfaceModel">
        <complexType>
          <sequence minOccurs="0">
            <element ref="ifc:IfcFaceBasedSurfaceModel"/>
          </sequence>
          <attributeGroup ref="gml:AssociationAttributeGroup"/>
        </complexType>
      </element>
      <element name="faceSurface" type="ifc:IfcFaceSurface_PropertyType"/>
      <element name="surface" type="gml:SurfacePropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcSurfaceOrFaceSurface_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSurfaceOrFaceSurface"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcVirtualGridIntersection" substitutionGroup="gco:AbstractObject"
    type="ifc:IfcVirtualGridIntersection_Type"/>
  <complexType name="IfcVirtualGridIntersection_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element maxOccurs="3" minOccurs="2" name="offsetDistances" type="gml:LengthType"/>
          <element maxOccurs="2" minOccurs="2" name="intersectingAxes"
            type="ifc:IfcGridAxis_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcVirtualGridIntersection_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcVirtualGridIntersection"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
