XSD/IfcHvacDomain.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:ifc="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" version="4.3">
  <include schemaLocation="IfcDomainLayer.xsd"/>
  <include schemaLocation="IfcSharedBldgServiceElements.xsd"/>
  <include schemaLocation="IfcSharedComponentElements.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="IfcAirTerminal" substitutionGroup="ifc:IfcFlowTerminal" type="ifc:IfcAirTerminal_Type"/>
  <complexType name="IfcAirTerminal_Type">
    <complexContent>
      <extension base="ifc:IfcFlowTerminal_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcAirTerminalTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcAirTerminal_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAirTerminal"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcAirTerminalBox" substitutionGroup="ifc:IfcFlowController" type="ifc:IfcAirTerminalBox_Type"/>
  <complexType name="IfcAirTerminalBox_Type">
    <complexContent>
      <extension base="ifc:IfcFlowController_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcAirTerminalBoxTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcAirTerminalBox_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAirTerminalBox"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcAirTerminalBoxType" substitutionGroup="ifc:AbstractIfcFlowControllerType" type="ifc:IfcAirTerminalBoxType_Type"/>
  <complexType name="IfcAirTerminalBoxType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowControllerType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcAirTerminalBoxTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcAirTerminalBoxType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAirTerminalBoxType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcAirTerminalBoxTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcAirTerminalBoxTypeEnum_Type"/>
  <simpleType name="IfcAirTerminalBoxTypeEnum_Type">
    <restriction base="string">
      <enumeration value="CONSTANTFLOW"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="VARIABLEFLOWPRESSUREDEPENDANT"/>
      <enumeration value="VARIABLEFLOWPRESSUREINDEPENDANT"/>
    </restriction>
  </simpleType>
  <complexType name="IfcAirTerminalBoxTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAirTerminalBoxTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcAirTerminalType" substitutionGroup="ifc:AbstractIfcFlowTerminalType" type="ifc:IfcAirTerminalType_Type"/>
  <complexType name="IfcAirTerminalType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowTerminalType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcAirTerminalTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcAirTerminalType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAirTerminalType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcAirTerminalTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcAirTerminalTypeEnum_Type"/>
  <simpleType name="IfcAirTerminalTypeEnum_Type">
    <restriction base="string">
      <enumeration value="DIFFUSER"/>
      <enumeration value="GRILLE"/>
      <enumeration value="LOUVRE"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="REGISTER"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcAirTerminalTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAirTerminalTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcAirToAirHeatRecovery" substitutionGroup="ifc:IfcEnergyConversionDevice" type="ifc:IfcAirToAirHeatRecovery_Type"/>
  <complexType name="IfcAirToAirHeatRecovery_Type">
    <complexContent>
      <extension base="ifc:IfcEnergyConversionDevice_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcAirToAirHeatRecoveryTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcAirToAirHeatRecovery_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAirToAirHeatRecovery"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcAirToAirHeatRecoveryType" substitutionGroup="ifc:AbstractIfcEnergyConversionDeviceType" type="ifc:IfcAirToAirHeatRecoveryType_Type"/>
  <complexType name="IfcAirToAirHeatRecoveryType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcEnergyConversionDeviceType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcAirToAirHeatRecoveryTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcAirToAirHeatRecoveryType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAirToAirHeatRecoveryType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcAirToAirHeatRecoveryTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcAirToAirHeatRecoveryTypeEnum_Type"/>
  <simpleType name="IfcAirToAirHeatRecoveryTypeEnum_Type">
    <restriction base="string">
      <enumeration value="FIXEDPLATECOUNTERFLOWEXCHANGER"/>
      <enumeration value="FIXEDPLATECROSSFLOWEXCHANGER"/>
      <enumeration value="FIXEDPLATEPARALLELFLOWEXCHANGER"/>
      <enumeration value="HEATPIPE"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="ROTARYWHEEL"/>
      <enumeration value="RUNAROUNDCOILLOOP"/>
      <enumeration value="THERMOSIPHONCOILTYPEHEATEXCHANGERS"/>
      <enumeration value="THERMOSIPHONSEALEDTUBEHEATEXCHANGERS"/>
      <enumeration value="TWINTOWERENTHALPYRECOVERYLOOPS"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcAirToAirHeatRecoveryTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAirToAirHeatRecoveryTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcBoiler" substitutionGroup="ifc:IfcEnergyConversionDevice" type="ifc:IfcBoiler_Type"/>
  <complexType name="IfcBoiler_Type">
    <complexContent>
      <extension base="ifc:IfcEnergyConversionDevice_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcBoilerTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcBoiler_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBoiler"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcBoilerType" substitutionGroup="ifc:AbstractIfcEnergyConversionDeviceType" type="ifc:IfcBoilerType_Type"/>
  <complexType name="IfcBoilerType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcEnergyConversionDeviceType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcBoilerTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcBoilerType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBoilerType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcBoilerTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcBoilerTypeEnum_Type"/>
  <simpleType name="IfcBoilerTypeEnum_Type">
    <restriction base="string">
      <enumeration value="NOTDEFINED"/>
      <enumeration value="STEAM"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="WATER"/>
    </restriction>
  </simpleType>
  <complexType name="IfcBoilerTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBoilerTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcBurner" substitutionGroup="ifc:IfcEnergyConversionDevice" type="ifc:IfcBurner_Type"/>
  <complexType name="IfcBurner_Type">
    <complexContent>
      <extension base="ifc:IfcEnergyConversionDevice_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcBurnerTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcBurner_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBurner"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcBurnerType" substitutionGroup="ifc:AbstractIfcEnergyConversionDeviceType" type="ifc:IfcBurnerType_Type"/>
  <complexType name="IfcBurnerType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcEnergyConversionDeviceType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcBurnerTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcBurnerType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBurnerType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcBurnerTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcBurnerTypeEnum_Type"/>
  <simpleType name="IfcBurnerTypeEnum_Type">
    <restriction base="string">
      <enumeration value="NOTDEFINED"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcBurnerTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBurnerTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcChiller" substitutionGroup="ifc:IfcEnergyConversionDevice" type="ifc:IfcChiller_Type"/>
  <complexType name="IfcChiller_Type">
    <complexContent>
      <extension base="ifc:IfcEnergyConversionDevice_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcChillerTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcChiller_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcChiller"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcChillerType" substitutionGroup="ifc:AbstractIfcEnergyConversionDeviceType" type="ifc:IfcChillerType_Type"/>
  <complexType name="IfcChillerType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcEnergyConversionDeviceType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcChillerTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcChillerType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcChillerType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcChillerTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcChillerTypeEnum_Type"/>
  <simpleType name="IfcChillerTypeEnum_Type">
    <restriction base="string">
      <enumeration value="AIRCOOLED"/>
      <enumeration value="HEATRECOVERY"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="WATERCOOLED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcChillerTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcChillerTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCoil" substitutionGroup="ifc:IfcEnergyConversionDevice" type="ifc:IfcCoil_Type"/>
  <complexType name="IfcCoil_Type">
    <complexContent>
      <extension base="ifc:IfcEnergyConversionDevice_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcCoilTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCoil_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCoil"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCoilType" substitutionGroup="ifc:AbstractIfcEnergyConversionDeviceType" type="ifc:IfcCoilType_Type"/>
  <complexType name="IfcCoilType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcEnergyConversionDeviceType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcCoilTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCoilType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCoilType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCoilTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcCoilTypeEnum_Type"/>
  <simpleType name="IfcCoilTypeEnum_Type">
    <restriction base="string">
      <enumeration value="DXCOOLINGCOIL"/>
      <enumeration value="ELECTRICHEATINGCOIL"/>
      <enumeration value="GASHEATINGCOIL"/>
      <enumeration value="HYDRONICCOIL"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="STEAMHEATINGCOIL"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="WATERCOOLINGCOIL"/>
      <enumeration value="WATERHEATINGCOIL"/>
    </restriction>
  </simpleType>
  <complexType name="IfcCoilTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCoilTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCompressor" substitutionGroup="ifc:IfcFlowMovingDevice" type="ifc:IfcCompressor_Type"/>
  <complexType name="IfcCompressor_Type">
    <complexContent>
      <extension base="ifc:IfcFlowMovingDevice_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcCompressorTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCompressor_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCompressor"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCompressorType" substitutionGroup="ifc:AbstractIfcFlowMovingDeviceType" type="ifc:IfcCompressorType_Type"/>
  <complexType name="IfcCompressorType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowMovingDeviceType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcCompressorTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCompressorType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCompressorType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCompressorTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcCompressorTypeEnum_Type"/>
  <simpleType name="IfcCompressorTypeEnum_Type">
    <restriction base="string">
      <enumeration value="BOOSTER"/>
      <enumeration value="DYNAMIC"/>
      <enumeration value="HERMETIC"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="OPENTYPE"/>
      <enumeration value="RECIPROCATING"/>
      <enumeration value="ROLLINGPISTON"/>
      <enumeration value="ROTARY"/>
      <enumeration value="ROTARYVANE"/>
      <enumeration value="SCROLL"/>
      <enumeration value="SEMIHERMETIC"/>
      <enumeration value="SINGLESCREW"/>
      <enumeration value="SINGLESTAGE"/>
      <enumeration value="TROCHOIDAL"/>
      <enumeration value="TWINSCREW"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="WELDEDSHELLHERMETIC"/>
    </restriction>
  </simpleType>
  <complexType name="IfcCompressorTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCompressorTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCondenser" substitutionGroup="ifc:IfcEnergyConversionDevice" type="ifc:IfcCondenser_Type"/>
  <complexType name="IfcCondenser_Type">
    <complexContent>
      <extension base="ifc:IfcEnergyConversionDevice_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcCondenserTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCondenser_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCondenser"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCondenserType" substitutionGroup="ifc:AbstractIfcEnergyConversionDeviceType" type="ifc:IfcCondenserType_Type"/>
  <complexType name="IfcCondenserType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcEnergyConversionDeviceType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcCondenserTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCondenserType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCondenserType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCondenserTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcCondenserTypeEnum_Type"/>
  <simpleType name="IfcCondenserTypeEnum_Type">
    <restriction base="string">
      <enumeration value="AIRCOOLED"/>
      <enumeration value="EVAPORATIVECOOLED"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="WATERCOOLED"/>
      <enumeration value="WATERCOOLEDBRAZEDPLATE"/>
      <enumeration value="WATERCOOLEDSHELLCOIL"/>
      <enumeration value="WATERCOOLEDSHELLTUBE"/>
      <enumeration value="WATERCOOLEDTUBEINTUBE"/>
    </restriction>
  </simpleType>
  <complexType name="IfcCondenserTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCondenserTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCooledBeam" substitutionGroup="ifc:IfcEnergyConversionDevice" type="ifc:IfcCooledBeam_Type"/>
  <complexType name="IfcCooledBeam_Type">
    <complexContent>
      <extension base="ifc:IfcEnergyConversionDevice_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcCooledBeamTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCooledBeam_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCooledBeam"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCooledBeamType" substitutionGroup="ifc:AbstractIfcEnergyConversionDeviceType" type="ifc:IfcCooledBeamType_Type"/>
  <complexType name="IfcCooledBeamType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcEnergyConversionDeviceType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcCooledBeamTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCooledBeamType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCooledBeamType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCooledBeamTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcCooledBeamTypeEnum_Type"/>
  <simpleType name="IfcCooledBeamTypeEnum_Type">
    <restriction base="string">
      <enumeration value="ACTIVE"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PASSIVE"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcCooledBeamTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCooledBeamTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCoolingTower" substitutionGroup="ifc:IfcEnergyConversionDevice" type="ifc:IfcCoolingTower_Type"/>
  <complexType name="IfcCoolingTower_Type">
    <complexContent>
      <extension base="ifc:IfcEnergyConversionDevice_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcCoolingTowerTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCoolingTower_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCoolingTower"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCoolingTowerType" substitutionGroup="ifc:AbstractIfcEnergyConversionDeviceType" type="ifc:IfcCoolingTowerType_Type"/>
  <complexType name="IfcCoolingTowerType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcEnergyConversionDeviceType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcCoolingTowerTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCoolingTowerType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCoolingTowerType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCoolingTowerTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcCoolingTowerTypeEnum_Type"/>
  <simpleType name="IfcCoolingTowerTypeEnum_Type">
    <restriction base="string">
      <enumeration value="MECHANICALFORCEDDRAFT"/>
      <enumeration value="MECHANICALINDUCEDDRAFT"/>
      <enumeration value="NATURALDRAFT"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcCoolingTowerTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCoolingTowerTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDamper" substitutionGroup="ifc:IfcFlowController" type="ifc:IfcDamper_Type"/>
  <complexType name="IfcDamper_Type">
    <complexContent>
      <extension base="ifc:IfcFlowController_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcDamperTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDamper_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDamper"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDamperType" substitutionGroup="ifc:AbstractIfcFlowControllerType" type="ifc:IfcDamperType_Type"/>
  <complexType name="IfcDamperType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowControllerType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcDamperTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDamperType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDamperType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDamperTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcDamperTypeEnum_Type"/>
  <simpleType name="IfcDamperTypeEnum_Type">
    <restriction base="string">
      <enumeration value="BACKDRAFTDAMPER"/>
      <enumeration value="BALANCINGDAMPER"/>
      <enumeration value="BLASTDAMPER"/>
      <enumeration value="CONTROLDAMPER"/>
      <enumeration value="FIREDAMPER"/>
      <enumeration value="FIRESMOKEDAMPER"/>
      <enumeration value="FUMEHOODEXHAUST"/>
      <enumeration value="GRAVITYDAMPER"/>
      <enumeration value="GRAVITYRELIEFDAMPER"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="RELIEFDAMPER"/>
      <enumeration value="SMOKEDAMPER"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcDamperTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDamperTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDuctFitting" substitutionGroup="ifc:IfcFlowFitting" type="ifc:IfcDuctFitting_Type"/>
  <complexType name="IfcDuctFitting_Type">
    <complexContent>
      <extension base="ifc:IfcFlowFitting_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcDuctFittingTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDuctFitting_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDuctFitting"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDuctFittingType" substitutionGroup="ifc:AbstractIfcFlowFittingType" type="ifc:IfcDuctFittingType_Type"/>
  <complexType name="IfcDuctFittingType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowFittingType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcDuctFittingTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDuctFittingType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDuctFittingType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDuctFittingTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcDuctFittingTypeEnum_Type"/>
  <simpleType name="IfcDuctFittingTypeEnum_Type">
    <restriction base="string">
      <enumeration value="BEND"/>
      <enumeration value="CONNECTOR"/>
      <enumeration value="ENTRY"/>
      <enumeration value="EXIT"/>
      <enumeration value="JUNCTION"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="OBSTRUCTION"/>
      <enumeration value="TRANSITION"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcDuctFittingTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDuctFittingTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDuctSegment" substitutionGroup="ifc:IfcFlowSegment" type="ifc:IfcDuctSegment_Type"/>
  <complexType name="IfcDuctSegment_Type">
    <complexContent>
      <extension base="ifc:IfcFlowSegment_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcDuctSegmentTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDuctSegment_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDuctSegment"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDuctSegmentType" substitutionGroup="ifc:AbstractIfcFlowSegmentType" type="ifc:IfcDuctSegmentType_Type"/>
  <complexType name="IfcDuctSegmentType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowSegmentType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcDuctSegmentTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDuctSegmentType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDuctSegmentType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDuctSegmentTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcDuctSegmentTypeEnum_Type"/>
  <simpleType name="IfcDuctSegmentTypeEnum_Type">
    <restriction base="string">
      <enumeration value="FLEXIBLESEGMENT"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="RIGIDSEGMENT"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcDuctSegmentTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDuctSegmentTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDuctSilencer" substitutionGroup="ifc:IfcFlowTreatmentDevice" type="ifc:IfcDuctSilencer_Type"/>
  <complexType name="IfcDuctSilencer_Type">
    <complexContent>
      <extension base="ifc:IfcFlowTreatmentDevice_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcDuctSilencerTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDuctSilencer_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDuctSilencer"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDuctSilencerType" substitutionGroup="ifc:AbstractIfcFlowTreatmentDeviceType" type="ifc:IfcDuctSilencerType_Type"/>
  <complexType name="IfcDuctSilencerType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowTreatmentDeviceType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcDuctSilencerTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDuctSilencerType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDuctSilencerType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDuctSilencerTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcDuctSilencerTypeEnum_Type"/>
  <simpleType name="IfcDuctSilencerTypeEnum_Type">
    <restriction base="string">
      <enumeration value="FLATOVAL"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="RECTANGULAR"/>
      <enumeration value="ROUND"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcDuctSilencerTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDuctSilencerTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcEngine" substitutionGroup="ifc:IfcEnergyConversionDevice" type="ifc:IfcEngine_Type"/>
  <complexType name="IfcEngine_Type">
    <complexContent>
      <extension base="ifc:IfcEnergyConversionDevice_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcEngineTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcEngine_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcEngine"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcEngineType" substitutionGroup="ifc:AbstractIfcEnergyConversionDeviceType" type="ifc:IfcEngineType_Type"/>
  <complexType name="IfcEngineType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcEnergyConversionDeviceType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcEngineTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcEngineType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcEngineType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcEngineTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcEngineTypeEnum_Type"/>
  <simpleType name="IfcEngineTypeEnum_Type">
    <restriction base="string">
      <enumeration value="EXTERNALCOMBUSTION"/>
      <enumeration value="INTERNALCOMBUSTION"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcEngineTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcEngineTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcEvaporativeCooler" substitutionGroup="ifc:IfcEnergyConversionDevice" type="ifc:IfcEvaporativeCooler_Type"/>
  <complexType name="IfcEvaporativeCooler_Type">
    <complexContent>
      <extension base="ifc:IfcEnergyConversionDevice_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcEvaporativeCoolerTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcEvaporativeCooler_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcEvaporativeCooler"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcEvaporativeCoolerType" substitutionGroup="ifc:AbstractIfcEnergyConversionDeviceType" type="ifc:IfcEvaporativeCoolerType_Type"/>
  <complexType name="IfcEvaporativeCoolerType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcEnergyConversionDeviceType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcEvaporativeCoolerTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcEvaporativeCoolerType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcEvaporativeCoolerType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcEvaporativeCoolerTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcEvaporativeCoolerTypeEnum_Type"/>
  <simpleType name="IfcEvaporativeCoolerTypeEnum_Type">
    <restriction base="string">
      <enumeration value="DIRECTEVAPORATIVEAIRWASHER"/>
      <enumeration value="DIRECTEVAPORATIVEPACKAGEDROTARYAIRCOOLER"/>
      <enumeration value="DIRECTEVAPORATIVERANDOMMEDIAAIRCOOLER"/>
      <enumeration value="DIRECTEVAPORATIVERIGIDMEDIAAIRCOOLER"/>
      <enumeration value="DIRECTEVAPORATIVESLINGERSPACKAGEDAIRCOOLER"/>
      <enumeration value="INDIRECTDIRECTCOMBINATION"/>
      <enumeration value="INDIRECTEVAPORATIVECOOLINGTOWERORCOILCOOLER"/>
      <enumeration value="INDIRECTEVAPORATIVEPACKAGEAIRCOOLER"/>
      <enumeration value="INDIRECTEVAPORATIVEWETCOIL"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcEvaporativeCoolerTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcEvaporativeCoolerTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcEvaporator" substitutionGroup="ifc:IfcEnergyConversionDevice" type="ifc:IfcEvaporator_Type"/>
  <complexType name="IfcEvaporator_Type">
    <complexContent>
      <extension base="ifc:IfcEnergyConversionDevice_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcEvaporatorTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcEvaporator_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcEvaporator"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcEvaporatorType" substitutionGroup="ifc:AbstractIfcEnergyConversionDeviceType" type="ifc:IfcEvaporatorType_Type"/>
  <complexType name="IfcEvaporatorType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcEnergyConversionDeviceType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcEvaporatorTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcEvaporatorType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcEvaporatorType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcEvaporatorTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcEvaporatorTypeEnum_Type"/>
  <simpleType name="IfcEvaporatorTypeEnum_Type">
    <restriction base="string">
      <enumeration value="DIRECTEXPANSION"/>
      <enumeration value="DIRECTEXPANSIONBRAZEDPLATE"/>
      <enumeration value="DIRECTEXPANSIONSHELLANDTUBE"/>
      <enumeration value="DIRECTEXPANSIONTUBEINTUBE"/>
      <enumeration value="FLOODEDSHELLANDTUBE"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="SHELLANDCOIL"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcEvaporatorTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcEvaporatorTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFan" substitutionGroup="ifc:IfcFlowMovingDevice" type="ifc:IfcFan_Type"/>
  <complexType name="IfcFan_Type">
    <complexContent>
      <extension base="ifc:IfcFlowMovingDevice_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcFanTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcFan_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFan"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFanType" substitutionGroup="ifc:AbstractIfcFlowMovingDeviceType" type="ifc:IfcFanType_Type"/>
  <complexType name="IfcFanType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowMovingDeviceType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcFanTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcFanType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFanType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFanTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcFanTypeEnum_Type"/>
  <simpleType name="IfcFanTypeEnum_Type">
    <restriction base="string">
      <enumeration value="CENTRIFUGALAIRFOIL"/>
      <enumeration value="CENTRIFUGALBACKWARDINCLINEDCURVED"/>
      <enumeration value="CENTRIFUGALFORWARDCURVED"/>
      <enumeration value="CENTRIFUGALRADIAL"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PROPELLORAXIAL"/>
      <enumeration value="TUBEAXIAL"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="VANEAXIAL"/>
    </restriction>
  </simpleType>
  <complexType name="IfcFanTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFanTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFilter" substitutionGroup="ifc:IfcFlowTreatmentDevice" type="ifc:IfcFilter_Type"/>
  <complexType name="IfcFilter_Type">
    <complexContent>
      <extension base="ifc:IfcFlowTreatmentDevice_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcFilterTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcFilter_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFilter"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFilterType" substitutionGroup="ifc:AbstractIfcFlowTreatmentDeviceType" type="ifc:IfcFilterType_Type"/>
  <complexType name="IfcFilterType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowTreatmentDeviceType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcFilterTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcFilterType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFilterType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFilterTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcFilterTypeEnum_Type"/>
  <simpleType name="IfcFilterTypeEnum_Type">
    <restriction base="string">
      <enumeration value="AIRPARTICLEFILTER"/>
      <enumeration value="COMPRESSEDAIRFILTER"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="ODORFILTER"/>
      <enumeration value="OILFILTER"/>
      <enumeration value="STRAINER"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="WATERFILTER"/>
    </restriction>
  </simpleType>
  <complexType name="IfcFilterTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFilterTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFlowMeter" substitutionGroup="ifc:IfcFlowController" type="ifc:IfcFlowMeter_Type"/>
  <complexType name="IfcFlowMeter_Type">
    <complexContent>
      <extension base="ifc:IfcFlowController_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcFlowMeterTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcFlowMeter_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFlowMeter"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFlowMeterType" substitutionGroup="ifc:AbstractIfcFlowControllerType" type="ifc:IfcFlowMeterType_Type"/>
  <complexType name="IfcFlowMeterType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowControllerType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcFlowMeterTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcFlowMeterType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFlowMeterType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFlowMeterTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcFlowMeterTypeEnum_Type"/>
  <simpleType name="IfcFlowMeterTypeEnum_Type">
    <restriction base="string">
      <enumeration value="ENERGYMETER"/>
      <enumeration value="GASMETER"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="OILMETER"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="WATERMETER"/>
    </restriction>
  </simpleType>
  <complexType name="IfcFlowMeterTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFlowMeterTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcHeatExchanger" substitutionGroup="ifc:IfcEnergyConversionDevice" type="ifc:IfcHeatExchanger_Type"/>
  <complexType name="IfcHeatExchanger_Type">
    <complexContent>
      <extension base="ifc:IfcEnergyConversionDevice_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcHeatExchangerTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcHeatExchanger_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcHeatExchanger"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcHeatExchangerType" substitutionGroup="ifc:AbstractIfcEnergyConversionDeviceType" type="ifc:IfcHeatExchangerType_Type"/>
  <complexType name="IfcHeatExchangerType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcEnergyConversionDeviceType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcHeatExchangerTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcHeatExchangerType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcHeatExchangerType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcHeatExchangerTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcHeatExchangerTypeEnum_Type"/>
  <simpleType name="IfcHeatExchangerTypeEnum_Type">
    <restriction base="string">
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PLATE"/>
      <enumeration value="SHELLANDTUBE"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcHeatExchangerTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcHeatExchangerTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcHumidifier" substitutionGroup="ifc:IfcEnergyConversionDevice" type="ifc:IfcHumidifier_Type"/>
  <complexType name="IfcHumidifier_Type">
    <complexContent>
      <extension base="ifc:IfcEnergyConversionDevice_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcHumidifierTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcHumidifier_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcHumidifier"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcHumidifierType" substitutionGroup="ifc:AbstractIfcEnergyConversionDeviceType" type="ifc:IfcHumidifierType_Type"/>
  <complexType name="IfcHumidifierType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcEnergyConversionDeviceType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcHumidifierTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcHumidifierType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcHumidifierType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcHumidifierTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcHumidifierTypeEnum_Type"/>
  <simpleType name="IfcHumidifierTypeEnum_Type">
    <restriction base="string">
      <enumeration value="ADIABATICAIRWASHER"/>
      <enumeration value="ADIABATICATOMIZING"/>
      <enumeration value="ADIABATICCOMPRESSEDAIRNOZZLE"/>
      <enumeration value="ADIABATICPAN"/>
      <enumeration value="ADIABATICRIGIDMEDIA"/>
      <enumeration value="ADIABATICULTRASONIC"/>
      <enumeration value="ADIABATICWETTEDELEMENT"/>
      <enumeration value="ASSISTEDBUTANE"/>
      <enumeration value="ASSISTEDELECTRIC"/>
      <enumeration value="ASSISTEDNATURALGAS"/>
      <enumeration value="ASSISTEDPROPANE"/>
      <enumeration value="ASSISTEDSTEAM"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="STEAMINJECTION"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcHumidifierTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcHumidifierTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMedicalDevice" substitutionGroup="ifc:IfcFlowTerminal" type="ifc:IfcMedicalDevice_Type"/>
  <complexType name="IfcMedicalDevice_Type">
    <complexContent>
      <extension base="ifc:IfcFlowTerminal_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcMedicalDeviceTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMedicalDevice_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMedicalDevice"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMedicalDeviceType" substitutionGroup="ifc:AbstractIfcFlowTerminalType" type="ifc:IfcMedicalDeviceType_Type"/>
  <complexType name="IfcMedicalDeviceType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowTerminalType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcMedicalDeviceTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMedicalDeviceType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMedicalDeviceType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMedicalDeviceTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcMedicalDeviceTypeEnum_Type"/>
  <simpleType name="IfcMedicalDeviceTypeEnum_Type">
    <restriction base="string">
      <enumeration value="AIRSTATION"/>
      <enumeration value="FEEDAIRUNIT"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="OXYGENGENERATOR"/>
      <enumeration value="OXYGENPLANT"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="VACUUMSTATION"/>
    </restriction>
  </simpleType>
  <complexType name="IfcMedicalDeviceTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMedicalDeviceTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPipeFitting" substitutionGroup="ifc:IfcFlowFitting" type="ifc:IfcPipeFitting_Type"/>
  <complexType name="IfcPipeFitting_Type">
    <complexContent>
      <extension base="ifc:IfcFlowFitting_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcPipeFittingTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPipeFitting_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPipeFitting"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPipeFittingType" substitutionGroup="ifc:AbstractIfcFlowFittingType" type="ifc:IfcPipeFittingType_Type"/>
  <complexType name="IfcPipeFittingType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowFittingType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcPipeFittingTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPipeFittingType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPipeFittingType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPipeFittingTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcPipeFittingTypeEnum_Type"/>
  <simpleType name="IfcPipeFittingTypeEnum_Type">
    <restriction base="string">
      <enumeration value="BEND"/>
      <enumeration value="CONNECTOR"/>
      <enumeration value="ENTRY"/>
      <enumeration value="EXIT"/>
      <enumeration value="JUNCTION"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="OBSTRUCTION"/>
      <enumeration value="TRANSITION"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcPipeFittingTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPipeFittingTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPipeSegment" substitutionGroup="ifc:IfcFlowSegment" type="ifc:IfcPipeSegment_Type"/>
  <complexType name="IfcPipeSegment_Type">
    <complexContent>
      <extension base="ifc:IfcFlowSegment_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcPipeSegmentTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPipeSegment_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPipeSegment"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPipeSegmentType" substitutionGroup="ifc:AbstractIfcFlowSegmentType" type="ifc:IfcPipeSegmentType_Type"/>
  <complexType name="IfcPipeSegmentType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowSegmentType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcPipeSegmentTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPipeSegmentType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPipeSegmentType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPipeSegmentTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcPipeSegmentTypeEnum_Type"/>
  <simpleType name="IfcPipeSegmentTypeEnum_Type">
    <restriction base="string">
      <enumeration value="CULVERT"/>
      <enumeration value="FLEXIBLESEGMENT"/>
      <enumeration value="GUTTER"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="RIGIDSEGMENT"/>
      <enumeration value="SPOOL"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcPipeSegmentTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPipeSegmentTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPump" substitutionGroup="ifc:IfcFlowMovingDevice" type="ifc:IfcPump_Type"/>
  <complexType name="IfcPump_Type">
    <complexContent>
      <extension base="ifc:IfcFlowMovingDevice_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcPumpTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPump_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPump"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPumpType" substitutionGroup="ifc:AbstractIfcFlowMovingDeviceType" type="ifc:IfcPumpType_Type"/>
  <complexType name="IfcPumpType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowMovingDeviceType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcPumpTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPumpType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPumpType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPumpTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcPumpTypeEnum_Type"/>
  <simpleType name="IfcPumpTypeEnum_Type">
    <restriction base="string">
      <enumeration value="CIRCULATOR"/>
      <enumeration value="ENDSUCTION"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="SPLITCASE"/>
      <enumeration value="SUBMERSIBLEPUMP"/>
      <enumeration value="SUMPPUMP"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="VERTICALINLINE"/>
      <enumeration value="VERTICALTURBINE"/>
    </restriction>
  </simpleType>
  <complexType name="IfcPumpTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPumpTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSpaceHeater" substitutionGroup="ifc:IfcFlowTerminal" type="ifc:IfcSpaceHeater_Type"/>
  <complexType name="IfcSpaceHeater_Type">
    <complexContent>
      <extension base="ifc:IfcFlowTerminal_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcSpaceHeaterTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSpaceHeater_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSpaceHeater"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSpaceHeaterType" substitutionGroup="ifc:AbstractIfcFlowTerminalType" type="ifc:IfcSpaceHeaterType_Type"/>
  <complexType name="IfcSpaceHeaterType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowTerminalType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcSpaceHeaterTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSpaceHeaterType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSpaceHeaterType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSpaceHeaterTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcSpaceHeaterTypeEnum_Type"/>
  <simpleType name="IfcSpaceHeaterTypeEnum_Type">
    <restriction base="string">
      <enumeration value="CONVECTOR"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="RADIATOR"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcSpaceHeaterTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSpaceHeaterTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTank" substitutionGroup="ifc:IfcFlowStorageDevice" type="ifc:IfcTank_Type"/>
  <complexType name="IfcTank_Type">
    <complexContent>
      <extension base="ifc:IfcFlowStorageDevice_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcTankTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTank_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTank"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTankType" substitutionGroup="ifc:AbstractIfcFlowStorageDeviceType" type="ifc:IfcTankType_Type"/>
  <complexType name="IfcTankType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowStorageDeviceType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcTankTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTankType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTankType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTankTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcTankTypeEnum_Type"/>
  <simpleType name="IfcTankTypeEnum_Type">
    <restriction base="string">
      <enumeration value="BASIN"/>
      <enumeration value="BREAKPRESSURE"/>
      <enumeration value="EXPANSION"/>
      <enumeration value="FEEDANDEXPANSION"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PRESSUREVESSEL"/>
      <enumeration value="STORAGE"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="VESSEL"/>
    </restriction>
  </simpleType>
  <complexType name="IfcTankTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTankTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTubeBundle" substitutionGroup="ifc:IfcEnergyConversionDevice" type="ifc:IfcTubeBundle_Type"/>
  <complexType name="IfcTubeBundle_Type">
    <complexContent>
      <extension base="ifc:IfcEnergyConversionDevice_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcTubeBundleTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTubeBundle_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTubeBundle"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTubeBundleType" substitutionGroup="ifc:AbstractIfcEnergyConversionDeviceType" type="ifc:IfcTubeBundleType_Type"/>
  <complexType name="IfcTubeBundleType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcEnergyConversionDeviceType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcTubeBundleTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTubeBundleType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTubeBundleType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTubeBundleTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcTubeBundleTypeEnum_Type"/>
  <simpleType name="IfcTubeBundleTypeEnum_Type">
    <restriction base="string">
      <enumeration value="FINNED"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcTubeBundleTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTubeBundleTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcUnitaryEquipment" substitutionGroup="ifc:IfcEnergyConversionDevice" type="ifc:IfcUnitaryEquipment_Type"/>
  <complexType name="IfcUnitaryEquipment_Type">
    <complexContent>
      <extension base="ifc:IfcEnergyConversionDevice_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcUnitaryEquipmentTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcUnitaryEquipment_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcUnitaryEquipment"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcUnitaryEquipmentType" substitutionGroup="ifc:AbstractIfcEnergyConversionDeviceType" type="ifc:IfcUnitaryEquipmentType_Type"/>
  <complexType name="IfcUnitaryEquipmentType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcEnergyConversionDeviceType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcUnitaryEquipmentTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcUnitaryEquipmentType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcUnitaryEquipmentType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcUnitaryEquipmentTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcUnitaryEquipmentTypeEnum_Type"/>
  <simpleType name="IfcUnitaryEquipmentTypeEnum_Type">
    <restriction base="string">
      <enumeration value="AIRCONDITIONINGUNIT"/>
      <enumeration value="AIRHANDLER"/>
      <enumeration value="DEHUMIDIFIER"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="ROOFTOPUNIT"/>
      <enumeration value="SPLITSYSTEM"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcUnitaryEquipmentTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcUnitaryEquipmentTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcValve" substitutionGroup="ifc:IfcFlowController" type="ifc:IfcValve_Type"/>
  <complexType name="IfcValve_Type">
    <complexContent>
      <extension base="ifc:IfcFlowController_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcValveTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcValve_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcValve"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcValveType" substitutionGroup="ifc:AbstractIfcFlowControllerType" type="ifc:IfcValveType_Type"/>
  <complexType name="IfcValveType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowControllerType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcValveTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcValveType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcValveType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcValveTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcValveTypeEnum_Type"/>
  <simpleType name="IfcValveTypeEnum_Type">
    <restriction base="string">
      <enumeration value="AIRRELEASE"/>
      <enumeration value="ANTIVACUUM"/>
      <enumeration value="CHANGEOVER"/>
      <enumeration value="CHECK"/>
      <enumeration value="COMMISSIONING"/>
      <enumeration value="DIVERTING"/>
      <enumeration value="DOUBLECHECK"/>
      <enumeration value="DOUBLEREGULATING"/>
      <enumeration value="DRAWOFFCOCK"/>
      <enumeration value="FAUCET"/>
      <enumeration value="FLUSHING"/>
      <enumeration value="GASCOCK"/>
      <enumeration value="GASTAP"/>
      <enumeration value="ISOLATING"/>
      <enumeration value="MIXING"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PRESSUREREDUCING"/>
      <enumeration value="PRESSURERELIEF"/>
      <enumeration value="REGULATING"/>
      <enumeration value="SAFETYCUTOFF"/>
      <enumeration value="STEAMTRAP"/>
      <enumeration value="STOPCOCK"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcValveTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcValveTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcVibrationIsolator" substitutionGroup="ifc:AbstractIfcElementComponent" type="ifc:IfcVibrationIsolator_Type"/>
  <complexType name="IfcVibrationIsolator_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcElementComponent_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcVibrationIsolatorTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcVibrationIsolator_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcVibrationIsolator"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcVibrationIsolatorType" substitutionGroup="ifc:AbstractIfcElementComponentType" type="ifc:IfcVibrationIsolatorType_Type"/>
  <complexType name="IfcVibrationIsolatorType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcElementComponentType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcVibrationIsolatorTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcVibrationIsolatorType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcVibrationIsolatorType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcVibrationIsolatorTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcVibrationIsolatorTypeEnum_Type"/>
  <simpleType name="IfcVibrationIsolatorTypeEnum_Type">
    <restriction base="string">
      <enumeration value="BASE"/>
      <enumeration value="COMPRESSION"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="SPRING"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcVibrationIsolatorTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcVibrationIsolatorTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
