XSD/IfcKernel.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:ifc="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" version="4.3">
  <include schemaLocation="IfcActorResource.xsd"/>
  <include schemaLocation="IfcCoreLayer.xsd"/>
  <include schemaLocation="IfcExternalReferenceResource.xsd"/>
  <include schemaLocation="IfcGeometricConstraintResource.xsd"/>
  <include schemaLocation="IfcGeometricModelResource.xsd"/>
  <include schemaLocation="IfcGeometryResource.xsd"/>
  <include schemaLocation="IfcMeasureResource.xsd"/>
  <include schemaLocation="IfcPresentationAppearanceResource.xsd"/>
  <include schemaLocation="IfcProcessExtension.xsd"/>
  <include schemaLocation="IfcProductExtension.xsd"/>
  <include schemaLocation="IfcProfileResource.xsd"/>
  <include schemaLocation="IfcPropertyResource.xsd"/>
  <include schemaLocation="IfcRepresentationResource.xsd"/>
  <include schemaLocation="IfcUtilityResource.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="IfcActor" substitutionGroup="ifc:AbstractIfcObject" type="ifc:IfcActor_Type"/>
  <complexType name="IfcActor_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcObject_Type">
        <sequence>
          <element name="theActor" type="ifc:IfcActorSelect_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcActor_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcActor"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcComplexPropertyTemplate" substitutionGroup="ifc:AbstractIfcPropertyTemplate" type="ifc:IfcComplexPropertyTemplate_Type"/>
  <complexType name="IfcComplexPropertyTemplate_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPropertyTemplate_Type">
        <sequence>
          <element minOccurs="0" name="usageName" type="string"/>
          <element minOccurs="0" name="templateType" type="ifc:IfcComplexPropertyTemplateTypeEnum_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hasPropertyTemplates" type="ifc:AbstractIfcPropertyTemplate_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcComplexPropertyTemplate_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcComplexPropertyTemplate"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcComplexPropertyTemplateTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcComplexPropertyTemplateTypeEnum_Type"/>
  <simpleType name="IfcComplexPropertyTemplateTypeEnum_Type">
    <restriction base="string">
      <enumeration value="P_COMPLEX"/>
      <enumeration value="Q_COMPLEX"/>
    </restriction>
  </simpleType>
  <complexType name="IfcComplexPropertyTemplateTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcComplexPropertyTemplateTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcContext" substitutionGroup="ifc:AbstractIfcObjectDefinition" type="ifc:AbstractIfcContext_Type"/>
  <complexType abstract="true" name="AbstractIfcContext_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcObjectDefinition_Type">
        <sequence>
          <element minOccurs="0" name="objectType" type="string"/>
          <element minOccurs="0" name="longName" type="string"/>
          <element minOccurs="0" name="phase" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="representationContexts" type="ifc:AbstractIfcRepresentationContext_PropertyType"/>
          <element minOccurs="0" name="unitsInContext" type="ifc:IfcUnitAssignment_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcContext_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcContext"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcControl" substitutionGroup="ifc:AbstractIfcObject" type="ifc:AbstractIfcControl_Type"/>
  <complexType abstract="true" name="AbstractIfcControl_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcObject_Type">
        <sequence>
          <element minOccurs="0" name="identification" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcControl_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcControl"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDefinitionSelect" type="ifc:IfcDefinitionSelect_Type"/>
  <complexType name="IfcDefinitionSelect_Type">
    <choice>
      <element name="objectDefinition" type="ifc:AbstractIfcObjectDefinition_PropertyType"/>
      <element name="propertyDefinition" type="ifc:AbstractIfcPropertyDefinition_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcDefinitionSelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDefinitionSelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcGroup" substitutionGroup="ifc:AbstractIfcObject" type="ifc:IfcGroup_Type"/>
  <complexType name="IfcGroup_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcGroup_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcGroup"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcKernelFunction" substitutionGroup="gco:AbstractObject" type="ifc:AbstractIfcKernelFunction_Type"/>
  <complexType abstract="true" name="AbstractIfcKernelFunction_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcKernelFunction_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcKernelFunction"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcKernelFunctions" substitutionGroup="gco:AbstractObject" type="ifc:AbstractIfcKernelFunctions_Type"/>
  <complexType abstract="true" name="AbstractIfcKernelFunctions_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcKernelFunctions_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcKernelFunctions"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcObject" substitutionGroup="ifc:AbstractIfcObjectDefinition" type="ifc:AbstractIfcObject_Type"/>
  <complexType abstract="true" name="AbstractIfcObject_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcObjectDefinition_Type">
        <sequence>
          <element minOccurs="0" name="objectType" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcObject_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcObject"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcObjectDefinition" substitutionGroup="ifc:AbstractIfcRoot" type="ifc:AbstractIfcObjectDefinition_Type"/>
  <complexType abstract="true" name="AbstractIfcObjectDefinition_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRoot_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcObjectDefinition_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcObjectDefinition"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcObjectTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcObjectTypeEnum_Type"/>
  <simpleType name="IfcObjectTypeEnum_Type">
    <restriction base="string">
      <enumeration value="ACTOR"/>
      <enumeration value="CONTROL"/>
      <enumeration value="GROUP"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PROCESS"/>
      <enumeration value="PRODUCT"/>
      <enumeration value="PROJECT"/>
      <enumeration value="RESOURCE"/>
    </restriction>
  </simpleType>
  <complexType name="IfcObjectTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcObjectTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcPreDefinedPropertySet" substitutionGroup="ifc:AbstractIfcPropertySetDefinition" type="ifc:AbstractIfcPreDefinedPropertySet_Type"/>
  <complexType abstract="true" name="AbstractIfcPreDefinedPropertySet_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPropertySetDefinition_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcPreDefinedPropertySet_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcPreDefinedPropertySet"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcProcess" substitutionGroup="ifc:AbstractIfcObject" type="ifc:AbstractIfcProcess_Type"/>
  <complexType abstract="true" name="AbstractIfcProcess_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcObject_Type">
        <sequence>
          <element minOccurs="0" name="identification" type="string"/>
          <element minOccurs="0" name="longDescription" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcProcess_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcProcess"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcProcessSelect" type="ifc:IfcProcessSelect_Type"/>
  <complexType name="IfcProcessSelect_Type">
    <choice>
      <element name="process" type="ifc:AbstractIfcProcess_PropertyType"/>
      <element name="typeProcess" type="ifc:AbstractIfcTypeProcess_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcProcessSelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcProcessSelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcProduct" substitutionGroup="ifc:AbstractIfcObject" type="ifc:AbstractIfcProduct_Type"/>
  <complexType abstract="true" name="AbstractIfcProduct_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcObject_Type">
        <sequence>
          <element minOccurs="0" name="representation" type="ifc:AbstractIfcProductRepresentation_PropertyType"/>
          <element minOccurs="0" name="objectPlacement" type="ifc:AbstractIfcObjectPlacement_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcProduct_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcProduct"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcProductSelect" type="ifc:IfcProductSelect_Type"/>
  <complexType name="IfcProductSelect_Type">
    <choice>
      <element name="product" type="ifc:AbstractIfcProduct_PropertyType"/>
      <element name="typeProduct" type="ifc:IfcTypeProduct_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcProductSelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcProductSelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcProject" substitutionGroup="ifc:AbstractIfcContext" type="ifc:IfcProject_Type"/>
  <complexType name="IfcProject_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcContext_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcProject_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcProject"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcProjectLibrary" substitutionGroup="ifc:AbstractIfcContext" type="ifc:IfcProjectLibrary_Type"/>
  <complexType name="IfcProjectLibrary_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcContext_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcProjectLibrary_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcProjectLibrary"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcPropertyDefinition" substitutionGroup="ifc:AbstractIfcRoot" type="ifc:AbstractIfcPropertyDefinition_Type"/>
  <complexType abstract="true" name="AbstractIfcPropertyDefinition_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRoot_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcPropertyDefinition_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcPropertyDefinition"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPropertySet" substitutionGroup="ifc:AbstractIfcPropertySetDefinition" type="ifc:IfcPropertySet_Type"/>
  <complexType name="IfcPropertySet_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPropertySetDefinition_Type">
        <sequence>
          <element maxOccurs="unbounded" name="hasProperties" type="ifc:AbstractIfcProperty_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPropertySet_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPropertySet"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcPropertySetDefinition" substitutionGroup="ifc:AbstractIfcPropertyDefinition" type="ifc:AbstractIfcPropertySetDefinition_Type"/>
  <complexType abstract="true" name="AbstractIfcPropertySetDefinition_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPropertyDefinition_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcPropertySetDefinition_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcPropertySetDefinition"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPropertySetDefinitionSelect" type="ifc:IfcPropertySetDefinitionSelect_Type"/>
  <complexType name="IfcPropertySetDefinitionSelect_Type">
    <choice>
      <element name="propertySetDefinition" type="ifc:AbstractIfcPropertySetDefinition_PropertyType"/>
      <element name="propertySetDefinitionSet" type="ifc:IfcPropertySetDefinitionSet_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcPropertySetDefinitionSelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPropertySetDefinitionSelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPropertySetDefinitionSet" substitutionGroup="gco:AbstractObject" type="ifc:IfcPropertySetDefinitionSet_Type"/>
  <complexType name="IfcPropertySetDefinitionSet_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element maxOccurs="unbounded" name="setElement" type="ifc:AbstractIfcPropertySetDefinition_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPropertySetDefinitionSet_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPropertySetDefinitionSet"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPropertySetTemplate" substitutionGroup="ifc:AbstractIfcPropertyTemplateDefinition" type="ifc:IfcPropertySetTemplate_Type"/>
  <complexType name="IfcPropertySetTemplate_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPropertyTemplateDefinition_Type">
        <sequence>
          <element minOccurs="0" name="templateType" type="ifc:IfcPropertySetTemplateTypeEnum_PropertyType"/>
          <element minOccurs="0" name="applicableEntity" type="string"/>
          <element maxOccurs="unbounded" name="hasPropertyTemplates" type="ifc:AbstractIfcPropertyTemplate_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPropertySetTemplate_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPropertySetTemplate"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPropertySetTemplateTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcPropertySetTemplateTypeEnum_Type"/>
  <simpleType name="IfcPropertySetTemplateTypeEnum_Type">
    <restriction base="string">
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PSET_OCCURRENCEDRIVEN"/>
      <enumeration value="PSET_PERFORMANCEDRIVEN"/>
      <enumeration value="PSET_TYPEDRIVENONLY"/>
      <enumeration value="PSET_TYPEDRIVENOVERRIDE"/>
      <enumeration value="QTO_OCCURRENCEDRIVEN"/>
      <enumeration value="QTO_TYPEDRIVENONLY"/>
      <enumeration value="QTO_TYPEDRIVENOVERRIDE"/>
    </restriction>
  </simpleType>
  <complexType name="IfcPropertySetTemplateTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPropertySetTemplateTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcPropertyTemplate" substitutionGroup="ifc:AbstractIfcPropertyTemplateDefinition" type="ifc:AbstractIfcPropertyTemplate_Type"/>
  <complexType abstract="true" name="AbstractIfcPropertyTemplate_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPropertyTemplateDefinition_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcPropertyTemplate_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcPropertyTemplate"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcPropertyTemplateDefinition" substitutionGroup="ifc:AbstractIfcPropertyDefinition" type="ifc:AbstractIfcPropertyTemplateDefinition_Type"/>
  <complexType abstract="true" name="AbstractIfcPropertyTemplateDefinition_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPropertyDefinition_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcPropertyTemplateDefinition_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcPropertyTemplateDefinition"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcProxy" substitutionGroup="ifc:AbstractIfcProduct" type="ifc:IfcProxy_Type"/>
  <complexType name="IfcProxy_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcProduct_Type">
        <sequence>
          <element name="proxyType" type="ifc:IfcObjectTypeEnum_PropertyType"/>
          <element minOccurs="0" name="tag" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcProxy_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcProxy"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcQuantitySet" substitutionGroup="ifc:AbstractIfcPropertySetDefinition" type="ifc:AbstractIfcQuantitySet_Type"/>
  <complexType abstract="true" name="AbstractIfcQuantitySet_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPropertySetDefinition_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcQuantitySet_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcQuantitySet"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelAggregates" substitutionGroup="ifc:AbstractIfcRelDecomposes" type="ifc:IfcRelAggregates_Type"/>
  <complexType name="IfcRelAggregates_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelDecomposes_Type">
        <sequence>
          <element name="relatingObject" type="ifc:AbstractIfcObjectDefinition_PropertyType"/>
          <element maxOccurs="unbounded" name="relatedObjects" type="ifc:AbstractIfcObjectDefinition_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelAggregates_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelAggregates"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcRelAssigns" substitutionGroup="ifc:AbstractIfcRelationship" type="ifc:AbstractIfcRelAssigns_Type"/>
  <complexType abstract="true" name="AbstractIfcRelAssigns_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelationship_Type">
        <sequence>
          <element minOccurs="0" name="relatedObjectsType" type="ifc:IfcObjectTypeEnum_PropertyType"/>
          <element maxOccurs="unbounded" name="relatedObjects" type="ifc:AbstractIfcObjectDefinition_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcRelAssigns_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcRelAssigns"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelAssignsToActor" substitutionGroup="ifc:AbstractIfcRelAssigns" type="ifc:IfcRelAssignsToActor_Type"/>
  <complexType name="IfcRelAssignsToActor_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelAssigns_Type">
        <sequence>
          <element minOccurs="0" name="actingRole" type="ifc:IfcActorRole_PropertyType"/>
          <element name="relatingActor" type="ifc:IfcActor_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelAssignsToActor_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelAssignsToActor"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelAssignsToControl" substitutionGroup="ifc:AbstractIfcRelAssigns" type="ifc:IfcRelAssignsToControl_Type"/>
  <complexType name="IfcRelAssignsToControl_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelAssigns_Type">
        <sequence>
          <element name="relatingControl" type="ifc:AbstractIfcControl_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelAssignsToControl_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelAssignsToControl"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelAssignsToGroup" substitutionGroup="ifc:AbstractIfcRelAssigns" type="ifc:IfcRelAssignsToGroup_Type"/>
  <complexType name="IfcRelAssignsToGroup_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelAssigns_Type">
        <sequence>
          <element name="relatingGroup" type="ifc:IfcGroup_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelAssignsToGroup_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelAssignsToGroup"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelAssignsToGroupByFactor" substitutionGroup="ifc:IfcRelAssignsToGroup" type="ifc:IfcRelAssignsToGroupByFactor_Type"/>
  <complexType name="IfcRelAssignsToGroupByFactor_Type">
    <complexContent>
      <extension base="ifc:IfcRelAssignsToGroup_Type">
        <sequence>
          <element name="factor" type="gml:MeasureType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelAssignsToGroupByFactor_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelAssignsToGroupByFactor"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelAssignsToProcess" substitutionGroup="ifc:AbstractIfcRelAssigns" type="ifc:IfcRelAssignsToProcess_Type"/>
  <complexType name="IfcRelAssignsToProcess_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelAssigns_Type">
        <sequence>
          <element name="relatingProcess" type="ifc:IfcProcessSelect_PropertyType"/>
          <element minOccurs="0" name="quantityInProcess" type="gml:MeasureType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelAssignsToProcess_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelAssignsToProcess"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelAssignsToProduct" substitutionGroup="ifc:AbstractIfcRelAssigns" type="ifc:IfcRelAssignsToProduct_Type"/>
  <complexType name="IfcRelAssignsToProduct_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelAssigns_Type">
        <sequence>
          <element name="relatingProduct" type="ifc:IfcProductSelect_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelAssignsToProduct_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelAssignsToProduct"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelAssignsToResource" substitutionGroup="ifc:AbstractIfcRelAssigns" type="ifc:IfcRelAssignsToResource_Type"/>
  <complexType name="IfcRelAssignsToResource_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelAssigns_Type">
        <sequence>
          <element name="relatingResource" type="ifc:IfcResourceSelect_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelAssignsToResource_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelAssignsToResource"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcRelAssociates" substitutionGroup="ifc:AbstractIfcRelationship" type="ifc:AbstractIfcRelAssociates_Type"/>
  <complexType abstract="true" name="AbstractIfcRelAssociates_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelationship_Type">
        <sequence>
          <element maxOccurs="unbounded" name="relatedObjects" type="ifc:IfcDefinitionSelect_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcRelAssociates_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcRelAssociates"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelAssociatesClassification" substitutionGroup="ifc:AbstractIfcRelAssociates" type="ifc:IfcRelAssociatesClassification_Type"/>
  <complexType name="IfcRelAssociatesClassification_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelAssociates_Type">
        <sequence>
          <element name="relatingClassification" type="ifc:IfcClassificationSelect_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelAssociatesClassification_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelAssociatesClassification"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelAssociatesDocument" substitutionGroup="ifc:AbstractIfcRelAssociates" type="ifc:IfcRelAssociatesDocument_Type"/>
  <complexType name="IfcRelAssociatesDocument_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelAssociates_Type">
        <sequence>
          <element name="relatingDocument" type="ifc:IfcDocumentSelect_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelAssociatesDocument_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelAssociatesDocument"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelAssociatesLibrary" substitutionGroup="ifc:AbstractIfcRelAssociates" type="ifc:IfcRelAssociatesLibrary_Type"/>
  <complexType name="IfcRelAssociatesLibrary_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelAssociates_Type">
        <sequence>
          <element name="relatingLibrary" type="ifc:IfcLibrarySelect_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelAssociatesLibrary_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelAssociatesLibrary"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelAssociatesProfileDef" substitutionGroup="ifc:AbstractIfcRelAssociates" type="ifc:IfcRelAssociatesProfileDef_Type"/>
  <complexType name="IfcRelAssociatesProfileDef_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelAssociates_Type">
        <sequence>
          <element name="relatingProfile" type="ifc:IfcProfileDef_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelAssociatesProfileDef_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelAssociatesProfileDef"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcRelConnects" substitutionGroup="ifc:AbstractIfcRelationship" type="ifc:AbstractIfcRelConnects_Type"/>
  <complexType abstract="true" name="AbstractIfcRelConnects_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelationship_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcRelConnects_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcRelConnects"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelDeclares" substitutionGroup="ifc:AbstractIfcRelationship" type="ifc:IfcRelDeclares_Type"/>
  <complexType name="IfcRelDeclares_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelationship_Type">
        <sequence>
          <element maxOccurs="unbounded" name="relatedDefinitions" type="ifc:IfcDefinitionSelect_PropertyType"/>
          <element name="relatingContext" type="ifc:AbstractIfcContext_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelDeclares_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelDeclares"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcRelDecomposes" substitutionGroup="ifc:AbstractIfcRelationship" type="ifc:AbstractIfcRelDecomposes_Type"/>
  <complexType abstract="true" name="AbstractIfcRelDecomposes_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelationship_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcRelDecomposes_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcRelDecomposes"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcRelDefines" substitutionGroup="ifc:AbstractIfcRelationship" type="ifc:AbstractIfcRelDefines_Type"/>
  <complexType abstract="true" name="AbstractIfcRelDefines_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelationship_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcRelDefines_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcRelDefines"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelDefinesByObject" substitutionGroup="ifc:AbstractIfcRelDefines" type="ifc:IfcRelDefinesByObject_Type"/>
  <complexType name="IfcRelDefinesByObject_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelDefines_Type">
        <sequence>
          <element name="relatingObject" type="ifc:AbstractIfcObject_PropertyType"/>
          <element maxOccurs="unbounded" name="relatedObjects" type="ifc:AbstractIfcObject_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelDefinesByObject_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelDefinesByObject"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelDefinesByProperties" substitutionGroup="ifc:AbstractIfcRelDefines" type="ifc:IfcRelDefinesByProperties_Type"/>
  <complexType name="IfcRelDefinesByProperties_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelDefines_Type">
        <sequence>
          <element name="relatingPropertyDefinition" type="ifc:IfcPropertySetDefinitionSelect_PropertyType"/>
          <element maxOccurs="unbounded" name="relatedObjects" type="ifc:AbstractIfcObjectDefinition_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelDefinesByProperties_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelDefinesByProperties"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelDefinesByTemplate" substitutionGroup="ifc:AbstractIfcRelDefines" type="ifc:IfcRelDefinesByTemplate_Type"/>
  <complexType name="IfcRelDefinesByTemplate_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelDefines_Type">
        <sequence>
          <element maxOccurs="unbounded" name="relatedPropertySets" type="ifc:AbstractIfcPropertySetDefinition_PropertyType"/>
          <element name="relatingTemplate" type="ifc:IfcPropertySetTemplate_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelDefinesByTemplate_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelDefinesByTemplate"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelDefinesByType" substitutionGroup="ifc:AbstractIfcRelDefines" type="ifc:IfcRelDefinesByType_Type"/>
  <complexType name="IfcRelDefinesByType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelDefines_Type">
        <sequence>
          <element maxOccurs="unbounded" name="relatedObjects" type="ifc:AbstractIfcObject_PropertyType"/>
          <element name="relatingType" type="ifc:IfcTypeObject_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelDefinesByType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelDefinesByType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelNests" substitutionGroup="ifc:AbstractIfcRelDecomposes" type="ifc:IfcRelNests_Type"/>
  <complexType name="IfcRelNests_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelDecomposes_Type">
        <sequence>
          <element name="relatingObject" type="ifc:AbstractIfcObjectDefinition_PropertyType"/>
          <element maxOccurs="unbounded" name="relatedObjects" type="ifc:AbstractIfcObjectDefinition_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelNests_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelNests"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcRelationship" substitutionGroup="ifc:AbstractIfcRoot" type="ifc:AbstractIfcRelationship_Type"/>
  <complexType abstract="true" name="AbstractIfcRelationship_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRoot_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcRelationship_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcRelationship"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcResource" substitutionGroup="ifc:AbstractIfcObject" type="ifc:AbstractIfcResource_Type"/>
  <complexType abstract="true" name="AbstractIfcResource_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcObject_Type">
        <sequence>
          <element minOccurs="0" name="identification" type="string"/>
          <element minOccurs="0" name="longDescription" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcResource_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcResource"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcResourceSelect" type="ifc:IfcResourceSelect_Type"/>
  <complexType name="IfcResourceSelect_Type">
    <choice>
      <element name="resource" type="ifc:AbstractIfcResource_PropertyType"/>
      <element name="typeResource" type="ifc:AbstractIfcTypeResource_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcResourceSelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcResourceSelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcRoot" substitutionGroup="gco:AbstractObject" type="ifc:AbstractIfcRoot_Type"/>
  <complexType abstract="true" name="AbstractIfcRoot_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="globalId" type="ifc:IfcGloballyUniqueId_PropertyType"/>
          <element minOccurs="0" name="name" type="string"/>
          <element minOccurs="0" name="description" type="string"/>
          <element minOccurs="0" name="ownerHistory" type="ifc:IfcOwnerHistory_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcRoot_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcRoot"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSimplePropertyTemplate" substitutionGroup="ifc:AbstractIfcPropertyTemplate" type="ifc:IfcSimplePropertyTemplate_Type"/>
  <complexType name="IfcSimplePropertyTemplate_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPropertyTemplate_Type">
        <sequence>
          <element minOccurs="0" name="templateType" type="ifc:IfcSimplePropertyTemplateTypeEnum_PropertyType"/>
          <element minOccurs="0" name="primaryMeasureType" type="string"/>
          <element minOccurs="0" name="secondaryMeasureType" type="string"/>
          <element minOccurs="0" name="primaryUnit" type="ifc:IfcUnit_PropertyType"/>
          <element minOccurs="0" name="secondaryUnit" type="ifc:IfcUnit_PropertyType"/>
          <element minOccurs="0" name="expression" type="string"/>
          <element minOccurs="0" name="accessState" type="ifc:IfcStateEnum_PropertyType"/>
          <element minOccurs="0" name="enumerators" type="ifc:IfcPropertyEnumeration_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSimplePropertyTemplate_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSimplePropertyTemplate"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSimplePropertyTemplateTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcSimplePropertyTemplateTypeEnum_Type"/>
  <simpleType name="IfcSimplePropertyTemplateTypeEnum_Type">
    <restriction base="string">
      <enumeration value="P_BOUNDEDVALUE"/>
      <enumeration value="P_ENUMERATEDVALUE"/>
      <enumeration value="P_LISTVALUE"/>
      <enumeration value="P_REFERENCEVALUE"/>
      <enumeration value="P_SINGLEVALUE"/>
      <enumeration value="P_TABLEVALUE"/>
      <enumeration value="Q_AREA"/>
      <enumeration value="Q_COUNT"/>
      <enumeration value="Q_LENGTH"/>
      <enumeration value="Q_TIME"/>
      <enumeration value="Q_VOLUME"/>
      <enumeration value="Q_WEIGHT"/>
    </restriction>
  </simpleType>
  <complexType name="IfcSimplePropertyTemplateTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSimplePropertyTemplateTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTypeObject" substitutionGroup="ifc:AbstractIfcObjectDefinition" type="ifc:IfcTypeObject_Type"/>
  <complexType name="IfcTypeObject_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcObjectDefinition_Type">
        <sequence>
          <element minOccurs="0" name="applicableOccurrence" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hasPropertySets" type="ifc:AbstractIfcPropertySetDefinition_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTypeObject_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTypeObject"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcTypeProcess" substitutionGroup="ifc:IfcTypeObject" type="ifc:AbstractIfcTypeProcess_Type"/>
  <complexType abstract="true" name="AbstractIfcTypeProcess_Type">
    <complexContent>
      <extension base="ifc:IfcTypeObject_Type">
        <sequence>
          <element minOccurs="0" name="identification" type="string"/>
          <element minOccurs="0" name="longDescription" type="string"/>
          <element minOccurs="0" name="processType" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcTypeProcess_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcTypeProcess"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTypeProduct" substitutionGroup="ifc:IfcTypeObject" type="ifc:IfcTypeProduct_Type"/>
  <complexType name="IfcTypeProduct_Type">
    <complexContent>
      <extension base="ifc:IfcTypeObject_Type">
        <sequence>
          <element minOccurs="0" name="tag" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="representationMaps" type="ifc:IfcRepresentationMap_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTypeProduct_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTypeProduct"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcTypeResource" substitutionGroup="ifc:IfcTypeObject" type="ifc:AbstractIfcTypeResource_Type"/>
  <complexType abstract="true" name="AbstractIfcTypeResource_Type">
    <complexContent>
      <extension base="ifc:IfcTypeObject_Type">
        <sequence>
          <element minOccurs="0" name="identification" type="string"/>
          <element minOccurs="0" name="longDescription" type="string"/>
          <element minOccurs="0" name="resourceType" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcTypeResource_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcTypeResource"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
