XSD/IfcMeasureResource.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:ifc="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" version="4.3">
  <include schemaLocation="IfcDateTimeResource.xsd"/>
  <include schemaLocation="IfcExternalReferenceResource.xsd"/>
  <include schemaLocation="IfcResourceLayer.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="IfcAbsorbedDoseMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcAbsorbedDoseMeasure_Type"/>
  <complexType name="IfcAbsorbedDoseMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcAbsorbedDoseMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAbsorbedDoseMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcAccelerationMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcAccelerationMeasure_Type"/>
  <complexType name="IfcAccelerationMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcAccelerationMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAccelerationMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcAmountOfSubstanceMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcAmountOfSubstanceMeasure_Type"/>
  <complexType name="IfcAmountOfSubstanceMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcAmountOfSubstanceMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAmountOfSubstanceMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcAngularVelocityMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcAngularVelocityMeasure_Type"/>
  <complexType name="IfcAngularVelocityMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcAngularVelocityMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAngularVelocityMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcAreaDensityMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcAreaDensityMeasure_Type"/>
  <complexType name="IfcAreaDensityMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcAreaDensityMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAreaDensityMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcAreaMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcAreaMeasure_Type"/>
  <complexType name="IfcAreaMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcAreaMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAreaMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcBinary" substitutionGroup="gco:AbstractObject" type="ifc:IfcBinary_Type"/>
  <complexType name="IfcBinary_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcBinary_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBinary"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcBoolean" substitutionGroup="gco:AbstractObject" type="ifc:IfcBoolean_Type"/>
  <complexType name="IfcBoolean_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcBoolean_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBoolean"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcComplexNumber" substitutionGroup="gco:AbstractObject" type="ifc:IfcComplexNumber_Type"/>
  <complexType name="IfcComplexNumber_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element maxOccurs="2" minOccurs="2" name="component" type="double"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcComplexNumber_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcComplexNumber"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCompoundPlaneAngleMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcCompoundPlaneAngleMeasure_Type"/>
  <complexType name="IfcCompoundPlaneAngleMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element maxOccurs="4" minOccurs="3" name="component" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCompoundPlaneAngleMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCompoundPlaneAngleMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcContextDependentMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcContextDependentMeasure_Type"/>
  <complexType name="IfcContextDependentMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcContextDependentMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcContextDependentMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcContextDependentUnit" substitutionGroup="ifc:AbstractIfcNamedUnit" type="ifc:IfcContextDependentUnit_Type"/>
  <complexType name="IfcContextDependentUnit_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcNamedUnit_Type">
        <sequence>
          <element name="name" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcContextDependentUnit_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcContextDependentUnit"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcConversionBasedUnit" substitutionGroup="ifc:AbstractIfcNamedUnit" type="ifc:IfcConversionBasedUnit_Type"/>
  <complexType name="IfcConversionBasedUnit_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcNamedUnit_Type">
        <sequence>
          <element name="name" type="string"/>
          <element name="conversionFactor" type="gml:MeasureType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcConversionBasedUnit_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcConversionBasedUnit"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcConversionBasedUnitWithOffset" substitutionGroup="ifc:IfcConversionBasedUnit" type="ifc:IfcConversionBasedUnitWithOffset_Type"/>
  <complexType name="IfcConversionBasedUnitWithOffset_Type">
    <complexContent>
      <extension base="ifc:IfcConversionBasedUnit_Type">
        <sequence>
          <element name="conversionOffset" type="double"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcConversionBasedUnitWithOffset_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcConversionBasedUnitWithOffset"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCountMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcCountMeasure_Type"/>
  <complexType name="IfcCountMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCountMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCountMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCurvatureMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcCurvatureMeasure_Type"/>
  <complexType name="IfcCurvatureMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCurvatureMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCurvatureMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDerivedMeasureValue" type="ifc:IfcDerivedMeasureValue_Type"/>
  <complexType name="IfcDerivedMeasureValue_Type">
    <choice>
      <element name="absorbedDoseMeasure" type="ifc:IfcAbsorbedDoseMeasure_PropertyType"/>
      <element name="accelerationMeasure" type="ifc:IfcAccelerationMeasure_PropertyType"/>
      <element name="angularVelocityMeasure" type="ifc:IfcAngularVelocityMeasure_PropertyType"/>
      <element name="areaDensityMeasure" type="ifc:IfcAreaDensityMeasure_PropertyType"/>
      <element name="compoundPlaneAngleMeasure" type="ifc:IfcCompoundPlaneAngleMeasure_PropertyType"/>
      <element name="curvatureMeasure" type="ifc:IfcCurvatureMeasure_PropertyType"/>
      <element name="doseEquivalentMeasure" type="ifc:IfcDoseEquivalentMeasure_PropertyType"/>
      <element name="dynamicViscosityMeasure" type="ifc:IfcDynamicViscosityMeasure_PropertyType"/>
      <element name="electricCapacitanceMeasure" type="ifc:IfcElectricCapacitanceMeasure_PropertyType"/>
      <element name="electricChargeMeasure" type="ifc:IfcElectricChargeMeasure_PropertyType"/>
      <element name="electricConductanceMeasure" type="ifc:IfcElectricConductanceMeasure_PropertyType"/>
      <element name="electricResistanceMeasure" type="ifc:IfcElectricResistanceMeasure_PropertyType"/>
      <element name="electricVoltageMeasure" type="ifc:IfcElectricVoltageMeasure_PropertyType"/>
      <element name="energyMeasure" type="ifc:IfcEnergyMeasure_PropertyType"/>
      <element name="forceMeasure" type="ifc:IfcForceMeasure_PropertyType"/>
      <element name="frequencyMeasure" type="ifc:IfcFrequencyMeasure_PropertyType"/>
      <element name="heatFluxDensityMeasure" type="ifc:IfcHeatFluxDensityMeasure_PropertyType"/>
      <element name="heatingValueMeasure" type="ifc:IfcHeatingValueMeasure_PropertyType"/>
      <element name="illuminanceMeasure" type="ifc:IfcIlluminanceMeasure_PropertyType"/>
      <element name="inductanceMeasure" type="ifc:IfcInductanceMeasure_PropertyType"/>
      <element name="integerCountRateMeasure" type="ifc:IfcIntegerCountRateMeasure_PropertyType"/>
      <element name="ionConcentrationMeasure" type="ifc:IfcIonConcentrationMeasure_PropertyType"/>
      <element name="isothermalMoistureCapacityMeasure" type="ifc:IfcIsothermalMoistureCapacityMeasure_PropertyType"/>
      <element name="kinematicViscosityMeasure" type="ifc:IfcKinematicViscosityMeasure_PropertyType"/>
      <element name="linearForceMeasure" type="ifc:IfcLinearForceMeasure_PropertyType"/>
      <element name="linearMomentMeasure" type="ifc:IfcLinearMomentMeasure_PropertyType"/>
      <element name="linearStiffnessMeasure" type="ifc:IfcLinearStiffnessMeasure_PropertyType"/>
      <element name="linearVelocityMeasure" type="ifc:IfcLinearVelocityMeasure_PropertyType"/>
      <element name="luminousFluxMeasure" type="ifc:IfcLuminousFluxMeasure_PropertyType"/>
      <element name="luminousIntensityDistributionMeasure" type="ifc:IfcLuminousIntensityDistributionMeasure_PropertyType"/>
      <element name="magneticFluxDensityMeasure" type="ifc:IfcMagneticFluxDensityMeasure_PropertyType"/>
      <element name="magneticFluxMeasure" type="ifc:IfcMagneticFluxMeasure_PropertyType"/>
      <element name="massDensityMeasure" type="ifc:IfcMassDensityMeasure_PropertyType"/>
      <element name="massFlowRateMeasure" type="ifc:IfcMassFlowRateMeasure_PropertyType"/>
      <element name="massPerLengthMeasure" type="ifc:IfcMassPerLengthMeasure_PropertyType"/>
      <element name="modulusOfElasticityMeasure" type="ifc:IfcModulusOfElasticityMeasure_PropertyType"/>
      <element name="modulusOfLinearSubgradeReactionMeasure" type="ifc:IfcModulusOfLinearSubgradeReactionMeasure_PropertyType"/>
      <element name="modulusOfRotationalSubgradeReactionMeasure" type="ifc:IfcModulusOfRotationalSubgradeReactionMeasure_PropertyType"/>
      <element name="modulusOfSubgradeReactionMeasure" type="ifc:IfcModulusOfSubgradeReactionMeasure_PropertyType"/>
      <element name="moistureDiffusivityMeasure" type="ifc:IfcMoistureDiffusivityMeasure_PropertyType"/>
      <element name="molecularWeightMeasure" type="ifc:IfcMolecularWeightMeasure_PropertyType"/>
      <element name="momentOfInertiaMeasure" type="ifc:IfcMomentOfInertiaMeasure_PropertyType"/>
      <element name="monetaryMeasure" type="ifc:IfcMonetaryMeasure_PropertyType"/>
      <element name="pHMeasure" type="ifc:IfcPHMeasure_PropertyType"/>
      <element name="planarForceMeasure" type="ifc:IfcPlanarForceMeasure_PropertyType"/>
      <element name="powerMeasure" type="ifc:IfcPowerMeasure_PropertyType"/>
      <element name="pressureMeasure" type="ifc:IfcPressureMeasure_PropertyType"/>
      <element name="radioActivityMeasure" type="ifc:IfcRadioActivityMeasure_PropertyType"/>
      <element name="rotationalFrequencyMeasure" type="ifc:IfcRotationalFrequencyMeasure_PropertyType"/>
      <element name="rotationalMassMeasure" type="ifc:IfcRotationalMassMeasure_PropertyType"/>
      <element name="rotationalStiffnessMeasure" type="ifc:IfcRotationalStiffnessMeasure_PropertyType"/>
      <element name="sectionalAreaIntegralMeasure" type="ifc:IfcSectionalAreaIntegralMeasure_PropertyType"/>
      <element name="sectionModulusMeasure" type="ifc:IfcSectionModulusMeasure_PropertyType"/>
      <element name="shearModulusMeasure" type="ifc:IfcShearModulusMeasure_PropertyType"/>
      <element name="soundPowerLevelMeasure" type="ifc:IfcSoundPowerLevelMeasure_PropertyType"/>
      <element name="soundPowerMeasure" type="ifc:IfcSoundPowerMeasure_PropertyType"/>
      <element name="soundPressureLevelMeasure" type="ifc:IfcSoundPressureLevelMeasure_PropertyType"/>
      <element name="soundPressureMeasure" type="ifc:IfcSoundPressureMeasure_PropertyType"/>
      <element name="specificHeatCapacityMeasure" type="ifc:IfcSpecificHeatCapacityMeasure_PropertyType"/>
      <element name="temperatureGradientMeasure" type="ifc:IfcTemperatureGradientMeasure_PropertyType"/>
      <element name="temperatureRateOfChangeMeasure" type="ifc:IfcTemperatureRateOfChangeMeasure_PropertyType"/>
      <element name="thermalAdmittanceMeasure" type="ifc:IfcThermalAdmittanceMeasure_PropertyType"/>
      <element name="thermalConductivityMeasure" type="ifc:IfcThermalConductivityMeasure_PropertyType"/>
      <element name="thermalExpansionCoefficientMeasure" type="ifc:IfcThermalExpansionCoefficientMeasure_PropertyType"/>
      <element name="thermalResistanceMeasure" type="ifc:IfcThermalResistanceMeasure_PropertyType"/>
      <element name="thermalTransmittanceMeasure" type="ifc:IfcThermalTransmittanceMeasure_PropertyType"/>
      <element name="torqueMeasure" type="ifc:IfcTorqueMeasure_PropertyType"/>
      <element name="vaporPermeabilityMeasure" type="ifc:IfcVaporPermeabilityMeasure_PropertyType"/>
      <element name="volumetricFlowRateMeasure" type="ifc:IfcVolumetricFlowRateMeasure_PropertyType"/>
      <element name="warpingConstantMeasure" type="ifc:IfcWarpingConstantMeasure_PropertyType"/>
      <element name="warpingMomentMeasure" type="ifc:IfcWarpingMomentMeasure_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcDerivedMeasureValue_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDerivedMeasureValue"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDerivedUnit" substitutionGroup="gco:AbstractObject" type="ifc:IfcDerivedUnit_Type"/>
  <complexType name="IfcDerivedUnit_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="unitType" type="ifc:IfcDerivedUnitEnum_PropertyType"/>
          <element minOccurs="0" name="userDefinedType" type="string"/>
          <element maxOccurs="unbounded" name="elements" type="ifc:IfcDerivedUnitElement_PropertyType"/>
          <element name="dimensions" type="ifc:IfcDimensionalExponents_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDerivedUnit_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDerivedUnit"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDerivedUnitElement" substitutionGroup="gco:AbstractObject" type="ifc:IfcDerivedUnitElement_Type"/>
  <complexType name="IfcDerivedUnitElement_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="exponent" type="integer"/>
          <element name="unit" type="ifc:AbstractIfcNamedUnit_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDerivedUnitElement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDerivedUnitElement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDerivedUnitEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcDerivedUnitEnum_Type"/>
  <simpleType name="IfcDerivedUnitEnum_Type">
    <restriction base="string">
      <enumeration value="ACCELERATIONUNIT"/>
      <enumeration value="ANGULARVELOCITYUNIT"/>
      <enumeration value="AREADENSITYUNIT"/>
      <enumeration value="COMPOUNDPLANEANGLEUNIT"/>
      <enumeration value="CURVATUREUNIT"/>
      <enumeration value="DYNAMICVISCOSITYUNIT"/>
      <enumeration value="HEATFLUXDENSITYUNIT"/>
      <enumeration value="HEATINGVALUEUNIT"/>
      <enumeration value="INTEGERCOUNTRATEUNIT"/>
      <enumeration value="IONCONCENTRATIONUNIT"/>
      <enumeration value="ISOTHERMALMOISTURECAPACITYUNIT"/>
      <enumeration value="KINEMATICVISCOSITYUNIT"/>
      <enumeration value="LINEARFORCEUNIT"/>
      <enumeration value="LINEARMOMENTUNIT"/>
      <enumeration value="LINEARSTIFFNESSUNIT"/>
      <enumeration value="LINEARVELOCITYUNIT"/>
      <enumeration value="LUMINOUSINTENSITYDISTRIBUTIONUNIT"/>
      <enumeration value="MASSDENSITYUNIT"/>
      <enumeration value="MASSFLOWRATEUNIT"/>
      <enumeration value="MASSPERLENGTHUNIT"/>
      <enumeration value="MODULUSOFELASTICITYUNIT"/>
      <enumeration value="MODULUSOFLINEARSUBGRADEREACTIONUNIT"/>
      <enumeration value="MODULUSOFROTATIONALSUBGRADEREACTIONUNIT"/>
      <enumeration value="MODULUSOFSUBGRADEREACTIONUNIT"/>
      <enumeration value="MOISTUREDIFFUSIVITYUNIT"/>
      <enumeration value="MOLECULARWEIGHTUNIT"/>
      <enumeration value="MOMENTOFINERTIAUNIT"/>
      <enumeration value="PHUNIT"/>
      <enumeration value="PLANARFORCEUNIT"/>
      <enumeration value="ROTATIONALFREQUENCYUNIT"/>
      <enumeration value="ROTATIONALMASSUNIT"/>
      <enumeration value="ROTATIONALSTIFFNESSUNIT"/>
      <enumeration value="SECTIONAREAINTEGRALUNIT"/>
      <enumeration value="SECTIONMODULUSUNIT"/>
      <enumeration value="SHEARMODULUSUNIT"/>
      <enumeration value="SOUNDPOWERLEVELUNIT"/>
      <enumeration value="SOUNDPOWERUNIT"/>
      <enumeration value="SOUNDPRESSURELEVELUNIT"/>
      <enumeration value="SOUNDPRESSUREUNIT"/>
      <enumeration value="SPECIFICHEATCAPACITYUNIT"/>
      <enumeration value="TEMPERATUREGRADIENTUNIT"/>
      <enumeration value="TEMPERATURERATEOFCHANGEUNIT"/>
      <enumeration value="THERMALADMITTANCEUNIT"/>
      <enumeration value="THERMALCONDUCTANCEUNIT"/>
      <enumeration value="THERMALEXPANSIONCOEFFICIENTUNIT"/>
      <enumeration value="THERMALRESISTANCEUNIT"/>
      <enumeration value="THERMALTRANSMITTANCEUNIT"/>
      <enumeration value="TORQUEUNIT"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="VAPORPERMEABILITYUNIT"/>
      <enumeration value="VOLUMETRICFLOWRATEUNIT"/>
      <enumeration value="WARPINGCONSTANTUNIT"/>
      <enumeration value="WARPINGMOMENTUNIT"/>
    </restriction>
  </simpleType>
  <complexType name="IfcDerivedUnitEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDerivedUnitEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDescriptiveMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcDescriptiveMeasure_Type"/>
  <complexType name="IfcDescriptiveMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDescriptiveMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDescriptiveMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDimensionalExponents" substitutionGroup="gco:AbstractObject" type="ifc:IfcDimensionalExponents_Type"/>
  <complexType name="IfcDimensionalExponents_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="lengthExponent" type="integer"/>
          <element name="massExponent" type="integer"/>
          <element name="timeExponent" type="integer"/>
          <element name="electricCurrentExponent" type="integer"/>
          <element name="thermodynamicTemperatureExponent" type="integer"/>
          <element name="amountOfSubstanceExponent" type="integer"/>
          <element name="luminousIntensityExponent" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDimensionalExponents_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDimensionalExponents"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDoseEquivalentMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcDoseEquivalentMeasure_Type"/>
  <complexType name="IfcDoseEquivalentMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDoseEquivalentMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDoseEquivalentMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDynamicViscosityMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcDynamicViscosityMeasure_Type"/>
  <complexType name="IfcDynamicViscosityMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDynamicViscosityMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDynamicViscosityMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcElectricCapacitanceMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcElectricCapacitanceMeasure_Type"/>
  <complexType name="IfcElectricCapacitanceMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcElectricCapacitanceMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcElectricCapacitanceMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcElectricChargeMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcElectricChargeMeasure_Type"/>
  <complexType name="IfcElectricChargeMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcElectricChargeMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcElectricChargeMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcElectricConductanceMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcElectricConductanceMeasure_Type"/>
  <complexType name="IfcElectricConductanceMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcElectricConductanceMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcElectricConductanceMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcElectricCurrentMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcElectricCurrentMeasure_Type"/>
  <complexType name="IfcElectricCurrentMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcElectricCurrentMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcElectricCurrentMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcElectricResistanceMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcElectricResistanceMeasure_Type"/>
  <complexType name="IfcElectricResistanceMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcElectricResistanceMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcElectricResistanceMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcElectricVoltageMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcElectricVoltageMeasure_Type"/>
  <complexType name="IfcElectricVoltageMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcElectricVoltageMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcElectricVoltageMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcEnergyMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcEnergyMeasure_Type"/>
  <complexType name="IfcEnergyMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcEnergyMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcEnergyMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcForceMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcForceMeasure_Type"/>
  <complexType name="IfcForceMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcForceMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcForceMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFrequencyMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcFrequencyMeasure_Type"/>
  <complexType name="IfcFrequencyMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcFrequencyMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFrequencyMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcHeatFluxDensityMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcHeatFluxDensityMeasure_Type"/>
  <complexType name="IfcHeatFluxDensityMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcHeatFluxDensityMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcHeatFluxDensityMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcHeatingValueMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcHeatingValueMeasure_Type"/>
  <complexType name="IfcHeatingValueMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcHeatingValueMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcHeatingValueMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcIdentifier" substitutionGroup="gco:AbstractObject" type="ifc:IfcIdentifier_Type"/>
  <complexType name="IfcIdentifier_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcIdentifier_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcIdentifier"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcIlluminanceMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcIlluminanceMeasure_Type"/>
  <complexType name="IfcIlluminanceMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcIlluminanceMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcIlluminanceMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcInductanceMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcInductanceMeasure_Type"/>
  <complexType name="IfcInductanceMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcInductanceMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcInductanceMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcInteger" substitutionGroup="gco:AbstractObject" type="ifc:IfcInteger_Type"/>
  <complexType name="IfcInteger_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcInteger_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcInteger"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcIntegerCountRateMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcIntegerCountRateMeasure_Type"/>
  <complexType name="IfcIntegerCountRateMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcIntegerCountRateMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcIntegerCountRateMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcIonConcentrationMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcIonConcentrationMeasure_Type"/>
  <complexType name="IfcIonConcentrationMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcIonConcentrationMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcIonConcentrationMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcIsothermalMoistureCapacityMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcIsothermalMoistureCapacityMeasure_Type"/>
  <complexType name="IfcIsothermalMoistureCapacityMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcIsothermalMoistureCapacityMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcIsothermalMoistureCapacityMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcKinematicViscosityMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcKinematicViscosityMeasure_Type"/>
  <complexType name="IfcKinematicViscosityMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcKinematicViscosityMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcKinematicViscosityMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLabel" substitutionGroup="gco:AbstractObject" type="ifc:IfcLabel_Type"/>
  <complexType name="IfcLabel_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLabel_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLabel"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLengthMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcLengthMeasure_Type"/>
  <complexType name="IfcLengthMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLengthMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLengthMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLinearForceMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcLinearForceMeasure_Type"/>
  <complexType name="IfcLinearForceMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLinearForceMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLinearForceMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLinearMomentMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcLinearMomentMeasure_Type"/>
  <complexType name="IfcLinearMomentMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLinearMomentMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLinearMomentMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLinearStiffnessMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcLinearStiffnessMeasure_Type"/>
  <complexType name="IfcLinearStiffnessMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLinearStiffnessMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLinearStiffnessMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLinearVelocityMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcLinearVelocityMeasure_Type"/>
  <complexType name="IfcLinearVelocityMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLinearVelocityMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLinearVelocityMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLogical" substitutionGroup="gco:AbstractObject" type="ifc:IfcLogical_Type"/>
  <complexType name="IfcLogical_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLogical_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLogical"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLuminousFluxMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcLuminousFluxMeasure_Type"/>
  <complexType name="IfcLuminousFluxMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLuminousFluxMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLuminousFluxMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLuminousIntensityDistributionMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcLuminousIntensityDistributionMeasure_Type"/>
  <complexType name="IfcLuminousIntensityDistributionMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLuminousIntensityDistributionMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLuminousIntensityDistributionMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLuminousIntensityMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcLuminousIntensityMeasure_Type"/>
  <complexType name="IfcLuminousIntensityMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLuminousIntensityMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLuminousIntensityMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMagneticFluxDensityMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcMagneticFluxDensityMeasure_Type"/>
  <complexType name="IfcMagneticFluxDensityMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMagneticFluxDensityMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMagneticFluxDensityMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMagneticFluxMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcMagneticFluxMeasure_Type"/>
  <complexType name="IfcMagneticFluxMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMagneticFluxMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMagneticFluxMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMassDensityMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcMassDensityMeasure_Type"/>
  <complexType name="IfcMassDensityMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMassDensityMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMassDensityMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMassFlowRateMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcMassFlowRateMeasure_Type"/>
  <complexType name="IfcMassFlowRateMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMassFlowRateMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMassFlowRateMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMassMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcMassMeasure_Type"/>
  <complexType name="IfcMassMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMassMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMassMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMassPerLengthMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcMassPerLengthMeasure_Type"/>
  <complexType name="IfcMassPerLengthMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMassPerLengthMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMassPerLengthMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcMeasureResourceFunction" substitutionGroup="gco:AbstractObject" type="ifc:AbstractIfcMeasureResourceFunction_Type"/>
  <complexType abstract="true" name="AbstractIfcMeasureResourceFunction_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcMeasureResourceFunction_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcMeasureResourceFunction"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcMeasureResourceFunctions" substitutionGroup="gco:AbstractObject" type="ifc:AbstractIfcMeasureResourceFunctions_Type"/>
  <complexType abstract="true" name="AbstractIfcMeasureResourceFunctions_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcMeasureResourceFunctions_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcMeasureResourceFunctions"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMeasureValue" type="ifc:IfcMeasureValue_Type"/>
  <complexType name="IfcMeasureValue_Type">
    <choice>
      <element name="amountOfSubstanceMeasure" type="ifc:IfcAmountOfSubstanceMeasure_PropertyType"/>
      <element name="areaMeasure" type="ifc:IfcAreaMeasure_PropertyType"/>
      <element name="complexNumber" type="ifc:IfcComplexNumber_PropertyType"/>
      <element name="contextDependentMeasure" type="ifc:IfcContextDependentMeasure_PropertyType"/>
      <element name="countMeasure" type="ifc:IfcCountMeasure_PropertyType"/>
      <element name="descriptiveMeasure" type="ifc:IfcDescriptiveMeasure_PropertyType"/>
      <element name="electricCurrentMeasure" type="ifc:IfcElectricCurrentMeasure_PropertyType"/>
      <element name="lengthMeasure" type="ifc:IfcLengthMeasure_PropertyType"/>
      <element name="luminousIntensityMeasure" type="ifc:IfcLuminousIntensityMeasure_PropertyType"/>
      <element name="massMeasure" type="ifc:IfcMassMeasure_PropertyType"/>
      <element name="nonNegativeLengthMeasure" type="ifc:IfcNonNegativeLengthMeasure_PropertyType"/>
      <element name="normalisedRatioMeasure" type="ifc:IfcNormalisedRatioMeasure_PropertyType"/>
      <element name="numericMeasure" type="ifc:IfcNumericMeasure_PropertyType"/>
      <element name="parameterValue" type="ifc:IfcParameterValue_PropertyType"/>
      <element name="planeAngleMeasure" type="ifc:IfcPlaneAngleMeasure_PropertyType"/>
      <element name="positiveLengthMeasure" type="ifc:IfcPositiveLengthMeasure_PropertyType"/>
      <element name="positivePlaneAngleMeasure" type="ifc:IfcPositivePlaneAngleMeasure_PropertyType"/>
      <element name="positiveRatioMeasure" type="ifc:IfcPositiveRatioMeasure_PropertyType"/>
      <element name="ratioMeasure" type="ifc:IfcRatioMeasure_PropertyType"/>
      <element name="solidAngleMeasure" type="ifc:IfcSolidAngleMeasure_PropertyType"/>
      <element name="thermodynamicTemperatureMeasure" type="ifc:IfcThermodynamicTemperatureMeasure_PropertyType"/>
      <element name="timeMeasure" type="ifc:IfcTimeMeasure_PropertyType"/>
      <element name="volumeMeasure" type="ifc:IfcVolumeMeasure_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcMeasureValue_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMeasureValue"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMeasureWithUnit" substitutionGroup="gco:AbstractObject" type="ifc:IfcMeasureWithUnit_Type"/>
  <complexType name="IfcMeasureWithUnit_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="valueComponent" type="ifc:IfcValue_PropertyType"/>
          <element name="unitComponent" type="ifc:IfcUnit_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMeasureWithUnit_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMeasureWithUnit"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcModulusOfElasticityMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcModulusOfElasticityMeasure_Type"/>
  <complexType name="IfcModulusOfElasticityMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcModulusOfElasticityMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcModulusOfElasticityMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcModulusOfLinearSubgradeReactionMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcModulusOfLinearSubgradeReactionMeasure_Type"/>
  <complexType name="IfcModulusOfLinearSubgradeReactionMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcModulusOfLinearSubgradeReactionMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcModulusOfLinearSubgradeReactionMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcModulusOfRotationalSubgradeReactionMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcModulusOfRotationalSubgradeReactionMeasure_Type"/>
  <complexType name="IfcModulusOfRotationalSubgradeReactionMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcModulusOfRotationalSubgradeReactionMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcModulusOfRotationalSubgradeReactionMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcModulusOfSubgradeReactionMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcModulusOfSubgradeReactionMeasure_Type"/>
  <complexType name="IfcModulusOfSubgradeReactionMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcModulusOfSubgradeReactionMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcModulusOfSubgradeReactionMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMoistureDiffusivityMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcMoistureDiffusivityMeasure_Type"/>
  <complexType name="IfcMoistureDiffusivityMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMoistureDiffusivityMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMoistureDiffusivityMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMolecularWeightMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcMolecularWeightMeasure_Type"/>
  <complexType name="IfcMolecularWeightMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMolecularWeightMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMolecularWeightMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMomentOfInertiaMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcMomentOfInertiaMeasure_Type"/>
  <complexType name="IfcMomentOfInertiaMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMomentOfInertiaMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMomentOfInertiaMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMonetaryMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcMonetaryMeasure_Type"/>
  <complexType name="IfcMonetaryMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMonetaryMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMonetaryMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMonetaryUnit" substitutionGroup="gco:AbstractObject" type="ifc:IfcMonetaryUnit_Type"/>
  <complexType name="IfcMonetaryUnit_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="currency" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMonetaryUnit_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMonetaryUnit"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcNamedUnit" substitutionGroup="gco:AbstractObject" type="ifc:AbstractIfcNamedUnit_Type"/>
  <complexType abstract="true" name="AbstractIfcNamedUnit_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="unitType" type="ifc:IfcUnitEnum_PropertyType"/>
          <element name="dimensions" type="ifc:IfcDimensionalExponents_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcNamedUnit_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcNamedUnit"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcNonNegativeLengthMeasure" substitutionGroup="ifc:IfcLengthMeasure" type="ifc:IfcNonNegativeLengthMeasure_Type"/>
  <complexType name="IfcNonNegativeLengthMeasure_Type">
    <complexContent>
      <extension base="ifc:IfcLengthMeasure_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcNonNegativeLengthMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcNonNegativeLengthMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcNormalisedRatioMeasure" substitutionGroup="ifc:IfcRatioMeasure" type="ifc:IfcNormalisedRatioMeasure_Type"/>
  <complexType name="IfcNormalisedRatioMeasure_Type">
    <complexContent>
      <extension base="ifc:IfcRatioMeasure_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcNormalisedRatioMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcNormalisedRatioMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcNumericMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcNumericMeasure_Type"/>
  <complexType name="IfcNumericMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcNumericMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcNumericMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPHMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcPHMeasure_Type"/>
  <complexType name="IfcPHMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPHMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPHMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcParameterValue" substitutionGroup="gco:AbstractObject" type="ifc:IfcParameterValue_Type"/>
  <complexType name="IfcParameterValue_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcParameterValue_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcParameterValue"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPlanarForceMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcPlanarForceMeasure_Type"/>
  <complexType name="IfcPlanarForceMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPlanarForceMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPlanarForceMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPlaneAngleMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcPlaneAngleMeasure_Type"/>
  <complexType name="IfcPlaneAngleMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPlaneAngleMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPlaneAngleMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPositiveInteger" substitutionGroup="ifc:IfcInteger" type="ifc:IfcPositiveInteger_Type"/>
  <complexType name="IfcPositiveInteger_Type">
    <complexContent>
      <extension base="ifc:IfcInteger_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPositiveInteger_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPositiveInteger"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPositiveLengthMeasure" substitutionGroup="ifc:IfcLengthMeasure" type="ifc:IfcPositiveLengthMeasure_Type"/>
  <complexType name="IfcPositiveLengthMeasure_Type">
    <complexContent>
      <extension base="ifc:IfcLengthMeasure_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPositiveLengthMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPositiveLengthMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPositivePlaneAngleMeasure" substitutionGroup="ifc:IfcPlaneAngleMeasure" type="ifc:IfcPositivePlaneAngleMeasure_Type"/>
  <complexType name="IfcPositivePlaneAngleMeasure_Type">
    <complexContent>
      <extension base="ifc:IfcPlaneAngleMeasure_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPositivePlaneAngleMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPositivePlaneAngleMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPositiveRatioMeasure" substitutionGroup="ifc:IfcRatioMeasure" type="ifc:IfcPositiveRatioMeasure_Type"/>
  <complexType name="IfcPositiveRatioMeasure_Type">
    <complexContent>
      <extension base="ifc:IfcRatioMeasure_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPositiveRatioMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPositiveRatioMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPowerMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcPowerMeasure_Type"/>
  <complexType name="IfcPowerMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPowerMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPowerMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPressureMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcPressureMeasure_Type"/>
  <complexType name="IfcPressureMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPressureMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPressureMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRadioActivityMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcRadioActivityMeasure_Type"/>
  <complexType name="IfcRadioActivityMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRadioActivityMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRadioActivityMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRatioMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcRatioMeasure_Type"/>
  <complexType name="IfcRatioMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRatioMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRatioMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcReal" substitutionGroup="gco:AbstractObject" type="ifc:IfcReal_Type"/>
  <complexType name="IfcReal_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcReal_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcReal"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRotationalFrequencyMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcRotationalFrequencyMeasure_Type"/>
  <complexType name="IfcRotationalFrequencyMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRotationalFrequencyMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRotationalFrequencyMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRotationalMassMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcRotationalMassMeasure_Type"/>
  <complexType name="IfcRotationalMassMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRotationalMassMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRotationalMassMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRotationalStiffnessMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcRotationalStiffnessMeasure_Type"/>
  <complexType name="IfcRotationalStiffnessMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRotationalStiffnessMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRotationalStiffnessMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSIPrefix" substitutionGroup="gco:CharacterString" type="ifc:IfcSIPrefix_Type"/>
  <simpleType name="IfcSIPrefix_Type">
    <restriction base="string">
      <enumeration value="ATTO"/>
      <enumeration value="CENTI"/>
      <enumeration value="DECA"/>
      <enumeration value="DECI"/>
      <enumeration value="EXA"/>
      <enumeration value="FEMTO"/>
      <enumeration value="GIGA"/>
      <enumeration value="HECTO"/>
      <enumeration value="KILO"/>
      <enumeration value="MEGA"/>
      <enumeration value="MICRO"/>
      <enumeration value="MILLI"/>
      <enumeration value="NANO"/>
      <enumeration value="PETA"/>
      <enumeration value="PICO"/>
      <enumeration value="TERA"/>
    </restriction>
  </simpleType>
  <complexType name="IfcSIPrefix_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSIPrefix"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSIUnit" substitutionGroup="ifc:AbstractIfcNamedUnit" type="ifc:IfcSIUnit_Type"/>
  <complexType name="IfcSIUnit_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcNamedUnit_Type">
        <sequence>
          <element minOccurs="0" name="prefix" type="ifc:IfcSIPrefix_PropertyType"/>
          <element name="name" type="ifc:IfcSIUnitName_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSIUnit_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSIUnit"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSIUnitName" substitutionGroup="gco:CharacterString" type="ifc:IfcSIUnitName_Type"/>
  <simpleType name="IfcSIUnitName_Type">
    <restriction base="string">
      <enumeration value="AMPERE"/>
      <enumeration value="BECQUEREL"/>
      <enumeration value="CANDELA"/>
      <enumeration value="COULOMB"/>
      <enumeration value="CUBIC_METRE"/>
      <enumeration value="DEGREE_CELSIUS"/>
      <enumeration value="FARAD"/>
      <enumeration value="GRAM"/>
      <enumeration value="GRAY"/>
      <enumeration value="HENRY"/>
      <enumeration value="HERTZ"/>
      <enumeration value="JOULE"/>
      <enumeration value="KELVIN"/>
      <enumeration value="LUMEN"/>
      <enumeration value="LUX"/>
      <enumeration value="METRE"/>
      <enumeration value="MOLE"/>
      <enumeration value="NEWTON"/>
      <enumeration value="OHM"/>
      <enumeration value="PASCAL"/>
      <enumeration value="RADIAN"/>
      <enumeration value="SECOND"/>
      <enumeration value="SIEMENS"/>
      <enumeration value="SIEVERT"/>
      <enumeration value="SQUARE_METRE"/>
      <enumeration value="STERADIAN"/>
      <enumeration value="TESLA"/>
      <enumeration value="VOLT"/>
      <enumeration value="WATT"/>
      <enumeration value="WEBER"/>
    </restriction>
  </simpleType>
  <complexType name="IfcSIUnitName_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSIUnitName"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSectionModulusMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcSectionModulusMeasure_Type"/>
  <complexType name="IfcSectionModulusMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSectionModulusMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSectionModulusMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSectionalAreaIntegralMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcSectionalAreaIntegralMeasure_Type"/>
  <complexType name="IfcSectionalAreaIntegralMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSectionalAreaIntegralMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSectionalAreaIntegralMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcShearModulusMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcShearModulusMeasure_Type"/>
  <complexType name="IfcShearModulusMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcShearModulusMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcShearModulusMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSimpleValue" type="ifc:IfcSimpleValue_Type"/>
  <complexType name="IfcSimpleValue_Type">
    <choice>
      <element name="binary" type="ifc:IfcBinary_PropertyType"/>
      <element name="boolean" type="ifc:IfcBoolean_PropertyType"/>
      <element name="date" type="ifc:IfcDate_PropertyType"/>
      <element name="dateTime" type="ifc:IfcDateTime_PropertyType"/>
      <element name="duration" type="ifc:IfcDuration_PropertyType"/>
      <element name="identifier" type="ifc:IfcIdentifier_PropertyType"/>
      <element name="integer" type="ifc:IfcInteger_PropertyType"/>
      <element name="label" type="ifc:IfcLabel_PropertyType"/>
      <element name="logical" type="ifc:IfcLogical_PropertyType"/>
      <element name="positiveInteger" type="ifc:IfcPositiveInteger_PropertyType"/>
      <element name="real" type="ifc:IfcReal_PropertyType"/>
      <element name="text" type="ifc:IfcText_PropertyType"/>
      <element name="time" type="ifc:IfcTime_PropertyType"/>
      <element name="timeStamp" type="ifc:IfcTimeStamp_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcSimpleValue_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSimpleValue"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSolidAngleMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcSolidAngleMeasure_Type"/>
  <complexType name="IfcSolidAngleMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSolidAngleMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSolidAngleMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSoundPowerLevelMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcSoundPowerLevelMeasure_Type"/>
  <complexType name="IfcSoundPowerLevelMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSoundPowerLevelMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSoundPowerLevelMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSoundPowerMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcSoundPowerMeasure_Type"/>
  <complexType name="IfcSoundPowerMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSoundPowerMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSoundPowerMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSoundPressureLevelMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcSoundPressureLevelMeasure_Type"/>
  <complexType name="IfcSoundPressureLevelMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSoundPressureLevelMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSoundPressureLevelMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSoundPressureMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcSoundPressureMeasure_Type"/>
  <complexType name="IfcSoundPressureMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSoundPressureMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSoundPressureMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSpecificHeatCapacityMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcSpecificHeatCapacityMeasure_Type"/>
  <complexType name="IfcSpecificHeatCapacityMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSpecificHeatCapacityMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSpecificHeatCapacityMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTemperatureGradientMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcTemperatureGradientMeasure_Type"/>
  <complexType name="IfcTemperatureGradientMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTemperatureGradientMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTemperatureGradientMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTemperatureRateOfChangeMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcTemperatureRateOfChangeMeasure_Type"/>
  <complexType name="IfcTemperatureRateOfChangeMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTemperatureRateOfChangeMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTemperatureRateOfChangeMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcText" substitutionGroup="gco:AbstractObject" type="ifc:IfcText_Type"/>
  <complexType name="IfcText_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcText_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcText"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcThermalAdmittanceMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcThermalAdmittanceMeasure_Type"/>
  <complexType name="IfcThermalAdmittanceMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcThermalAdmittanceMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcThermalAdmittanceMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcThermalConductivityMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcThermalConductivityMeasure_Type"/>
  <complexType name="IfcThermalConductivityMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcThermalConductivityMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcThermalConductivityMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcThermalExpansionCoefficientMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcThermalExpansionCoefficientMeasure_Type"/>
  <complexType name="IfcThermalExpansionCoefficientMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcThermalExpansionCoefficientMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcThermalExpansionCoefficientMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcThermalResistanceMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcThermalResistanceMeasure_Type"/>
  <complexType name="IfcThermalResistanceMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcThermalResistanceMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcThermalResistanceMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcThermalTransmittanceMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcThermalTransmittanceMeasure_Type"/>
  <complexType name="IfcThermalTransmittanceMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcThermalTransmittanceMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcThermalTransmittanceMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcThermodynamicTemperatureMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcThermodynamicTemperatureMeasure_Type"/>
  <complexType name="IfcThermodynamicTemperatureMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcThermodynamicTemperatureMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcThermodynamicTemperatureMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTimeMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcTimeMeasure_Type"/>
  <complexType name="IfcTimeMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTimeMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTimeMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTorqueMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcTorqueMeasure_Type"/>
  <complexType name="IfcTorqueMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTorqueMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTorqueMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcUnit" type="ifc:IfcUnit_Type"/>
  <complexType name="IfcUnit_Type">
    <choice>
      <element name="derivedUnit" type="ifc:IfcDerivedUnit_PropertyType"/>
      <element name="monetaryUnit" type="ifc:IfcMonetaryUnit_PropertyType"/>
      <element name="namedUnit" type="ifc:AbstractIfcNamedUnit_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcUnit_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcUnit"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcUnitAssignment" substitutionGroup="gco:AbstractObject" type="ifc:IfcUnitAssignment_Type"/>
  <complexType name="IfcUnitAssignment_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element maxOccurs="unbounded" name="units" type="ifc:IfcUnit_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcUnitAssignment_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcUnitAssignment"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcUnitEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcUnitEnum_Type"/>
  <simpleType name="IfcUnitEnum_Type">
    <restriction base="string">
      <enumeration value="ABSORBEDDOSEUNIT"/>
      <enumeration value="AMOUNTOFSUBSTANCEUNIT"/>
      <enumeration value="AREAUNIT"/>
      <enumeration value="DOSEEQUIVALENTUNIT"/>
      <enumeration value="ELECTRICCAPACITANCEUNIT"/>
      <enumeration value="ELECTRICCHARGEUNIT"/>
      <enumeration value="ELECTRICCONDUCTANCEUNIT"/>
      <enumeration value="ELECTRICCURRENTUNIT"/>
      <enumeration value="ELECTRICRESISTANCEUNIT"/>
      <enumeration value="ELECTRICVOLTAGEUNIT"/>
      <enumeration value="ENERGYUNIT"/>
      <enumeration value="FORCEUNIT"/>
      <enumeration value="FREQUENCYUNIT"/>
      <enumeration value="ILLUMINANCEUNIT"/>
      <enumeration value="INDUCTANCEUNIT"/>
      <enumeration value="LENGTHUNIT"/>
      <enumeration value="LUMINOUSFLUXUNIT"/>
      <enumeration value="LUMINOUSINTENSITYUNIT"/>
      <enumeration value="MAGNETICFLUXDENSITYUNIT"/>
      <enumeration value="MAGNETICFLUXUNIT"/>
      <enumeration value="MASSUNIT"/>
      <enumeration value="PLANEANGLEUNIT"/>
      <enumeration value="POWERUNIT"/>
      <enumeration value="PRESSUREUNIT"/>
      <enumeration value="RADIOACTIVITYUNIT"/>
      <enumeration value="SOLIDANGLEUNIT"/>
      <enumeration value="THERMODYNAMICTEMPERATUREUNIT"/>
      <enumeration value="TIMEUNIT"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="VOLUMEUNIT"/>
    </restriction>
  </simpleType>
  <complexType name="IfcUnitEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcUnitEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcValue" type="ifc:IfcValue_Type"/>
  <complexType name="IfcValue_Type">
    <choice>
      <element name="derivedMeasureValue" type="ifc:IfcDerivedMeasureValue_PropertyType"/>
      <element name="measureValue" type="ifc:IfcMeasureValue_PropertyType"/>
      <element name="simpleValue" type="ifc:IfcSimpleValue_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcValue_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcValue"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcVaporPermeabilityMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcVaporPermeabilityMeasure_Type"/>
  <complexType name="IfcVaporPermeabilityMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcVaporPermeabilityMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcVaporPermeabilityMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcVolumeMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcVolumeMeasure_Type"/>
  <complexType name="IfcVolumeMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcVolumeMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcVolumeMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcVolumetricFlowRateMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcVolumetricFlowRateMeasure_Type"/>
  <complexType name="IfcVolumetricFlowRateMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcVolumetricFlowRateMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcVolumetricFlowRateMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcWarpingConstantMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcWarpingConstantMeasure_Type"/>
  <complexType name="IfcWarpingConstantMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcWarpingConstantMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcWarpingConstantMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcWarpingMomentMeasure" substitutionGroup="gco:AbstractObject" type="ifc:IfcWarpingMomentMeasure_Type"/>
  <complexType name="IfcWarpingMomentMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcWarpingMomentMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcWarpingMomentMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
