XSD/IfcMaterialResource.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:ifc="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" version="4.3">
  <include schemaLocation="IfcExternalReferenceResource.xsd"/>
  <include schemaLocation="IfcGeometryResource.xsd"/>
  <include schemaLocation="IfcMeasureResource.xsd"/>
  <include schemaLocation="IfcPresentationAppearanceResource.xsd"/>
  <include schemaLocation="IfcProductExtension.xsd"/>
  <include schemaLocation="IfcProfileResource.xsd"/>
  <include schemaLocation="IfcPropertyResource.xsd"/>
  <include schemaLocation="IfcRepresentationResource.xsd"/>
  <include schemaLocation="IfcResourceLayer.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="IfcCardinalPointReference" substitutionGroup="gco:AbstractObject" type="ifc:IfcCardinalPointReference_Type"/>
  <complexType name="IfcCardinalPointReference_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCardinalPointReference_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCardinalPointReference"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDirectionSenseEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcDirectionSenseEnum_Type"/>
  <simpleType name="IfcDirectionSenseEnum_Type">
    <restriction base="string">
      <enumeration value="NEGATIVE"/>
      <enumeration value="POSITIVE"/>
    </restriction>
  </simpleType>
  <complexType name="IfcDirectionSenseEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDirectionSenseEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLayerSetDirectionEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcLayerSetDirectionEnum_Type"/>
  <simpleType name="IfcLayerSetDirectionEnum_Type">
    <restriction base="string">
      <enumeration value="AXIS1"/>
      <enumeration value="AXIS2"/>
      <enumeration value="AXIS3"/>
    </restriction>
  </simpleType>
  <complexType name="IfcLayerSetDirectionEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLayerSetDirectionEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMaterial" substitutionGroup="ifc:AbstractIfcMaterialDefinition" type="ifc:IfcMaterial_Type"/>
  <complexType name="IfcMaterial_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcMaterialDefinition_Type">
        <sequence>
          <element name="name" type="string"/>
          <element minOccurs="0" name="description" type="string"/>
          <element minOccurs="0" name="category" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMaterial_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMaterial"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMaterialClassificationRelationship" substitutionGroup="gco:AbstractObject" type="ifc:IfcMaterialClassificationRelationship_Type"/>
  <complexType name="IfcMaterialClassificationRelationship_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element maxOccurs="unbounded" name="materialClassifications" type="ifc:IfcClassificationSelect_PropertyType"/>
          <element name="classifiedMaterial" type="ifc:IfcMaterial_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMaterialClassificationRelationship_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMaterialClassificationRelationship"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMaterialConstituent" substitutionGroup="ifc:AbstractIfcMaterialDefinition" type="ifc:IfcMaterialConstituent_Type"/>
  <complexType name="IfcMaterialConstituent_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcMaterialDefinition_Type">
        <sequence>
          <element minOccurs="0" name="name" type="string"/>
          <element minOccurs="0" name="description" type="string"/>
          <element minOccurs="0" name="fraction" type="gml:MeasureType"/>
          <element minOccurs="0" name="category" type="string"/>
          <element name="material" type="ifc:IfcMaterial_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMaterialConstituent_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMaterialConstituent"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMaterialConstituentSet" substitutionGroup="ifc:AbstractIfcMaterialDefinition" type="ifc:IfcMaterialConstituentSet_Type"/>
  <complexType name="IfcMaterialConstituentSet_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcMaterialDefinition_Type">
        <sequence>
          <element minOccurs="0" name="name" type="string"/>
          <element minOccurs="0" name="description" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="materialConstituents" type="ifc:IfcMaterialConstituent_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMaterialConstituentSet_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMaterialConstituentSet"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcMaterialDefinition" substitutionGroup="gco:AbstractObject" type="ifc:AbstractIfcMaterialDefinition_Type"/>
  <complexType abstract="true" name="AbstractIfcMaterialDefinition_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcMaterialDefinition_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcMaterialDefinition"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMaterialLayer" substitutionGroup="ifc:AbstractIfcMaterialDefinition" type="ifc:IfcMaterialLayer_Type"/>
  <complexType name="IfcMaterialLayer_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcMaterialDefinition_Type">
        <sequence>
          <element name="layerThickness" type="gml:LengthType"/>
          <element minOccurs="0" name="isVentilated"/>
          <element minOccurs="0" name="name" type="string"/>
          <element minOccurs="0" name="description" type="string"/>
          <element minOccurs="0" name="category" type="string"/>
          <element minOccurs="0" name="priority" type="integer"/>
          <element minOccurs="0" name="material" type="ifc:IfcMaterial_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMaterialLayer_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMaterialLayer"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMaterialLayerSet" substitutionGroup="ifc:AbstractIfcMaterialDefinition" type="ifc:IfcMaterialLayerSet_Type"/>
  <complexType name="IfcMaterialLayerSet_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcMaterialDefinition_Type">
        <sequence>
          <element minOccurs="0" name="layerSetName" type="string"/>
          <element minOccurs="0" name="description" type="string"/>
          <element name="totalThickness" type="gml:LengthType"/>
          <element maxOccurs="unbounded" name="materialLayers" type="ifc:IfcMaterialLayer_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMaterialLayerSet_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMaterialLayerSet"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMaterialLayerSetUsage" substitutionGroup="ifc:AbstractIfcMaterialUsageDefinition" type="ifc:IfcMaterialLayerSetUsage_Type"/>
  <complexType name="IfcMaterialLayerSetUsage_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcMaterialUsageDefinition_Type">
        <sequence>
          <element name="layerSetDirection" type="ifc:IfcLayerSetDirectionEnum_PropertyType"/>
          <element name="directionSense" type="ifc:IfcDirectionSenseEnum_PropertyType"/>
          <element name="offsetFromReferenceLine" type="gml:LengthType"/>
          <element minOccurs="0" name="referenceExtent" type="gml:LengthType"/>
          <element name="forLayerSet" type="ifc:IfcMaterialLayerSet_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMaterialLayerSetUsage_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMaterialLayerSetUsage"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMaterialLayerWithOffsets" substitutionGroup="ifc:IfcMaterialLayer" type="ifc:IfcMaterialLayerWithOffsets_Type"/>
  <complexType name="IfcMaterialLayerWithOffsets_Type">
    <complexContent>
      <extension base="ifc:IfcMaterialLayer_Type">
        <sequence>
          <element name="offsetDirection" type="ifc:IfcLayerSetDirectionEnum_PropertyType"/>
          <element maxOccurs="2" name="offsetValues" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMaterialLayerWithOffsets_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMaterialLayerWithOffsets"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMaterialList" substitutionGroup="gco:AbstractObject" type="ifc:IfcMaterialList_Type"/>
  <complexType name="IfcMaterialList_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element maxOccurs="unbounded" name="materials" type="ifc:IfcMaterial_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMaterialList_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMaterialList"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMaterialProfile" substitutionGroup="ifc:AbstractIfcMaterialDefinition" type="ifc:IfcMaterialProfile_Type"/>
  <complexType name="IfcMaterialProfile_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcMaterialDefinition_Type">
        <sequence>
          <element minOccurs="0" name="name" type="string"/>
          <element minOccurs="0" name="description" type="string"/>
          <element minOccurs="0" name="priority" type="integer"/>
          <element minOccurs="0" name="category" type="string"/>
          <element minOccurs="0" name="material" type="ifc:IfcMaterial_PropertyType"/>
          <element name="profile" type="ifc:IfcProfileDef_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMaterialProfile_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMaterialProfile"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMaterialProfileSet" substitutionGroup="ifc:AbstractIfcMaterialDefinition" type="ifc:IfcMaterialProfileSet_Type"/>
  <complexType name="IfcMaterialProfileSet_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcMaterialDefinition_Type">
        <sequence>
          <element minOccurs="0" name="name" type="string"/>
          <element minOccurs="0" name="description" type="string"/>
          <element maxOccurs="unbounded" name="materialProfiles" type="ifc:IfcMaterialProfile_PropertyType"/>
          <element minOccurs="0" name="compositeProfile" type="ifc:IfcCompositeProfileDef_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMaterialProfileSet_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMaterialProfileSet"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMaterialProfileSetUsage" substitutionGroup="ifc:AbstractIfcMaterialUsageDefinition" type="ifc:IfcMaterialProfileSetUsage_Type"/>
  <complexType name="IfcMaterialProfileSetUsage_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcMaterialUsageDefinition_Type">
        <sequence>
          <element minOccurs="0" name="cardinalPoint" type="ifc:IfcCardinalPointReference_PropertyType"/>
          <element minOccurs="0" name="referenceExtent" type="gml:LengthType"/>
          <element name="forProfileSet" type="ifc:IfcMaterialProfileSet_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMaterialProfileSetUsage_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMaterialProfileSetUsage"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMaterialProfileSetUsageTapering" substitutionGroup="ifc:IfcMaterialProfileSetUsage" type="ifc:IfcMaterialProfileSetUsageTapering_Type"/>
  <complexType name="IfcMaterialProfileSetUsageTapering_Type">
    <complexContent>
      <extension base="ifc:IfcMaterialProfileSetUsage_Type">
        <sequence>
          <element minOccurs="0" name="cardinalEndPoint" type="ifc:IfcCardinalPointReference_PropertyType"/>
          <element name="forProfileEndSet" type="ifc:IfcMaterialProfileSet_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMaterialProfileSetUsageTapering_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMaterialProfileSetUsageTapering"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMaterialProfileWithOffsets" substitutionGroup="ifc:IfcMaterialProfile" type="ifc:IfcMaterialProfileWithOffsets_Type"/>
  <complexType name="IfcMaterialProfileWithOffsets_Type">
    <complexContent>
      <extension base="ifc:IfcMaterialProfile_Type">
        <sequence>
          <element maxOccurs="2" name="offsetValues" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMaterialProfileWithOffsets_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMaterialProfileWithOffsets"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMaterialProperties" substitutionGroup="ifc:AbstractIfcExtendedProperties" type="ifc:IfcMaterialProperties_Type"/>
  <complexType name="IfcMaterialProperties_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcExtendedProperties_Type">
        <sequence>
          <element name="material" type="ifc:AbstractIfcMaterialDefinition_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMaterialProperties_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMaterialProperties"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMaterialRelationship" substitutionGroup="ifc:AbstractIfcResourceLevelRelationship" type="ifc:IfcMaterialRelationship_Type"/>
  <complexType name="IfcMaterialRelationship_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcResourceLevelRelationship_Type">
        <sequence>
          <element minOccurs="0" name="expression" type="string"/>
          <element name="relatingMaterial" type="ifc:IfcMaterial_PropertyType"/>
          <element maxOccurs="unbounded" name="relatedMaterials" type="ifc:IfcMaterial_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMaterialRelationship_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMaterialRelationship"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcMaterialResourceFunction" substitutionGroup="gco:AbstractObject" type="ifc:AbstractIfcMaterialResourceFunction_Type"/>
  <complexType abstract="true" name="AbstractIfcMaterialResourceFunction_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcMaterialResourceFunction_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcMaterialResourceFunction"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcMaterialResourceFunctions" substitutionGroup="gco:AbstractObject" type="ifc:AbstractIfcMaterialResourceFunctions_Type"/>
  <complexType abstract="true" name="AbstractIfcMaterialResourceFunctions_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcMaterialResourceFunctions_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcMaterialResourceFunctions"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMaterialSelect" type="ifc:IfcMaterialSelect_Type"/>
  <complexType name="IfcMaterialSelect_Type">
    <choice>
      <element name="materialDefinition" type="ifc:AbstractIfcMaterialDefinition_PropertyType"/>
      <element name="materialList" type="ifc:IfcMaterialList_PropertyType"/>
      <element name="materialUsageDefinition" type="ifc:AbstractIfcMaterialUsageDefinition_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcMaterialSelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMaterialSelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcMaterialUsageDefinition" substitutionGroup="gco:AbstractObject" type="ifc:AbstractIfcMaterialUsageDefinition_Type"/>
  <complexType abstract="true" name="AbstractIfcMaterialUsageDefinition_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcMaterialUsageDefinition_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcMaterialUsageDefinition"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
