XSD/IfcPresentationAppearanceResource.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gss="http://www.isotc211.org/2005/gss" xmlns:ifc="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" version="4.3">
  <include schemaLocation="IfcExternalReferenceResource.xsd"/>
  <include schemaLocation="IfcGeometricModelResource.xsd"/>
  <include schemaLocation="IfcGeometryResource.xsd"/>
  <include schemaLocation="IfcMeasureResource.xsd"/>
  <include schemaLocation="IfcPresentationDefinitionResource.xsd"/>
  <include schemaLocation="IfcResourceLayer.xsd"/>
  <include schemaLocation="IfcTopologyResource.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gss" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gss/gss.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="IfcBlobTexture" substitutionGroup="ifc:AbstractIfcSurfaceTexture" type="ifc:IfcBlobTexture_Type"/>
  <complexType name="IfcBlobTexture_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcSurfaceTexture_Type">
        <sequence>
          <element name="rasterFormat" type="string"/>
          <element name="rasterCode" type="ifc:IfcBinary_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcBlobTexture_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBlobTexture"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcColour" type="ifc:IfcColour_Type"/>
  <complexType name="IfcColour_Type">
    <choice>
      <element name="colourSpecification" type="ifc:AbstractIfcColourSpecification_PropertyType"/>
      <element name="preDefinedColour" type="ifc:AbstractIfcPreDefinedColour_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcColour_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcColour"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcColourOrFactor" type="ifc:IfcColourOrFactor_Type"/>
  <complexType name="IfcColourOrFactor_Type">
    <choice>
      <element name="colourRgb" type="ifc:IfcColourRgb_PropertyType"/>
      <element name="normalisedRatioMeasure" type="ifc:IfcNormalisedRatioMeasure_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcColourOrFactor_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcColourOrFactor"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcColourRgb" substitutionGroup="ifc:AbstractIfcColourSpecification" type="ifc:IfcColourRgb_Type"/>
  <complexType name="IfcColourRgb_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcColourSpecification_Type">
        <sequence>
          <element name="red" type="gml:MeasureType"/>
          <element name="green" type="gml:MeasureType"/>
          <element name="blue" type="gml:MeasureType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcColourRgb_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcColourRgb"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcColourRgbList" substitutionGroup="ifc:AbstractIfcPresentationItem" type="ifc:IfcColourRgbList_Type"/>
  <complexType name="IfcColourRgbList_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPresentationItem_Type">
        <sequence>
          <element maxOccurs="3" minOccurs="3" name="colourList" type="gml:MeasureType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcColourRgbList_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcColourRgbList"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcColourSpecification" substitutionGroup="ifc:AbstractIfcPresentationItem" type="ifc:AbstractIfcColourSpecification_Type"/>
  <complexType abstract="true" name="AbstractIfcColourSpecification_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPresentationItem_Type">
        <sequence>
          <element minOccurs="0" name="name" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcColourSpecification_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcColourSpecification"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCurveFontOrScaledCurveFontSelect" type="ifc:IfcCurveFontOrScaledCurveFontSelect_Type"/>
  <complexType name="IfcCurveFontOrScaledCurveFontSelect_Type">
    <choice>
      <element name="curveStyleFontAndScaling" type="ifc:IfcCurveStyleFontAndScaling_PropertyType"/>
      <element name="curveStyleFontSelect" type="ifc:IfcCurveStyleFontSelect_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcCurveFontOrScaledCurveFontSelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCurveFontOrScaledCurveFontSelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCurveStyle" substitutionGroup="ifc:AbstractIfcPresentationStyle" type="ifc:IfcCurveStyle_Type"/>
  <complexType name="IfcCurveStyle_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPresentationStyle_Type">
        <sequence>
          <element minOccurs="0" name="curveFont" type="ifc:IfcCurveFontOrScaledCurveFontSelect_PropertyType"/>
          <element minOccurs="0" name="curveWidth" type="ifc:IfcSizeSelect_PropertyType"/>
          <element minOccurs="0" name="curveColour" type="ifc:IfcColour_PropertyType"/>
          <element minOccurs="0" name="modelOrDraughting" type="boolean"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCurveStyle_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCurveStyle"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCurveStyleFont" substitutionGroup="ifc:AbstractIfcPresentationItem" type="ifc:IfcCurveStyleFont_Type"/>
  <complexType name="IfcCurveStyleFont_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPresentationItem_Type">
        <sequence>
          <element minOccurs="0" name="name" type="string"/>
          <element maxOccurs="unbounded" name="patternList" type="ifc:IfcCurveStyleFontPattern_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCurveStyleFont_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCurveStyleFont"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCurveStyleFontAndScaling" substitutionGroup="ifc:AbstractIfcPresentationItem" type="ifc:IfcCurveStyleFontAndScaling_Type"/>
  <complexType name="IfcCurveStyleFontAndScaling_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPresentationItem_Type">
        <sequence>
          <element minOccurs="0" name="name" type="string"/>
          <element name="curveFont" type="ifc:IfcCurveStyleFontSelect_PropertyType"/>
          <element name="curveFontScaling" type="gml:MeasureType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCurveStyleFontAndScaling_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCurveStyleFontAndScaling"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCurveStyleFontPattern" substitutionGroup="ifc:AbstractIfcPresentationItem" type="ifc:IfcCurveStyleFontPattern_Type"/>
  <complexType name="IfcCurveStyleFontPattern_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPresentationItem_Type">
        <sequence>
          <element name="visibleSegmentLength" type="gml:LengthType"/>
          <element name="invisibleSegmentLength" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCurveStyleFontPattern_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCurveStyleFontPattern"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCurveStyleFontSelect" type="ifc:IfcCurveStyleFontSelect_Type"/>
  <complexType name="IfcCurveStyleFontSelect_Type">
    <choice>
      <element name="curveStyleFont" type="ifc:IfcCurveStyleFont_PropertyType"/>
      <element name="preDefinedCurveFont" type="ifc:AbstractIfcPreDefinedCurveFont_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcCurveStyleFontSelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCurveStyleFontSelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDraughtingPreDefinedColour" substitutionGroup="ifc:AbstractIfcPreDefinedColour" type="ifc:IfcDraughtingPreDefinedColour_Type"/>
  <complexType name="IfcDraughtingPreDefinedColour_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPreDefinedColour_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDraughtingPreDefinedColour_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDraughtingPreDefinedColour"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDraughtingPreDefinedCurveFont" substitutionGroup="ifc:AbstractIfcPreDefinedCurveFont" type="ifc:IfcDraughtingPreDefinedCurveFont_Type"/>
  <complexType name="IfcDraughtingPreDefinedCurveFont_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPreDefinedCurveFont_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDraughtingPreDefinedCurveFont_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDraughtingPreDefinedCurveFont"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcExternallyDefinedHatchStyle" substitutionGroup="ifc:AbstractIfcExternalReference" type="ifc:IfcExternallyDefinedHatchStyle_Type"/>
  <complexType name="IfcExternallyDefinedHatchStyle_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcExternalReference_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcExternallyDefinedHatchStyle_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcExternallyDefinedHatchStyle"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcExternallyDefinedSurfaceStyle" substitutionGroup="ifc:AbstractIfcExternalReference" type="ifc:IfcExternallyDefinedSurfaceStyle_Type"/>
  <complexType name="IfcExternallyDefinedSurfaceStyle_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcExternalReference_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcExternallyDefinedSurfaceStyle_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcExternallyDefinedSurfaceStyle"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcExternallyDefinedTextFont" substitutionGroup="ifc:AbstractIfcExternalReference" type="ifc:IfcExternallyDefinedTextFont_Type"/>
  <complexType name="IfcExternallyDefinedTextFont_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcExternalReference_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcExternallyDefinedTextFont_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcExternallyDefinedTextFont"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFillAreaStyle" substitutionGroup="ifc:AbstractIfcPresentationStyle" type="ifc:IfcFillAreaStyle_Type"/>
  <complexType name="IfcFillAreaStyle_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPresentationStyle_Type">
        <sequence>
          <element maxOccurs="unbounded" name="fillStyles" type="ifc:IfcFillStyleSelect_PropertyType"/>
          <element minOccurs="0" name="modelorDraughting" type="boolean"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcFillAreaStyle_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFillAreaStyle"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFillAreaStyleHatching" substitutionGroup="ifc:AbstractIfcGeometricRepresentationItem" type="ifc:IfcFillAreaStyleHatching_Type"/>
  <complexType name="IfcFillAreaStyleHatching_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcGeometricRepresentationItem_Type">
        <sequence>
          <element name="startOfNextHatchLine" type="ifc:IfcHatchLineDistanceSelect_PropertyType"/>
          <element name="hatchLineAngle" type="gml:AngleType"/>
          <element name="hatchLineAppearance" type="ifc:IfcCurveStyle_PropertyType"/>
          <element minOccurs="0" name="patternStart" type="gss:GM_Point_PropertyType"/>
          <element minOccurs="0" name="pointOfReferenceHatchLine" type="gss:GM_Point_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcFillAreaStyleHatching_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFillAreaStyleHatching"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFillAreaStyleTiles" substitutionGroup="ifc:AbstractIfcGeometricRepresentationItem" type="ifc:IfcFillAreaStyleTiles_Type"/>
  <complexType name="IfcFillAreaStyleTiles_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcGeometricRepresentationItem_Type">
        <sequence>
          <element name="tilingScale" type="gml:MeasureType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="tilingPattern" type="ifc:IfcVector_PropertyType"/>
          <element maxOccurs="unbounded" name="tiles" type="ifc:IfcStyledItem_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcFillAreaStyleTiles_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFillAreaStyleTiles"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFillStyleSelect" type="ifc:IfcFillStyleSelect_Type"/>
  <complexType name="IfcFillStyleSelect_Type">
    <choice>
      <element name="colour" type="ifc:IfcColour_PropertyType"/>
      <element name="externallyDefinedHatchStyle" type="ifc:IfcExternallyDefinedHatchStyle_PropertyType"/>
      <element name="fillAreaStyleHatching" type="ifc:IfcFillAreaStyleHatching_PropertyType"/>
      <element name="fillAreaStyleTiles" type="ifc:IfcFillAreaStyleTiles_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcFillStyleSelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFillStyleSelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFontStyle" substitutionGroup="gco:AbstractObject" type="ifc:IfcFontStyle_Type"/>
  <complexType name="IfcFontStyle_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcFontStyle_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFontStyle"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFontVariant" substitutionGroup="gco:AbstractObject" type="ifc:IfcFontVariant_Type"/>
  <complexType name="IfcFontVariant_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcFontVariant_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFontVariant"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFontWeight" substitutionGroup="gco:AbstractObject" type="ifc:IfcFontWeight_Type"/>
  <complexType name="IfcFontWeight_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcFontWeight_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFontWeight"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcHatchLineDistanceSelect" type="ifc:IfcHatchLineDistanceSelect_Type"/>
  <complexType name="IfcHatchLineDistanceSelect_Type">
    <choice>
      <element name="positiveLengthMeasure" type="ifc:IfcPositiveLengthMeasure_PropertyType"/>
      <element name="vector" type="ifc:IfcVector_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcHatchLineDistanceSelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcHatchLineDistanceSelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcImageTexture" substitutionGroup="ifc:AbstractIfcSurfaceTexture" type="ifc:IfcImageTexture_Type"/>
  <complexType name="IfcImageTexture_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcSurfaceTexture_Type">
        <sequence>
          <element name="uRLReference" type="ifc:IfcURIReference_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcImageTexture_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcImageTexture"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcIndexedColourMap" substitutionGroup="ifc:AbstractIfcPresentationItem" type="ifc:IfcIndexedColourMap_Type"/>
  <complexType name="IfcIndexedColourMap_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPresentationItem_Type">
        <sequence>
          <element minOccurs="0" name="opacity" type="gml:MeasureType"/>
          <element maxOccurs="unbounded" name="colourIndex" type="integer"/>
          <element name="colours" type="ifc:IfcColourRgbList_PropertyType"/>
          <element name="mappedTo" type="ifc:AbstractIfcTessellatedFaceSet_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcIndexedColourMap_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcIndexedColourMap"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcIndexedTextureMap" substitutionGroup="ifc:AbstractIfcTextureCoordinate" type="ifc:AbstractIfcIndexedTextureMap_Type"/>
  <complexType abstract="true" name="AbstractIfcIndexedTextureMap_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcTextureCoordinate_Type">
        <sequence>
          <element name="texCoords" type="ifc:IfcTextureVertexList_PropertyType"/>
          <element name="mappedTo" type="ifc:AbstractIfcTessellatedFaceSet_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcIndexedTextureMap_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcIndexedTextureMap"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcIndexedTriangleTextureMap" substitutionGroup="ifc:AbstractIfcIndexedTextureMap" type="ifc:IfcIndexedTriangleTextureMap_Type"/>
  <complexType name="IfcIndexedTriangleTextureMap_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcIndexedTextureMap_Type">
        <sequence>
          <element maxOccurs="3" minOccurs="0" name="texCoordIndex" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcIndexedTriangleTextureMap_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcIndexedTriangleTextureMap"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcNullStyle" substitutionGroup="gco:CharacterString" type="ifc:IfcNullStyle_Type"/>
  <simpleType name="IfcNullStyle_Type">
    <restriction base="string">
      <enumeration value="NULL"/>
    </restriction>
  </simpleType>
  <complexType name="IfcNullStyle_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcNullStyle"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPixelTexture" substitutionGroup="ifc:AbstractIfcSurfaceTexture" type="ifc:IfcPixelTexture_Type"/>
  <complexType name="IfcPixelTexture_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcSurfaceTexture_Type">
        <sequence>
          <element name="width" type="integer"/>
          <element name="height" type="integer"/>
          <element name="colourComponents" type="integer"/>
          <element maxOccurs="unbounded" name="pixel" type="ifc:IfcBinary_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPixelTexture_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPixelTexture"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcPreDefinedColour" substitutionGroup="ifc:AbstractIfcPreDefinedItem" type="ifc:AbstractIfcPreDefinedColour_Type"/>
  <complexType abstract="true" name="AbstractIfcPreDefinedColour_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPreDefinedItem_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcPreDefinedColour_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcPreDefinedColour"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcPreDefinedCurveFont" substitutionGroup="ifc:AbstractIfcPreDefinedItem" type="ifc:AbstractIfcPreDefinedCurveFont_Type"/>
  <complexType abstract="true" name="AbstractIfcPreDefinedCurveFont_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPreDefinedItem_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcPreDefinedCurveFont_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcPreDefinedCurveFont"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcPreDefinedItem" substitutionGroup="ifc:AbstractIfcPresentationItem" type="ifc:AbstractIfcPreDefinedItem_Type"/>
  <complexType abstract="true" name="AbstractIfcPreDefinedItem_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPresentationItem_Type">
        <sequence>
          <element name="name" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcPreDefinedItem_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcPreDefinedItem"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcPreDefinedTextFont" substitutionGroup="ifc:AbstractIfcPreDefinedItem" type="ifc:AbstractIfcPreDefinedTextFont_Type"/>
  <complexType abstract="true" name="AbstractIfcPreDefinedTextFont_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPreDefinedItem_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcPreDefinedTextFont_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcPreDefinedTextFont"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPresentableText" substitutionGroup="gco:AbstractObject" type="ifc:IfcPresentableText_Type"/>
  <complexType name="IfcPresentableText_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPresentableText_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPresentableText"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcPresentationAppearanceResourceFunction" substitutionGroup="gco:AbstractObject" type="ifc:AbstractIfcPresentationAppearanceResourceFunction_Type"/>
  <complexType abstract="true" name="AbstractIfcPresentationAppearanceResourceFunction_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcPresentationAppearanceResourceFunction_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcPresentationAppearanceResourceFunction"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcPresentationAppearanceResourceFunctions" substitutionGroup="gco:AbstractObject" type="ifc:AbstractIfcPresentationAppearanceResourceFunctions_Type"/>
  <complexType abstract="true" name="AbstractIfcPresentationAppearanceResourceFunctions_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcPresentationAppearanceResourceFunctions_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcPresentationAppearanceResourceFunctions"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcPresentationStyle" substitutionGroup="gco:AbstractObject" type="ifc:AbstractIfcPresentationStyle_Type"/>
  <complexType abstract="true" name="AbstractIfcPresentationStyle_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="name" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcPresentationStyle_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcPresentationStyle"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPresentationStyleAssignment" substitutionGroup="gco:AbstractObject" type="ifc:IfcPresentationStyleAssignment_Type"/>
  <complexType name="IfcPresentationStyleAssignment_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element maxOccurs="unbounded" name="styles" type="ifc:IfcPresentationStyleSelect_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPresentationStyleAssignment_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPresentationStyleAssignment"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPresentationStyleSelect" type="ifc:IfcPresentationStyleSelect_Type"/>
  <complexType name="IfcPresentationStyleSelect_Type">
    <choice>
      <element name="curveStyle" type="ifc:IfcCurveStyle_PropertyType"/>
      <element name="fillAreaStyle" type="ifc:IfcFillAreaStyle_PropertyType"/>
      <element name="nullStyle" type="ifc:IfcNullStyle_PropertyType"/>
      <element name="surfaceStyle" type="ifc:IfcSurfaceStyle_PropertyType"/>
      <element name="textStyle" type="ifc:IfcTextStyle_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcPresentationStyleSelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPresentationStyleSelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcReflectanceMethodEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcReflectanceMethodEnum_Type"/>
  <simpleType name="IfcReflectanceMethodEnum_Type">
    <restriction base="string">
      <enumeration value="BLINN"/>
      <enumeration value="FLAT"/>
      <enumeration value="GLASS"/>
      <enumeration value="MATT"/>
      <enumeration value="METAL"/>
      <enumeration value="MIRROR"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PHONG"/>
      <enumeration value="PLASTIC"/>
      <enumeration value="STRAUSS"/>
    </restriction>
  </simpleType>
  <complexType name="IfcReflectanceMethodEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcReflectanceMethodEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSizeSelect" type="ifc:IfcSizeSelect_Type"/>
  <complexType name="IfcSizeSelect_Type">
    <choice>
      <element name="descriptiveMeasure" type="ifc:IfcDescriptiveMeasure_PropertyType"/>
      <element name="lengthMeasure" type="ifc:IfcLengthMeasure_PropertyType"/>
      <element name="normalisedRatioMeasure" type="ifc:IfcNormalisedRatioMeasure_PropertyType"/>
      <element name="positiveLengthMeasure" type="ifc:IfcPositiveLengthMeasure_PropertyType"/>
      <element name="positiveRatioMeasure" type="ifc:IfcPositiveRatioMeasure_PropertyType"/>
      <element name="ratioMeasure" type="ifc:IfcRatioMeasure_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcSizeSelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSizeSelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSpecularExponent" substitutionGroup="gco:AbstractObject" type="ifc:IfcSpecularExponent_Type"/>
  <complexType name="IfcSpecularExponent_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSpecularExponent_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSpecularExponent"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSpecularHighlightSelect" type="ifc:IfcSpecularHighlightSelect_Type"/>
  <complexType name="IfcSpecularHighlightSelect_Type">
    <choice>
      <element name="specularExponent" type="ifc:IfcSpecularExponent_PropertyType"/>
      <element name="specularRoughness" type="ifc:IfcSpecularRoughness_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcSpecularHighlightSelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSpecularHighlightSelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSpecularRoughness" substitutionGroup="gco:AbstractObject" type="ifc:IfcSpecularRoughness_Type"/>
  <complexType name="IfcSpecularRoughness_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSpecularRoughness_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSpecularRoughness"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcStyleAssignmentSelect" type="ifc:IfcStyleAssignmentSelect_Type"/>
  <complexType name="IfcStyleAssignmentSelect_Type">
    <choice>
      <element name="presentationStyle" type="ifc:AbstractIfcPresentationStyle_PropertyType"/>
      <element name="presentationStyleAssignment" type="ifc:IfcPresentationStyleAssignment_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcStyleAssignmentSelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcStyleAssignmentSelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcStyledItem" substitutionGroup="ifc:AbstractIfcRepresentationItem" type="ifc:IfcStyledItem_Type"/>
  <complexType name="IfcStyledItem_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRepresentationItem_Type">
        <sequence>
          <element maxOccurs="unbounded" name="styles" type="ifc:IfcStyleAssignmentSelect_PropertyType"/>
          <element minOccurs="0" name="name" type="string"/>
          <element minOccurs="0" name="item" type="ifc:AbstractIfcRepresentationItem_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcStyledItem_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcStyledItem"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSurfaceSide" substitutionGroup="gco:CharacterString" type="ifc:IfcSurfaceSide_Type"/>
  <simpleType name="IfcSurfaceSide_Type">
    <restriction base="string">
      <enumeration value="BOTH"/>
      <enumeration value="NEGATIVE"/>
      <enumeration value="POSITIVE"/>
    </restriction>
  </simpleType>
  <complexType name="IfcSurfaceSide_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSurfaceSide"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSurfaceStyle" substitutionGroup="ifc:AbstractIfcPresentationStyle" type="ifc:IfcSurfaceStyle_Type"/>
  <complexType name="IfcSurfaceStyle_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPresentationStyle_Type">
        <sequence>
          <element name="side" type="ifc:IfcSurfaceSide_PropertyType"/>
          <element maxOccurs="5" name="styles" type="ifc:IfcSurfaceStyleElementSelect_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSurfaceStyle_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSurfaceStyle"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSurfaceStyleElementSelect" type="ifc:IfcSurfaceStyleElementSelect_Type"/>
  <complexType name="IfcSurfaceStyleElementSelect_Type">
    <choice>
      <element name="externallyDefinedSurfaceStyle" type="ifc:IfcExternallyDefinedSurfaceStyle_PropertyType"/>
      <element name="surfaceStyleLighting" type="ifc:IfcSurfaceStyleLighting_PropertyType"/>
      <element name="surfaceStyleRefraction" type="ifc:IfcSurfaceStyleRefraction_PropertyType"/>
      <element name="surfaceStyleShading" type="ifc:IfcSurfaceStyleShading_PropertyType"/>
      <element name="surfaceStyleWithTextures" type="ifc:IfcSurfaceStyleWithTextures_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcSurfaceStyleElementSelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSurfaceStyleElementSelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSurfaceStyleLighting" substitutionGroup="ifc:AbstractIfcPresentationItem" type="ifc:IfcSurfaceStyleLighting_Type"/>
  <complexType name="IfcSurfaceStyleLighting_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPresentationItem_Type">
        <sequence>
          <element name="reflectanceColour" type="ifc:IfcColourRgb_PropertyType"/>
          <element name="diffuseTransmissionColour" type="ifc:IfcColourRgb_PropertyType"/>
          <element name="diffuseReflectionColour" type="ifc:IfcColourRgb_PropertyType"/>
          <element name="transmissionColour" type="ifc:IfcColourRgb_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSurfaceStyleLighting_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSurfaceStyleLighting"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSurfaceStyleRefraction" substitutionGroup="ifc:AbstractIfcPresentationItem" type="ifc:IfcSurfaceStyleRefraction_Type"/>
  <complexType name="IfcSurfaceStyleRefraction_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPresentationItem_Type">
        <sequence>
          <element minOccurs="0" name="refractionIndex" type="double"/>
          <element minOccurs="0" name="dispersionFactor" type="double"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSurfaceStyleRefraction_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSurfaceStyleRefraction"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSurfaceStyleRendering" substitutionGroup="ifc:IfcSurfaceStyleShading" type="ifc:IfcSurfaceStyleRendering_Type"/>
  <complexType name="IfcSurfaceStyleRendering_Type">
    <complexContent>
      <extension base="ifc:IfcSurfaceStyleShading_Type">
        <sequence>
          <element minOccurs="0" name="diffuseColour" type="ifc:IfcColourOrFactor_PropertyType"/>
          <element minOccurs="0" name="transmissionColour" type="ifc:IfcColourOrFactor_PropertyType"/>
          <element minOccurs="0" name="diffuseTransmissionColour" type="ifc:IfcColourOrFactor_PropertyType"/>
          <element minOccurs="0" name="reflectionColour" type="ifc:IfcColourOrFactor_PropertyType"/>
          <element minOccurs="0" name="specularColour" type="ifc:IfcColourOrFactor_PropertyType"/>
          <element minOccurs="0" name="specularHighlight" type="ifc:IfcSpecularHighlightSelect_PropertyType"/>
          <element name="reflectanceMethod" type="ifc:IfcReflectanceMethodEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSurfaceStyleRendering_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSurfaceStyleRendering"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSurfaceStyleShading" substitutionGroup="ifc:AbstractIfcPresentationItem" type="ifc:IfcSurfaceStyleShading_Type"/>
  <complexType name="IfcSurfaceStyleShading_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPresentationItem_Type">
        <sequence>
          <element minOccurs="0" name="transparency" type="gml:MeasureType"/>
          <element name="surfaceColour" type="ifc:IfcColourRgb_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSurfaceStyleShading_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSurfaceStyleShading"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSurfaceStyleWithTextures" substitutionGroup="ifc:AbstractIfcPresentationItem" type="ifc:IfcSurfaceStyleWithTextures_Type"/>
  <complexType name="IfcSurfaceStyleWithTextures_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPresentationItem_Type">
        <sequence>
          <element maxOccurs="unbounded" name="textures" type="ifc:AbstractIfcSurfaceTexture_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSurfaceStyleWithTextures_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSurfaceStyleWithTextures"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcSurfaceTexture" substitutionGroup="ifc:AbstractIfcPresentationItem" type="ifc:AbstractIfcSurfaceTexture_Type"/>
  <complexType abstract="true" name="AbstractIfcSurfaceTexture_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPresentationItem_Type">
        <sequence>
          <element name="repeatS" type="boolean"/>
          <element name="repeatT" type="boolean"/>
          <element minOccurs="0" name="mode" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="parameter" type="string"/>
          <element minOccurs="0" name="textureTransform" type="ifc:IfcCartesianTransformationOperator2D_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcSurfaceTexture_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcSurfaceTexture"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTextAlignment" substitutionGroup="gco:AbstractObject" type="ifc:IfcTextAlignment_Type"/>
  <complexType name="IfcTextAlignment_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTextAlignment_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTextAlignment"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTextDecoration" substitutionGroup="gco:AbstractObject" type="ifc:IfcTextDecoration_Type"/>
  <complexType name="IfcTextDecoration_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTextDecoration_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTextDecoration"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTextFontName" substitutionGroup="gco:AbstractObject" type="ifc:IfcTextFontName_Type"/>
  <complexType name="IfcTextFontName_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTextFontName_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTextFontName"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTextFontSelect" type="ifc:IfcTextFontSelect_Type"/>
  <complexType name="IfcTextFontSelect_Type">
    <choice>
      <element name="externallyDefinedTextFont" type="ifc:IfcExternallyDefinedTextFont_PropertyType"/>
      <element name="preDefinedTextFont" type="ifc:AbstractIfcPreDefinedTextFont_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcTextFontSelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTextFontSelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTextStyle" substitutionGroup="ifc:AbstractIfcPresentationStyle" type="ifc:IfcTextStyle_Type"/>
  <complexType name="IfcTextStyle_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPresentationStyle_Type">
        <sequence>
          <element name="textFontStyle" type="ifc:IfcTextFontSelect_PropertyType"/>
          <element minOccurs="0" name="modelOrDraughting" type="boolean"/>
          <element minOccurs="0" name="textCharacterAppearance" type="ifc:IfcTextStyleForDefinedFont_PropertyType"/>
          <element minOccurs="0" name="textStyle" type="ifc:IfcTextStyleTextModel_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTextStyle_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTextStyle"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTextStyleFontModel" substitutionGroup="ifc:AbstractIfcPreDefinedTextFont" type="ifc:IfcTextStyleFontModel_Type"/>
  <complexType name="IfcTextStyleFontModel_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPreDefinedTextFont_Type">
        <sequence>
          <element maxOccurs="unbounded" name="fontFamily" type="ifc:IfcTextFontName_PropertyType"/>
          <element minOccurs="0" name="fontStyle" type="ifc:IfcFontStyle_PropertyType"/>
          <element minOccurs="0" name="fontVariant" type="ifc:IfcFontVariant_PropertyType"/>
          <element minOccurs="0" name="fontWeight" type="ifc:IfcFontWeight_PropertyType"/>
          <element name="fontSize" type="ifc:IfcSizeSelect_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTextStyleFontModel_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTextStyleFontModel"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTextStyleForDefinedFont" substitutionGroup="ifc:AbstractIfcPresentationItem" type="ifc:IfcTextStyleForDefinedFont_Type"/>
  <complexType name="IfcTextStyleForDefinedFont_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPresentationItem_Type">
        <sequence>
          <element name="colour" type="ifc:IfcColour_PropertyType"/>
          <element minOccurs="0" name="backgroundColour" type="ifc:IfcColour_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTextStyleForDefinedFont_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTextStyleForDefinedFont"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTextStyleTextModel" substitutionGroup="ifc:AbstractIfcPresentationItem" type="ifc:IfcTextStyleTextModel_Type"/>
  <complexType name="IfcTextStyleTextModel_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPresentationItem_Type">
        <sequence>
          <element minOccurs="0" name="textIndent" type="ifc:IfcSizeSelect_PropertyType"/>
          <element minOccurs="0" name="textAlign" type="ifc:IfcTextAlignment_PropertyType"/>
          <element minOccurs="0" name="textDecoration" type="ifc:IfcTextDecoration_PropertyType"/>
          <element minOccurs="0" name="letterSpacing" type="ifc:IfcSizeSelect_PropertyType"/>
          <element minOccurs="0" name="wordSpacing" type="ifc:IfcSizeSelect_PropertyType"/>
          <element minOccurs="0" name="textTransform" type="ifc:IfcTextTransformation_PropertyType"/>
          <element minOccurs="0" name="lineHeight" type="ifc:IfcSizeSelect_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTextStyleTextModel_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTextStyleTextModel"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTextTransformation" substitutionGroup="gco:AbstractObject" type="ifc:IfcTextTransformation_Type"/>
  <complexType name="IfcTextTransformation_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTextTransformation_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTextTransformation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcTextureCoordinate" substitutionGroup="ifc:AbstractIfcPresentationItem" type="ifc:AbstractIfcTextureCoordinate_Type"/>
  <complexType abstract="true" name="AbstractIfcTextureCoordinate_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPresentationItem_Type">
        <sequence>
          <element maxOccurs="unbounded" name="maps" type="ifc:AbstractIfcSurfaceTexture_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcTextureCoordinate_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcTextureCoordinate"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTextureCoordinateGenerator" substitutionGroup="ifc:AbstractIfcTextureCoordinate" type="ifc:IfcTextureCoordinateGenerator_Type"/>
  <complexType name="IfcTextureCoordinateGenerator_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcTextureCoordinate_Type">
        <sequence>
          <element name="mode" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="parameter" type="double"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTextureCoordinateGenerator_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTextureCoordinateGenerator"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTextureMap" substitutionGroup="ifc:AbstractIfcTextureCoordinate" type="ifc:IfcTextureMap_Type"/>
  <complexType name="IfcTextureMap_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcTextureCoordinate_Type">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="3" name="vertices" type="ifc:IfcTextureVertex_PropertyType"/>
          <element name="mappedTo" type="ifc:IfcFace_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTextureMap_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTextureMap"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTextureVertex" substitutionGroup="ifc:AbstractIfcPresentationItem" type="ifc:IfcTextureVertex_Type"/>
  <complexType name="IfcTextureVertex_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPresentationItem_Type">
        <sequence>
          <element maxOccurs="2" minOccurs="2" name="coordinates" type="double"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTextureVertex_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTextureVertex"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTextureVertexList" substitutionGroup="ifc:AbstractIfcPresentationItem" type="ifc:IfcTextureVertexList_Type"/>
  <complexType name="IfcTextureVertexList_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPresentationItem_Type">
        <sequence>
          <element maxOccurs="2" minOccurs="2" name="texCoordsList" type="double"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTextureVertexList_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTextureVertexList"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
