XSD/IfcPresentationOrganizationResource.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gss="http://www.isotc211.org/2005/gss" xmlns:ifc="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" version="4.3">
  <include schemaLocation="IfcExternalReferenceResource.xsd"/>
  <include schemaLocation="IfcGeometryResource.xsd"/>
  <include schemaLocation="IfcMeasureResource.xsd"/>
  <include schemaLocation="IfcPresentationAppearanceResource.xsd"/>
  <include schemaLocation="IfcRepresentationResource.xsd"/>
  <include schemaLocation="IfcResourceLayer.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gss" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gss/gss.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="IfcLayeredItem" type="ifc:IfcLayeredItem_Type"/>
  <complexType name="IfcLayeredItem_Type">
    <choice>
      <element name="representation" type="ifc:AbstractIfcRepresentation_PropertyType"/>
      <element name="representationItem" type="ifc:AbstractIfcRepresentationItem_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcLayeredItem_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLayeredItem"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLightDistributionCurveEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcLightDistributionCurveEnum_Type"/>
  <simpleType name="IfcLightDistributionCurveEnum_Type">
    <restriction base="string">
      <enumeration value="NOTDEFINED"/>
      <enumeration value="TYPE_A"/>
      <enumeration value="TYPE_B"/>
      <enumeration value="TYPE_C"/>
    </restriction>
  </simpleType>
  <complexType name="IfcLightDistributionCurveEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLightDistributionCurveEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLightDistributionData" substitutionGroup="gco:AbstractObject" type="ifc:IfcLightDistributionData_Type"/>
  <complexType name="IfcLightDistributionData_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="mainPlaneAngle" type="gml:AngleType"/>
          <element maxOccurs="unbounded" name="secondaryPlaneAngle" type="gml:AngleType"/>
          <element maxOccurs="unbounded" name="luminousIntensity" type="gml:MeasureType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLightDistributionData_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLightDistributionData"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLightDistributionDataSourceSelect" type="ifc:IfcLightDistributionDataSourceSelect_Type"/>
  <complexType name="IfcLightDistributionDataSourceSelect_Type">
    <choice>
      <element name="externalReference" type="ifc:AbstractIfcExternalReference_PropertyType"/>
      <element name="lightIntensityDistribution" type="ifc:IfcLightIntensityDistribution_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcLightDistributionDataSourceSelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLightDistributionDataSourceSelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLightEmissionSourceEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcLightEmissionSourceEnum_Type"/>
  <simpleType name="IfcLightEmissionSourceEnum_Type">
    <restriction base="string">
      <enumeration value="COMPACTFLUORESCENT"/>
      <enumeration value="FLUORESCENT"/>
      <enumeration value="HIGHPRESSUREMERCURY"/>
      <enumeration value="HIGHPRESSURESODIUM"/>
      <enumeration value="LIGHTEMITTINGDIODE"/>
      <enumeration value="LOWPRESSURESODIUM"/>
      <enumeration value="LOWVOLTAGEHALOGEN"/>
      <enumeration value="MAINVOLTAGEHALOGEN"/>
      <enumeration value="METALHALIDE"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="TUNGSTENFILAMENT"/>
    </restriction>
  </simpleType>
  <complexType name="IfcLightEmissionSourceEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLightEmissionSourceEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLightIntensityDistribution" substitutionGroup="gco:AbstractObject" type="ifc:IfcLightIntensityDistribution_Type"/>
  <complexType name="IfcLightIntensityDistribution_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="lightDistributionCurve" type="ifc:IfcLightDistributionCurveEnum_PropertyType"/>
          <element maxOccurs="unbounded" name="distributionData" type="ifc:IfcLightDistributionData_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLightIntensityDistribution_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLightIntensityDistribution"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcLightSource" substitutionGroup="ifc:AbstractIfcGeometricRepresentationItem" type="ifc:AbstractIfcLightSource_Type"/>
  <complexType abstract="true" name="AbstractIfcLightSource_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcGeometricRepresentationItem_Type">
        <sequence>
          <element minOccurs="0" name="name" type="string"/>
          <element minOccurs="0" name="ambientIntensity" type="gml:MeasureType"/>
          <element minOccurs="0" name="intensity" type="gml:MeasureType"/>
          <element name="lightColour" type="ifc:IfcColourRgb_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcLightSource_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcLightSource"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLightSourceAmbient" substitutionGroup="ifc:AbstractIfcLightSource" type="ifc:IfcLightSourceAmbient_Type"/>
  <complexType name="IfcLightSourceAmbient_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcLightSource_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLightSourceAmbient_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLightSourceAmbient"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLightSourceDirectional" substitutionGroup="ifc:AbstractIfcLightSource" type="ifc:IfcLightSourceDirectional_Type"/>
  <complexType name="IfcLightSourceDirectional_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcLightSource_Type">
        <sequence>
          <element name="orientation" type="ifc:IfcDirection_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLightSourceDirectional_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLightSourceDirectional"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLightSourceGoniometric" substitutionGroup="ifc:AbstractIfcLightSource" type="ifc:IfcLightSourceGoniometric_Type"/>
  <complexType name="IfcLightSourceGoniometric_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcLightSource_Type">
        <sequence>
          <element name="colourTemperature" type="gml:MeasureType"/>
          <element name="luminousFlux" type="gml:MeasureType"/>
          <element name="lightEmissionSource" type="ifc:IfcLightEmissionSourceEnum_PropertyType"/>
          <element name="lightDistributionDataSource" type="ifc:IfcLightDistributionDataSourceSelect_PropertyType"/>
          <element minOccurs="0" name="colourAppearance" type="ifc:IfcColourRgb_PropertyType"/>
          <element name="position" type="ifc:IfcAxis2Placement3D_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLightSourceGoniometric_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLightSourceGoniometric"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLightSourcePositional" substitutionGroup="ifc:AbstractIfcLightSource" type="ifc:IfcLightSourcePositional_Type"/>
  <complexType name="IfcLightSourcePositional_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcLightSource_Type">
        <sequence>
          <element name="radius" type="gml:LengthType"/>
          <element name="constantAttenuation" type="double"/>
          <element name="distanceAttenuation" type="double"/>
          <element name="quadricAttenuation" type="double"/>
          <element name="position" type="gss:GM_Point_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLightSourcePositional_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLightSourcePositional"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLightSourceSpot" substitutionGroup="ifc:IfcLightSourcePositional" type="ifc:IfcLightSourceSpot_Type"/>
  <complexType name="IfcLightSourceSpot_Type">
    <complexContent>
      <extension base="ifc:IfcLightSourcePositional_Type">
        <sequence>
          <element minOccurs="0" name="concentrationExponent" type="double"/>
          <element name="spreadAngle" type="gml:AngleType"/>
          <element name="beamWidthAngle" type="gml:AngleType"/>
          <element name="direction" type="ifc:IfcDirection_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLightSourceSpot_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLightSourceSpot"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPresentationLayerAssignment" substitutionGroup="gco:AbstractObject" type="ifc:IfcPresentationLayerAssignment_Type"/>
  <complexType name="IfcPresentationLayerAssignment_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="name" type="string"/>
          <element minOccurs="0" name="description" type="string"/>
          <element maxOccurs="unbounded" name="assignedItems" type="ifc:IfcLayeredItem_PropertyType"/>
          <element minOccurs="0" name="identifier" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPresentationLayerAssignment_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPresentationLayerAssignment"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPresentationLayerWithStyle" substitutionGroup="ifc:IfcPresentationLayerAssignment" type="ifc:IfcPresentationLayerWithStyle_Type"/>
  <complexType name="IfcPresentationLayerWithStyle_Type">
    <complexContent>
      <extension base="ifc:IfcPresentationLayerAssignment_Type">
        <sequence>
          <element name="layerOn"/>
          <element name="layerFrozen"/>
          <element name="layerBlocked"/>
          <element maxOccurs="unbounded" minOccurs="0" name="layerStyles" type="ifc:AbstractIfcPresentationStyle_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPresentationLayerWithStyle_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPresentationLayerWithStyle"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
