XSD/IfcPropertyResource.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:ifc="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" version="4.3">
  <include schemaLocation="IfcActorResource.xsd"/>
  <include schemaLocation="IfcApprovalResource.xsd"/>
  <include schemaLocation="IfcConstraintResource.xsd"/>
  <include schemaLocation="IfcCostResource.xsd"/>
  <include schemaLocation="IfcDateTimeResource.xsd"/>
  <include schemaLocation="IfcExternalReferenceResource.xsd"/>
  <include schemaLocation="IfcKernel.xsd"/>
  <include schemaLocation="IfcMaterialResource.xsd"/>
  <include schemaLocation="IfcMeasureResource.xsd"/>
  <include schemaLocation="IfcResourceLayer.xsd"/>
  <include schemaLocation="IfcUtilityResource.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="IfcComplexProperty" substitutionGroup="ifc:AbstractIfcProperty" type="ifc:IfcComplexProperty_Type"/>
  <complexType name="IfcComplexProperty_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcProperty_Type">
        <sequence>
          <element name="usageName" type="string"/>
          <element maxOccurs="unbounded" name="hasProperties" type="ifc:AbstractIfcProperty_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcComplexProperty_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcComplexProperty"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCurveInterpolationEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcCurveInterpolationEnum_Type"/>
  <simpleType name="IfcCurveInterpolationEnum_Type">
    <restriction base="string">
      <enumeration value="LINEAR"/>
      <enumeration value="LOG_LINEAR"/>
      <enumeration value="LOG_LOG"/>
      <enumeration value="NOTDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcCurveInterpolationEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCurveInterpolationEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcExtendedProperties" substitutionGroup="ifc:AbstractIfcPropertyAbstraction" type="ifc:AbstractIfcExtendedProperties_Type"/>
  <complexType abstract="true" name="AbstractIfcExtendedProperties_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPropertyAbstraction_Type">
        <sequence>
          <element minOccurs="0" name="name" type="string"/>
          <element minOccurs="0" name="description" type="string"/>
          <element maxOccurs="unbounded" name="properties" type="ifc:AbstractIfcProperty_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcExtendedProperties_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcExtendedProperties"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcObjectReferenceSelect" type="ifc:IfcObjectReferenceSelect_Type"/>
  <complexType name="IfcObjectReferenceSelect_Type">
    <choice>
      <element name="address" type="ifc:AbstractIfcAddress_PropertyType"/>
      <element name="appliedValue" type="ifc:IfcAppliedValue_PropertyType"/>
      <element name="externalReference" type="ifc:AbstractIfcExternalReference_PropertyType"/>
      <element name="materialDefinition" type="ifc:AbstractIfcMaterialDefinition_PropertyType"/>
      <element name="organization" type="ifc:IfcOrganization_PropertyType"/>
      <element name="person" type="ifc:IfcPerson_PropertyType"/>
      <element name="personAndOrganization" type="ifc:IfcPersonAndOrganization_PropertyType"/>
      <element name="table" type="ifc:IfcTable_PropertyType"/>
      <element name="timeSeries" type="ifc:AbstractIfcTimeSeries_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcObjectReferenceSelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcObjectReferenceSelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcPreDefinedProperties" substitutionGroup="ifc:AbstractIfcPropertyAbstraction" type="ifc:AbstractIfcPreDefinedProperties_Type"/>
  <complexType abstract="true" name="AbstractIfcPreDefinedProperties_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPropertyAbstraction_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcPreDefinedProperties_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcPreDefinedProperties"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcProperty" substitutionGroup="ifc:AbstractIfcPropertyAbstraction" type="ifc:AbstractIfcProperty_Type"/>
  <complexType abstract="true" name="AbstractIfcProperty_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPropertyAbstraction_Type">
        <sequence>
          <element name="name" type="string"/>
          <element minOccurs="0" name="description" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcProperty_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcProperty"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcPropertyAbstraction" substitutionGroup="gco:AbstractObject" type="ifc:AbstractIfcPropertyAbstraction_Type"/>
  <complexType abstract="true" name="AbstractIfcPropertyAbstraction_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcPropertyAbstraction_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcPropertyAbstraction"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPropertyBoundedValue" substitutionGroup="ifc:AbstractIfcSimpleProperty" type="ifc:IfcPropertyBoundedValue_Type"/>
  <complexType name="IfcPropertyBoundedValue_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcSimpleProperty_Type">
        <sequence>
          <element minOccurs="0" name="upperBoundValue" type="ifc:IfcValue_PropertyType"/>
          <element minOccurs="0" name="lowerBoundValue" type="ifc:IfcValue_PropertyType"/>
          <element minOccurs="0" name="unit" type="ifc:IfcUnit_PropertyType"/>
          <element minOccurs="0" name="setPointValue" type="ifc:IfcValue_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPropertyBoundedValue_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPropertyBoundedValue"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPropertyDependencyRelationship" substitutionGroup="ifc:AbstractIfcResourceLevelRelationship" type="ifc:IfcPropertyDependencyRelationship_Type"/>
  <complexType name="IfcPropertyDependencyRelationship_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcResourceLevelRelationship_Type">
        <sequence>
          <element minOccurs="0" name="expression" type="string"/>
          <element name="dependantProperty" type="ifc:AbstractIfcProperty_PropertyType"/>
          <element name="dependingProperty" type="ifc:AbstractIfcProperty_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPropertyDependencyRelationship_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPropertyDependencyRelationship"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPropertyEnumeratedValue" substitutionGroup="ifc:AbstractIfcSimpleProperty" type="ifc:IfcPropertyEnumeratedValue_Type"/>
  <complexType name="IfcPropertyEnumeratedValue_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcSimpleProperty_Type">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="enumerationValues" type="ifc:IfcValue_PropertyType"/>
          <element minOccurs="0" name="enumerationReference" type="ifc:IfcPropertyEnumeration_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPropertyEnumeratedValue_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPropertyEnumeratedValue"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPropertyEnumeration" substitutionGroup="ifc:AbstractIfcPropertyAbstraction" type="ifc:IfcPropertyEnumeration_Type"/>
  <complexType name="IfcPropertyEnumeration_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPropertyAbstraction_Type">
        <sequence>
          <element name="name" type="string"/>
          <element maxOccurs="unbounded" name="enumerationValues" type="ifc:IfcValue_PropertyType"/>
          <element minOccurs="0" name="unit" type="ifc:IfcUnit_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPropertyEnumeration_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPropertyEnumeration"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPropertyListValue" substitutionGroup="ifc:AbstractIfcSimpleProperty" type="ifc:IfcPropertyListValue_Type"/>
  <complexType name="IfcPropertyListValue_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcSimpleProperty_Type">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="listValues" type="ifc:IfcValue_PropertyType"/>
          <element minOccurs="0" name="unit" type="ifc:IfcUnit_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPropertyListValue_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPropertyListValue"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPropertyReferenceValue" substitutionGroup="ifc:AbstractIfcSimpleProperty" type="ifc:IfcPropertyReferenceValue_Type"/>
  <complexType name="IfcPropertyReferenceValue_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcSimpleProperty_Type">
        <sequence>
          <element minOccurs="0" name="usageName" type="string"/>
          <element minOccurs="0" name="propertyReference" type="ifc:IfcObjectReferenceSelect_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPropertyReferenceValue_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPropertyReferenceValue"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPropertySingleValue" substitutionGroup="ifc:AbstractIfcSimpleProperty" type="ifc:IfcPropertySingleValue_Type"/>
  <complexType name="IfcPropertySingleValue_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcSimpleProperty_Type">
        <sequence>
          <element minOccurs="0" name="nominalValue" type="ifc:IfcValue_PropertyType"/>
          <element minOccurs="0" name="unit" type="ifc:IfcUnit_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPropertySingleValue_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPropertySingleValue"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPropertyTableValue" substitutionGroup="ifc:AbstractIfcSimpleProperty" type="ifc:IfcPropertyTableValue_Type"/>
  <complexType name="IfcPropertyTableValue_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcSimpleProperty_Type">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="definingValues" type="ifc:IfcValue_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="definedValues" type="ifc:IfcValue_PropertyType"/>
          <element minOccurs="0" name="expression" type="string"/>
          <element minOccurs="0" name="definingUnit" type="ifc:IfcUnit_PropertyType"/>
          <element minOccurs="0" name="definedUnit" type="ifc:IfcUnit_PropertyType"/>
          <element minOccurs="0" name="curveInterpolation" type="ifc:IfcCurveInterpolationEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPropertyTableValue_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPropertyTableValue"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcSimpleProperty" substitutionGroup="ifc:AbstractIfcProperty" type="ifc:AbstractIfcSimpleProperty_Type"/>
  <complexType abstract="true" name="AbstractIfcSimpleProperty_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcProperty_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcSimpleProperty_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcSimpleProperty"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
