XSD/IfcProfileResource.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:ifc="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" version="4.3">
  <include schemaLocation="IfcExternalReferenceResource.xsd"/>
  <include schemaLocation="IfcGeometryResource.xsd"/>
  <include schemaLocation="IfcMeasureResource.xsd"/>
  <include schemaLocation="IfcPropertyResource.xsd"/>
  <include schemaLocation="IfcResourceLayer.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="IfcArbitraryClosedProfileDef" substitutionGroup="ifc:IfcProfileDef" type="ifc:IfcArbitraryClosedProfileDef_Type"/>
  <complexType name="IfcArbitraryClosedProfileDef_Type">
    <complexContent>
      <extension base="ifc:IfcProfileDef_Type">
        <sequence>
          <element name="outerCurve" type="ifc:AbstractIfcCurve_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcArbitraryClosedProfileDef_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcArbitraryClosedProfileDef"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcArbitraryOpenProfileDef" substitutionGroup="ifc:IfcProfileDef" type="ifc:IfcArbitraryOpenProfileDef_Type"/>
  <complexType name="IfcArbitraryOpenProfileDef_Type">
    <complexContent>
      <extension base="ifc:IfcProfileDef_Type">
        <sequence>
          <element name="curve" type="ifc:AbstractIfcBoundedCurve_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcArbitraryOpenProfileDef_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcArbitraryOpenProfileDef"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcArbitraryProfileDefWithVoids" substitutionGroup="ifc:IfcArbitraryClosedProfileDef" type="ifc:IfcArbitraryProfileDefWithVoids_Type"/>
  <complexType name="IfcArbitraryProfileDefWithVoids_Type">
    <complexContent>
      <extension base="ifc:IfcArbitraryClosedProfileDef_Type">
        <sequence>
          <element maxOccurs="unbounded" name="innerCurves" type="ifc:AbstractIfcCurve_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcArbitraryProfileDefWithVoids_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcArbitraryProfileDefWithVoids"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcAsymmetricIShapeProfileDef" substitutionGroup="ifc:AbstractIfcParameterizedProfileDef" type="ifc:IfcAsymmetricIShapeProfileDef_Type"/>
  <complexType name="IfcAsymmetricIShapeProfileDef_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcParameterizedProfileDef_Type">
        <sequence>
          <element name="bottomFlangeWidth" type="gml:LengthType"/>
          <element name="overallDepth" type="gml:LengthType"/>
          <element name="webThickness" type="gml:LengthType"/>
          <element name="bottomFlangeThickness" type="gml:LengthType"/>
          <element minOccurs="0" name="bottomFlangeFilletRadius" type="gml:LengthType"/>
          <element name="topFlangeWidth" type="gml:LengthType"/>
          <element minOccurs="0" name="topFlangeThickness" type="gml:LengthType"/>
          <element minOccurs="0" name="topFlangeFilletRadius" type="gml:LengthType"/>
          <element minOccurs="0" name="bottomFlangeEdgeRadius" type="gml:LengthType"/>
          <element minOccurs="0" name="bottomFlangeSlope" type="gml:AngleType"/>
          <element minOccurs="0" name="topFlangeEdgeRadius" type="gml:LengthType"/>
          <element minOccurs="0" name="topFlangeSlope" type="gml:AngleType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcAsymmetricIShapeProfileDef_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAsymmetricIShapeProfileDef"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCShapeProfileDef" substitutionGroup="ifc:AbstractIfcParameterizedProfileDef" type="ifc:IfcCShapeProfileDef_Type"/>
  <complexType name="IfcCShapeProfileDef_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcParameterizedProfileDef_Type">
        <sequence>
          <element name="depth" type="gml:LengthType"/>
          <element name="width" type="gml:LengthType"/>
          <element name="wallThickness" type="gml:LengthType"/>
          <element name="girth" type="gml:LengthType"/>
          <element minOccurs="0" name="internalFilletRadius" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCShapeProfileDef_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCShapeProfileDef"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCenterLineProfileDef" substitutionGroup="ifc:IfcArbitraryOpenProfileDef" type="ifc:IfcCenterLineProfileDef_Type"/>
  <complexType name="IfcCenterLineProfileDef_Type">
    <complexContent>
      <extension base="ifc:IfcArbitraryOpenProfileDef_Type">
        <sequence>
          <element name="thickness" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCenterLineProfileDef_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCenterLineProfileDef"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCircleHollowProfileDef" substitutionGroup="ifc:IfcCircleProfileDef" type="ifc:IfcCircleHollowProfileDef_Type"/>
  <complexType name="IfcCircleHollowProfileDef_Type">
    <complexContent>
      <extension base="ifc:IfcCircleProfileDef_Type">
        <sequence>
          <element name="wallThickness" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCircleHollowProfileDef_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCircleHollowProfileDef"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCircleProfileDef" substitutionGroup="ifc:AbstractIfcParameterizedProfileDef" type="ifc:IfcCircleProfileDef_Type"/>
  <complexType name="IfcCircleProfileDef_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcParameterizedProfileDef_Type">
        <sequence>
          <element name="radius" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCircleProfileDef_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCircleProfileDef"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCompositeProfileDef" substitutionGroup="ifc:IfcProfileDef" type="ifc:IfcCompositeProfileDef_Type"/>
  <complexType name="IfcCompositeProfileDef_Type">
    <complexContent>
      <extension base="ifc:IfcProfileDef_Type">
        <sequence>
          <element minOccurs="0" name="label" type="string"/>
          <element maxOccurs="unbounded" minOccurs="2" name="profiles" type="ifc:IfcProfileDef_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCompositeProfileDef_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCompositeProfileDef"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDerivedProfileDef" substitutionGroup="ifc:IfcProfileDef" type="ifc:IfcDerivedProfileDef_Type"/>
  <complexType name="IfcDerivedProfileDef_Type">
    <complexContent>
      <extension base="ifc:IfcProfileDef_Type">
        <sequence>
          <element minOccurs="0" name="label" type="string"/>
          <element name="parentProfile" type="ifc:IfcProfileDef_PropertyType"/>
          <element name="operator" type="ifc:IfcCartesianTransformationOperator2D_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDerivedProfileDef_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDerivedProfileDef"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcEllipseProfileDef" substitutionGroup="ifc:AbstractIfcParameterizedProfileDef" type="ifc:IfcEllipseProfileDef_Type"/>
  <complexType name="IfcEllipseProfileDef_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcParameterizedProfileDef_Type">
        <sequence>
          <element name="semiAxis1" type="gml:LengthType"/>
          <element name="semiAxis2" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcEllipseProfileDef_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcEllipseProfileDef"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcIShapeProfileDef" substitutionGroup="ifc:AbstractIfcParameterizedProfileDef" type="ifc:IfcIShapeProfileDef_Type"/>
  <complexType name="IfcIShapeProfileDef_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcParameterizedProfileDef_Type">
        <sequence>
          <element name="overallWidth" type="gml:LengthType"/>
          <element name="overallDepth" type="gml:LengthType"/>
          <element name="webThickness" type="gml:LengthType"/>
          <element name="flangeThickness" type="gml:LengthType"/>
          <element minOccurs="0" name="filletRadius" type="gml:LengthType"/>
          <element minOccurs="0" name="flangeEdgeRadius" type="gml:LengthType"/>
          <element minOccurs="0" name="flangeSlope" type="gml:AngleType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcIShapeProfileDef_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcIShapeProfileDef"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLShapeProfileDef" substitutionGroup="ifc:AbstractIfcParameterizedProfileDef" type="ifc:IfcLShapeProfileDef_Type"/>
  <complexType name="IfcLShapeProfileDef_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcParameterizedProfileDef_Type">
        <sequence>
          <element name="depth" type="gml:LengthType"/>
          <element minOccurs="0" name="width" type="gml:LengthType"/>
          <element name="thickness" type="gml:LengthType"/>
          <element minOccurs="0" name="filletRadius" type="gml:LengthType"/>
          <element minOccurs="0" name="edgeRadius" type="gml:LengthType"/>
          <element minOccurs="0" name="legSlope" type="gml:AngleType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLShapeProfileDef_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLShapeProfileDef"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMirroredProfileDef" substitutionGroup="ifc:IfcDerivedProfileDef" type="ifc:IfcMirroredProfileDef_Type"/>
  <complexType name="IfcMirroredProfileDef_Type">
    <complexContent>
      <extension base="ifc:IfcDerivedProfileDef_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMirroredProfileDef_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMirroredProfileDef"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcOpenCrossProfileDef" substitutionGroup="ifc:IfcProfileDef" type="ifc:IfcOpenCrossProfileDef_Type"/>
  <complexType name="IfcOpenCrossProfileDef_Type">
    <complexContent>
      <extension base="ifc:IfcProfileDef_Type">
        <sequence>
          <element maxOccurs="unbounded" name="widths" type="gml:LengthType"/>
          <element name="isWidthHorizontal" type="boolean"/>
          <element maxOccurs="unbounded" name="slopes" type="gml:AngleType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="tags" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcOpenCrossProfileDef_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcOpenCrossProfileDef"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcParameterizedProfileDef" substitutionGroup="ifc:IfcProfileDef" type="ifc:AbstractIfcParameterizedProfileDef_Type"/>
  <complexType abstract="true" name="AbstractIfcParameterizedProfileDef_Type">
    <complexContent>
      <extension base="ifc:IfcProfileDef_Type">
        <sequence>
          <element minOccurs="0" name="position" type="ifc:IfcAxis2Placement2D_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcParameterizedProfileDef_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcParameterizedProfileDef"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcProfileDef" substitutionGroup="gco:AbstractObject" type="ifc:IfcProfileDef_Type"/>
  <complexType name="IfcProfileDef_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="profileType" type="ifc:IfcProfileTypeEnum_PropertyType"/>
          <element minOccurs="0" name="profileName" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcProfileDef_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcProfileDef"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcProfileProperties" substitutionGroup="ifc:AbstractIfcExtendedProperties" type="ifc:IfcProfileProperties_Type"/>
  <complexType name="IfcProfileProperties_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcExtendedProperties_Type">
        <sequence>
          <element name="profileDefinition" type="ifc:IfcProfileDef_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcProfileProperties_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcProfileProperties"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcProfileTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcProfileTypeEnum_Type"/>
  <simpleType name="IfcProfileTypeEnum_Type">
    <restriction base="string">
      <enumeration value="AREA"/>
      <enumeration value="CURVE"/>
    </restriction>
  </simpleType>
  <complexType name="IfcProfileTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcProfileTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRectangleHollowProfileDef" substitutionGroup="ifc:IfcRectangleProfileDef" type="ifc:IfcRectangleHollowProfileDef_Type"/>
  <complexType name="IfcRectangleHollowProfileDef_Type">
    <complexContent>
      <extension base="ifc:IfcRectangleProfileDef_Type">
        <sequence>
          <element name="wallThickness" type="gml:LengthType"/>
          <element minOccurs="0" name="innerFilletRadius" type="gml:LengthType"/>
          <element minOccurs="0" name="outerFilletRadius" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRectangleHollowProfileDef_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRectangleHollowProfileDef"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRectangleProfileDef" substitutionGroup="ifc:AbstractIfcParameterizedProfileDef" type="ifc:IfcRectangleProfileDef_Type"/>
  <complexType name="IfcRectangleProfileDef_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcParameterizedProfileDef_Type">
        <sequence>
          <element name="xDim" type="gml:LengthType"/>
          <element name="yDim" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRectangleProfileDef_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRectangleProfileDef"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcReinforcementBarProperties" substitutionGroup="ifc:AbstractIfcPreDefinedProperties" type="ifc:IfcReinforcementBarProperties_Type"/>
  <complexType name="IfcReinforcementBarProperties_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPreDefinedProperties_Type">
        <sequence>
          <element name="totalCrossSectionArea" type="gml:AreaType"/>
          <element name="steelGrade" type="string"/>
          <element minOccurs="0" name="barSurface" type="ifc:IfcReinforcingBarSurfaceEnum_PropertyType"/>
          <element minOccurs="0" name="effectiveDepth" type="gml:LengthType"/>
          <element minOccurs="0" name="nominalBarDiameter" type="gml:LengthType"/>
          <element minOccurs="0" name="barCount" type="gml:MeasureType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcReinforcementBarProperties_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcReinforcementBarProperties"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcReinforcingBarRoleEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcReinforcingBarRoleEnum_Type"/>
  <simpleType name="IfcReinforcingBarRoleEnum_Type">
    <restriction base="string">
      <enumeration value="ANCHORING"/>
      <enumeration value="EDGE"/>
      <enumeration value="LIGATURE"/>
      <enumeration value="MAIN"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PUNCHING"/>
      <enumeration value="RING"/>
      <enumeration value="SHEAR"/>
      <enumeration value="STUD"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcReinforcingBarRoleEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcReinforcingBarRoleEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcReinforcingBarSurfaceEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcReinforcingBarSurfaceEnum_Type"/>
  <simpleType name="IfcReinforcingBarSurfaceEnum_Type">
    <restriction base="string">
      <enumeration value="PLAIN"/>
      <enumeration value="TEXTURED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcReinforcingBarSurfaceEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcReinforcingBarSurfaceEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRoundedRectangleProfileDef" substitutionGroup="ifc:IfcRectangleProfileDef" type="ifc:IfcRoundedRectangleProfileDef_Type"/>
  <complexType name="IfcRoundedRectangleProfileDef_Type">
    <complexContent>
      <extension base="ifc:IfcRectangleProfileDef_Type">
        <sequence>
          <element name="roundingRadius" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRoundedRectangleProfileDef_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRoundedRectangleProfileDef"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSectionProperties" substitutionGroup="ifc:AbstractIfcPreDefinedProperties" type="ifc:IfcSectionProperties_Type"/>
  <complexType name="IfcSectionProperties_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPreDefinedProperties_Type">
        <sequence>
          <element name="sectionType" type="ifc:IfcSectionTypeEnum_PropertyType"/>
          <element minOccurs="0" name="endProfile" type="ifc:IfcProfileDef_PropertyType"/>
          <element name="startProfile" type="ifc:IfcProfileDef_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSectionProperties_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSectionProperties"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSectionReinforcementProperties" substitutionGroup="ifc:AbstractIfcPreDefinedProperties" type="ifc:IfcSectionReinforcementProperties_Type"/>
  <complexType name="IfcSectionReinforcementProperties_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPreDefinedProperties_Type">
        <sequence>
          <element name="longitudinalStartPosition" type="gml:LengthType"/>
          <element name="longitudinalEndPosition" type="gml:LengthType"/>
          <element minOccurs="0" name="transversePosition" type="gml:LengthType"/>
          <element name="reinforcementRole" type="ifc:IfcReinforcingBarRoleEnum_PropertyType"/>
          <element maxOccurs="unbounded" name="crossSectionReinforcementDefinitions" type="ifc:IfcReinforcementBarProperties_PropertyType"/>
          <element name="sectionDefinition" type="ifc:IfcSectionProperties_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSectionReinforcementProperties_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSectionReinforcementProperties"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSectionTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcSectionTypeEnum_Type"/>
  <simpleType name="IfcSectionTypeEnum_Type">
    <restriction base="string">
      <enumeration value="TAPERED"/>
      <enumeration value="UNIFORM"/>
    </restriction>
  </simpleType>
  <complexType name="IfcSectionTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSectionTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTShapeProfileDef" substitutionGroup="ifc:AbstractIfcParameterizedProfileDef" type="ifc:IfcTShapeProfileDef_Type"/>
  <complexType name="IfcTShapeProfileDef_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcParameterizedProfileDef_Type">
        <sequence>
          <element name="depth" type="gml:LengthType"/>
          <element name="flangeWidth" type="gml:LengthType"/>
          <element name="webThickness" type="gml:LengthType"/>
          <element name="flangeThickness" type="gml:LengthType"/>
          <element minOccurs="0" name="filletRadius" type="gml:LengthType"/>
          <element minOccurs="0" name="flangeEdgeRadius" type="gml:LengthType"/>
          <element minOccurs="0" name="webEdgeRadius" type="gml:LengthType"/>
          <element minOccurs="0" name="webSlope" type="gml:AngleType"/>
          <element minOccurs="0" name="flangeSlope" type="gml:AngleType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTShapeProfileDef_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTShapeProfileDef"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTrapeziumProfileDef" substitutionGroup="ifc:AbstractIfcParameterizedProfileDef" type="ifc:IfcTrapeziumProfileDef_Type"/>
  <complexType name="IfcTrapeziumProfileDef_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcParameterizedProfileDef_Type">
        <sequence>
          <element name="bottomXDim" type="gml:LengthType"/>
          <element name="topXDim" type="gml:LengthType"/>
          <element name="yDim" type="gml:LengthType"/>
          <element name="topXOffset" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTrapeziumProfileDef_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTrapeziumProfileDef"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcUShapeProfileDef" substitutionGroup="ifc:AbstractIfcParameterizedProfileDef" type="ifc:IfcUShapeProfileDef_Type"/>
  <complexType name="IfcUShapeProfileDef_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcParameterizedProfileDef_Type">
        <sequence>
          <element name="depth" type="gml:LengthType"/>
          <element name="flangeWidth" type="gml:LengthType"/>
          <element name="webThickness" type="gml:LengthType"/>
          <element name="flangeThickness" type="gml:LengthType"/>
          <element minOccurs="0" name="filletRadius" type="gml:LengthType"/>
          <element minOccurs="0" name="edgeRadius" type="gml:LengthType"/>
          <element minOccurs="0" name="flangeSlope" type="gml:AngleType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcUShapeProfileDef_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcUShapeProfileDef"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcZShapeProfileDef" substitutionGroup="ifc:AbstractIfcParameterizedProfileDef" type="ifc:IfcZShapeProfileDef_Type"/>
  <complexType name="IfcZShapeProfileDef_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcParameterizedProfileDef_Type">
        <sequence>
          <element name="depth" type="gml:LengthType"/>
          <element name="flangeWidth" type="gml:LengthType"/>
          <element name="webThickness" type="gml:LengthType"/>
          <element name="flangeThickness" type="gml:LengthType"/>
          <element minOccurs="0" name="filletRadius" type="gml:LengthType"/>
          <element minOccurs="0" name="edgeRadius" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcZShapeProfileDef_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcZShapeProfileDef"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
