XSD/IfcProcessExtension.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:ifc="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" version="4.3">
  <include schemaLocation="IfcActorResource.xsd"/>
  <include schemaLocation="IfcCoreLayer.xsd"/>
  <include schemaLocation="IfcCostResource.xsd"/>
  <include schemaLocation="IfcDateTimeResource.xsd"/>
  <include schemaLocation="IfcExternalReferenceResource.xsd"/>
  <include schemaLocation="IfcGeometryResource.xsd"/>
  <include schemaLocation="IfcKernel.xsd"/>
  <include schemaLocation="IfcMeasureResource.xsd"/>
  <include schemaLocation="IfcPresentationAppearanceResource.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="IfcEvent" substitutionGroup="ifc:IfcProcess" type="ifc:IfcEventType"/>
  <complexType name="IfcEventType">
    <complexContent>
      <extension base="ifc:IfcProcessType">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcEventTypeEnumType"/>
          <element minOccurs="0" name="eventTriggerType" type="ifc:IfcEventTriggerTypeEnumType"/>
          <element minOccurs="0" name="userDefinedEventTriggerType" type="string"/>
          <element minOccurs="0" name="eventOccurenceTime" type="ifc:IfcEventTimePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcEventPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcEvent"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="IfcEventTriggerTypeEnumType">
    <restriction base="string">
      <enumeration value="EVENTCOMPLEX"/>
      <enumeration value="EVENTMESSAGE"/>
      <enumeration value="EVENTRULE"/>
      <enumeration value="EVENTTIME"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <element name="IfcEventType" substitutionGroup="ifc:IfcTypeProcess" type="ifc:IfcEventTypeType"/>
  <complexType name="IfcEventTypeType">
    <complexContent>
      <extension base="ifc:IfcTypeProcessType">
        <sequence>
          <element name="predefinedType" type="ifc:IfcEventTypeEnumType"/>
          <element name="eventTriggerType" type="ifc:IfcEventTriggerTypeEnumType"/>
          <element minOccurs="0" name="userDefinedEventTriggerType" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcEventTypePropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcEventType"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="IfcEventTypeEnumType">
    <restriction base="string">
      <enumeration value="ENDEVENT"/>
      <enumeration value="INTERMEDIATEEVENT"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="STARTEVENT"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <element name="IfcProcedure" substitutionGroup="ifc:IfcProcess" type="ifc:IfcProcedureType"/>
  <complexType name="IfcProcedureType">
    <complexContent>
      <extension base="ifc:IfcProcessType">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcProcedureTypeEnumType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcProcedurePropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcProcedure"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcProcedureType" substitutionGroup="ifc:IfcTypeProcess" type="ifc:IfcProcedureTypeType"/>
  <complexType name="IfcProcedureTypeType">
    <complexContent>
      <extension base="ifc:IfcTypeProcessType">
        <sequence>
          <element name="predefinedType" type="ifc:IfcProcedureTypeEnumType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcProcedureTypePropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcProcedureType"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="IfcProcedureTypeEnumType">
    <restriction base="string">
      <enumeration value="ADVICE_CAUTION"/>
      <enumeration value="ADVICE_NOTE"/>
      <enumeration value="ADVICE_WARNING"/>
      <enumeration value="CALIBRATION"/>
      <enumeration value="DIAGNOSTIC"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="SHUTDOWN"/>
      <enumeration value="STARTUP"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <element name="IfcRelSequence" substitutionGroup="ifc:IfcRelConnects" type="ifc:IfcRelSequenceType"/>
  <complexType name="IfcRelSequenceType">
    <complexContent>
      <extension base="ifc:IfcRelConnectsType">
        <sequence>
          <element minOccurs="0" name="sequenceType" type="ifc:IfcSequenceEnumType"/>
          <element minOccurs="0" name="userDefinedSequenceType" type="string"/>
          <element name="relatedProcess" type="ifc:IfcProcessPropertyType"/>
          <element name="relatingProcess" type="ifc:IfcProcessPropertyType"/>
          <element minOccurs="0" name="timeLag" type="ifc:IfcLagTimePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelSequencePropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelSequence"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="IfcSequenceEnumType">
    <restriction base="string">
      <enumeration value="FINISH_FINISH"/>
      <enumeration value="FINISH_START"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="START_FINISH"/>
      <enumeration value="START_START"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <element name="IfcTask" substitutionGroup="ifc:IfcProcess" type="ifc:IfcTaskType"/>
  <complexType name="IfcTaskType">
    <complexContent>
      <extension base="ifc:IfcProcessType">
        <sequence>
          <element minOccurs="0" name="status" type="string"/>
          <element minOccurs="0" name="workMethod" type="string"/>
          <element name="isMilestone" type="boolean"/>
          <element minOccurs="0" name="priority" type="integer"/>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcTaskTypeEnumType"/>
          <element minOccurs="0" name="taskTime" type="ifc:IfcTaskTimePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTaskPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTask"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcTaskType" substitutionGroup="ifc:IfcTypeProcess" type="ifc:IfcTaskTypeType"/>
  <complexType name="IfcTaskTypeType">
    <complexContent>
      <extension base="ifc:IfcTypeProcessType">
        <sequence>
          <element name="predefinedType" type="ifc:IfcTaskTypeEnumType"/>
          <element minOccurs="0" name="workMethod" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTaskTypePropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTaskType"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="IfcTaskTypeEnumType">
    <restriction base="string">
      <enumeration value="ATTENDANCE"/>
      <enumeration value="CONSTRUCTION"/>
      <enumeration value="DEMOLITION"/>
      <enumeration value="DISMANTLE"/>
      <enumeration value="DISPOSAL"/>
      <enumeration value="INSTALLATION"/>
      <enumeration value="LOGISTIC"/>
      <enumeration value="MAINTENANCE"/>
      <enumeration value="MOVE"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="OPERATION"/>
      <enumeration value="REMOVAL"/>
      <enumeration value="RENOVATION"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <element name="IfcWorkCalendar" substitutionGroup="ifc:IfcControl" type="ifc:IfcWorkCalendarType"/>
  <complexType name="IfcWorkCalendarType">
    <complexContent>
      <extension base="ifc:IfcControlType">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcWorkCalendarTypeEnumType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="workingTimes" type="ifc:IfcWorkTimePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="exceptionTimes" type="ifc:IfcWorkTimePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcWorkCalendarPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcWorkCalendar"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="IfcWorkCalendarTypeEnumType">
    <restriction base="string">
      <enumeration value="FIRSTSHIFT"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="SECONDSHIFT"/>
      <enumeration value="THIRDSHIFT"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <element abstract="true" name="IfcWorkControl" substitutionGroup="ifc:IfcControl" type="ifc:IfcWorkControlType"/>
  <complexType abstract="true" name="IfcWorkControlType">
    <complexContent>
      <extension base="ifc:IfcControlType">
        <sequence>
          <element name="creationDate" type="dateTime"/>
          <element minOccurs="0" name="purpose" type="string"/>
          <element minOccurs="0" name="duration" type="duration"/>
          <element minOccurs="0" name="totalFloat" type="duration"/>
          <element name="startTime" type="dateTime"/>
          <element minOccurs="0" name="finishTime" type="dateTime"/>
          <element maxOccurs="unbounded" minOccurs="0" name="creators" type="ifc:IfcPersonPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcWorkControlPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcWorkControl"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcWorkPlan" substitutionGroup="ifc:IfcWorkControl" type="ifc:IfcWorkPlanType"/>
  <complexType name="IfcWorkPlanType">
    <complexContent>
      <extension base="ifc:IfcWorkControlType">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcWorkPlanTypeEnumType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcWorkPlanPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcWorkPlan"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="IfcWorkPlanTypeEnumType">
    <restriction base="string">
      <enumeration value="ACTUAL"/>
      <enumeration value="BASELINE"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PLANNED"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <element name="IfcWorkSchedule" substitutionGroup="ifc:IfcWorkControl" type="ifc:IfcWorkScheduleType"/>
  <complexType name="IfcWorkScheduleType">
    <complexContent>
      <extension base="ifc:IfcWorkControlType">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcWorkScheduleTypeEnumType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcWorkSchedulePropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcWorkSchedule"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="IfcWorkScheduleTypeEnumType">
    <restriction base="string">
      <enumeration value="ACTUAL"/>
      <enumeration value="BASELINE"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PLANNED"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
</schema>
