XSD/IfcPlumbingFireProtectionDomain.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:ifc="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" version="4.3">
  <include schemaLocation="IfcDomainLayer.xsd"/>
  <include schemaLocation="IfcSharedBldgServiceElements.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="IfcFireSuppressionTerminal" substitutionGroup="ifc:IfcFlowTerminal" type="ifc:IfcFireSuppressionTerminal_Type"/>
  <complexType name="IfcFireSuppressionTerminal_Type">
    <complexContent>
      <extension base="ifc:IfcFlowTerminal_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcFireSuppressionTerminalTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcFireSuppressionTerminal_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFireSuppressionTerminal"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFireSuppressionTerminalType" substitutionGroup="ifc:AbstractIfcFlowTerminalType" type="ifc:IfcFireSuppressionTerminalType_Type"/>
  <complexType name="IfcFireSuppressionTerminalType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowTerminalType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcFireSuppressionTerminalTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcFireSuppressionTerminalType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFireSuppressionTerminalType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFireSuppressionTerminalTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcFireSuppressionTerminalTypeEnum_Type"/>
  <simpleType name="IfcFireSuppressionTerminalTypeEnum_Type">
    <restriction base="string">
      <enumeration value="BREECHINGINLET"/>
      <enumeration value="FIREHYDRANT"/>
      <enumeration value="HOSEREEL"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="SPRINKLER"/>
      <enumeration value="SPRINKLERDEFLECTOR"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcFireSuppressionTerminalTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFireSuppressionTerminalTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcInterceptor" substitutionGroup="ifc:IfcFlowTreatmentDevice" type="ifc:IfcInterceptor_Type"/>
  <complexType name="IfcInterceptor_Type">
    <complexContent>
      <extension base="ifc:IfcFlowTreatmentDevice_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcInterceptorTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcInterceptor_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcInterceptor"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcInterceptorType" substitutionGroup="ifc:AbstractIfcFlowTreatmentDeviceType" type="ifc:IfcInterceptorType_Type"/>
  <complexType name="IfcInterceptorType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowTreatmentDeviceType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcInterceptorTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcInterceptorType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcInterceptorType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcInterceptorTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcInterceptorTypeEnum_Type"/>
  <simpleType name="IfcInterceptorTypeEnum_Type">
    <restriction base="string">
      <enumeration value="CYCLONIC"/>
      <enumeration value="GREASE"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="OIL"/>
      <enumeration value="PETROL"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcInterceptorTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcInterceptorTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSanitaryTerminal" substitutionGroup="ifc:IfcFlowTerminal" type="ifc:IfcSanitaryTerminal_Type"/>
  <complexType name="IfcSanitaryTerminal_Type">
    <complexContent>
      <extension base="ifc:IfcFlowTerminal_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcSanitaryTerminalTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSanitaryTerminal_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSanitaryTerminal"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSanitaryTerminalType" substitutionGroup="ifc:AbstractIfcFlowTerminalType" type="ifc:IfcSanitaryTerminalType_Type"/>
  <complexType name="IfcSanitaryTerminalType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowTerminalType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcSanitaryTerminalTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSanitaryTerminalType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSanitaryTerminalType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSanitaryTerminalTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcSanitaryTerminalTypeEnum_Type"/>
  <simpleType name="IfcSanitaryTerminalTypeEnum_Type">
    <restriction base="string">
      <enumeration value="BATH"/>
      <enumeration value="BIDET"/>
      <enumeration value="CISTERN"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="SANITARYFOUNTAIN"/>
      <enumeration value="SHOWER"/>
      <enumeration value="SINK"/>
      <enumeration value="TOILETPAN"/>
      <enumeration value="URINAL"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="WASHHANDBASIN"/>
      <enumeration value="WCSEAT"/>
    </restriction>
  </simpleType>
  <complexType name="IfcSanitaryTerminalTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSanitaryTerminalTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcStackTerminal" substitutionGroup="ifc:IfcFlowTerminal" type="ifc:IfcStackTerminal_Type"/>
  <complexType name="IfcStackTerminal_Type">
    <complexContent>
      <extension base="ifc:IfcFlowTerminal_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcStackTerminalTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcStackTerminal_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcStackTerminal"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcStackTerminalType" substitutionGroup="ifc:AbstractIfcFlowTerminalType" type="ifc:IfcStackTerminalType_Type"/>
  <complexType name="IfcStackTerminalType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowTerminalType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcStackTerminalTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcStackTerminalType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcStackTerminalType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcStackTerminalTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcStackTerminalTypeEnum_Type"/>
  <simpleType name="IfcStackTerminalTypeEnum_Type">
    <restriction base="string">
      <enumeration value="BIRDCAGE"/>
      <enumeration value="COWL"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="RAINWATERHOPPER"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcStackTerminalTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcStackTerminalTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcWasteTerminal" substitutionGroup="ifc:IfcFlowTerminal" type="ifc:IfcWasteTerminal_Type"/>
  <complexType name="IfcWasteTerminal_Type">
    <complexContent>
      <extension base="ifc:IfcFlowTerminal_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcWasteTerminalTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcWasteTerminal_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcWasteTerminal"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcWasteTerminalType" substitutionGroup="ifc:AbstractIfcFlowTerminalType" type="ifc:IfcWasteTerminalType_Type"/>
  <complexType name="IfcWasteTerminalType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFlowTerminalType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcWasteTerminalTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcWasteTerminalType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcWasteTerminalType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcWasteTerminalTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcWasteTerminalTypeEnum_Type"/>
  <simpleType name="IfcWasteTerminalTypeEnum_Type">
    <restriction base="string">
      <enumeration value="FLOORTRAP"/>
      <enumeration value="FLOORWASTE"/>
      <enumeration value="GULLYSUMP"/>
      <enumeration value="GULLYTRAP"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="ROOFDRAIN"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="WASTEDISPOSALUNIT"/>
      <enumeration value="WASTETRAP"/>
    </restriction>
  </simpleType>
  <complexType name="IfcWasteTerminalTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcWasteTerminalTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
