XSD/IfcProcessExtension.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:ifc="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" version="4.3">
  <include schemaLocation="IfcActorResource.xsd"/>
  <include schemaLocation="IfcCoreLayer.xsd"/>
  <include schemaLocation="IfcCostResource.xsd"/>
  <include schemaLocation="IfcDateTimeResource.xsd"/>
  <include schemaLocation="IfcExternalReferenceResource.xsd"/>
  <include schemaLocation="IfcGeometryResource.xsd"/>
  <include schemaLocation="IfcKernel.xsd"/>
  <include schemaLocation="IfcMeasureResource.xsd"/>
  <include schemaLocation="IfcPresentationAppearanceResource.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="IfcEvent" substitutionGroup="ifc:AbstractIfcProcess" type="ifc:IfcEvent_Type"/>
  <complexType name="IfcEvent_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcProcess_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcEventTypeEnum_PropertyType"/>
          <element minOccurs="0" name="eventTriggerType" type="ifc:IfcEventTriggerTypeEnum_PropertyType"/>
          <element minOccurs="0" name="userDefinedEventTriggerType" type="string"/>
          <element minOccurs="0" name="eventOccurenceTime" type="ifc:IfcEventTime_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcEvent_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcEvent"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcEventTriggerTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcEventTriggerTypeEnum_Type"/>
  <simpleType name="IfcEventTriggerTypeEnum_Type">
    <restriction base="string">
      <enumeration value="EVENTCOMPLEX"/>
      <enumeration value="EVENTMESSAGE"/>
      <enumeration value="EVENTRULE"/>
      <enumeration value="EVENTTIME"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcEventTriggerTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcEventTriggerTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcEventType" substitutionGroup="ifc:AbstractIfcTypeProcess" type="ifc:IfcEventType_Type"/>
  <complexType name="IfcEventType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcTypeProcess_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcEventTypeEnum_PropertyType"/>
          <element name="eventTriggerType" type="ifc:IfcEventTriggerTypeEnum_PropertyType"/>
          <element minOccurs="0" name="userDefinedEventTriggerType" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcEventType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcEventType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcEventTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcEventTypeEnum_Type"/>
  <simpleType name="IfcEventTypeEnum_Type">
    <restriction base="string">
      <enumeration value="ENDEVENT"/>
      <enumeration value="INTERMEDIATEEVENT"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="STARTEVENT"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcEventTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcEventTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcProcedure" substitutionGroup="ifc:AbstractIfcProcess" type="ifc:IfcProcedure_Type"/>
  <complexType name="IfcProcedure_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcProcess_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcProcedureTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcProcedure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcProcedure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcProcedureType" substitutionGroup="ifc:AbstractIfcTypeProcess" type="ifc:IfcProcedureType_Type"/>
  <complexType name="IfcProcedureType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcTypeProcess_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcProcedureTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcProcedureType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcProcedureType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcProcedureTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcProcedureTypeEnum_Type"/>
  <simpleType name="IfcProcedureTypeEnum_Type">
    <restriction base="string">
      <enumeration value="ADVICE_CAUTION"/>
      <enumeration value="ADVICE_NOTE"/>
      <enumeration value="ADVICE_WARNING"/>
      <enumeration value="CALIBRATION"/>
      <enumeration value="DIAGNOSTIC"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="SHUTDOWN"/>
      <enumeration value="STARTUP"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcProcedureTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcProcedureTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelSequence" substitutionGroup="ifc:AbstractIfcRelConnects" type="ifc:IfcRelSequence_Type"/>
  <complexType name="IfcRelSequence_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelConnects_Type">
        <sequence>
          <element minOccurs="0" name="sequenceType" type="ifc:IfcSequenceEnum_PropertyType"/>
          <element minOccurs="0" name="userDefinedSequenceType" type="string"/>
          <element name="relatedProcess" type="ifc:AbstractIfcProcess_PropertyType"/>
          <element name="relatingProcess" type="ifc:AbstractIfcProcess_PropertyType"/>
          <element minOccurs="0" name="timeLag" type="ifc:IfcLagTime_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelSequence_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelSequence"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSequenceEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcSequenceEnum_Type"/>
  <simpleType name="IfcSequenceEnum_Type">
    <restriction base="string">
      <enumeration value="FINISH_FINISH"/>
      <enumeration value="FINISH_START"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="START_FINISH"/>
      <enumeration value="START_START"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcSequenceEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSequenceEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTask" substitutionGroup="ifc:AbstractIfcProcess" type="ifc:IfcTask_Type"/>
  <complexType name="IfcTask_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcProcess_Type">
        <sequence>
          <element minOccurs="0" name="status" type="string"/>
          <element minOccurs="0" name="workMethod" type="string"/>
          <element name="isMilestone" type="boolean"/>
          <element minOccurs="0" name="priority" type="integer"/>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcTaskTypeEnum_PropertyType"/>
          <element minOccurs="0" name="taskTime" type="ifc:IfcTaskTime_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTask_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTask"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTaskType" substitutionGroup="ifc:AbstractIfcTypeProcess" type="ifc:IfcTaskType_Type"/>
  <complexType name="IfcTaskType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcTypeProcess_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcTaskTypeEnum_PropertyType"/>
          <element minOccurs="0" name="workMethod" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTaskType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTaskType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTaskTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcTaskTypeEnum_Type"/>
  <simpleType name="IfcTaskTypeEnum_Type">
    <restriction base="string">
      <enumeration value="ATTENDANCE"/>
      <enumeration value="CONSTRUCTION"/>
      <enumeration value="DEMOLITION"/>
      <enumeration value="DISMANTLE"/>
      <enumeration value="DISPOSAL"/>
      <enumeration value="INSTALLATION"/>
      <enumeration value="LOGISTIC"/>
      <enumeration value="MAINTENANCE"/>
      <enumeration value="MOVE"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="OPERATION"/>
      <enumeration value="REMOVAL"/>
      <enumeration value="RENOVATION"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcTaskTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTaskTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcWorkCalendar" substitutionGroup="ifc:AbstractIfcControl" type="ifc:IfcWorkCalendar_Type"/>
  <complexType name="IfcWorkCalendar_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcControl_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcWorkCalendarTypeEnum_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="workingTimes" type="ifc:IfcWorkTime_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="exceptionTimes" type="ifc:IfcWorkTime_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcWorkCalendar_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcWorkCalendar"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcWorkCalendarTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcWorkCalendarTypeEnum_Type"/>
  <simpleType name="IfcWorkCalendarTypeEnum_Type">
    <restriction base="string">
      <enumeration value="FIRSTSHIFT"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="SECONDSHIFT"/>
      <enumeration value="THIRDSHIFT"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcWorkCalendarTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcWorkCalendarTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcWorkControl" substitutionGroup="ifc:AbstractIfcControl" type="ifc:AbstractIfcWorkControl_Type"/>
  <complexType abstract="true" name="AbstractIfcWorkControl_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcControl_Type">
        <sequence>
          <element name="creationDate" type="dateTime"/>
          <element minOccurs="0" name="purpose" type="string"/>
          <element minOccurs="0" name="duration" type="duration"/>
          <element minOccurs="0" name="totalFloat" type="duration"/>
          <element name="startTime" type="dateTime"/>
          <element minOccurs="0" name="finishTime" type="dateTime"/>
          <element maxOccurs="unbounded" minOccurs="0" name="creators" type="ifc:IfcPerson_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcWorkControl_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcWorkControl"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcWorkPlan" substitutionGroup="ifc:AbstractIfcWorkControl" type="ifc:IfcWorkPlan_Type"/>
  <complexType name="IfcWorkPlan_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcWorkControl_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcWorkPlanTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcWorkPlan_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcWorkPlan"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcWorkPlanTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcWorkPlanTypeEnum_Type"/>
  <simpleType name="IfcWorkPlanTypeEnum_Type">
    <restriction base="string">
      <enumeration value="ACTUAL"/>
      <enumeration value="BASELINE"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PLANNED"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcWorkPlanTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcWorkPlanTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcWorkSchedule" substitutionGroup="ifc:AbstractIfcWorkControl" type="ifc:IfcWorkSchedule_Type"/>
  <complexType name="IfcWorkSchedule_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcWorkControl_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcWorkScheduleTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcWorkSchedule_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcWorkSchedule"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcWorkScheduleTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcWorkScheduleTypeEnum_Type"/>
  <simpleType name="IfcWorkScheduleTypeEnum_Type">
    <restriction base="string">
      <enumeration value="ACTUAL"/>
      <enumeration value="BASELINE"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PLANNED"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcWorkScheduleTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcWorkScheduleTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
