XSD/IfcProductExtension.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:ifc="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" version="4.3">
  <include schemaLocation="IfcActorResource.xsd"/>
  <include schemaLocation="IfcCoreLayer.xsd"/>
  <include schemaLocation="IfcExternalReferenceResource.xsd"/>
  <include schemaLocation="IfcGeometricConstraintResource.xsd"/>
  <include schemaLocation="IfcGeometricModelResource.xsd"/>
  <include schemaLocation="IfcGeometryResource.xsd"/>
  <include schemaLocation="IfcKernel.xsd"/>
  <include schemaLocation="IfcMaterialResource.xsd"/>
  <include schemaLocation="IfcMeasureResource.xsd"/>
  <include schemaLocation="IfcPresentationAppearanceResource.xsd"/>
  <include schemaLocation="IfcPropertyResource.xsd"/>
  <include schemaLocation="IfcQuantityResource.xsd"/>
  <include schemaLocation="IfcRepresentationResource.xsd"/>
  <include schemaLocation="IfcSharedBldgElements.xsd"/>
  <include schemaLocation="IfcSharedBldgServiceElements.xsd"/>
  <include schemaLocation="IfcSharedComponentElements.xsd"/>
  <include schemaLocation="IfcSharedFacilitiesElements.xsd"/>
  <include schemaLocation="IfcStructuralElementsDomain.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="IfcAlignment" substitutionGroup="ifc:IfcLinearPositioningElement" type="ifc:IfcAlignment_Type"/>
  <complexType name="IfcAlignment_Type">
    <complexContent>
      <extension base="ifc:IfcLinearPositioningElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcAlignmentTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcAlignment_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAlignment"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcAlignmentTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcAlignmentTypeEnum_Type"/>
  <simpleType name="IfcAlignmentTypeEnum_Type">
    <restriction base="string">
      <enumeration value="KILOPOINT"/>
      <enumeration value="MILEPOINT"/>
      <enumeration value="STATION"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="NOTDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcAlignmentTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAlignmentTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcAnnotation" substitutionGroup="ifc:AbstractIfcProduct" type="ifc:IfcAnnotation_Type"/>
  <complexType name="IfcAnnotation_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcProduct_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcAnnotation_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAnnotation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcAssemblyPlaceEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcAssemblyPlaceEnum_Type"/>
  <simpleType name="IfcAssemblyPlaceEnum_Type">
    <restriction base="string">
      <enumeration value="FACTORY"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="SITE"/>
    </restriction>
  </simpleType>
  <complexType name="IfcAssemblyPlaceEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAssemblyPlaceEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcBridge" substitutionGroup="ifc:IfcFacility" type="ifc:IfcBridge_Type"/>
  <complexType name="IfcBridge_Type">
    <complexContent>
      <extension base="ifc:IfcFacility_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcBridgeTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcBridge_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBridge"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcBridgePart" substitutionGroup="ifc:IfcFacilityPart" type="ifc:IfcBridgePart_Type"/>
  <complexType name="IfcBridgePart_Type">
    <complexContent>
      <extension base="ifc:IfcFacilityPart_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcBridgePartTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcBridgePart_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBridgePart"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcBridgePartTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcBridgePartTypeEnum_Type"/>
  <simpleType name="IfcBridgePartTypeEnum_Type">
    <restriction base="string">
      <enumeration value="ABUTMENT"/>
      <enumeration value="DECK"/>
      <enumeration value="DECK_SEGMENT"/>
      <enumeration value="FOUNDATION"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PIER"/>
      <enumeration value="PIER_SEGMENT"/>
      <enumeration value="PYLON"/>
      <enumeration value="SUBSTRUCTURE"/>
      <enumeration value="SUPERSTRUCTURE"/>
      <enumeration value="SURFACESTRUCTURE"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcBridgePartTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBridgePartTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcBridgeTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcBridgeTypeEnum_Type"/>
  <simpleType name="IfcBridgeTypeEnum_Type">
    <restriction base="string">
      <enumeration value="ARCHED"/>
      <enumeration value="CABLE_STAYED"/>
      <enumeration value="CANTILEVER"/>
      <enumeration value="CULVERT"/>
      <enumeration value="FRAMEWORK"/>
      <enumeration value="GIRDER"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="SUSPENSION"/>
      <enumeration value="TRUSS"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcBridgeTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBridgeTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcBuilding" substitutionGroup="ifc:IfcFacility" type="ifc:IfcBuilding_Type"/>
  <complexType name="IfcBuilding_Type">
    <complexContent>
      <extension base="ifc:IfcFacility_Type">
        <sequence>
          <element minOccurs="0" name="elevationOfRefHeight" type="gml:LengthType"/>
          <element minOccurs="0" name="elevationOfTerrain" type="gml:LengthType"/>
          <element minOccurs="0" name="buildingAddress" type="ifc:IfcPostalAddress_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcBuilding_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBuilding"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcBuildingElement" substitutionGroup="ifc:AbstractIfcElement" type="ifc:AbstractIfcBuildingElement_Type"/>
  <complexType abstract="true" name="AbstractIfcBuildingElement_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcElement_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcBuildingElement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcBuildingElement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcBuildingElementType" substitutionGroup="ifc:AbstractIfcElementType" type="ifc:AbstractIfcBuildingElementType_Type"/>
  <complexType abstract="true" name="AbstractIfcBuildingElementType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcElementType_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcBuildingElementType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcBuildingElementType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcBuildingStorey" substitutionGroup="ifc:IfcFacilityPart" type="ifc:IfcBuildingStorey_Type"/>
  <complexType name="IfcBuildingStorey_Type">
    <complexContent>
      <extension base="ifc:IfcFacilityPart_Type">
        <sequence>
          <element minOccurs="0" name="elevation" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcBuildingStorey_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBuildingStorey"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCivilElement" substitutionGroup="ifc:AbstractIfcElement" type="ifc:IfcCivilElement_Type"/>
  <complexType name="IfcCivilElement_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcElement_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCivilElement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCivilElement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCivilElementType" substitutionGroup="ifc:AbstractIfcElementType" type="ifc:IfcCivilElementType_Type"/>
  <complexType name="IfcCivilElementType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcElementType_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCivilElementType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCivilElementType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDistributionElement" substitutionGroup="ifc:AbstractIfcElement" type="ifc:IfcDistributionElement_Type"/>
  <complexType name="IfcDistributionElement_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcElement_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDistributionElement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDistributionElement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDistributionElementType" substitutionGroup="ifc:AbstractIfcElementType" type="ifc:IfcDistributionElementType_Type"/>
  <complexType name="IfcDistributionElementType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcElementType_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDistributionElementType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDistributionElementType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcElement" substitutionGroup="ifc:AbstractIfcProduct" type="ifc:AbstractIfcElement_Type"/>
  <complexType abstract="true" name="AbstractIfcElement_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcProduct_Type">
        <sequence>
          <element minOccurs="0" name="tag" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcElement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcElement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcElementAssembly" substitutionGroup="ifc:AbstractIfcElement" type="ifc:IfcElementAssembly_Type"/>
  <complexType name="IfcElementAssembly_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcElement_Type">
        <sequence>
          <element minOccurs="0" name="assemblyPlace" type="ifc:IfcAssemblyPlaceEnum_PropertyType"/>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcElementAssemblyTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcElementAssembly_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcElementAssembly"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcElementAssemblyType" substitutionGroup="ifc:AbstractIfcElementType" type="ifc:IfcElementAssemblyType_Type"/>
  <complexType name="IfcElementAssemblyType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcElementAssemblyTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcElementAssemblyType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcElementAssemblyType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcElementAssemblyTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcElementAssemblyTypeEnum_Type"/>
  <simpleType name="IfcElementAssemblyTypeEnum_Type">
    <restriction base="string">
      <enumeration value="ABUTMENT"/>
      <enumeration value="ACCESSORY_ASSEMBLY"/>
      <enumeration value="ARCH"/>
      <enumeration value="BEAM_GRID"/>
      <enumeration value="BRACED_FRAME"/>
      <enumeration value="CROSS_BRACING"/>
      <enumeration value="DECK"/>
      <enumeration value="GIRDER"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PIER"/>
      <enumeration value="PYLON"/>
      <enumeration value="REINFORCEMENT_UNIT"/>
      <enumeration value="RIGID_FRAME"/>
      <enumeration value="SLAB_FIELD"/>
      <enumeration value="SUMPBUSTER"/>
      <enumeration value="TRAFFICCALMINGDEVICE"/>
      <enumeration value="TRUSS"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcElementAssemblyTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcElementAssemblyTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcElementCompositionEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcElementCompositionEnum_Type"/>
  <simpleType name="IfcElementCompositionEnum_Type">
    <restriction base="string">
      <enumeration value="COMPLEX"/>
      <enumeration value="ELEMENT"/>
      <enumeration value="PARTIAL"/>
    </restriction>
  </simpleType>
  <complexType name="IfcElementCompositionEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcElementCompositionEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcElementQuantity" substitutionGroup="ifc:AbstractIfcQuantitySet" type="ifc:IfcElementQuantity_Type"/>
  <complexType name="IfcElementQuantity_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcQuantitySet_Type">
        <sequence>
          <element minOccurs="0" name="methodOfMeasurement" type="string"/>
          <element maxOccurs="unbounded" name="quantities" type="ifc:AbstractIfcPhysicalQuantity_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcElementQuantity_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcElementQuantity"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcElementType" substitutionGroup="ifc:IfcTypeProduct" type="ifc:AbstractIfcElementType_Type"/>
  <complexType abstract="true" name="AbstractIfcElementType_Type">
    <complexContent>
      <extension base="ifc:IfcTypeProduct_Type">
        <sequence>
          <element minOccurs="0" name="elementType" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcElementType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcElementType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcEventElement" substitutionGroup="ifc:AbstractIfcProduct" type="ifc:IfcEventElement_Type"/>
  <complexType name="IfcEventElement_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcProduct_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcEventElementTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcEventElement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcEventElement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcEventElementTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcEventElementTypeEnum_Type"/>
  <simpleType name="IfcEventElementTypeEnum_Type">
    <restriction base="string">
      <enumeration value="NOTDEFINED"/>
      <enumeration value="SUPERELEVATION"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="WIDTH"/>
    </restriction>
  </simpleType>
  <complexType name="IfcEventElementTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcEventElementTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcExternalSpatialElement" substitutionGroup="ifc:AbstractIfcExternalSpatialStructureElement" type="ifc:IfcExternalSpatialElement_Type"/>
  <complexType name="IfcExternalSpatialElement_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcExternalSpatialStructureElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcExternalSpatialElementTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcExternalSpatialElement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcExternalSpatialElement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcExternalSpatialElementTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcExternalSpatialElementTypeEnum_Type"/>
  <simpleType name="IfcExternalSpatialElementTypeEnum_Type">
    <restriction base="string">
      <enumeration value="EXTERNAL"/>
      <enumeration value="EXTERNAL_EARTH"/>
      <enumeration value="EXTERNAL_FIRE"/>
      <enumeration value="EXTERNAL_WATER"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcExternalSpatialElementTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcExternalSpatialElementTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcExternalSpatialStructureElement" substitutionGroup="ifc:AbstractIfcSpatialElement" type="ifc:AbstractIfcExternalSpatialStructureElement_Type"/>
  <complexType abstract="true" name="AbstractIfcExternalSpatialStructureElement_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcSpatialElement_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcExternalSpatialStructureElement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcExternalSpatialStructureElement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFacility" substitutionGroup="ifc:AbstractIfcSpatialStructureElement" type="ifc:IfcFacility_Type"/>
  <complexType name="IfcFacility_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcSpatialStructureElement_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcFacility_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFacility"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFacilityPart" substitutionGroup="ifc:AbstractIfcSpatialStructureElement" type="ifc:IfcFacilityPart_Type"/>
  <complexType name="IfcFacilityPart_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcSpatialStructureElement_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcFacilityPart_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFacilityPart"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcFeatureElement" substitutionGroup="ifc:AbstractIfcElement" type="ifc:AbstractIfcFeatureElement_Type"/>
  <complexType abstract="true" name="AbstractIfcFeatureElement_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcElement_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcFeatureElement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcFeatureElement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcFeatureElementAddition" substitutionGroup="ifc:AbstractIfcFeatureElement" type="ifc:AbstractIfcFeatureElementAddition_Type"/>
  <complexType abstract="true" name="AbstractIfcFeatureElementAddition_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFeatureElement_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcFeatureElementAddition_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcFeatureElementAddition"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcFeatureElementSubtraction" substitutionGroup="ifc:AbstractIfcFeatureElement" type="ifc:AbstractIfcFeatureElementSubtraction_Type"/>
  <complexType abstract="true" name="AbstractIfcFeatureElementSubtraction_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFeatureElement_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcFeatureElementSubtraction_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcFeatureElementSubtraction"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFurnishingElement" substitutionGroup="ifc:AbstractIfcElement" type="ifc:IfcFurnishingElement_Type"/>
  <complexType name="IfcFurnishingElement_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcElement_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcFurnishingElement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFurnishingElement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFurnishingElementType" substitutionGroup="ifc:AbstractIfcElementType" type="ifc:IfcFurnishingElementType_Type"/>
  <complexType name="IfcFurnishingElementType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcElementType_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcFurnishingElementType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFurnishingElementType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcGeographicElement" substitutionGroup="ifc:AbstractIfcElement" type="ifc:IfcGeographicElement_Type"/>
  <complexType name="IfcGeographicElement_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcGeographicElementTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcGeographicElement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcGeographicElement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcGeographicElementType" substitutionGroup="ifc:AbstractIfcElementType" type="ifc:IfcGeographicElementType_Type"/>
  <complexType name="IfcGeographicElementType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcGeographicElementTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcGeographicElementType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcGeographicElementType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcGeographicElementTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcGeographicElementTypeEnum_Type"/>
  <simpleType name="IfcGeographicElementTypeEnum_Type">
    <restriction base="string">
      <enumeration value="NOTDEFINED"/>
      <enumeration value="SOIL_BORING_POINT"/>
      <enumeration value="TERRAIN"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcGeographicElementTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcGeographicElementTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcGeotechnicalElement" substitutionGroup="ifc:AbstractIfcElement" type="ifc:IfcGeotechnicalElement_Type"/>
  <complexType name="IfcGeotechnicalElement_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcGeotechnicalElementTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcGeotechnicalElement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcGeotechnicalElement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcGeotechnicalElementTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcGeotechnicalElementTypeEnum_Type"/>
  <simpleType name="IfcGeotechnicalElementTypeEnum_Type">
    <restriction base="string">
      <enumeration value="BOREHOLEASSEMBLY"/>
      <enumeration value="GEOMODELASSEMBLY"/>
      <enumeration value="GEOSLICEASSEMBLY"/>
      <enumeration value="SOLIDSTRATUM"/>
      <enumeration value="VOIDSTRATUM"/>
      <enumeration value="WATERSTRATUM"/>
    </restriction>
  </simpleType>
  <complexType name="IfcGeotechnicalElementTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcGeotechnicalElementTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcGrid" substitutionGroup="ifc:AbstractIfcPositioningElement" type="ifc:IfcGrid_Type"/>
  <complexType name="IfcGrid_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPositioningElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcGridTypeEnum_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="wAxes" type="ifc:IfcGridAxis_PropertyType"/>
          <element maxOccurs="unbounded" name="vAxes" type="ifc:IfcGridAxis_PropertyType"/>
          <element maxOccurs="unbounded" name="uAxes" type="ifc:IfcGridAxis_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcGrid_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcGrid"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcGridTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcGridTypeEnum_Type"/>
  <simpleType name="IfcGridTypeEnum_Type">
    <restriction base="string">
      <enumeration value="IRREGULAR"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="RADIAL"/>
      <enumeration value="RECTANGULAR"/>
      <enumeration value="TRIANGULAR"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcGridTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcGridTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcInternalOrExternalEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcInternalOrExternalEnum_Type"/>
  <simpleType name="IfcInternalOrExternalEnum_Type">
    <restriction base="string">
      <enumeration value="EXTERNAL"/>
      <enumeration value="EXTERNAL_EARTH"/>
      <enumeration value="EXTERNAL_FIRE"/>
      <enumeration value="EXTERNAL_WATER"/>
      <enumeration value="INTERNAL"/>
      <enumeration value="NOTDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcInternalOrExternalEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcInternalOrExternalEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLateralRoadPart" substitutionGroup="ifc:IfcRoadPart" type="ifc:IfcLateralRoadPart_Type"/>
  <complexType name="IfcLateralRoadPart_Type">
    <complexContent>
      <extension base="ifc:IfcRoadPart_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcLateralRoadPartTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLateralRoadPart_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLateralRoadPart"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLateralRoadPartTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcLateralRoadPartTypeEnum_Type"/>
  <simpleType name="IfcLateralRoadPartTypeEnum_Type">
    <restriction base="string">
      <enumeration value="BUSSTOP"/>
      <enumeration value="CARRIAGEWAY"/>
      <enumeration value="CENTRALISLAND"/>
      <enumeration value="CENTRALRESERVE"/>
      <enumeration value="HARDSHOULDER"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PARKINGBAY"/>
      <enumeration value="PASSINGBAY"/>
      <enumeration value="REFUGEISLAND"/>
      <enumeration value="ROADSIDE"/>
      <enumeration value="ROADSIDEPART"/>
      <enumeration value="ROADWAYPLATEAU"/>
      <enumeration value="SIDEWALK"/>
      <enumeration value="SOFTSHOULDER"/>
      <enumeration value="TRAFFICLANE"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcLateralRoadPartTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLateralRoadPartTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLinearPositioningElement" substitutionGroup="ifc:AbstractIfcPositioningElement" type="ifc:IfcLinearPositioningElement_Type"/>
  <complexType name="IfcLinearPositioningElement_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPositioningElement_Type">
        <sequence>
          <element name="axis" type="ifc:AbstractIfcCurve_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLinearPositioningElement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLinearPositioningElement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLongitudinalRoadPart" substitutionGroup="ifc:IfcRoadPart" type="ifc:IfcLongitudinalRoadPart_Type"/>
  <complexType name="IfcLongitudinalRoadPart_Type">
    <complexContent>
      <extension base="ifc:IfcRoadPart_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcLongitudinalRoadPartTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLongitudinalRoadPart_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLongitudinalRoadPart"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcLongitudinalRoadPartTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcLongitudinalRoadPartTypeEnum_Type"/>
  <simpleType name="IfcLongitudinalRoadPartTypeEnum_Type">
    <restriction base="string">
      <enumeration value="BYCICLECROSSING"/>
      <enumeration value="INTERSECTION"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PEDESTRIANCROSSING"/>
      <enumeration value="RAILWAYCROSSING"/>
      <enumeration value="ROUNDABOUT"/>
      <enumeration value="SEGMENT"/>
      <enumeration value="TOLLPLAZA"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcLongitudinalRoadPartTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLongitudinalRoadPartTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcOpeningElement" substitutionGroup="ifc:AbstractIfcFeatureElementSubtraction" type="ifc:IfcOpeningElement_Type"/>
  <complexType name="IfcOpeningElement_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFeatureElementSubtraction_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcOpeningElementTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcOpeningElement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcOpeningElement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcOpeningElementTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcOpeningElementTypeEnum_Type"/>
  <simpleType name="IfcOpeningElementTypeEnum_Type">
    <restriction base="string">
      <enumeration value="NOTDEFINED"/>
      <enumeration value="OPENING"/>
      <enumeration value="RECESS"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcOpeningElementTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcOpeningElementTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcOpeningStandardCase" substitutionGroup="ifc:IfcOpeningElement" type="ifc:IfcOpeningStandardCase_Type"/>
  <complexType name="IfcOpeningStandardCase_Type">
    <complexContent>
      <extension base="ifc:IfcOpeningElement_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcOpeningStandardCase_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcOpeningStandardCase"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPhysicalOrVirtualEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcPhysicalOrVirtualEnum_Type"/>
  <simpleType name="IfcPhysicalOrVirtualEnum_Type">
    <restriction base="string">
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PHYSICAL"/>
      <enumeration value="VIRTUAL"/>
    </restriction>
  </simpleType>
  <complexType name="IfcPhysicalOrVirtualEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPhysicalOrVirtualEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcPort" substitutionGroup="ifc:AbstractIfcProduct" type="ifc:AbstractIfcPort_Type"/>
  <complexType abstract="true" name="AbstractIfcPort_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcProduct_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcPort_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcPort"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcPositioningElement" substitutionGroup="ifc:AbstractIfcProduct" type="ifc:AbstractIfcPositioningElement_Type"/>
  <complexType abstract="true" name="AbstractIfcPositioningElement_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcProduct_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcPositioningElement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcPositioningElement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcProjectionElement" substitutionGroup="ifc:AbstractIfcFeatureElementAddition" type="ifc:IfcProjectionElement_Type"/>
  <complexType name="IfcProjectionElement_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFeatureElementAddition_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcProjectionElementTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcProjectionElement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcProjectionElement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcProjectionElementTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcProjectionElementTypeEnum_Type"/>
  <simpleType name="IfcProjectionElementTypeEnum_Type">
    <restriction base="string">
      <enumeration value="BLISTER"/>
      <enumeration value="DEVIATOR"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcProjectionElementTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcProjectionElementTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcReferent" substitutionGroup="ifc:AbstractIfcPositioningElement" type="ifc:IfcReferent_Type"/>
  <complexType name="IfcReferent_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPositioningElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcReferentTypeEnum_PropertyType"/>
          <element minOccurs="0" name="restartDistance" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcReferent_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcReferent"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcReferentTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcReferentTypeEnum_Type"/>
  <simpleType name="IfcReferentTypeEnum_Type">
    <restriction base="string">
      <enumeration value="KILOPOINT"/>
      <enumeration value="MILEPOINT"/>
      <enumeration value="STATION"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="NOTDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcReferentTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcReferentTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelAssociatesMaterial" substitutionGroup="ifc:AbstractIfcRelAssociates" type="ifc:IfcRelAssociatesMaterial_Type"/>
  <complexType name="IfcRelAssociatesMaterial_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelAssociates_Type">
        <sequence>
          <element name="relatingMaterial" type="ifc:IfcMaterialSelect_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelAssociatesMaterial_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelAssociatesMaterial"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelConnectsElements" substitutionGroup="ifc:AbstractIfcRelConnects" type="ifc:IfcRelConnectsElements_Type"/>
  <complexType name="IfcRelConnectsElements_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelConnects_Type">
        <sequence>
          <element minOccurs="0" name="connectionGeometry" type="ifc:AbstractIfcConnectionGeometry_PropertyType"/>
          <element name="relatingElement" type="ifc:AbstractIfcElement_PropertyType"/>
          <element name="relatedElement" type="ifc:AbstractIfcElement_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelConnectsElements_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelConnectsElements"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelConnectsPortToElement" substitutionGroup="ifc:AbstractIfcRelConnects" type="ifc:IfcRelConnectsPortToElement_Type"/>
  <complexType name="IfcRelConnectsPortToElement_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelConnects_Type">
        <sequence>
          <element name="relatingPort" type="ifc:AbstractIfcPort_PropertyType"/>
          <element name="relatedElement" type="ifc:IfcDistributionElement_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelConnectsPortToElement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelConnectsPortToElement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelConnectsPorts" substitutionGroup="ifc:AbstractIfcRelConnects" type="ifc:IfcRelConnectsPorts_Type"/>
  <complexType name="IfcRelConnectsPorts_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelConnects_Type">
        <sequence>
          <element minOccurs="0" name="realizingElement" type="ifc:AbstractIfcElement_PropertyType"/>
          <element name="relatedPort" type="ifc:AbstractIfcPort_PropertyType"/>
          <element name="relatingPort" type="ifc:AbstractIfcPort_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelConnectsPorts_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelConnectsPorts"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelConnectsWithRealizingElements" substitutionGroup="ifc:IfcRelConnectsElements" type="ifc:IfcRelConnectsWithRealizingElements_Type"/>
  <complexType name="IfcRelConnectsWithRealizingElements_Type">
    <complexContent>
      <extension base="ifc:IfcRelConnectsElements_Type">
        <sequence>
          <element minOccurs="0" name="connectionType" type="string"/>
          <element maxOccurs="unbounded" name="realizingElements" type="ifc:AbstractIfcElement_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelConnectsWithRealizingElements_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelConnectsWithRealizingElements"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelContainedInSpatialStructure" substitutionGroup="ifc:AbstractIfcRelConnects" type="ifc:IfcRelContainedInSpatialStructure_Type"/>
  <complexType name="IfcRelContainedInSpatialStructure_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelConnects_Type">
        <sequence>
          <element maxOccurs="unbounded" name="relatedElements" type="ifc:AbstractIfcProduct_PropertyType"/>
          <element name="relatingStructure" type="ifc:AbstractIfcSpatialElement_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelContainedInSpatialStructure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelContainedInSpatialStructure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelFillsElement" substitutionGroup="ifc:AbstractIfcRelConnects" type="ifc:IfcRelFillsElement_Type"/>
  <complexType name="IfcRelFillsElement_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelConnects_Type">
        <sequence>
          <element name="relatingOpeningElement" type="ifc:IfcOpeningElement_PropertyType"/>
          <element name="relatedBuildingElement" type="ifc:AbstractIfcElement_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelFillsElement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelFillsElement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelInterfacesSpatialStructure" substitutionGroup="ifc:AbstractIfcRelConnects" type="ifc:IfcRelInterfacesSpatialStructure_Type"/>
  <complexType name="IfcRelInterfacesSpatialStructure_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelConnects_Type">
        <sequence>
          <element name="interfaceType" type="string"/>
          <element name="relatedElement" type="ifc:AbstractIfcSpatialStructureElement_PropertyType"/>
          <element name="relatedElement" type="ifc:AbstractIfcSpatialStructureElement_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelInterfacesSpatialStructure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelInterfacesSpatialStructure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelInterferesElements" substitutionGroup="ifc:AbstractIfcRelConnects" type="ifc:IfcRelInterferesElements_Type"/>
  <complexType name="IfcRelInterferesElements_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelConnects_Type">
        <sequence>
          <element minOccurs="0" name="interferenceType" type="string"/>
          <element name="impliedOrder"/>
          <element name="relatingElement" type="ifc:AbstractIfcElement_PropertyType"/>
          <element name="relatedElement" type="ifc:AbstractIfcElement_PropertyType"/>
          <element minOccurs="0" name="interferenceGeometry" type="ifc:AbstractIfcConnectionGeometry_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelInterferesElements_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelInterferesElements"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelPositions" substitutionGroup="ifc:AbstractIfcRelConnects" type="ifc:IfcRelPositions_Type"/>
  <complexType name="IfcRelPositions_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelConnects_Type">
        <sequence>
          <element maxOccurs="unbounded" name="relatedProducts" type="ifc:AbstractIfcProduct_PropertyType"/>
          <element name="relatingPositioningElement" type="ifc:AbstractIfcPositioningElement_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelPositions_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelPositions"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelProjectsElement" substitutionGroup="ifc:AbstractIfcRelDecomposes" type="ifc:IfcRelProjectsElement_Type"/>
  <complexType name="IfcRelProjectsElement_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelDecomposes_Type">
        <sequence>
          <element name="relatingElement" type="ifc:AbstractIfcElement_PropertyType"/>
          <element name="relatedFeatureElement" type="ifc:AbstractIfcFeatureElementAddition_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelProjectsElement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelProjectsElement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelReferencedInSpatialStructure" substitutionGroup="ifc:AbstractIfcRelConnects" type="ifc:IfcRelReferencedInSpatialStructure_Type"/>
  <complexType name="IfcRelReferencedInSpatialStructure_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelConnects_Type">
        <sequence>
          <element maxOccurs="unbounded" name="relatedElements" type="ifc:AbstractIfcProduct_PropertyType"/>
          <element name="relatingStructure" type="ifc:AbstractIfcSpatialElement_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelReferencedInSpatialStructure_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelReferencedInSpatialStructure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelServicesBuildings" substitutionGroup="ifc:AbstractIfcRelConnects" type="ifc:IfcRelServicesBuildings_Type"/>
  <complexType name="IfcRelServicesBuildings_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelConnects_Type">
        <sequence>
          <element name="relatingSystem" type="ifc:IfcSystem_PropertyType"/>
          <element maxOccurs="unbounded" name="relatedBuildings" type="ifc:AbstractIfcSpatialElement_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelServicesBuildings_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelServicesBuildings"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelSpaceBoundary" substitutionGroup="ifc:AbstractIfcRelConnects" type="ifc:IfcRelSpaceBoundary_Type"/>
  <complexType name="IfcRelSpaceBoundary_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelConnects_Type">
        <sequence>
          <element name="relatingSpace" type="ifc:IfcSpaceBoundarySelect_PropertyType"/>
          <element name="physicalOrVirtualBoundary" type="ifc:IfcPhysicalOrVirtualEnum_PropertyType"/>
          <element name="internalOrExternalBoundary" type="ifc:IfcInternalOrExternalEnum_PropertyType"/>
          <element minOccurs="0" name="connectionGeometry" type="ifc:AbstractIfcConnectionGeometry_PropertyType"/>
          <element name="relatedBuildingElement" type="ifc:AbstractIfcElement_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelSpaceBoundary_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelSpaceBoundary"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelSpaceBoundary1stLevel" substitutionGroup="ifc:IfcRelSpaceBoundary" type="ifc:IfcRelSpaceBoundary1stLevel_Type"/>
  <complexType name="IfcRelSpaceBoundary1stLevel_Type">
    <complexContent>
      <extension base="ifc:IfcRelSpaceBoundary_Type">
        <sequence>
          <element minOccurs="0" name="parentBoundary" type="ifc:IfcRelSpaceBoundary1stLevel_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelSpaceBoundary1stLevel_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelSpaceBoundary1stLevel"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelSpaceBoundary2ndLevel" substitutionGroup="ifc:IfcRelSpaceBoundary1stLevel" type="ifc:IfcRelSpaceBoundary2ndLevel_Type"/>
  <complexType name="IfcRelSpaceBoundary2ndLevel_Type">
    <complexContent>
      <extension base="ifc:IfcRelSpaceBoundary1stLevel_Type">
        <sequence>
          <element minOccurs="0" name="correspondingBoundary" type="ifc:IfcRelSpaceBoundary2ndLevel_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelSpaceBoundary2ndLevel_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelSpaceBoundary2ndLevel"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelVoidsElement" substitutionGroup="ifc:AbstractIfcRelDecomposes" type="ifc:IfcRelVoidsElement_Type"/>
  <complexType name="IfcRelVoidsElement_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelDecomposes_Type">
        <sequence>
          <element name="relatedOpeningElement" type="ifc:AbstractIfcFeatureElementSubtraction_PropertyType"/>
          <element name="relatingBuildingElement" type="ifc:AbstractIfcElement_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelVoidsElement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelVoidsElement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRoad" substitutionGroup="ifc:IfcFacility" type="ifc:IfcRoad_Type"/>
  <complexType name="IfcRoad_Type">
    <complexContent>
      <extension base="ifc:IfcFacility_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRoad_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRoad"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRoadPart" substitutionGroup="ifc:IfcFacilityPart" type="ifc:IfcRoadPart_Type"/>
  <complexType name="IfcRoadPart_Type">
    <complexContent>
      <extension base="ifc:IfcFacilityPart_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRoadPart_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRoadPart"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSite" substitutionGroup="ifc:AbstractIfcSpatialStructureElement" type="ifc:IfcSite_Type"/>
  <complexType name="IfcSite_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcSpatialStructureElement_Type">
        <sequence>
          <element minOccurs="0" name="refLatitude" type="gml:AngleType"/>
          <element minOccurs="0" name="refLongitude" type="gml:AngleType"/>
          <element minOccurs="0" name="refElevation" type="gml:LengthType"/>
          <element minOccurs="0" name="landTitleNumber" type="string"/>
          <element minOccurs="0" name="siteAddress" type="ifc:IfcPostalAddress_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSite_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSite"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSpace" substitutionGroup="ifc:AbstractIfcSpatialStructureElement" type="ifc:IfcSpace_Type"/>
  <complexType name="IfcSpace_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcSpatialStructureElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcSpaceTypeEnum_PropertyType"/>
          <element minOccurs="0" name="elevationWithFlooring" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSpace_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSpace"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSpaceBoundarySelect" type="ifc:IfcSpaceBoundarySelect_Type"/>
  <complexType name="IfcSpaceBoundarySelect_Type">
    <choice>
      <element name="externalSpatialElement" type="ifc:IfcExternalSpatialElement_PropertyType"/>
      <element name="space" type="ifc:IfcSpace_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcSpaceBoundarySelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSpaceBoundarySelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSpaceType" substitutionGroup="ifc:AbstractIfcSpatialStructureElementType" type="ifc:IfcSpaceType_Type"/>
  <complexType name="IfcSpaceType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcSpatialStructureElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcSpaceTypeEnum_PropertyType"/>
          <element minOccurs="0" name="longName" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSpaceType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSpaceType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSpaceTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcSpaceTypeEnum_Type"/>
  <simpleType name="IfcSpaceTypeEnum_Type">
    <restriction base="string">
      <enumeration value="EXTERNAL"/>
      <enumeration value="GFA"/>
      <enumeration value="INTERNAL"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PARKING"/>
      <enumeration value="SPACE"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcSpaceTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSpaceTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcSpatialElement" substitutionGroup="ifc:AbstractIfcProduct" type="ifc:AbstractIfcSpatialElement_Type"/>
  <complexType abstract="true" name="AbstractIfcSpatialElement_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcProduct_Type">
        <sequence>
          <element minOccurs="0" name="longName" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcSpatialElement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcSpatialElement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcSpatialElementType" substitutionGroup="ifc:IfcTypeProduct" type="ifc:AbstractIfcSpatialElementType_Type"/>
  <complexType abstract="true" name="AbstractIfcSpatialElementType_Type">
    <complexContent>
      <extension base="ifc:IfcTypeProduct_Type">
        <sequence>
          <element minOccurs="0" name="elementType" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcSpatialElementType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcSpatialElementType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcSpatialStructureElement" substitutionGroup="ifc:AbstractIfcSpatialElement" type="ifc:AbstractIfcSpatialStructureElement_Type"/>
  <complexType abstract="true" name="AbstractIfcSpatialStructureElement_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcSpatialElement_Type">
        <sequence>
          <element minOccurs="0" name="compositionType" type="ifc:IfcElementCompositionEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcSpatialStructureElement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcSpatialStructureElement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcSpatialStructureElementType" substitutionGroup="ifc:AbstractIfcSpatialElementType" type="ifc:AbstractIfcSpatialStructureElementType_Type"/>
  <complexType abstract="true" name="AbstractIfcSpatialStructureElementType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcSpatialElementType_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcSpatialStructureElementType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcSpatialStructureElementType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSpatialZone" substitutionGroup="ifc:AbstractIfcSpatialElement" type="ifc:IfcSpatialZone_Type"/>
  <complexType name="IfcSpatialZone_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcSpatialElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcSpatialZoneTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSpatialZone_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSpatialZone"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSpatialZoneType" substitutionGroup="ifc:AbstractIfcSpatialElementType" type="ifc:IfcSpatialZoneType_Type"/>
  <complexType name="IfcSpatialZoneType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcSpatialElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcSpatialZoneTypeEnum_PropertyType"/>
          <element minOccurs="0" name="longName" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSpatialZoneType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSpatialZoneType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSpatialZoneTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcSpatialZoneTypeEnum_Type"/>
  <simpleType name="IfcSpatialZoneTypeEnum_Type">
    <restriction base="string">
      <enumeration value="CONSTRUCTION"/>
      <enumeration value="FIRESAFETY"/>
      <enumeration value="LIGHTING"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="OCCUPANCY"/>
      <enumeration value="SECURITY"/>
      <enumeration value="THERMAL"/>
      <enumeration value="TRANSPORT"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="VENTILATION"/>
    </restriction>
  </simpleType>
  <complexType name="IfcSpatialZoneTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSpatialZoneTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSystem" substitutionGroup="ifc:IfcGroup" type="ifc:IfcSystem_Type"/>
  <complexType name="IfcSystem_Type">
    <complexContent>
      <extension base="ifc:IfcGroup_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSystem_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSystem"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTransportElement" substitutionGroup="ifc:AbstractIfcElement" type="ifc:IfcTransportElement_Type"/>
  <complexType name="IfcTransportElement_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcTransportElementTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTransportElement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTransportElement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTransportElementType" substitutionGroup="ifc:AbstractIfcElementType" type="ifc:IfcTransportElementType_Type"/>
  <complexType name="IfcTransportElementType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcTransportElementTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTransportElementType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTransportElementType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTransportElementTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcTransportElementTypeEnum_Type"/>
  <simpleType name="IfcTransportElementTypeEnum_Type">
    <restriction base="string">
      <enumeration value="CRANEWAY"/>
      <enumeration value="ELEVATOR"/>
      <enumeration value="ESCALATOR"/>
      <enumeration value="LIFTINGGEAR"/>
      <enumeration value="MOVINGWALKWAY"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcTransportElementTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTransportElementTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcVerticalRoadPart" substitutionGroup="ifc:IfcRoadPart" type="ifc:IfcVerticalRoadPart_Type"/>
  <complexType name="IfcVerticalRoadPart_Type">
    <complexContent>
      <extension base="ifc:IfcRoadPart_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcVerticalRoadPartTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcVerticalRoadPart_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcVerticalRoadPart"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcVerticalRoadPartTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcVerticalRoadPartTypeEnum_Type"/>
  <simpleType name="IfcVerticalRoadPartTypeEnum_Type">
    <restriction base="string">
      <enumeration value="ABOVEGROUND"/>
      <enumeration value="BELOWGROUND"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcVerticalRoadPartTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcVerticalRoadPartTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcVirtualElement" substitutionGroup="ifc:AbstractIfcElement" type="ifc:IfcVirtualElement_Type"/>
  <complexType name="IfcVirtualElement_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcElement_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcVirtualElement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcVirtualElement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcZone" substitutionGroup="ifc:IfcSystem" type="ifc:IfcZone_Type"/>
  <complexType name="IfcZone_Type">
    <complexContent>
      <extension base="ifc:IfcSystem_Type">
        <sequence>
          <element minOccurs="0" name="longName" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcZone_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcZone"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
