XSD/IfcProfileResource.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:ifc="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" version="4.3">
  <include schemaLocation="IfcExternalReferenceResource.xsd"/>
  <include schemaLocation="IfcGeometryResource.xsd"/>
  <include schemaLocation="IfcMeasureResource.xsd"/>
  <include schemaLocation="IfcPropertyResource.xsd"/>
  <include schemaLocation="IfcResourceLayer.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="IfcArbitraryClosedProfileDef" substitutionGroup="ifc:IfcProfileDef" type="ifc:IfcArbitraryClosedProfileDefType"/>
  <complexType name="IfcArbitraryClosedProfileDefType">
    <complexContent>
      <extension base="ifc:IfcProfileDefType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcArbitraryClosedProfileDefPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcArbitraryClosedProfileDef"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcArbitraryOpenProfileDef" substitutionGroup="ifc:IfcProfileDef" type="ifc:IfcArbitraryOpenProfileDefType"/>
  <complexType name="IfcArbitraryOpenProfileDefType">
    <complexContent>
      <extension base="ifc:IfcProfileDefType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcArbitraryOpenProfileDefPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcArbitraryOpenProfileDef"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcArbitraryProfileDefWithVoids" substitutionGroup="ifc:IfcArbitraryClosedProfileDef" type="ifc:IfcArbitraryProfileDefWithVoidsType"/>
  <complexType name="IfcArbitraryProfileDefWithVoidsType">
    <complexContent>
      <extension base="ifc:IfcArbitraryClosedProfileDefType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcArbitraryProfileDefWithVoidsPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcArbitraryProfileDefWithVoids"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcAsymmetricIShapeProfileDef" substitutionGroup="ifc:IfcParameterizedProfileDef" type="ifc:IfcAsymmetricIShapeProfileDefType"/>
  <complexType name="IfcAsymmetricIShapeProfileDefType">
    <complexContent>
      <extension base="ifc:IfcParameterizedProfileDefType">
        <sequence>
          <element name="bottomFlangeWidth" type="gml:LengthType"/>
          <element name="overallDepth" type="gml:LengthType"/>
          <element name="webThickness" type="gml:LengthType"/>
          <element name="bottomFlangeThickness" type="gml:LengthType"/>
          <element minOccurs="0" name="bottomFlangeFilletRadius" type="gml:LengthType"/>
          <element name="topFlangeWidth" type="gml:LengthType"/>
          <element minOccurs="0" name="topFlangeThickness" type="gml:LengthType"/>
          <element minOccurs="0" name="topFlangeFilletRadius" type="gml:LengthType"/>
          <element minOccurs="0" name="bottomFlangeEdgeRadius" type="gml:LengthType"/>
          <element minOccurs="0" name="bottomFlangeSlope" type="gml:AngleType"/>
          <element minOccurs="0" name="topFlangeEdgeRadius" type="gml:LengthType"/>
          <element minOccurs="0" name="topFlangeSlope" type="gml:AngleType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcAsymmetricIShapeProfileDefPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAsymmetricIShapeProfileDef"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcCShapeProfileDef" substitutionGroup="ifc:IfcParameterizedProfileDef" type="ifc:IfcCShapeProfileDefType"/>
  <complexType name="IfcCShapeProfileDefType">
    <complexContent>
      <extension base="ifc:IfcParameterizedProfileDefType">
        <sequence>
          <element name="depth" type="gml:LengthType"/>
          <element name="width" type="gml:LengthType"/>
          <element name="wallThickness" type="gml:LengthType"/>
          <element name="girth" type="gml:LengthType"/>
          <element minOccurs="0" name="internalFilletRadius" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCShapeProfileDefPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCShapeProfileDef"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcCenterLineProfileDef" substitutionGroup="ifc:IfcArbitraryOpenProfileDef" type="ifc:IfcCenterLineProfileDefType"/>
  <complexType name="IfcCenterLineProfileDefType">
    <complexContent>
      <extension base="ifc:IfcArbitraryOpenProfileDefType">
        <sequence>
          <element name="thickness" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCenterLineProfileDefPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCenterLineProfileDef"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcCircleHollowProfileDef" substitutionGroup="ifc:IfcCircleProfileDef" type="ifc:IfcCircleHollowProfileDefType"/>
  <complexType name="IfcCircleHollowProfileDefType">
    <complexContent>
      <extension base="ifc:IfcCircleProfileDefType">
        <sequence>
          <element name="wallThickness" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCircleHollowProfileDefPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCircleHollowProfileDef"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcCircleProfileDef" substitutionGroup="ifc:IfcParameterizedProfileDef" type="ifc:IfcCircleProfileDefType"/>
  <complexType name="IfcCircleProfileDefType">
    <complexContent>
      <extension base="ifc:IfcParameterizedProfileDefType">
        <sequence>
          <element name="radius" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCircleProfileDefPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCircleProfileDef"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcCompositeProfileDef" substitutionGroup="ifc:IfcProfileDef" type="ifc:IfcCompositeProfileDefType"/>
  <complexType name="IfcCompositeProfileDefType">
    <complexContent>
      <extension base="ifc:IfcProfileDefType">
        <sequence>
          <element minOccurs="0" name="label" type="string"/>
          <element maxOccurs="unbounded" minOccurs="2" name="profiles" type="ifc:IfcProfileDefPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCompositeProfileDefPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCompositeProfileDef"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcDerivedProfileDef" substitutionGroup="ifc:IfcProfileDef" type="ifc:IfcDerivedProfileDefType"/>
  <complexType name="IfcDerivedProfileDefType">
    <complexContent>
      <extension base="ifc:IfcProfileDefType">
        <sequence>
          <element minOccurs="0" name="label" type="string"/>
          <element name="parentProfile" type="ifc:IfcProfileDefPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDerivedProfileDefPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDerivedProfileDef"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcEllipseProfileDef" substitutionGroup="ifc:IfcParameterizedProfileDef" type="ifc:IfcEllipseProfileDefType"/>
  <complexType name="IfcEllipseProfileDefType">
    <complexContent>
      <extension base="ifc:IfcParameterizedProfileDefType">
        <sequence>
          <element name="semiAxis1" type="gml:LengthType"/>
          <element name="semiAxis2" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcEllipseProfileDefPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcEllipseProfileDef"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcIShapeProfileDef" substitutionGroup="ifc:IfcParameterizedProfileDef" type="ifc:IfcIShapeProfileDefType"/>
  <complexType name="IfcIShapeProfileDefType">
    <complexContent>
      <extension base="ifc:IfcParameterizedProfileDefType">
        <sequence>
          <element name="overallWidth" type="gml:LengthType"/>
          <element name="overallDepth" type="gml:LengthType"/>
          <element name="webThickness" type="gml:LengthType"/>
          <element name="flangeThickness" type="gml:LengthType"/>
          <element minOccurs="0" name="filletRadius" type="gml:LengthType"/>
          <element minOccurs="0" name="flangeEdgeRadius" type="gml:LengthType"/>
          <element minOccurs="0" name="flangeSlope" type="gml:AngleType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcIShapeProfileDefPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcIShapeProfileDef"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcLShapeProfileDef" substitutionGroup="ifc:IfcParameterizedProfileDef" type="ifc:IfcLShapeProfileDefType"/>
  <complexType name="IfcLShapeProfileDefType">
    <complexContent>
      <extension base="ifc:IfcParameterizedProfileDefType">
        <sequence>
          <element name="depth" type="gml:LengthType"/>
          <element minOccurs="0" name="width" type="gml:LengthType"/>
          <element name="thickness" type="gml:LengthType"/>
          <element minOccurs="0" name="filletRadius" type="gml:LengthType"/>
          <element minOccurs="0" name="edgeRadius" type="gml:LengthType"/>
          <element minOccurs="0" name="legSlope" type="gml:AngleType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcLShapeProfileDefPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcLShapeProfileDef"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcMirroredProfileDef" substitutionGroup="ifc:IfcDerivedProfileDef" type="ifc:IfcMirroredProfileDefType"/>
  <complexType name="IfcMirroredProfileDefType">
    <complexContent>
      <extension base="ifc:IfcDerivedProfileDefType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMirroredProfileDefPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMirroredProfileDef"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcOpenCrossProfileDef" substitutionGroup="ifc:IfcProfileDef" type="ifc:IfcOpenCrossProfileDefType"/>
  <complexType name="IfcOpenCrossProfileDefType">
    <complexContent>
      <extension base="ifc:IfcProfileDefType">
        <sequence>
          <element maxOccurs="unbounded" name="widths" type="gml:LengthType"/>
          <element name="isWidthHorizontal" type="boolean"/>
          <element maxOccurs="unbounded" name="slopes" type="gml:AngleType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="tags" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcOpenCrossProfileDefPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcOpenCrossProfileDef"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="IfcParameterizedProfileDef" substitutionGroup="ifc:IfcProfileDef" type="ifc:IfcParameterizedProfileDefType"/>
  <complexType abstract="true" name="IfcParameterizedProfileDefType">
    <complexContent>
      <extension base="ifc:IfcProfileDefType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcParameterizedProfileDefPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcParameterizedProfileDef"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcProfileDef" substitutionGroup="gml:AbstractFeature" type="ifc:IfcProfileDefType"/>
  <complexType name="IfcProfileDefType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="profileType" type="ifc:IfcProfileTypeEnumType"/>
          <element minOccurs="0" name="profileName" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcProfileDefPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcProfileDef"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcProfileProperties" substitutionGroup="ifc:IfcExtendedProperties" type="ifc:IfcProfilePropertiesType"/>
  <complexType name="IfcProfilePropertiesType">
    <complexContent>
      <extension base="ifc:IfcExtendedPropertiesType">
        <sequence>
          <element name="profileDefinition" type="ifc:IfcProfileDefPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcProfilePropertiesPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcProfileProperties"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="IfcProfileTypeEnumType">
    <restriction base="string">
      <enumeration value="AREA"/>
      <enumeration value="CURVE"/>
    </restriction>
  </simpleType>
  <element name="IfcRectangleHollowProfileDef" substitutionGroup="ifc:IfcRectangleProfileDef" type="ifc:IfcRectangleHollowProfileDefType"/>
  <complexType name="IfcRectangleHollowProfileDefType">
    <complexContent>
      <extension base="ifc:IfcRectangleProfileDefType">
        <sequence>
          <element name="wallThickness" type="gml:LengthType"/>
          <element minOccurs="0" name="innerFilletRadius" type="gml:LengthType"/>
          <element minOccurs="0" name="outerFilletRadius" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRectangleHollowProfileDefPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRectangleHollowProfileDef"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcRectangleProfileDef" substitutionGroup="ifc:IfcParameterizedProfileDef" type="ifc:IfcRectangleProfileDefType"/>
  <complexType name="IfcRectangleProfileDefType">
    <complexContent>
      <extension base="ifc:IfcParameterizedProfileDefType">
        <sequence>
          <element name="xDim" type="gml:LengthType"/>
          <element name="yDim" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRectangleProfileDefPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRectangleProfileDef"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcReinforcementBarProperties" substitutionGroup="ifc:IfcPreDefinedProperties" type="ifc:IfcReinforcementBarPropertiesType"/>
  <complexType name="IfcReinforcementBarPropertiesType">
    <complexContent>
      <extension base="ifc:IfcPreDefinedPropertiesType">
        <sequence>
          <element name="totalCrossSectionArea" type="gml:AreaType"/>
          <element name="steelGrade" type="string"/>
          <element minOccurs="0" name="barSurface" type="ifc:IfcReinforcingBarSurfaceEnumType"/>
          <element minOccurs="0" name="effectiveDepth" type="gml:LengthType"/>
          <element minOccurs="0" name="nominalBarDiameter" type="gml:LengthType"/>
          <element minOccurs="0" name="barCount" type="gml:MeasureType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcReinforcementBarPropertiesPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcReinforcementBarProperties"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="IfcReinforcingBarRoleEnumType">
    <restriction base="string">
      <enumeration value="ANCHORING"/>
      <enumeration value="EDGE"/>
      <enumeration value="LIGATURE"/>
      <enumeration value="MAIN"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PUNCHING"/>
      <enumeration value="RING"/>
      <enumeration value="SHEAR"/>
      <enumeration value="STUD"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <simpleType name="IfcReinforcingBarSurfaceEnumType">
    <restriction base="string">
      <enumeration value="PLAIN"/>
      <enumeration value="TEXTURED"/>
    </restriction>
  </simpleType>
  <element name="IfcRoundedRectangleProfileDef" substitutionGroup="ifc:IfcRectangleProfileDef" type="ifc:IfcRoundedRectangleProfileDefType"/>
  <complexType name="IfcRoundedRectangleProfileDefType">
    <complexContent>
      <extension base="ifc:IfcRectangleProfileDefType">
        <sequence>
          <element name="roundingRadius" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRoundedRectangleProfileDefPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRoundedRectangleProfileDef"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcSectionProperties" substitutionGroup="ifc:IfcPreDefinedProperties" type="ifc:IfcSectionPropertiesType"/>
  <complexType name="IfcSectionPropertiesType">
    <complexContent>
      <extension base="ifc:IfcPreDefinedPropertiesType">
        <sequence>
          <element name="sectionType" type="ifc:IfcSectionTypeEnumType"/>
          <element minOccurs="0" name="endProfile" type="ifc:IfcProfileDefPropertyType"/>
          <element name="startProfile" type="ifc:IfcProfileDefPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSectionPropertiesPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSectionProperties"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcSectionReinforcementProperties" substitutionGroup="ifc:IfcPreDefinedProperties" type="ifc:IfcSectionReinforcementPropertiesType"/>
  <complexType name="IfcSectionReinforcementPropertiesType">
    <complexContent>
      <extension base="ifc:IfcPreDefinedPropertiesType">
        <sequence>
          <element name="longitudinalStartPosition" type="gml:LengthType"/>
          <element name="longitudinalEndPosition" type="gml:LengthType"/>
          <element minOccurs="0" name="transversePosition" type="gml:LengthType"/>
          <element name="reinforcementRole" type="ifc:IfcReinforcingBarRoleEnumType"/>
          <element maxOccurs="unbounded" name="crossSectionReinforcementDefinitions" type="ifc:IfcReinforcementBarPropertiesPropertyType"/>
          <element name="sectionDefinition" type="ifc:IfcSectionPropertiesPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSectionReinforcementPropertiesPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSectionReinforcementProperties"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="IfcSectionTypeEnumType">
    <restriction base="string">
      <enumeration value="TAPERED"/>
      <enumeration value="UNIFORM"/>
    </restriction>
  </simpleType>
  <element name="IfcTShapeProfileDef" substitutionGroup="ifc:IfcParameterizedProfileDef" type="ifc:IfcTShapeProfileDefType"/>
  <complexType name="IfcTShapeProfileDefType">
    <complexContent>
      <extension base="ifc:IfcParameterizedProfileDefType">
        <sequence>
          <element name="depth" type="gml:LengthType"/>
          <element name="flangeWidth" type="gml:LengthType"/>
          <element name="webThickness" type="gml:LengthType"/>
          <element name="flangeThickness" type="gml:LengthType"/>
          <element minOccurs="0" name="filletRadius" type="gml:LengthType"/>
          <element minOccurs="0" name="flangeEdgeRadius" type="gml:LengthType"/>
          <element minOccurs="0" name="webEdgeRadius" type="gml:LengthType"/>
          <element minOccurs="0" name="webSlope" type="gml:AngleType"/>
          <element minOccurs="0" name="flangeSlope" type="gml:AngleType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTShapeProfileDefPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTShapeProfileDef"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcTrapeziumProfileDef" substitutionGroup="ifc:IfcParameterizedProfileDef" type="ifc:IfcTrapeziumProfileDefType"/>
  <complexType name="IfcTrapeziumProfileDefType">
    <complexContent>
      <extension base="ifc:IfcParameterizedProfileDefType">
        <sequence>
          <element name="bottomXDim" type="gml:LengthType"/>
          <element name="topXDim" type="gml:LengthType"/>
          <element name="yDim" type="gml:LengthType"/>
          <element name="topXOffset" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTrapeziumProfileDefPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTrapeziumProfileDef"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcUShapeProfileDef" substitutionGroup="ifc:IfcParameterizedProfileDef" type="ifc:IfcUShapeProfileDefType"/>
  <complexType name="IfcUShapeProfileDefType">
    <complexContent>
      <extension base="ifc:IfcParameterizedProfileDefType">
        <sequence>
          <element name="depth" type="gml:LengthType"/>
          <element name="flangeWidth" type="gml:LengthType"/>
          <element name="webThickness" type="gml:LengthType"/>
          <element name="flangeThickness" type="gml:LengthType"/>
          <element minOccurs="0" name="filletRadius" type="gml:LengthType"/>
          <element minOccurs="0" name="edgeRadius" type="gml:LengthType"/>
          <element minOccurs="0" name="flangeSlope" type="gml:AngleType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcUShapeProfileDefPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcUShapeProfileDef"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcZShapeProfileDef" substitutionGroup="ifc:IfcParameterizedProfileDef" type="ifc:IfcZShapeProfileDefType"/>
  <complexType name="IfcZShapeProfileDefType">
    <complexContent>
      <extension base="ifc:IfcParameterizedProfileDefType">
        <sequence>
          <element name="depth" type="gml:LengthType"/>
          <element name="flangeWidth" type="gml:LengthType"/>
          <element name="webThickness" type="gml:LengthType"/>
          <element name="flangeThickness" type="gml:LengthType"/>
          <element minOccurs="0" name="filletRadius" type="gml:LengthType"/>
          <element minOccurs="0" name="edgeRadius" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcZShapeProfileDefPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcZShapeProfileDef"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
