XSD/IfcQuantityResource.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:ifc="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" version="4.3">
  <include schemaLocation="IfcExternalReferenceResource.xsd"/>
  <include schemaLocation="IfcMeasureResource.xsd"/>
  <include schemaLocation="IfcResourceLayer.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="IfcPhysicalComplexQuantity" substitutionGroup="ifc:AbstractIfcPhysicalQuantity" type="ifc:IfcPhysicalComplexQuantity_Type"/>
  <complexType name="IfcPhysicalComplexQuantity_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPhysicalQuantity_Type">
        <sequence>
          <element name="discrimination" type="string"/>
          <element minOccurs="0" name="quality" type="string"/>
          <element minOccurs="0" name="usage" type="string"/>
          <element maxOccurs="unbounded" name="hasQuantities" type="ifc:AbstractIfcPhysicalQuantity_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPhysicalComplexQuantity_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPhysicalComplexQuantity"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcPhysicalQuantity" substitutionGroup="gco:AbstractObject" type="ifc:AbstractIfcPhysicalQuantity_Type"/>
  <complexType abstract="true" name="AbstractIfcPhysicalQuantity_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="name" type="string"/>
          <element minOccurs="0" name="description" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcPhysicalQuantity_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcPhysicalQuantity"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcPhysicalSimpleQuantity" substitutionGroup="ifc:AbstractIfcPhysicalQuantity" type="ifc:AbstractIfcPhysicalSimpleQuantity_Type"/>
  <complexType abstract="true" name="AbstractIfcPhysicalSimpleQuantity_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPhysicalQuantity_Type">
        <sequence>
          <element minOccurs="0" name="unit" type="ifc:AbstractIfcNamedUnit_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcPhysicalSimpleQuantity_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcPhysicalSimpleQuantity"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcQuantityArea" substitutionGroup="ifc:AbstractIfcPhysicalSimpleQuantity" type="ifc:IfcQuantityArea_Type"/>
  <complexType name="IfcQuantityArea_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPhysicalSimpleQuantity_Type">
        <sequence>
          <element name="areaValue" type="gml:AreaType"/>
          <element minOccurs="0" name="formula" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcQuantityArea_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcQuantityArea"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcQuantityCount" substitutionGroup="ifc:AbstractIfcPhysicalSimpleQuantity" type="ifc:IfcQuantityCount_Type"/>
  <complexType name="IfcQuantityCount_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPhysicalSimpleQuantity_Type">
        <sequence>
          <element name="countValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="formula" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcQuantityCount_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcQuantityCount"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcQuantityLength" substitutionGroup="ifc:AbstractIfcPhysicalSimpleQuantity" type="ifc:IfcQuantityLength_Type"/>
  <complexType name="IfcQuantityLength_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPhysicalSimpleQuantity_Type">
        <sequence>
          <element name="lengthValue" type="gml:LengthType"/>
          <element minOccurs="0" name="formula" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcQuantityLength_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcQuantityLength"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcQuantityResourceFunction" substitutionGroup="gco:AbstractObject" type="ifc:AbstractIfcQuantityResourceFunction_Type"/>
  <complexType abstract="true" name="AbstractIfcQuantityResourceFunction_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcQuantityResourceFunction_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcQuantityResourceFunction"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcQuantityResourceFunctions" substitutionGroup="gco:AbstractObject" type="ifc:AbstractIfcQuantityResourceFunctions_Type"/>
  <complexType abstract="true" name="AbstractIfcQuantityResourceFunctions_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcQuantityResourceFunctions_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcQuantityResourceFunctions"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcQuantityTime" substitutionGroup="ifc:AbstractIfcPhysicalSimpleQuantity" type="ifc:IfcQuantityTime_Type"/>
  <complexType name="IfcQuantityTime_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPhysicalSimpleQuantity_Type">
        <sequence>
          <element name="timeValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="formula" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcQuantityTime_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcQuantityTime"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcQuantityVolume" substitutionGroup="ifc:AbstractIfcPhysicalSimpleQuantity" type="ifc:IfcQuantityVolume_Type"/>
  <complexType name="IfcQuantityVolume_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPhysicalSimpleQuantity_Type">
        <sequence>
          <element name="volumeValue" type="gml:VolumeType"/>
          <element minOccurs="0" name="formula" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcQuantityVolume_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcQuantityVolume"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcQuantityWeight" substitutionGroup="ifc:AbstractIfcPhysicalSimpleQuantity" type="ifc:IfcQuantityWeight_Type"/>
  <complexType name="IfcQuantityWeight_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPhysicalSimpleQuantity_Type">
        <sequence>
          <element name="weightValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="formula" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcQuantityWeight_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcQuantityWeight"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
