XSD/IfcRepresentationResource.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:ifc="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" version="4.3">
  <include schemaLocation="IfcExternalReferenceResource.xsd"/>
  <include schemaLocation="IfcGeometricModelResource.xsd"/>
  <include schemaLocation="IfcGeometryResource.xsd"/>
  <include schemaLocation="IfcKernel.xsd"/>
  <include schemaLocation="IfcMaterialResource.xsd"/>
  <include schemaLocation="IfcMeasureResource.xsd"/>
  <include schemaLocation="IfcPresentationAppearanceResource.xsd"/>
  <include schemaLocation="IfcPresentationOrganizationResource.xsd"/>
  <include schemaLocation="IfcResourceLayer.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element abstract="true" name="IfcCoordinateOperation" substitutionGroup="gml:AbstractFeature" type="ifc:IfcCoordinateOperationType"/>
  <complexType abstract="true" name="IfcCoordinateOperationType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="sourceCRS" type="ifc:IfcCoordinateReferenceSystemSelectPropertyType"/>
          <element name="targetCRS" type="ifc:IfcCoordinateReferenceSystemPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCoordinateOperationPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCoordinateOperation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="IfcCoordinateReferenceSystem" substitutionGroup="gml:AbstractFeature" type="ifc:IfcCoordinateReferenceSystemType"/>
  <complexType abstract="true" name="IfcCoordinateReferenceSystemType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="name" type="string"/>
          <element minOccurs="0" name="description" type="string"/>
          <element minOccurs="0" name="geodeticDatum" type="string"/>
          <element minOccurs="0" name="verticalDatum" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCoordinateReferenceSystemPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCoordinateReferenceSystem"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcCoordinateReferenceSystemSelect" substitutionGroup="gml:AbstractObject" type="ifc:IfcCoordinateReferenceSystemSelectType"/>
  <complexType name="IfcCoordinateReferenceSystemSelectType">
    <choice>
      <element name="coordinateReferenceSystem">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractFeatureMemberType">
              <sequence minOccurs="0">
                <element ref="ifc:IfcCoordinateReferenceSystem"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element name="geometricRepresentationContext">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractFeatureMemberType">
              <sequence minOccurs="0">
                <element ref="ifc:IfcGeometricRepresentationContext"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
    </choice>
  </complexType>
  <complexType name="IfcCoordinateReferenceSystemSelectPropertyType">
    <sequence>
      <element ref="ifc:IfcCoordinateReferenceSystemSelect"/>
    </sequence>
  </complexType>
  <simpleType name="IfcGeometricProjectionEnumType">
    <restriction base="string">
      <enumeration value="ELEVATION_VIEW"/>
      <enumeration value="GRAPH_VIEW"/>
      <enumeration value="MODEL_VIEW"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PLAN_VIEW"/>
      <enumeration value="REFLECTED_PLAN_VIEW"/>
      <enumeration value="SECTION_VIEW"/>
      <enumeration value="SKETCH_VIEW"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <element name="IfcGeometricRepresentationContext" substitutionGroup="ifc:IfcRepresentationContext" type="ifc:IfcGeometricRepresentationContextType"/>
  <complexType name="IfcGeometricRepresentationContextType">
    <complexContent>
      <extension base="ifc:IfcRepresentationContextType">
        <sequence>
          <element name="coordinateSpaceDimension" type="integer"/>
          <element minOccurs="0" name="precision" type="double"/>
          <element name="worldCoordinateSystem" type="ifc:IfcAxis2PlacementPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcGeometricRepresentationContextPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcGeometricRepresentationContext"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcGeometricRepresentationSubContext" substitutionGroup="ifc:IfcGeometricRepresentationContext" type="ifc:IfcGeometricRepresentationSubContextType"/>
  <complexType name="IfcGeometricRepresentationSubContextType">
    <complexContent>
      <extension base="ifc:IfcGeometricRepresentationContextType">
        <sequence>
          <element minOccurs="0" name="targetScale" type="gml:MeasureType"/>
          <element name="targetView" type="ifc:IfcGeometricProjectionEnumType"/>
          <element minOccurs="0" name="userDefinedTargetView" type="string"/>
          <element name="parentContext" type="ifc:IfcGeometricRepresentationContextPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcGeometricRepresentationSubContextPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcGeometricRepresentationSubContext"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="IfcGlobalOrLocalEnumType">
    <restriction base="string">
      <enumeration value="GLOBAL_COORDS"/>
      <enumeration value="LOCAL_COORDS"/>
    </restriction>
  </simpleType>
  <element name="IfcMapConversion" substitutionGroup="ifc:IfcCoordinateOperation" type="ifc:IfcMapConversionType"/>
  <complexType name="IfcMapConversionType">
    <complexContent>
      <extension base="ifc:IfcCoordinateOperationType">
        <sequence>
          <element name="eastings" type="gml:LengthType"/>
          <element name="northings" type="gml:LengthType"/>
          <element name="orthogonalHeight" type="gml:LengthType"/>
          <element minOccurs="0" name="xAxisAbscissa" type="double"/>
          <element minOccurs="0" name="xAxisOrdinate" type="double"/>
          <element minOccurs="0" name="scale" type="double"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMapConversionPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMapConversion"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcMaterialDefinitionRepresentation" substitutionGroup="ifc:IfcProductRepresentation" type="ifc:IfcMaterialDefinitionRepresentationType"/>
  <complexType name="IfcMaterialDefinitionRepresentationType">
    <complexContent>
      <extension base="ifc:IfcProductRepresentationType">
        <sequence>
          <element name="representedMaterial" type="ifc:IfcMaterialPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMaterialDefinitionRepresentationPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMaterialDefinitionRepresentation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcProductDefinitionShape" substitutionGroup="ifc:IfcProductRepresentation" type="ifc:IfcProductDefinitionShapeType"/>
  <complexType name="IfcProductDefinitionShapeType">
    <complexContent>
      <extension base="ifc:IfcProductRepresentationType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcProductDefinitionShapePropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcProductDefinitionShape"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="IfcProductRepresentation" substitutionGroup="gml:AbstractFeature" type="ifc:IfcProductRepresentationType"/>
  <complexType abstract="true" name="IfcProductRepresentationType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="name" type="string"/>
          <element minOccurs="0" name="description" type="string"/>
          <element maxOccurs="unbounded" name="representations" type="ifc:IfcRepresentationPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcProductRepresentationPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcProductRepresentation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcProductRepresentationSelect" substitutionGroup="gml:AbstractObject" type="ifc:IfcProductRepresentationSelectType"/>
  <complexType name="IfcProductRepresentationSelectType">
    <choice>
      <element name="productDefinitionShape">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractFeatureMemberType">
              <sequence minOccurs="0">
                <element ref="ifc:IfcProductDefinitionShape"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element name="representationMap">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractFeatureMemberType">
              <sequence minOccurs="0">
                <element ref="ifc:IfcRepresentationMap"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
    </choice>
  </complexType>
  <complexType name="IfcProductRepresentationSelectPropertyType">
    <sequence>
      <element ref="ifc:IfcProductRepresentationSelect"/>
    </sequence>
  </complexType>
  <element name="IfcProjectedCRS" substitutionGroup="ifc:IfcCoordinateReferenceSystem" type="ifc:IfcProjectedCRSType"/>
  <complexType name="IfcProjectedCRSType">
    <complexContent>
      <extension base="ifc:IfcCoordinateReferenceSystemType">
        <sequence>
          <element minOccurs="0" name="mapProjection" type="string"/>
          <element minOccurs="0" name="mapZone" type="string"/>
          <element minOccurs="0" name="mapUnit" type="ifc:IfcNamedUnitPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcProjectedCRSPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcProjectedCRS"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="IfcRepresentation" substitutionGroup="gml:AbstractFeature" type="ifc:IfcRepresentationType"/>
  <complexType abstract="true" name="IfcRepresentationType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="representationIdentifier" type="string"/>
          <element minOccurs="0" name="representationType" type="string"/>
          <element name="contextOfItems" type="ifc:IfcRepresentationContextPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRepresentationPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRepresentation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="IfcRepresentationContext" substitutionGroup="gml:AbstractFeature" type="ifc:IfcRepresentationContextType"/>
  <complexType abstract="true" name="IfcRepresentationContextType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="contextIdentifier" type="string"/>
          <element minOccurs="0" name="contextType" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRepresentationContextPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRepresentationContext"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="IfcRepresentationResourceFunction" substitutionGroup="gml:AbstractGML" type="ifc:IfcRepresentationResourceFunctionType"/>
  <complexType abstract="true" name="IfcRepresentationResourceFunctionType">
    <complexContent>
      <extension base="gml:AbstractGMLType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRepresentationResourceFunctionPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRepresentationResourceFunction"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="IfcRepresentationResourceFunctions" substitutionGroup="gml:AbstractGML" type="ifc:IfcRepresentationResourceFunctionsType"/>
  <complexType abstract="true" name="IfcRepresentationResourceFunctionsType">
    <complexContent>
      <extension base="gml:AbstractGMLType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRepresentationResourceFunctionsPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRepresentationResourceFunctions"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcShapeAspect" substitutionGroup="gml:AbstractFeature" type="ifc:IfcShapeAspectType"/>
  <complexType name="IfcShapeAspectType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="name" type="string"/>
          <element minOccurs="0" name="description" type="string"/>
          <element name="productDefinitional" type="boolean"/>
          <element minOccurs="0" name="partOfProductDefinitionShape" type="ifc:IfcProductRepresentationSelectPropertyType"/>
          <element maxOccurs="unbounded" name="shapeRepresentations" type="ifc:IfcShapeModelPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcShapeAspectPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcShapeAspect"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="IfcShapeModel" substitutionGroup="ifc:IfcRepresentation" type="ifc:IfcShapeModelType"/>
  <complexType abstract="true" name="IfcShapeModelType">
    <complexContent>
      <extension base="ifc:IfcRepresentationType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcShapeModelPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcShapeModel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcShapeRepresentation" substitutionGroup="ifc:IfcShapeModel" type="ifc:IfcShapeRepresentationType"/>
  <complexType name="IfcShapeRepresentationType">
    <complexContent>
      <extension base="ifc:IfcShapeModelType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcShapeRepresentationPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcShapeRepresentation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="IfcStyleModel" substitutionGroup="ifc:IfcRepresentation" type="ifc:IfcStyleModelType"/>
  <complexType abstract="true" name="IfcStyleModelType">
    <complexContent>
      <extension base="ifc:IfcRepresentationType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcStyleModelPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcStyleModel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcStyledRepresentation" substitutionGroup="ifc:IfcStyleModel" type="ifc:IfcStyledRepresentationType"/>
  <complexType name="IfcStyledRepresentationType">
    <complexContent>
      <extension base="ifc:IfcStyleModelType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcStyledRepresentationPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcStyledRepresentation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcTopologyRepresentation" substitutionGroup="ifc:IfcShapeModel" type="ifc:IfcTopologyRepresentationType"/>
  <complexType name="IfcTopologyRepresentationType">
    <complexContent>
      <extension base="ifc:IfcShapeModelType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTopologyRepresentationPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTopologyRepresentation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
