XSD/IfcRepresentationResource.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:ifc="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" version="4.3">
  <include schemaLocation="IfcExternalReferenceResource.xsd"/>
  <include schemaLocation="IfcGeometricModelResource.xsd"/>
  <include schemaLocation="IfcGeometryResource.xsd"/>
  <include schemaLocation="IfcKernel.xsd"/>
  <include schemaLocation="IfcMaterialResource.xsd"/>
  <include schemaLocation="IfcMeasureResource.xsd"/>
  <include schemaLocation="IfcPresentationAppearanceResource.xsd"/>
  <include schemaLocation="IfcPresentationOrganizationResource.xsd"/>
  <include schemaLocation="IfcResourceLayer.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element abstract="true" name="AbstractIfcCoordinateOperation" substitutionGroup="gco:AbstractObject" type="ifc:AbstractIfcCoordinateOperation_Type"/>
  <complexType abstract="true" name="AbstractIfcCoordinateOperation_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="sourceCRS" type="ifc:IfcCoordinateReferenceSystemSelect_PropertyType"/>
          <element name="targetCRS" type="ifc:AbstractIfcCoordinateReferenceSystem_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcCoordinateOperation_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcCoordinateOperation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcCoordinateReferenceSystem" substitutionGroup="gco:AbstractObject" type="ifc:AbstractIfcCoordinateReferenceSystem_Type"/>
  <complexType abstract="true" name="AbstractIfcCoordinateReferenceSystem_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="name" type="string"/>
          <element minOccurs="0" name="description" type="string"/>
          <element minOccurs="0" name="geodeticDatum" type="string"/>
          <element minOccurs="0" name="verticalDatum" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcCoordinateReferenceSystem_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcCoordinateReferenceSystem"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCoordinateReferenceSystemSelect" type="ifc:IfcCoordinateReferenceSystemSelect_Type"/>
  <complexType name="IfcCoordinateReferenceSystemSelect_Type">
    <choice>
      <element name="coordinateReferenceSystem" type="ifc:AbstractIfcCoordinateReferenceSystem_PropertyType"/>
      <element name="geometricRepresentationContext" type="ifc:IfcGeometricRepresentationContext_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcCoordinateReferenceSystemSelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCoordinateReferenceSystemSelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcGeometricProjectionEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcGeometricProjectionEnum_Type"/>
  <simpleType name="IfcGeometricProjectionEnum_Type">
    <restriction base="string">
      <enumeration value="ELEVATION_VIEW"/>
      <enumeration value="GRAPH_VIEW"/>
      <enumeration value="MODEL_VIEW"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PLAN_VIEW"/>
      <enumeration value="REFLECTED_PLAN_VIEW"/>
      <enumeration value="SECTION_VIEW"/>
      <enumeration value="SKETCH_VIEW"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcGeometricProjectionEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcGeometricProjectionEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcGeometricRepresentationContext" substitutionGroup="ifc:AbstractIfcRepresentationContext" type="ifc:IfcGeometricRepresentationContext_Type"/>
  <complexType name="IfcGeometricRepresentationContext_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRepresentationContext_Type">
        <sequence>
          <element name="coordinateSpaceDimension" type="integer"/>
          <element minOccurs="0" name="precision" type="double"/>
          <element name="worldCoordinateSystem" type="ifc:IfcAxis2Placement_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcGeometricRepresentationContext_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcGeometricRepresentationContext"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcGeometricRepresentationSubContext" substitutionGroup="ifc:IfcGeometricRepresentationContext" type="ifc:IfcGeometricRepresentationSubContext_Type"/>
  <complexType name="IfcGeometricRepresentationSubContext_Type">
    <complexContent>
      <extension base="ifc:IfcGeometricRepresentationContext_Type">
        <sequence>
          <element minOccurs="0" name="targetScale" type="gml:MeasureType"/>
          <element name="targetView" type="ifc:IfcGeometricProjectionEnum_PropertyType"/>
          <element minOccurs="0" name="userDefinedTargetView" type="string"/>
          <element name="parentContext" type="ifc:IfcGeometricRepresentationContext_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcGeometricRepresentationSubContext_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcGeometricRepresentationSubContext"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcGlobalOrLocalEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcGlobalOrLocalEnum_Type"/>
  <simpleType name="IfcGlobalOrLocalEnum_Type">
    <restriction base="string">
      <enumeration value="GLOBAL_COORDS"/>
      <enumeration value="LOCAL_COORDS"/>
    </restriction>
  </simpleType>
  <complexType name="IfcGlobalOrLocalEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcGlobalOrLocalEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMapConversion" substitutionGroup="ifc:AbstractIfcCoordinateOperation" type="ifc:IfcMapConversion_Type"/>
  <complexType name="IfcMapConversion_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcCoordinateOperation_Type">
        <sequence>
          <element name="eastings" type="gml:LengthType"/>
          <element name="northings" type="gml:LengthType"/>
          <element name="orthogonalHeight" type="gml:LengthType"/>
          <element minOccurs="0" name="xAxisAbscissa" type="double"/>
          <element minOccurs="0" name="xAxisOrdinate" type="double"/>
          <element minOccurs="0" name="scale" type="double"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMapConversion_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMapConversion"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMaterialDefinitionRepresentation" substitutionGroup="ifc:AbstractIfcProductRepresentation" type="ifc:IfcMaterialDefinitionRepresentation_Type"/>
  <complexType name="IfcMaterialDefinitionRepresentation_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcProductRepresentation_Type">
        <sequence>
          <element name="representedMaterial" type="ifc:IfcMaterial_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMaterialDefinitionRepresentation_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMaterialDefinitionRepresentation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcProductDefinitionShape" substitutionGroup="ifc:AbstractIfcProductRepresentation" type="ifc:IfcProductDefinitionShape_Type"/>
  <complexType name="IfcProductDefinitionShape_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcProductRepresentation_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcProductDefinitionShape_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcProductDefinitionShape"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcProductRepresentation" substitutionGroup="gco:AbstractObject" type="ifc:AbstractIfcProductRepresentation_Type"/>
  <complexType abstract="true" name="AbstractIfcProductRepresentation_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="name" type="string"/>
          <element minOccurs="0" name="description" type="string"/>
          <element maxOccurs="unbounded" name="representations" type="ifc:AbstractIfcRepresentation_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcProductRepresentation_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcProductRepresentation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcProductRepresentationSelect" type="ifc:IfcProductRepresentationSelect_Type"/>
  <complexType name="IfcProductRepresentationSelect_Type">
    <choice>
      <element name="productDefinitionShape" type="ifc:IfcProductDefinitionShape_PropertyType"/>
      <element name="representationMap" type="ifc:IfcRepresentationMap_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcProductRepresentationSelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcProductRepresentationSelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcProjectedCRS" substitutionGroup="ifc:AbstractIfcCoordinateReferenceSystem" type="ifc:IfcProjectedCRS_Type"/>
  <complexType name="IfcProjectedCRS_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcCoordinateReferenceSystem_Type">
        <sequence>
          <element minOccurs="0" name="mapProjection" type="string"/>
          <element minOccurs="0" name="mapZone" type="string"/>
          <element minOccurs="0" name="mapUnit" type="ifc:AbstractIfcNamedUnit_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcProjectedCRS_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcProjectedCRS"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcRepresentation" substitutionGroup="gco:AbstractObject" type="ifc:AbstractIfcRepresentation_Type"/>
  <complexType abstract="true" name="AbstractIfcRepresentation_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="representationIdentifier" type="string"/>
          <element minOccurs="0" name="representationType" type="string"/>
          <element name="contextOfItems" type="ifc:AbstractIfcRepresentationContext_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcRepresentation_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcRepresentation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcRepresentationContext" substitutionGroup="gco:AbstractObject" type="ifc:AbstractIfcRepresentationContext_Type"/>
  <complexType abstract="true" name="AbstractIfcRepresentationContext_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="contextIdentifier" type="string"/>
          <element minOccurs="0" name="contextType" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcRepresentationContext_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcRepresentationContext"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcRepresentationResourceFunction" substitutionGroup="gco:AbstractObject" type="ifc:AbstractIfcRepresentationResourceFunction_Type"/>
  <complexType abstract="true" name="AbstractIfcRepresentationResourceFunction_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcRepresentationResourceFunction_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcRepresentationResourceFunction"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcRepresentationResourceFunctions" substitutionGroup="gco:AbstractObject" type="ifc:AbstractIfcRepresentationResourceFunctions_Type"/>
  <complexType abstract="true" name="AbstractIfcRepresentationResourceFunctions_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcRepresentationResourceFunctions_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcRepresentationResourceFunctions"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcShapeAspect" substitutionGroup="gco:AbstractObject" type="ifc:IfcShapeAspect_Type"/>
  <complexType name="IfcShapeAspect_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="name" type="string"/>
          <element minOccurs="0" name="description" type="string"/>
          <element name="productDefinitional"/>
          <element minOccurs="0" name="partOfProductDefinitionShape" type="ifc:IfcProductRepresentationSelect_PropertyType"/>
          <element maxOccurs="unbounded" name="shapeRepresentations" type="ifc:AbstractIfcShapeModel_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcShapeAspect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcShapeAspect"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcShapeModel" substitutionGroup="ifc:AbstractIfcRepresentation" type="ifc:AbstractIfcShapeModel_Type"/>
  <complexType abstract="true" name="AbstractIfcShapeModel_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRepresentation_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcShapeModel_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcShapeModel"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcShapeRepresentation" substitutionGroup="ifc:AbstractIfcShapeModel" type="ifc:IfcShapeRepresentation_Type"/>
  <complexType name="IfcShapeRepresentation_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcShapeModel_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcShapeRepresentation_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcShapeRepresentation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcStyleModel" substitutionGroup="ifc:AbstractIfcRepresentation" type="ifc:AbstractIfcStyleModel_Type"/>
  <complexType abstract="true" name="AbstractIfcStyleModel_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRepresentation_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcStyleModel_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcStyleModel"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcStyledRepresentation" substitutionGroup="ifc:AbstractIfcStyleModel" type="ifc:IfcStyledRepresentation_Type"/>
  <complexType name="IfcStyledRepresentation_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcStyleModel_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcStyledRepresentation_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcStyledRepresentation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTopologyRepresentation" substitutionGroup="ifc:AbstractIfcShapeModel" type="ifc:IfcTopologyRepresentation_Type"/>
  <complexType name="IfcTopologyRepresentation_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcShapeModel_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTopologyRepresentation_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTopologyRepresentation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
