XSD/IfcSharedComponentElements.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:ifc="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" version="4.3">
  <include schemaLocation="IfcInteroperabilityLayer.xsd"/>
  <include schemaLocation="IfcMeasureResource.xsd"/>
  <include schemaLocation="IfcProductExtension.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="IfcBuildingElementPart" substitutionGroup="ifc:AbstractIfcElementComponent" type="ifc:IfcBuildingElementPart_Type"/>
  <complexType name="IfcBuildingElementPart_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcElementComponent_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcBuildingElementPartTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcBuildingElementPart_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBuildingElementPart"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcBuildingElementPartType" substitutionGroup="ifc:AbstractIfcElementComponentType" type="ifc:IfcBuildingElementPartType_Type"/>
  <complexType name="IfcBuildingElementPartType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcElementComponentType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcBuildingElementPartTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcBuildingElementPartType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBuildingElementPartType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcBuildingElementPartTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcBuildingElementPartTypeEnum_Type"/>
  <simpleType name="IfcBuildingElementPartTypeEnum_Type">
    <restriction base="string">
      <enumeration value="APRON"/>
      <enumeration value="INSULATION"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PRECASTPANEL"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcBuildingElementPartTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBuildingElementPartTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDiscreteAccessory" substitutionGroup="ifc:AbstractIfcElementComponent" type="ifc:IfcDiscreteAccessory_Type"/>
  <complexType name="IfcDiscreteAccessory_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcElementComponent_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcDiscreteAccessoryTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDiscreteAccessory_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDiscreteAccessory"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDiscreteAccessoryType" substitutionGroup="ifc:AbstractIfcElementComponentType" type="ifc:IfcDiscreteAccessoryType_Type"/>
  <complexType name="IfcDiscreteAccessoryType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcElementComponentType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcDiscreteAccessoryTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDiscreteAccessoryType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDiscreteAccessoryType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDiscreteAccessoryTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcDiscreteAccessoryTypeEnum_Type"/>
  <simpleType name="IfcDiscreteAccessoryTypeEnum_Type">
    <restriction base="string">
      <enumeration value="ANCHORPLATE"/>
      <enumeration value="BRACKET"/>
      <enumeration value="EXPANSION_JOINT_DEVICE"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="SHOE"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcDiscreteAccessoryTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDiscreteAccessoryTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcElementComponent" substitutionGroup="ifc:AbstractIfcElement" type="ifc:AbstractIfcElementComponent_Type"/>
  <complexType abstract="true" name="AbstractIfcElementComponent_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcElement_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcElementComponent_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcElementComponent"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcElementComponentType" substitutionGroup="ifc:AbstractIfcElementType" type="ifc:AbstractIfcElementComponentType_Type"/>
  <complexType abstract="true" name="AbstractIfcElementComponentType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcElementType_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcElementComponentType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcElementComponentType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFastener" substitutionGroup="ifc:AbstractIfcElementComponent" type="ifc:IfcFastener_Type"/>
  <complexType name="IfcFastener_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcElementComponent_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcFastenerTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcFastener_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFastener"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFastenerType" substitutionGroup="ifc:AbstractIfcElementComponentType" type="ifc:IfcFastenerType_Type"/>
  <complexType name="IfcFastenerType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcElementComponentType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcFastenerTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcFastenerType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFastenerType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFastenerTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcFastenerTypeEnum_Type"/>
  <simpleType name="IfcFastenerTypeEnum_Type">
    <restriction base="string">
      <enumeration value="GLUE"/>
      <enumeration value="MORTAR"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="WELD"/>
    </restriction>
  </simpleType>
  <complexType name="IfcFastenerTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFastenerTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMechanicalFastener" substitutionGroup="ifc:AbstractIfcElementComponent" type="ifc:IfcMechanicalFastener_Type"/>
  <complexType name="IfcMechanicalFastener_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcElementComponent_Type">
        <sequence>
          <element minOccurs="0" name="nominalDiameter" type="gml:LengthType"/>
          <element minOccurs="0" name="nominalLength" type="gml:LengthType"/>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcMechanicalFastenerTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMechanicalFastener_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMechanicalFastener"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMechanicalFastenerType" substitutionGroup="ifc:AbstractIfcElementComponentType" type="ifc:IfcMechanicalFastenerType_Type"/>
  <complexType name="IfcMechanicalFastenerType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcElementComponentType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcMechanicalFastenerTypeEnum_PropertyType"/>
          <element minOccurs="0" name="nominalDiameter" type="gml:LengthType"/>
          <element minOccurs="0" name="nominalLength" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMechanicalFastenerType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMechanicalFastenerType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMechanicalFastenerTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcMechanicalFastenerTypeEnum_Type"/>
  <simpleType name="IfcMechanicalFastenerTypeEnum_Type">
    <restriction base="string">
      <enumeration value="ANCHORBOLT"/>
      <enumeration value="BOLT"/>
      <enumeration value="COUPLER"/>
      <enumeration value="DOWEL"/>
      <enumeration value="NAIL"/>
      <enumeration value="NAILPLATE"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="RIVET"/>
      <enumeration value="SCREW"/>
      <enumeration value="SHEARCONNECTOR"/>
      <enumeration value="STAPLE"/>
      <enumeration value="STUDSHEARCONNECTOR"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcMechanicalFastenerTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMechanicalFastenerTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcVibrationDamper" substitutionGroup="ifc:AbstractIfcElementComponent" type="ifc:IfcVibrationDamper_Type"/>
  <complexType name="IfcVibrationDamper_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcElementComponent_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcVibrationDamperTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcVibrationDamper_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcVibrationDamper"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcVibrationDamperType" substitutionGroup="ifc:AbstractIfcElementComponentType" type="ifc:IfcVibrationDamperType_Type"/>
  <complexType name="IfcVibrationDamperType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcElementComponentType_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcVibrationDamperTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcVibrationDamperType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcVibrationDamperType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcVibrationDamperTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcVibrationDamperTypeEnum_Type"/>
  <simpleType name="IfcVibrationDamperTypeEnum_Type">
    <restriction base="string">
      <enumeration value="AXIAL_YIELD"/>
      <enumeration value="BENDING_YIELD"/>
      <enumeration value="FRICTION"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="RUBBER"/>
      <enumeration value="SHEAR_YIELD"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="VISCOUS"/>
    </restriction>
  </simpleType>
  <complexType name="IfcVibrationDamperTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcVibrationDamperTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
