XSD/IfcStructuralElementsDomain.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:ifc="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" version="4.3">
  <include schemaLocation="IfcDomainLayer.xsd"/>
  <include schemaLocation="IfcKernel.xsd"/>
  <include schemaLocation="IfcMeasureResource.xsd"/>
  <include schemaLocation="IfcProductExtension.xsd"/>
  <include schemaLocation="IfcProfileResource.xsd"/>
  <include schemaLocation="IfcSharedBldgElements.xsd"/>
  <include schemaLocation="IfcSharedComponentElements.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="IfcBendingParameterSelect" type="ifc:IfcBendingParameterSelect_Type"/>
  <complexType name="IfcBendingParameterSelect_Type">
    <choice>
      <element name="lengthMeasure" type="ifc:IfcLengthMeasure_PropertyType"/>
      <element name="planeAngleMeasure" type="ifc:IfcPlaneAngleMeasure_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcBendingParameterSelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBendingParameterSelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFooting" substitutionGroup="ifc:AbstractIfcBuildingElement" type="ifc:IfcFooting_Type"/>
  <complexType name="IfcFooting_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcFootingTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcFooting_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFooting"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFootingType" substitutionGroup="ifc:AbstractIfcBuildingElementType" type="ifc:IfcFootingType_Type"/>
  <complexType name="IfcFootingType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcFootingTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcFootingType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFootingType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFootingTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcFootingTypeEnum_Type"/>
  <simpleType name="IfcFootingTypeEnum_Type">
    <restriction base="string">
      <enumeration value="CAISSON_FOUNDATION"/>
      <enumeration value="FOOTING_BEAM"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PAD_FOOTING"/>
      <enumeration value="PILE_CAP"/>
      <enumeration value="STRIP_FOOTING"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcFootingTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFootingTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPile" substitutionGroup="ifc:IfcDeepFoundation" type="ifc:IfcPile_Type"/>
  <complexType name="IfcPile_Type">
    <complexContent>
      <extension base="ifc:IfcDeepFoundation_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcPileTypeEnum_PropertyType"/>
          <element minOccurs="0" name="constructionType" type="ifc:IfcPileConstructionEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPile_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPile"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPileConstructionEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcPileConstructionEnum_Type"/>
  <simpleType name="IfcPileConstructionEnum_Type">
    <restriction base="string">
      <enumeration value="CAST_IN_PLACE"/>
      <enumeration value="COMPOSITE"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PRECAST_CONCRETE"/>
      <enumeration value="PREFAB_STEEL"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcPileConstructionEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPileConstructionEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPileType" substitutionGroup="ifc:IfcDeepFoundationType" type="ifc:IfcPileType_Type"/>
  <complexType name="IfcPileType_Type">
    <complexContent>
      <extension base="ifc:IfcDeepFoundationType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcPileTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPileType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPileType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPileTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcPileTypeEnum_Type"/>
  <simpleType name="IfcPileTypeEnum_Type">
    <restriction base="string">
      <enumeration value="BORED"/>
      <enumeration value="COHESION"/>
      <enumeration value="DRIVEN"/>
      <enumeration value="FRICTION"/>
      <enumeration value="JETGROUTING"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="SUPPORT"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcPileTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPileTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcReinforcementDefinitionProperties" substitutionGroup="ifc:AbstractIfcPreDefinedPropertySet" type="ifc:IfcReinforcementDefinitionProperties_Type"/>
  <complexType name="IfcReinforcementDefinitionProperties_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPreDefinedPropertySet_Type">
        <sequence>
          <element minOccurs="0" name="definitionType" type="string"/>
          <element maxOccurs="unbounded" name="reinforcementSectionDefinitions" type="ifc:IfcSectionReinforcementProperties_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcReinforcementDefinitionProperties_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcReinforcementDefinitionProperties"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcReinforcingBar" substitutionGroup="ifc:AbstractIfcReinforcingElement" type="ifc:IfcReinforcingBar_Type"/>
  <complexType name="IfcReinforcingBar_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcReinforcingElement_Type">
        <sequence>
          <element minOccurs="0" name="nominalDiameter" type="gml:LengthType"/>
          <element minOccurs="0" name="crossSectionArea" type="gml:AreaType"/>
          <element minOccurs="0" name="barLength" type="gml:LengthType"/>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcReinforcingBarTypeEnum_PropertyType"/>
          <element minOccurs="0" name="barSurface" type="ifc:IfcReinforcingBarSurfaceEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcReinforcingBar_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcReinforcingBar"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcReinforcingBarType" substitutionGroup="ifc:AbstractIfcReinforcingElementType" type="ifc:IfcReinforcingBarType_Type"/>
  <complexType name="IfcReinforcingBarType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcReinforcingElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcReinforcingBarTypeEnum_PropertyType"/>
          <element minOccurs="0" name="nominalDiameter" type="gml:LengthType"/>
          <element minOccurs="0" name="crossSectionArea" type="gml:AreaType"/>
          <element minOccurs="0" name="barLength" type="gml:LengthType"/>
          <element minOccurs="0" name="barSurface" type="ifc:IfcReinforcingBarSurfaceEnum_PropertyType"/>
          <element minOccurs="0" name="bendingShapeCode" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="bendingParameters" type="ifc:IfcBendingParameterSelect_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcReinforcingBarType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcReinforcingBarType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcReinforcingBarTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcReinforcingBarTypeEnum_Type"/>
  <simpleType name="IfcReinforcingBarTypeEnum_Type">
    <restriction base="string">
      <enumeration value="ANCHORING"/>
      <enumeration value="EDGE"/>
      <enumeration value="LIGATURE"/>
      <enumeration value="MAIN"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PUNCHING"/>
      <enumeration value="RING"/>
      <enumeration value="SHEAR"/>
      <enumeration value="SPACEBAR"/>
      <enumeration value="STUD"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcReinforcingBarTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcReinforcingBarTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcReinforcingElement" substitutionGroup="ifc:AbstractIfcElementComponent" type="ifc:AbstractIfcReinforcingElement_Type"/>
  <complexType abstract="true" name="AbstractIfcReinforcingElement_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcElementComponent_Type">
        <sequence>
          <element minOccurs="0" name="steelGrade" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcReinforcingElement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcReinforcingElement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcReinforcingElementType" substitutionGroup="ifc:AbstractIfcElementComponentType" type="ifc:AbstractIfcReinforcingElementType_Type"/>
  <complexType abstract="true" name="AbstractIfcReinforcingElementType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcElementComponentType_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcReinforcingElementType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcReinforcingElementType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcReinforcingMesh" substitutionGroup="ifc:AbstractIfcReinforcingElement" type="ifc:IfcReinforcingMesh_Type"/>
  <complexType name="IfcReinforcingMesh_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcReinforcingElement_Type">
        <sequence>
          <element minOccurs="0" name="meshLength" type="gml:LengthType"/>
          <element minOccurs="0" name="meshWidth" type="gml:LengthType"/>
          <element minOccurs="0" name="longitudinalBarNominalDiameter" type="gml:LengthType"/>
          <element minOccurs="0" name="transverseBarNominalDiameter" type="gml:LengthType"/>
          <element minOccurs="0" name="longitudinalBarCrossSectionArea" type="gml:AreaType"/>
          <element minOccurs="0" name="transverseBarCrossSectionArea" type="gml:AreaType"/>
          <element minOccurs="0" name="longitudinalBarSpacing" type="gml:LengthType"/>
          <element minOccurs="0" name="transverseBarSpacing" type="gml:LengthType"/>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcReinforcingMeshTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcReinforcingMesh_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcReinforcingMesh"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcReinforcingMeshType" substitutionGroup="ifc:AbstractIfcReinforcingElementType" type="ifc:IfcReinforcingMeshType_Type"/>
  <complexType name="IfcReinforcingMeshType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcReinforcingElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcReinforcingMeshTypeEnum_PropertyType"/>
          <element minOccurs="0" name="meshLength" type="gml:LengthType"/>
          <element minOccurs="0" name="meshWidth" type="gml:LengthType"/>
          <element minOccurs="0" name="longitudinalBarNominalDiameter" type="gml:LengthType"/>
          <element minOccurs="0" name="transverseBarNominalDiameter" type="gml:LengthType"/>
          <element minOccurs="0" name="longitudinalBarCrossSectionArea" type="gml:AreaType"/>
          <element minOccurs="0" name="transverseBarCrossSectionArea" type="gml:AreaType"/>
          <element minOccurs="0" name="longitudinalBarSpacing" type="gml:LengthType"/>
          <element minOccurs="0" name="transverseBarSpacing" type="gml:LengthType"/>
          <element minOccurs="0" name="bendingShapeCode" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="bendingParameters" type="ifc:IfcBendingParameterSelect_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcReinforcingMeshType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcReinforcingMeshType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcReinforcingMeshTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcReinforcingMeshTypeEnum_Type"/>
  <simpleType name="IfcReinforcingMeshTypeEnum_Type">
    <restriction base="string">
      <enumeration value="NOTDEFINED"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcReinforcingMeshTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcReinforcingMeshTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSurfaceFeature" substitutionGroup="ifc:AbstractIfcFeatureElement" type="ifc:IfcSurfaceFeature_Type"/>
  <complexType name="IfcSurfaceFeature_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFeatureElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcSurfaceFeatureTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSurfaceFeature_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSurfaceFeature"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSurfaceFeatureTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcSurfaceFeatureTypeEnum_Type"/>
  <simpleType name="IfcSurfaceFeatureTypeEnum_Type">
    <restriction base="string">
      <enumeration value="DEFECT"/>
      <enumeration value="MARK"/>
      <enumeration value="NONSKIDSURFACING"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="ROADSURFACEMARKINGS"/>
      <enumeration value="RUBMLESTRIP"/>
      <enumeration value="TAG"/>
      <enumeration value="TREATMENT"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcSurfaceFeatureTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSurfaceFeatureTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTendon" substitutionGroup="ifc:AbstractIfcReinforcingElement" type="ifc:IfcTendon_Type"/>
  <complexType name="IfcTendon_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcReinforcingElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcTendonTypeEnum_PropertyType"/>
          <element minOccurs="0" name="nominalDiameter" type="gml:LengthType"/>
          <element minOccurs="0" name="crossSectionArea" type="gml:AreaType"/>
          <element minOccurs="0" name="tensionForce" type="gml:MeasureType"/>
          <element minOccurs="0" name="preStress" type="gml:MeasureType"/>
          <element minOccurs="0" name="frictionCoefficient" type="gml:MeasureType"/>
          <element minOccurs="0" name="anchorageSlip" type="gml:LengthType"/>
          <element minOccurs="0" name="minCurvatureRadius" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTendon_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTendon"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTendonAnchor" substitutionGroup="ifc:AbstractIfcReinforcingElement" type="ifc:IfcTendonAnchor_Type"/>
  <complexType name="IfcTendonAnchor_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcReinforcingElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcTendonAnchorTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTendonAnchor_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTendonAnchor"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTendonAnchorType" substitutionGroup="ifc:AbstractIfcReinforcingElementType" type="ifc:IfcTendonAnchorType_Type"/>
  <complexType name="IfcTendonAnchorType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcReinforcingElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcTendonAnchorTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTendonAnchorType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTendonAnchorType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTendonAnchorTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcTendonAnchorTypeEnum_Type"/>
  <simpleType name="IfcTendonAnchorTypeEnum_Type">
    <restriction base="string">
      <enumeration value="COUPLER"/>
      <enumeration value="FIXED_END"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="TENSIONING_END"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcTendonAnchorTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTendonAnchorTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTendonConduit" substitutionGroup="ifc:AbstractIfcReinforcingElement" type="ifc:IfcTendonConduit_Type"/>
  <complexType name="IfcTendonConduit_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcReinforcingElement_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcTendonConduitTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTendonConduit_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTendonConduit"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTendonConduitType" substitutionGroup="ifc:AbstractIfcReinforcingElementType" type="ifc:IfcTendonConduitType_Type"/>
  <complexType name="IfcTendonConduitType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcReinforcingElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcTendonConduitTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTendonConduitType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTendonConduitType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTendonConduitTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcTendonConduitTypeEnum_Type"/>
  <simpleType name="IfcTendonConduitTypeEnum_Type">
    <restriction base="string">
      <enumeration value="COUPLER"/>
      <enumeration value="DIABOLO"/>
      <enumeration value="DUCT"/>
      <enumeration value="GROUTING_DUCT"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="TRUMPET"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcTendonConduitTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTendonConduitTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTendonType" substitutionGroup="ifc:AbstractIfcReinforcingElementType" type="ifc:IfcTendonType_Type"/>
  <complexType name="IfcTendonType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcReinforcingElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcTendonTypeEnum_PropertyType"/>
          <element minOccurs="0" name="nominalDiameter" type="gml:LengthType"/>
          <element minOccurs="0" name="crossSectionArea" type="gml:AreaType"/>
          <element minOccurs="0" name="sheathDiameter" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTendonType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTendonType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTendonTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcTendonTypeEnum_Type"/>
  <simpleType name="IfcTendonTypeEnum_Type">
    <restriction base="string">
      <enumeration value="BAR"/>
      <enumeration value="COATED"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="STRAND"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="WIRE"/>
    </restriction>
  </simpleType>
  <complexType name="IfcTendonTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTendonTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcVoidingFeature" substitutionGroup="ifc:AbstractIfcFeatureElementSubtraction" type="ifc:IfcVoidingFeature_Type"/>
  <complexType name="IfcVoidingFeature_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFeatureElementSubtraction_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcVoidingFeatureTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcVoidingFeature_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcVoidingFeature"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcVoidingFeatureTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcVoidingFeatureTypeEnum_Type"/>
  <simpleType name="IfcVoidingFeatureTypeEnum_Type">
    <restriction base="string">
      <enumeration value="CHAMFER"/>
      <enumeration value="CUTOUT"/>
      <enumeration value="EDGE"/>
      <enumeration value="HOLE"/>
      <enumeration value="MITER"/>
      <enumeration value="NOTCH"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcVoidingFeatureTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcVoidingFeatureTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
