XSD/IfcSharedBldgServiceElements.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:ifc="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" version="4.3">
  <include schemaLocation="IfcInteroperabilityLayer.xsd"/>
  <include schemaLocation="IfcKernel.xsd"/>
  <include schemaLocation="IfcMeasureResource.xsd"/>
  <include schemaLocation="IfcProductExtension.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="IfcDistributionChamberElement" substitutionGroup="ifc:IfcDistributionFlowElement" type="ifc:IfcDistributionChamberElement_Type"/>
  <complexType name="IfcDistributionChamberElement_Type">
    <complexContent>
      <extension base="ifc:IfcDistributionFlowElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcDistributionChamberElementTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDistributionChamberElement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDistributionChamberElement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDistributionChamberElementType" substitutionGroup="ifc:AbstractIfcDistributionFlowElementType" type="ifc:IfcDistributionChamberElementType_Type"/>
  <complexType name="IfcDistributionChamberElementType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcDistributionFlowElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcDistributionChamberElementTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDistributionChamberElementType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDistributionChamberElementType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDistributionChamberElementTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcDistributionChamberElementTypeEnum_Type"/>
  <simpleType name="IfcDistributionChamberElementTypeEnum_Type">
    <restriction base="string">
      <enumeration value="FORMEDDUCT"/>
      <enumeration value="INSPECTIONCHAMBER"/>
      <enumeration value="INSPECTIONPIT"/>
      <enumeration value="MANHOLE"/>
      <enumeration value="METERCHAMBER"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="SUMP"/>
      <enumeration value="TRENCH"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="VALVECHAMBER"/>
    </restriction>
  </simpleType>
  <complexType name="IfcDistributionChamberElementTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDistributionChamberElementTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDistributionCircuit" substitutionGroup="ifc:IfcDistributionSystem" type="ifc:IfcDistributionCircuit_Type"/>
  <complexType name="IfcDistributionCircuit_Type">
    <complexContent>
      <extension base="ifc:IfcDistributionSystem_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDistributionCircuit_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDistributionCircuit"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDistributionControlElement" substitutionGroup="ifc:IfcDistributionElement" type="ifc:IfcDistributionControlElement_Type"/>
  <complexType name="IfcDistributionControlElement_Type">
    <complexContent>
      <extension base="ifc:IfcDistributionElement_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDistributionControlElement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDistributionControlElement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcDistributionControlElementType" substitutionGroup="ifc:IfcDistributionElementType" type="ifc:AbstractIfcDistributionControlElementType_Type"/>
  <complexType abstract="true" name="AbstractIfcDistributionControlElementType_Type">
    <complexContent>
      <extension base="ifc:IfcDistributionElementType_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcDistributionControlElementType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcDistributionControlElementType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDistributionFlowElement" substitutionGroup="ifc:IfcDistributionElement" type="ifc:IfcDistributionFlowElement_Type"/>
  <complexType name="IfcDistributionFlowElement_Type">
    <complexContent>
      <extension base="ifc:IfcDistributionElement_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDistributionFlowElement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDistributionFlowElement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcDistributionFlowElementType" substitutionGroup="ifc:IfcDistributionElementType" type="ifc:AbstractIfcDistributionFlowElementType_Type"/>
  <complexType abstract="true" name="AbstractIfcDistributionFlowElementType_Type">
    <complexContent>
      <extension base="ifc:IfcDistributionElementType_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcDistributionFlowElementType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcDistributionFlowElementType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDistributionPort" substitutionGroup="ifc:AbstractIfcPort" type="ifc:IfcDistributionPort_Type"/>
  <complexType name="IfcDistributionPort_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcPort_Type">
        <sequence>
          <element minOccurs="0" name="flowDirection" type="ifc:IfcFlowDirectionEnum_PropertyType"/>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcDistributionPortTypeEnum_PropertyType"/>
          <element minOccurs="0" name="systemType" type="ifc:IfcDistributionSystemEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDistributionPort_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDistributionPort"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDistributionPortTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcDistributionPortTypeEnum_Type"/>
  <simpleType name="IfcDistributionPortTypeEnum_Type">
    <restriction base="string">
      <enumeration value="CABLE"/>
      <enumeration value="CABLECARRIER"/>
      <enumeration value="DUCT"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PIPE"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcDistributionPortTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDistributionPortTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDistributionSystem" substitutionGroup="ifc:IfcSystem" type="ifc:IfcDistributionSystem_Type"/>
  <complexType name="IfcDistributionSystem_Type">
    <complexContent>
      <extension base="ifc:IfcSystem_Type">
        <sequence>
          <element minOccurs="0" name="longName" type="string"/>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcDistributionSystemEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDistributionSystem_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDistributionSystem"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDistributionSystemEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcDistributionSystemEnum_Type"/>
  <simpleType name="IfcDistributionSystemEnum_Type">
    <restriction base="string">
      <enumeration value="AIRCONDITIONING"/>
      <enumeration value="AUDIOVISUAL"/>
      <enumeration value="CHEMICAL"/>
      <enumeration value="CHILLEDWATER"/>
      <enumeration value="COMMUNICATION"/>
      <enumeration value="COMPRESSEDAIR"/>
      <enumeration value="CONDENSERWATER"/>
      <enumeration value="CONTROL"/>
      <enumeration value="CONVEYING"/>
      <enumeration value="DATA"/>
      <enumeration value="DISPOSAL"/>
      <enumeration value="DOMESTICCOLDWATER"/>
      <enumeration value="DOMESTICHOTWATER"/>
      <enumeration value="DRAINAGE"/>
      <enumeration value="EARTHING"/>
      <enumeration value="ELECTRICAL"/>
      <enumeration value="ELECTROACOUSTIC"/>
      <enumeration value="EXHAUST"/>
      <enumeration value="FIREPROTECTION"/>
      <enumeration value="FUEL"/>
      <enumeration value="GAS"/>
      <enumeration value="HAZARDOUS"/>
      <enumeration value="HEATING"/>
      <enumeration value="LIGHTING"/>
      <enumeration value="LIGHTNINGPROTECTION"/>
      <enumeration value="MUNICIPALSOLIDWASTE"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="OIL"/>
      <enumeration value="OPERATIONAL"/>
      <enumeration value="POWERGENERATION"/>
      <enumeration value="RAINWATER"/>
      <enumeration value="REFRIGERATION"/>
      <enumeration value="SECURITY"/>
      <enumeration value="SEWAGE"/>
      <enumeration value="SIGNAL"/>
      <enumeration value="STORMWATER"/>
      <enumeration value="TELEPHONE"/>
      <enumeration value="TV"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="VACUUM"/>
      <enumeration value="VENT"/>
      <enumeration value="VENTILATION"/>
      <enumeration value="WASTEWATER"/>
      <enumeration value="WATERSUPPLY"/>
    </restriction>
  </simpleType>
  <complexType name="IfcDistributionSystemEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDistributionSystemEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcEnergyConversionDevice" substitutionGroup="ifc:IfcDistributionFlowElement" type="ifc:IfcEnergyConversionDevice_Type"/>
  <complexType name="IfcEnergyConversionDevice_Type">
    <complexContent>
      <extension base="ifc:IfcDistributionFlowElement_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcEnergyConversionDevice_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcEnergyConversionDevice"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcEnergyConversionDeviceType" substitutionGroup="ifc:AbstractIfcDistributionFlowElementType" type="ifc:AbstractIfcEnergyConversionDeviceType_Type"/>
  <complexType abstract="true" name="AbstractIfcEnergyConversionDeviceType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcDistributionFlowElementType_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcEnergyConversionDeviceType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcEnergyConversionDeviceType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFlowController" substitutionGroup="ifc:IfcDistributionFlowElement" type="ifc:IfcFlowController_Type"/>
  <complexType name="IfcFlowController_Type">
    <complexContent>
      <extension base="ifc:IfcDistributionFlowElement_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcFlowController_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFlowController"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcFlowControllerType" substitutionGroup="ifc:AbstractIfcDistributionFlowElementType" type="ifc:AbstractIfcFlowControllerType_Type"/>
  <complexType abstract="true" name="AbstractIfcFlowControllerType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcDistributionFlowElementType_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcFlowControllerType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcFlowControllerType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFlowDirectionEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcFlowDirectionEnum_Type"/>
  <simpleType name="IfcFlowDirectionEnum_Type">
    <restriction base="string">
      <enumeration value="NOTDEFINED"/>
      <enumeration value="SINK"/>
      <enumeration value="SOURCE"/>
      <enumeration value="SOURCEANDSINK"/>
    </restriction>
  </simpleType>
  <complexType name="IfcFlowDirectionEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFlowDirectionEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFlowFitting" substitutionGroup="ifc:IfcDistributionFlowElement" type="ifc:IfcFlowFitting_Type"/>
  <complexType name="IfcFlowFitting_Type">
    <complexContent>
      <extension base="ifc:IfcDistributionFlowElement_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcFlowFitting_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFlowFitting"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcFlowFittingType" substitutionGroup="ifc:AbstractIfcDistributionFlowElementType" type="ifc:AbstractIfcFlowFittingType_Type"/>
  <complexType abstract="true" name="AbstractIfcFlowFittingType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcDistributionFlowElementType_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcFlowFittingType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcFlowFittingType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFlowMovingDevice" substitutionGroup="ifc:IfcDistributionFlowElement" type="ifc:IfcFlowMovingDevice_Type"/>
  <complexType name="IfcFlowMovingDevice_Type">
    <complexContent>
      <extension base="ifc:IfcDistributionFlowElement_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcFlowMovingDevice_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFlowMovingDevice"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcFlowMovingDeviceType" substitutionGroup="ifc:AbstractIfcDistributionFlowElementType" type="ifc:AbstractIfcFlowMovingDeviceType_Type"/>
  <complexType abstract="true" name="AbstractIfcFlowMovingDeviceType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcDistributionFlowElementType_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcFlowMovingDeviceType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcFlowMovingDeviceType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFlowSegment" substitutionGroup="ifc:IfcDistributionFlowElement" type="ifc:IfcFlowSegment_Type"/>
  <complexType name="IfcFlowSegment_Type">
    <complexContent>
      <extension base="ifc:IfcDistributionFlowElement_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcFlowSegment_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFlowSegment"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcFlowSegmentType" substitutionGroup="ifc:AbstractIfcDistributionFlowElementType" type="ifc:AbstractIfcFlowSegmentType_Type"/>
  <complexType abstract="true" name="AbstractIfcFlowSegmentType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcDistributionFlowElementType_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcFlowSegmentType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcFlowSegmentType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFlowStorageDevice" substitutionGroup="ifc:IfcDistributionFlowElement" type="ifc:IfcFlowStorageDevice_Type"/>
  <complexType name="IfcFlowStorageDevice_Type">
    <complexContent>
      <extension base="ifc:IfcDistributionFlowElement_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcFlowStorageDevice_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFlowStorageDevice"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcFlowStorageDeviceType" substitutionGroup="ifc:AbstractIfcDistributionFlowElementType" type="ifc:AbstractIfcFlowStorageDeviceType_Type"/>
  <complexType abstract="true" name="AbstractIfcFlowStorageDeviceType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcDistributionFlowElementType_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcFlowStorageDeviceType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcFlowStorageDeviceType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFlowTerminal" substitutionGroup="ifc:IfcDistributionFlowElement" type="ifc:IfcFlowTerminal_Type"/>
  <complexType name="IfcFlowTerminal_Type">
    <complexContent>
      <extension base="ifc:IfcDistributionFlowElement_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcFlowTerminal_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFlowTerminal"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcFlowTerminalType" substitutionGroup="ifc:AbstractIfcDistributionFlowElementType" type="ifc:AbstractIfcFlowTerminalType_Type"/>
  <complexType abstract="true" name="AbstractIfcFlowTerminalType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcDistributionFlowElementType_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcFlowTerminalType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcFlowTerminalType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFlowTreatmentDevice" substitutionGroup="ifc:IfcDistributionFlowElement" type="ifc:IfcFlowTreatmentDevice_Type"/>
  <complexType name="IfcFlowTreatmentDevice_Type">
    <complexContent>
      <extension base="ifc:IfcDistributionFlowElement_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcFlowTreatmentDevice_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFlowTreatmentDevice"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcFlowTreatmentDeviceType" substitutionGroup="ifc:AbstractIfcDistributionFlowElementType" type="ifc:AbstractIfcFlowTreatmentDeviceType_Type"/>
  <complexType abstract="true" name="AbstractIfcFlowTreatmentDeviceType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcDistributionFlowElementType_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcFlowTreatmentDeviceType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcFlowTreatmentDeviceType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelFlowControlElements" substitutionGroup="ifc:AbstractIfcRelConnects" type="ifc:IfcRelFlowControlElements_Type"/>
  <complexType name="IfcRelFlowControlElements_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelConnects_Type">
        <sequence>
          <element name="relatingFlowElement" type="ifc:IfcDistributionFlowElement_PropertyType"/>
          <element maxOccurs="unbounded" name="relatedControlElements" type="ifc:IfcDistributionControlElement_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelFlowControlElements_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelFlowControlElements"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
