XSD/IfcSharedFacilitiesElements.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:ifc="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" version="4.3">
  <include schemaLocation="IfcActorResource.xsd"/>
  <include schemaLocation="IfcCostResource.xsd"/>
  <include schemaLocation="IfcDateTimeResource.xsd"/>
  <include schemaLocation="IfcInteroperabilityLayer.xsd"/>
  <include schemaLocation="IfcKernel.xsd"/>
  <include schemaLocation="IfcMeasureResource.xsd"/>
  <include schemaLocation="IfcProductExtension.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="IfcAsset" substitutionGroup="ifc:IfcGroup" type="ifc:IfcAssetType"/>
  <complexType name="IfcAssetType">
    <complexContent>
      <extension base="ifc:IfcGroupType">
        <sequence>
          <element minOccurs="0" name="identification" type="string"/>
          <element minOccurs="0" name="owner" type="ifc:IfcActorSelectPropertyType"/>
          <element minOccurs="0" name="user" type="ifc:IfcActorSelectPropertyType"/>
          <element minOccurs="0" name="incorporationDate" type="date"/>
          <element minOccurs="0" name="originalValue" type="ifc:IfcCostValuePropertyType"/>
          <element minOccurs="0" name="depreciatedValue" type="ifc:IfcCostValuePropertyType"/>
          <element minOccurs="0" name="totalReplacementCost" type="ifc:IfcCostValuePropertyType"/>
          <element minOccurs="0" name="responsiblePerson" type="ifc:IfcPersonPropertyType"/>
          <element minOccurs="0" name="currentValue" type="ifc:IfcCostValuePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcAssetPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcAsset"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcFurniture" substitutionGroup="ifc:IfcFurnishingElement" type="ifc:IfcFurnitureType"/>
  <complexType name="IfcFurnitureType">
    <complexContent>
      <extension base="ifc:IfcFurnishingElementType">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcFurnitureTypeEnumType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcFurniturePropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFurniture"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcFurnitureType" substitutionGroup="ifc:IfcFurnishingElementType" type="ifc:IfcFurnitureTypeType"/>
  <complexType name="IfcFurnitureTypeType">
    <complexContent>
      <extension base="ifc:IfcFurnishingElementTypeType">
        <sequence>
          <element name="assemblyPlace" type="ifc:IfcAssemblyPlaceEnumType"/>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcFurnitureTypeEnumType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcFurnitureTypePropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFurnitureType"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="IfcFurnitureTypeEnumType">
    <restriction base="string">
      <enumeration value="BED"/>
      <enumeration value="CHAIR"/>
      <enumeration value="DESK"/>
      <enumeration value="FILECABINET"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="SHELF"/>
      <enumeration value="SOFA"/>
      <enumeration value="TABLE"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <element name="IfcInventory" substitutionGroup="ifc:IfcGroup" type="ifc:IfcInventoryType"/>
  <complexType name="IfcInventoryType">
    <complexContent>
      <extension base="ifc:IfcGroupType">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcInventoryTypeEnumType"/>
          <element minOccurs="0" name="jurisdiction" type="ifc:IfcActorSelectPropertyType"/>
          <element minOccurs="0" name="lastUpdateDate" type="date"/>
          <element minOccurs="0" name="originalValue" type="ifc:IfcCostValuePropertyType"/>
          <element minOccurs="0" name="currentValue" type="ifc:IfcCostValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="responsiblePersons" type="ifc:IfcPersonPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcInventoryPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcInventory"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="IfcInventoryTypeEnumType">
    <restriction base="string">
      <enumeration value="ASSETINVENTORY"/>
      <enumeration value="FURNITUREINVENTORY"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="SPACEINVENTORY"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <element name="IfcOccupant" substitutionGroup="ifc:IfcActor" type="ifc:IfcOccupantType"/>
  <complexType name="IfcOccupantType">
    <complexContent>
      <extension base="ifc:IfcActorType">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcOccupantTypeEnumType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcOccupantPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcOccupant"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="IfcOccupantTypeEnumType">
    <restriction base="string">
      <enumeration value="ASSIGNEE"/>
      <enumeration value="ASSIGNOR"/>
      <enumeration value="LESSEE"/>
      <enumeration value="LESSOR"/>
      <enumeration value="LETTINGAGENT"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="OWNER"/>
      <enumeration value="TENANT"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <element name="IfcSystemFurnitureElement" substitutionGroup="ifc:IfcFurnishingElement" type="ifc:IfcSystemFurnitureElementType"/>
  <complexType name="IfcSystemFurnitureElementType">
    <complexContent>
      <extension base="ifc:IfcFurnishingElementType">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcSystemFurnitureElementTypeEnumType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSystemFurnitureElementPropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSystemFurnitureElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IfcSystemFurnitureElementType" substitutionGroup="ifc:IfcFurnishingElementType" type="ifc:IfcSystemFurnitureElementTypeType"/>
  <complexType name="IfcSystemFurnitureElementTypeType">
    <complexContent>
      <extension base="ifc:IfcFurnishingElementTypeType">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcSystemFurnitureElementTypeEnumType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSystemFurnitureElementTypePropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSystemFurnitureElementType"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="IfcSystemFurnitureElementTypeEnumType">
    <restriction base="string">
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PANEL"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="WORKSURFACE"/>
    </restriction>
  </simpleType>
</schema>
