XSD/IfcSharedMgmtElements.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:ifc="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" version="4.3">
  <include schemaLocation="IfcActorResource.xsd"/>
  <include schemaLocation="IfcCostResource.xsd"/>
  <include schemaLocation="IfcDateTimeResource.xsd"/>
  <include schemaLocation="IfcInteroperabilityLayer.xsd"/>
  <include schemaLocation="IfcKernel.xsd"/>
  <include schemaLocation="IfcMeasureResource.xsd"/>
  <include schemaLocation="IfcQuantityResource.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="IfcActionRequest" substitutionGroup="ifc:AbstractIfcControl" type="ifc:IfcActionRequest_Type"/>
  <complexType name="IfcActionRequest_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcControl_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcActionRequestTypeEnum_PropertyType"/>
          <element minOccurs="0" name="status" type="string"/>
          <element minOccurs="0" name="longDescription" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcActionRequest_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcActionRequest"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcActionRequestTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcActionRequestTypeEnum_Type"/>
  <simpleType name="IfcActionRequestTypeEnum_Type">
    <restriction base="string">
      <enumeration value="EMAIL"/>
      <enumeration value="FAX"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PHONE"/>
      <enumeration value="POST"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="VERBAL"/>
    </restriction>
  </simpleType>
  <complexType name="IfcActionRequestTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcActionRequestTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCostItem" substitutionGroup="ifc:AbstractIfcControl" type="ifc:IfcCostItem_Type"/>
  <complexType name="IfcCostItem_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcControl_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcCostItemTypeEnum_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="costValues" type="ifc:IfcCostValue_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="costQuantities" type="ifc:AbstractIfcPhysicalQuantity_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCostItem_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCostItem"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCostItemTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcCostItemTypeEnum_Type"/>
  <simpleType name="IfcCostItemTypeEnum_Type">
    <restriction base="string">
      <enumeration value="NOTDEFINED"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcCostItemTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCostItemTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCostSchedule" substitutionGroup="ifc:AbstractIfcControl" type="ifc:IfcCostSchedule_Type"/>
  <complexType name="IfcCostSchedule_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcControl_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcCostScheduleTypeEnum_PropertyType"/>
          <element minOccurs="0" name="status" type="string"/>
          <element minOccurs="0" name="submittedOn" type="dateTime"/>
          <element minOccurs="0" name="updateDate" type="dateTime"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCostSchedule_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCostSchedule"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCostScheduleTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcCostScheduleTypeEnum_Type"/>
  <simpleType name="IfcCostScheduleTypeEnum_Type">
    <restriction base="string">
      <enumeration value="BUDGET"/>
      <enumeration value="COSTPLAN"/>
      <enumeration value="ESTIMATE"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PRICEDBILLOFQUANTITIES"/>
      <enumeration value="SCHEDULEOFRATES"/>
      <enumeration value="TENDER"/>
      <enumeration value="UNPRICEDBILLOFQUANTITIES"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcCostScheduleTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCostScheduleTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPermit" substitutionGroup="ifc:AbstractIfcControl" type="ifc:IfcPermit_Type"/>
  <complexType name="IfcPermit_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcControl_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcPermitTypeEnum_PropertyType"/>
          <element minOccurs="0" name="status" type="string"/>
          <element minOccurs="0" name="longDescription" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPermit_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPermit"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPermitTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcPermitTypeEnum_Type"/>
  <simpleType name="IfcPermitTypeEnum_Type">
    <restriction base="string">
      <enumeration value="ACCESS"/>
      <enumeration value="BUILDING"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="WORK"/>
    </restriction>
  </simpleType>
  <complexType name="IfcPermitTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPermitTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcProjectOrder" substitutionGroup="ifc:AbstractIfcControl" type="ifc:IfcProjectOrder_Type"/>
  <complexType name="IfcProjectOrder_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcControl_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcProjectOrderTypeEnum_PropertyType"/>
          <element minOccurs="0" name="status" type="string"/>
          <element minOccurs="0" name="longDescription" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcProjectOrder_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcProjectOrder"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcProjectOrderTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcProjectOrderTypeEnum_Type"/>
  <simpleType name="IfcProjectOrderTypeEnum_Type">
    <restriction base="string">
      <enumeration value="CHANGEORDER"/>
      <enumeration value="MAINTENANCEWORKORDER"/>
      <enumeration value="MOVEORDER"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PURCHASEORDER"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="WORKORDER"/>
    </restriction>
  </simpleType>
  <complexType name="IfcProjectOrderTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcProjectOrderTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
