XSD/IfcStructuralLoadResource.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:ifc="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" version="4.3">
  <include schemaLocation="IfcMeasureResource.xsd"/>
  <include schemaLocation="IfcResourceLayer.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element abstract="true" name="AbstractIfcBoundaryCondition" substitutionGroup="gco:AbstractObject" type="ifc:AbstractIfcBoundaryCondition_Type"/>
  <complexType abstract="true" name="AbstractIfcBoundaryCondition_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="name" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcBoundaryCondition_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcBoundaryCondition"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcBoundaryEdgeCondition" substitutionGroup="ifc:AbstractIfcBoundaryCondition" type="ifc:IfcBoundaryEdgeCondition_Type"/>
  <complexType name="IfcBoundaryEdgeCondition_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBoundaryCondition_Type">
        <sequence>
          <element minOccurs="0" name="translationalStiffnessByLengthX" type="ifc:IfcModulusOfTranslationalSubgradeReactionSelect_PropertyType"/>
          <element minOccurs="0" name="translationalStiffnessByLengthY" type="ifc:IfcModulusOfTranslationalSubgradeReactionSelect_PropertyType"/>
          <element minOccurs="0" name="translationalStiffnessByLengthZ" type="ifc:IfcModulusOfTranslationalSubgradeReactionSelect_PropertyType"/>
          <element minOccurs="0" name="rotationalStiffnessByLengthX" type="ifc:IfcModulusOfRotationalSubgradeReactionSelect_PropertyType"/>
          <element minOccurs="0" name="rotationalStiffnessByLengthY" type="ifc:IfcModulusOfRotationalSubgradeReactionSelect_PropertyType"/>
          <element minOccurs="0" name="rotationalStiffnessByLengthZ" type="ifc:IfcModulusOfRotationalSubgradeReactionSelect_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcBoundaryEdgeCondition_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBoundaryEdgeCondition"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcBoundaryFaceCondition" substitutionGroup="ifc:AbstractIfcBoundaryCondition" type="ifc:IfcBoundaryFaceCondition_Type"/>
  <complexType name="IfcBoundaryFaceCondition_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBoundaryCondition_Type">
        <sequence>
          <element minOccurs="0" name="translationalStiffnessByAreaX" type="ifc:IfcModulusOfSubgradeReactionSelect_PropertyType"/>
          <element minOccurs="0" name="translationalStiffnessByAreaY" type="ifc:IfcModulusOfSubgradeReactionSelect_PropertyType"/>
          <element minOccurs="0" name="translationalStiffnessByAreaZ" type="ifc:IfcModulusOfSubgradeReactionSelect_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcBoundaryFaceCondition_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBoundaryFaceCondition"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcBoundaryNodeCondition" substitutionGroup="ifc:AbstractIfcBoundaryCondition" type="ifc:IfcBoundaryNodeCondition_Type"/>
  <complexType name="IfcBoundaryNodeCondition_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBoundaryCondition_Type">
        <sequence>
          <element minOccurs="0" name="translationalStiffnessX" type="ifc:IfcTranslationalStiffnessSelect_PropertyType"/>
          <element minOccurs="0" name="translationalStiffnessY" type="ifc:IfcTranslationalStiffnessSelect_PropertyType"/>
          <element minOccurs="0" name="translationalStiffnessZ" type="ifc:IfcTranslationalStiffnessSelect_PropertyType"/>
          <element minOccurs="0" name="rotationalStiffnessX" type="ifc:IfcRotationalStiffnessSelect_PropertyType"/>
          <element minOccurs="0" name="rotationalStiffnessY" type="ifc:IfcRotationalStiffnessSelect_PropertyType"/>
          <element minOccurs="0" name="rotationalStiffnessZ" type="ifc:IfcRotationalStiffnessSelect_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcBoundaryNodeCondition_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBoundaryNodeCondition"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcBoundaryNodeConditionWarping" substitutionGroup="ifc:IfcBoundaryNodeCondition" type="ifc:IfcBoundaryNodeConditionWarping_Type"/>
  <complexType name="IfcBoundaryNodeConditionWarping_Type">
    <complexContent>
      <extension base="ifc:IfcBoundaryNodeCondition_Type">
        <sequence>
          <element minOccurs="0" name="warpingStiffness" type="ifc:IfcWarpingStiffnessSelect_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcBoundaryNodeConditionWarping_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBoundaryNodeConditionWarping"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcFailureConnectionCondition" substitutionGroup="ifc:AbstractIfcStructuralConnectionCondition" type="ifc:IfcFailureConnectionCondition_Type"/>
  <complexType name="IfcFailureConnectionCondition_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcStructuralConnectionCondition_Type">
        <sequence>
          <element minOccurs="0" name="tensionFailureX" type="gml:MeasureType"/>
          <element minOccurs="0" name="tensionFailureY" type="gml:MeasureType"/>
          <element minOccurs="0" name="tensionFailureZ" type="gml:MeasureType"/>
          <element minOccurs="0" name="compressionFailureX" type="gml:MeasureType"/>
          <element minOccurs="0" name="compressionFailureY" type="gml:MeasureType"/>
          <element minOccurs="0" name="compressionFailureZ" type="gml:MeasureType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcFailureConnectionCondition_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcFailureConnectionCondition"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcModulusOfRotationalSubgradeReactionSelect" type="ifc:IfcModulusOfRotationalSubgradeReactionSelect_Type"/>
  <complexType name="IfcModulusOfRotationalSubgradeReactionSelect_Type">
    <choice>
      <element name="boolean" type="ifc:IfcBoolean_PropertyType"/>
      <element name="modulusOfRotationalSubgradeReactionMeasure" type="ifc:IfcModulusOfRotationalSubgradeReactionMeasure_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcModulusOfRotationalSubgradeReactionSelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcModulusOfRotationalSubgradeReactionSelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcModulusOfSubgradeReactionSelect" type="ifc:IfcModulusOfSubgradeReactionSelect_Type"/>
  <complexType name="IfcModulusOfSubgradeReactionSelect_Type">
    <choice>
      <element name="boolean" type="ifc:IfcBoolean_PropertyType"/>
      <element name="modulusOfSubgradeReactionMeasure" type="ifc:IfcModulusOfSubgradeReactionMeasure_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcModulusOfSubgradeReactionSelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcModulusOfSubgradeReactionSelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcModulusOfTranslationalSubgradeReactionSelect" type="ifc:IfcModulusOfTranslationalSubgradeReactionSelect_Type"/>
  <complexType name="IfcModulusOfTranslationalSubgradeReactionSelect_Type">
    <choice>
      <element name="boolean" type="ifc:IfcBoolean_PropertyType"/>
      <element name="modulusOfLinearSubgradeReactionMeasure" type="ifc:IfcModulusOfLinearSubgradeReactionMeasure_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcModulusOfTranslationalSubgradeReactionSelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcModulusOfTranslationalSubgradeReactionSelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRotationalStiffnessSelect" type="ifc:IfcRotationalStiffnessSelect_Type"/>
  <complexType name="IfcRotationalStiffnessSelect_Type">
    <choice>
      <element name="boolean" type="ifc:IfcBoolean_PropertyType"/>
      <element name="rotationalStiffnessMeasure" type="ifc:IfcRotationalStiffnessMeasure_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcRotationalStiffnessSelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRotationalStiffnessSelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSlippageConnectionCondition" substitutionGroup="ifc:AbstractIfcStructuralConnectionCondition" type="ifc:IfcSlippageConnectionCondition_Type"/>
  <complexType name="IfcSlippageConnectionCondition_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcStructuralConnectionCondition_Type">
        <sequence>
          <element minOccurs="0" name="slippageX" type="gml:LengthType"/>
          <element minOccurs="0" name="slippageY" type="gml:LengthType"/>
          <element minOccurs="0" name="slippageZ" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSlippageConnectionCondition_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSlippageConnectionCondition"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcStructuralConnectionCondition" substitutionGroup="gco:AbstractObject" type="ifc:AbstractIfcStructuralConnectionCondition_Type"/>
  <complexType abstract="true" name="AbstractIfcStructuralConnectionCondition_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="name" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcStructuralConnectionCondition_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcStructuralConnectionCondition"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcStructuralLoad" substitutionGroup="gco:AbstractObject" type="ifc:AbstractIfcStructuralLoad_Type"/>
  <complexType abstract="true" name="AbstractIfcStructuralLoad_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="name" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcStructuralLoad_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcStructuralLoad"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcStructuralLoadConfiguration" substitutionGroup="ifc:AbstractIfcStructuralLoad" type="ifc:IfcStructuralLoadConfiguration_Type"/>
  <complexType name="IfcStructuralLoadConfiguration_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcStructuralLoad_Type">
        <sequence>
          <element maxOccurs="2" minOccurs="0" name="locations" type="gml:LengthType"/>
          <element maxOccurs="unbounded" name="values" type="ifc:AbstractIfcStructuralLoadOrResult_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcStructuralLoadConfiguration_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcStructuralLoadConfiguration"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcStructuralLoadLinearForce" substitutionGroup="ifc:AbstractIfcStructuralLoadStatic" type="ifc:IfcStructuralLoadLinearForce_Type"/>
  <complexType name="IfcStructuralLoadLinearForce_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcStructuralLoadStatic_Type">
        <sequence>
          <element minOccurs="0" name="linearForceX" type="gml:MeasureType"/>
          <element minOccurs="0" name="linearForceY" type="gml:MeasureType"/>
          <element minOccurs="0" name="linearForceZ" type="gml:MeasureType"/>
          <element minOccurs="0" name="linearMomentX" type="gml:MeasureType"/>
          <element minOccurs="0" name="linearMomentY" type="gml:MeasureType"/>
          <element minOccurs="0" name="linearMomentZ" type="gml:MeasureType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcStructuralLoadLinearForce_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcStructuralLoadLinearForce"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcStructuralLoadOrResult" substitutionGroup="ifc:AbstractIfcStructuralLoad" type="ifc:AbstractIfcStructuralLoadOrResult_Type"/>
  <complexType abstract="true" name="AbstractIfcStructuralLoadOrResult_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcStructuralLoad_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcStructuralLoadOrResult_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcStructuralLoadOrResult"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcStructuralLoadPlanarForce" substitutionGroup="ifc:AbstractIfcStructuralLoadStatic" type="ifc:IfcStructuralLoadPlanarForce_Type"/>
  <complexType name="IfcStructuralLoadPlanarForce_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcStructuralLoadStatic_Type">
        <sequence>
          <element minOccurs="0" name="planarForceX" type="gml:MeasureType"/>
          <element minOccurs="0" name="planarForceY" type="gml:MeasureType"/>
          <element minOccurs="0" name="planarForceZ" type="gml:MeasureType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcStructuralLoadPlanarForce_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcStructuralLoadPlanarForce"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcStructuralLoadSingleDisplacement" substitutionGroup="ifc:AbstractIfcStructuralLoadStatic" type="ifc:IfcStructuralLoadSingleDisplacement_Type"/>
  <complexType name="IfcStructuralLoadSingleDisplacement_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcStructuralLoadStatic_Type">
        <sequence>
          <element minOccurs="0" name="displacementX" type="gml:LengthType"/>
          <element minOccurs="0" name="displacementY" type="gml:LengthType"/>
          <element minOccurs="0" name="displacementZ" type="gml:LengthType"/>
          <element minOccurs="0" name="rotationalDisplacementRX" type="gml:AngleType"/>
          <element minOccurs="0" name="rotationalDisplacementRY" type="gml:AngleType"/>
          <element minOccurs="0" name="rotationalDisplacementRZ" type="gml:AngleType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcStructuralLoadSingleDisplacement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcStructuralLoadSingleDisplacement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcStructuralLoadSingleDisplacementDistortion" substitutionGroup="ifc:IfcStructuralLoadSingleDisplacement" type="ifc:IfcStructuralLoadSingleDisplacementDistortion_Type"/>
  <complexType name="IfcStructuralLoadSingleDisplacementDistortion_Type">
    <complexContent>
      <extension base="ifc:IfcStructuralLoadSingleDisplacement_Type">
        <sequence>
          <element minOccurs="0" name="distortion" type="gml:MeasureType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcStructuralLoadSingleDisplacementDistortion_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcStructuralLoadSingleDisplacementDistortion"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcStructuralLoadSingleForce" substitutionGroup="ifc:AbstractIfcStructuralLoadStatic" type="ifc:IfcStructuralLoadSingleForce_Type"/>
  <complexType name="IfcStructuralLoadSingleForce_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcStructuralLoadStatic_Type">
        <sequence>
          <element minOccurs="0" name="forceX" type="gml:MeasureType"/>
          <element minOccurs="0" name="forceY" type="gml:MeasureType"/>
          <element minOccurs="0" name="forceZ" type="gml:MeasureType"/>
          <element minOccurs="0" name="momentX" type="gml:MeasureType"/>
          <element minOccurs="0" name="momentY" type="gml:MeasureType"/>
          <element minOccurs="0" name="momentZ" type="gml:MeasureType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcStructuralLoadSingleForce_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcStructuralLoadSingleForce"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcStructuralLoadSingleForceWarping" substitutionGroup="ifc:IfcStructuralLoadSingleForce" type="ifc:IfcStructuralLoadSingleForceWarping_Type"/>
  <complexType name="IfcStructuralLoadSingleForceWarping_Type">
    <complexContent>
      <extension base="ifc:IfcStructuralLoadSingleForce_Type">
        <sequence>
          <element minOccurs="0" name="warpingMoment" type="gml:MeasureType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcStructuralLoadSingleForceWarping_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcStructuralLoadSingleForceWarping"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractIfcStructuralLoadStatic" substitutionGroup="ifc:AbstractIfcStructuralLoadOrResult" type="ifc:AbstractIfcStructuralLoadStatic_Type"/>
  <complexType abstract="true" name="AbstractIfcStructuralLoadStatic_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcStructuralLoadOrResult_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIfcStructuralLoadStatic_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:AbstractIfcStructuralLoadStatic"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcStructuralLoadTemperature" substitutionGroup="ifc:AbstractIfcStructuralLoadStatic" type="ifc:IfcStructuralLoadTemperature_Type"/>
  <complexType name="IfcStructuralLoadTemperature_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcStructuralLoadStatic_Type">
        <sequence>
          <element minOccurs="0" name="deltaTConstant" type="gml:MeasureType"/>
          <element minOccurs="0" name="deltaTY" type="gml:MeasureType"/>
          <element minOccurs="0" name="deltaTZ" type="gml:MeasureType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcStructuralLoadTemperature_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcStructuralLoadTemperature"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSurfaceReinforcementArea" substitutionGroup="ifc:AbstractIfcStructuralLoadOrResult" type="ifc:IfcSurfaceReinforcementArea_Type"/>
  <complexType name="IfcSurfaceReinforcementArea_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcStructuralLoadOrResult_Type">
        <sequence>
          <element maxOccurs="3" minOccurs="0" name="surfaceReinforcement1" type="gml:LengthType"/>
          <element maxOccurs="3" minOccurs="0" name="surfaceReinforcement2" type="gml:LengthType"/>
          <element minOccurs="0" name="shearReinforcement" type="gml:MeasureType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSurfaceReinforcementArea_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSurfaceReinforcementArea"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTranslationalStiffnessSelect" type="ifc:IfcTranslationalStiffnessSelect_Type"/>
  <complexType name="IfcTranslationalStiffnessSelect_Type">
    <choice>
      <element name="boolean" type="ifc:IfcBoolean_PropertyType"/>
      <element name="linearStiffnessMeasure" type="ifc:IfcLinearStiffnessMeasure_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcTranslationalStiffnessSelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTranslationalStiffnessSelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcWarpingStiffnessSelect" type="ifc:IfcWarpingStiffnessSelect_Type"/>
  <complexType name="IfcWarpingStiffnessSelect_Type">
    <choice>
      <element name="boolean" type="ifc:IfcBoolean_PropertyType"/>
      <element name="warpingMomentMeasure" type="ifc:IfcWarpingMomentMeasure_PropertyType"/>
    </choice>
  </complexType>
  <complexType name="IfcWarpingStiffnessSelect_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcWarpingStiffnessSelect"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
