XSD/IfcSharedBldgElements.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:ifc="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" version="4.3">
  <include schemaLocation="IfcActorResource.xsd"/>
  <include schemaLocation="IfcDateTimeResource.xsd"/>
  <include schemaLocation="IfcExternalReferenceResource.xsd"/>
  <include schemaLocation="IfcGeometricModelResource.xsd"/>
  <include schemaLocation="IfcGeometryResource.xsd"/>
  <include schemaLocation="IfcInteroperabilityLayer.xsd"/>
  <include schemaLocation="IfcKernel.xsd"/>
  <include schemaLocation="IfcMaterialResource.xsd"/>
  <include schemaLocation="IfcMeasureResource.xsd"/>
  <include schemaLocation="IfcPresentationAppearanceResource.xsd"/>
  <include schemaLocation="IfcProductExtension.xsd"/>
  <include schemaLocation="IfcPropertyResource.xsd"/>
  <include schemaLocation="IfcRepresentationResource.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="IfcBeam" substitutionGroup="ifc:AbstractIfcBuildingElement" type="ifc:IfcBeam_Type"/>
  <complexType name="IfcBeam_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcBeamTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcBeam_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBeam"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcBeamStandardCase" substitutionGroup="ifc:IfcBeam" type="ifc:IfcBeamStandardCase_Type"/>
  <complexType name="IfcBeamStandardCase_Type">
    <complexContent>
      <extension base="ifc:IfcBeam_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcBeamStandardCase_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBeamStandardCase"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcBeamType" substitutionGroup="ifc:AbstractIfcBuildingElementType" type="ifc:IfcBeamType_Type"/>
  <complexType name="IfcBeamType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcBeamTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcBeamType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBeamType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcBeamTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcBeamTypeEnum_Type"/>
  <simpleType name="IfcBeamTypeEnum_Type">
    <restriction base="string">
      <enumeration value="BEAM"/>
      <enumeration value="CORNICE"/>
      <enumeration value="DIAPHRAGM"/>
      <enumeration value="EDGEBEAM"/>
      <enumeration value="GIRDER_SEGMENT"/>
      <enumeration value="HATSTONE"/>
      <enumeration value="HOLLOWCORE"/>
      <enumeration value="JOIST"/>
      <enumeration value="LINTEL"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PIERCAP"/>
      <enumeration value="SPANDREL"/>
      <enumeration value="T_BEAM"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcBeamTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBeamTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcBearing" substitutionGroup="ifc:AbstractIfcBuildingElement" type="ifc:IfcBearing_Type"/>
  <complexType name="IfcBearing_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcBearingTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcBearing_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBearing"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcBearingType" substitutionGroup="ifc:AbstractIfcBuildingElementType" type="ifc:IfcBearingType_Type"/>
  <complexType name="IfcBearingType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcBearingTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcBearingType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBearingType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcBearingTypeDisplacementEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcBearingTypeDisplacementEnum_Type"/>
  <simpleType name="IfcBearingTypeDisplacementEnum_Type">
    <restriction base="string">
      <enumeration value="FIXED_MOVEMENT"/>
      <enumeration value="FREE_MOVEMENT"/>
      <enumeration value="GUIDED_LONGITUDINAL"/>
      <enumeration value="GUIDED_TRANSVERSAL"/>
      <enumeration value="NOTDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcBearingTypeDisplacementEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBearingTypeDisplacementEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcBearingTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcBearingTypeEnum_Type"/>
  <simpleType name="IfcBearingTypeEnum_Type">
    <restriction base="string">
      <enumeration value="CYLINDRICAL"/>
      <enumeration value="DISK"/>
      <enumeration value="ELASTOMERIC"/>
      <enumeration value="GUIDE"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="POT"/>
      <enumeration value="ROCKER"/>
      <enumeration value="ROLLER"/>
      <enumeration value="SPHERICAL"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcBearingTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBearingTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcBuildingElementProxy" substitutionGroup="ifc:AbstractIfcBuildingElement" type="ifc:IfcBuildingElementProxy_Type"/>
  <complexType name="IfcBuildingElementProxy_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcBuildingElementProxyTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcBuildingElementProxy_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBuildingElementProxy"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcBuildingElementProxyType" substitutionGroup="ifc:AbstractIfcBuildingElementType" type="ifc:IfcBuildingElementProxyType_Type"/>
  <complexType name="IfcBuildingElementProxyType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcBuildingElementProxyTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcBuildingElementProxyType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBuildingElementProxyType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcBuildingElementProxyTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcBuildingElementProxyTypeEnum_Type"/>
  <simpleType name="IfcBuildingElementProxyTypeEnum_Type">
    <restriction base="string">
      <enumeration value="COMPLEX"/>
      <enumeration value="ELEMENT"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PARTIAL"/>
      <enumeration value="PROVISIONFORSPACE"/>
      <enumeration value="PROVISIONFORVOID"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcBuildingElementProxyTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBuildingElementProxyTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcBuildingSystem" substitutionGroup="ifc:IfcSystem" type="ifc:IfcBuildingSystem_Type"/>
  <complexType name="IfcBuildingSystem_Type">
    <complexContent>
      <extension base="ifc:IfcSystem_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcBuildingSystemTypeEnum_PropertyType"/>
          <element minOccurs="0" name="longName" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcBuildingSystem_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBuildingSystem"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcBuildingSystemTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcBuildingSystemTypeEnum_Type"/>
  <simpleType name="IfcBuildingSystemTypeEnum_Type">
    <restriction base="string">
      <enumeration value="EROSIONPREVENTION"/>
      <enumeration value="FENESTRATION"/>
      <enumeration value="FOUNDATION"/>
      <enumeration value="LOADBEARING"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="OUTERSHELL"/>
      <enumeration value="PRESTRESSING"/>
      <enumeration value="REINFORCING"/>
      <enumeration value="SHADING"/>
      <enumeration value="TRANSPORT"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcBuildingSystemTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcBuildingSystemTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCaissonFoundation" substitutionGroup="ifc:IfcDeepFoundation" type="ifc:IfcCaissonFoundation_Type"/>
  <complexType name="IfcCaissonFoundation_Type">
    <complexContent>
      <extension base="ifc:IfcDeepFoundation_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcCaissonFoundationTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCaissonFoundation_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCaissonFoundation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCaissonFoundationType" substitutionGroup="ifc:IfcDeepFoundationType" type="ifc:IfcCaissonFoundationType_Type"/>
  <complexType name="IfcCaissonFoundationType_Type">
    <complexContent>
      <extension base="ifc:IfcDeepFoundationType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcCaissonFoundationTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCaissonFoundationType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCaissonFoundationType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCaissonFoundationTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcCaissonFoundationTypeEnum_Type"/>
  <simpleType name="IfcCaissonFoundationTypeEnum_Type">
    <restriction base="string">
      <enumeration value="CAISSON"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="WELL"/>
    </restriction>
  </simpleType>
  <complexType name="IfcCaissonFoundationTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCaissonFoundationTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcChimney" substitutionGroup="ifc:AbstractIfcBuildingElement" type="ifc:IfcChimney_Type"/>
  <complexType name="IfcChimney_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcChimneyTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcChimney_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcChimney"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcChimneyType" substitutionGroup="ifc:AbstractIfcBuildingElementType" type="ifc:IfcChimneyType_Type"/>
  <complexType name="IfcChimneyType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcChimneyTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcChimneyType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcChimneyType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcChimneyTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcChimneyTypeEnum_Type"/>
  <simpleType name="IfcChimneyTypeEnum_Type">
    <restriction base="string">
      <enumeration value="NOTDEFINED"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcChimneyTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcChimneyTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcColumn" substitutionGroup="ifc:AbstractIfcBuildingElement" type="ifc:IfcColumn_Type"/>
  <complexType name="IfcColumn_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcColumnTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcColumn_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcColumn"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcColumnStandardCase" substitutionGroup="ifc:IfcColumn" type="ifc:IfcColumnStandardCase_Type"/>
  <complexType name="IfcColumnStandardCase_Type">
    <complexContent>
      <extension base="ifc:IfcColumn_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcColumnStandardCase_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcColumnStandardCase"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcColumnType" substitutionGroup="ifc:AbstractIfcBuildingElementType" type="ifc:IfcColumnType_Type"/>
  <complexType name="IfcColumnType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcColumnTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcColumnType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcColumnType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcColumnTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcColumnTypeEnum_Type"/>
  <simpleType name="IfcColumnTypeEnum_Type">
    <restriction base="string">
      <enumeration value="COLUMN"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PIERSTEM"/>
      <enumeration value="PIERSTEM_SEGMENT"/>
      <enumeration value="PILASTER"/>
      <enumeration value="STANDCOLUMN"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcColumnTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcColumnTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcConnectionTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcConnectionTypeEnum_Type"/>
  <simpleType name="IfcConnectionTypeEnum_Type">
    <restriction base="string">
      <enumeration value="ATEND"/>
      <enumeration value="ATPATH"/>
      <enumeration value="ATSTART"/>
      <enumeration value="NOTDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcConnectionTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcConnectionTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCourse" substitutionGroup="ifc:AbstractIfcBuildingElement" type="ifc:IfcCourse_Type"/>
  <complexType name="IfcCourse_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElement_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCourse_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCourse"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCourseType" substitutionGroup="gco:AbstractObject" type="ifc:IfcCourseType_Type"/>
  <complexType name="IfcCourseType_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCourseType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCourseType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCovering" substitutionGroup="ifc:AbstractIfcBuildingElement" type="ifc:IfcCovering_Type"/>
  <complexType name="IfcCovering_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcCoveringTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCovering_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCovering"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCoveringType" substitutionGroup="ifc:AbstractIfcBuildingElementType" type="ifc:IfcCoveringType_Type"/>
  <complexType name="IfcCoveringType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcCoveringTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCoveringType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCoveringType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCoveringTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcCoveringTypeEnum_Type"/>
  <simpleType name="IfcCoveringTypeEnum_Type">
    <restriction base="string">
      <enumeration value="CEILING"/>
      <enumeration value="CLADDING"/>
      <enumeration value="COPING"/>
      <enumeration value="FLOORING"/>
      <enumeration value="INSULATION"/>
      <enumeration value="MEMBRANE"/>
      <enumeration value="MOLDING"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="ROOFING"/>
      <enumeration value="SKIRTINGBOARD"/>
      <enumeration value="SLEEVING"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="WRAPPING"/>
    </restriction>
  </simpleType>
  <complexType name="IfcCoveringTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCoveringTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCurtainWall" substitutionGroup="ifc:AbstractIfcBuildingElement" type="ifc:IfcCurtainWall_Type"/>
  <complexType name="IfcCurtainWall_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcCurtainWallTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCurtainWall_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCurtainWall"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCurtainWallType" substitutionGroup="ifc:AbstractIfcBuildingElementType" type="ifc:IfcCurtainWallType_Type"/>
  <complexType name="IfcCurtainWallType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcCurtainWallTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcCurtainWallType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCurtainWallType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcCurtainWallTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcCurtainWallTypeEnum_Type"/>
  <simpleType name="IfcCurtainWallTypeEnum_Type">
    <restriction base="string">
      <enumeration value="NOTDEFINED"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcCurtainWallTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcCurtainWallTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDeepFoundation" substitutionGroup="ifc:AbstractIfcBuildingElement" type="ifc:IfcDeepFoundation_Type"/>
  <complexType name="IfcDeepFoundation_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElement_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDeepFoundation_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDeepFoundation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDeepFoundationType" substitutionGroup="ifc:AbstractIfcBuildingElementType" type="ifc:IfcDeepFoundationType_Type"/>
  <complexType name="IfcDeepFoundationType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElementType_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDeepFoundationType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDeepFoundationType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDoor" substitutionGroup="ifc:AbstractIfcBuildingElement" type="ifc:IfcDoor_Type"/>
  <complexType name="IfcDoor_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElement_Type">
        <sequence>
          <element minOccurs="0" name="overallHeight" type="gml:LengthType"/>
          <element minOccurs="0" name="overallWidth" type="gml:LengthType"/>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcDoorTypeEnum_PropertyType"/>
          <element minOccurs="0" name="operationType" type="ifc:IfcDoorTypeOperationEnum_PropertyType"/>
          <element minOccurs="0" name="userDefinedOperationType" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDoor_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDoor"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDoorStandardCase" substitutionGroup="ifc:IfcDoor" type="ifc:IfcDoorStandardCase_Type"/>
  <complexType name="IfcDoorStandardCase_Type">
    <complexContent>
      <extension base="ifc:IfcDoor_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDoorStandardCase_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDoorStandardCase"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDoorType" substitutionGroup="ifc:AbstractIfcBuildingElementType" type="ifc:IfcDoorType_Type"/>
  <complexType name="IfcDoorType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcDoorTypeEnum_PropertyType"/>
          <element name="operationType" type="ifc:IfcDoorTypeOperationEnum_PropertyType"/>
          <element minOccurs="0" name="parameterTakesPrecedence" type="boolean"/>
          <element minOccurs="0" name="userDefinedOperationType" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcDoorType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDoorType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDoorTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcDoorTypeEnum_Type"/>
  <simpleType name="IfcDoorTypeEnum_Type">
    <restriction base="string">
      <enumeration value="DOOR"/>
      <enumeration value="GATE"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="TRAPDOOR"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcDoorTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDoorTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcDoorTypeOperationEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcDoorTypeOperationEnum_Type"/>
  <simpleType name="IfcDoorTypeOperationEnum_Type">
    <restriction base="string">
      <enumeration value="DOUBLE_DOOR_DOUBLE_SWING"/>
      <enumeration value="DOUBLE_DOOR_FOLDING"/>
      <enumeration value="DOUBLE_DOOR_SINGLE_SWING"/>
      <enumeration value="DOUBLE_DOOR_SINGLE_SWING_OPPOSITE_LEFT"/>
      <enumeration value="DOUBLE_DOOR_SINGLE_SWING_OPPOSITE_RIGHT"/>
      <enumeration value="DOUBLE_DOOR_SLIDING"/>
      <enumeration value="DOUBLE_SWING_LEFT"/>
      <enumeration value="DOUBLE_SWING_RIGHT"/>
      <enumeration value="FOLDING_TO_LEFT"/>
      <enumeration value="FOLDING_TO_RIGHT"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="REVOLVING"/>
      <enumeration value="ROLLINGUP"/>
      <enumeration value="SINGLE_SWING_LEFT"/>
      <enumeration value="SINGLE_SWING_RIGHT"/>
      <enumeration value="SLIDING_TO_LEFT"/>
      <enumeration value="SLIDING_TO_RIGHT"/>
      <enumeration value="SWING_FIXED_LEFT"/>
      <enumeration value="SWING_FIXED_RIGHT"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcDoorTypeOperationEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcDoorTypeOperationEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcEarthworksCut" substitutionGroup="ifc:AbstractIfcFeatureElementSubtraction" type="ifc:IfcEarthworksCut_Type"/>
  <complexType name="IfcEarthworksCut_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcFeatureElementSubtraction_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcEarthworksCutTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcEarthworksCut_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcEarthworksCut"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcEarthworksCutTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcEarthworksCutTypeEnum_Type"/>
  <simpleType name="IfcEarthworksCutTypeEnum_Type">
    <restriction base="string">
      <enumeration value="BASEEXCAVATION"/>
      <enumeration value="CUTANDFILL"/>
      <enumeration value="DREDGING"/>
      <enumeration value="EXCAVATION"/>
      <enumeration value="OVEREXCAVATION"/>
      <enumeration value="PAVEMENTMILING"/>
      <enumeration value="TOPSOILREMOVAL"/>
      <enumeration value="TRENCH"/>
    </restriction>
  </simpleType>
  <complexType name="IfcEarthworksCutTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcEarthworksCutTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcEarthworksElement" substitutionGroup="ifc:AbstractIfcBuildingElement" type="ifc:IfcEarthworksElement_Type"/>
  <complexType name="IfcEarthworksElement_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElement_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcEarthworksElementTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcEarthworksElement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcEarthworksElement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcEarthworksElementTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcEarthworksElementTypeEnum_Type"/>
  <simpleType name="IfcEarthworksElementTypeEnum_Type">
    <restriction base="string">
      <enumeration value="COUNTERWEIGHTFILL"/>
      <enumeration value="EMBANKMENT"/>
      <enumeration value="REINFORCEDSOIL"/>
      <enumeration value="SLOPEFILL"/>
      <enumeration value="SUBGRADE"/>
    </restriction>
  </simpleType>
  <complexType name="IfcEarthworksElementTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcEarthworksElementTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcKerb" substitutionGroup="ifc:AbstractIfcBuildingElement" type="ifc:IfcKerb_Type"/>
  <complexType name="IfcKerb_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElement_Type">
        <sequence>
          <element minOccurs="0" name="mountable" type="boolean"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcKerb_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcKerb"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcKerbType" substitutionGroup="gco:AbstractObject" type="ifc:IfcKerbType_Type"/>
  <complexType name="IfcKerbType_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="mountable" type="boolean"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcKerbType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcKerbType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMember" substitutionGroup="ifc:AbstractIfcBuildingElement" type="ifc:IfcMember_Type"/>
  <complexType name="IfcMember_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcMemberTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMember_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMember"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMemberStandardCase" substitutionGroup="ifc:IfcMember" type="ifc:IfcMemberStandardCase_Type"/>
  <complexType name="IfcMemberStandardCase_Type">
    <complexContent>
      <extension base="ifc:IfcMember_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMemberStandardCase_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMemberStandardCase"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMemberType" substitutionGroup="ifc:AbstractIfcBuildingElementType" type="ifc:IfcMemberType_Type"/>
  <complexType name="IfcMemberType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcMemberTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcMemberType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMemberType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcMemberTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcMemberTypeEnum_Type"/>
  <simpleType name="IfcMemberTypeEnum_Type">
    <restriction base="string">
      <enumeration value="ARCH_SEGMENT"/>
      <enumeration value="BRACE"/>
      <enumeration value="CHORD"/>
      <enumeration value="COLLAR"/>
      <enumeration value="MEMBER"/>
      <enumeration value="MULLION"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PLATE"/>
      <enumeration value="POST"/>
      <enumeration value="PURLIN"/>
      <enumeration value="RAFTER"/>
      <enumeration value="STAY_CABLE"/>
      <enumeration value="STIFFENING_RIB"/>
      <enumeration value="STRINGER"/>
      <enumeration value="STRUT"/>
      <enumeration value="STUD"/>
      <enumeration value="SUSPENDER"/>
      <enumeration value="SUSPENSION_CABLE"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcMemberTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcMemberTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPavement" substitutionGroup="ifc:AbstractIfcBuildingElement" type="ifc:IfcPavement_Type"/>
  <complexType name="IfcPavement_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElement_Type">
        <sequence>
          <element minOccurs="0" name="flexible" type="boolean"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPavement_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPavement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPavementType" substitutionGroup="gco:AbstractObject" type="ifc:IfcPavementType_Type"/>
  <complexType name="IfcPavementType_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="flexible" type="boolean"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPavementType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPavementType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPlate" substitutionGroup="ifc:AbstractIfcBuildingElement" type="ifc:IfcPlate_Type"/>
  <complexType name="IfcPlate_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcPlateTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPlate_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPlate"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPlateStandardCase" substitutionGroup="ifc:IfcPlate" type="ifc:IfcPlateStandardCase_Type"/>
  <complexType name="IfcPlateStandardCase_Type">
    <complexContent>
      <extension base="ifc:IfcPlate_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPlateStandardCase_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPlateStandardCase"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPlateType" substitutionGroup="ifc:AbstractIfcBuildingElementType" type="ifc:IfcPlateType_Type"/>
  <complexType name="IfcPlateType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcPlateTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcPlateType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPlateType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcPlateTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcPlateTypeEnum_Type"/>
  <simpleType name="IfcPlateTypeEnum_Type">
    <restriction base="string">
      <enumeration value="BASE_PLATE"/>
      <enumeration value="COVER_PLATE"/>
      <enumeration value="CURTAIN_PANEL"/>
      <enumeration value="FLANGE_PLATE"/>
      <enumeration value="GUSSET_PLATE"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="SHEET"/>
      <enumeration value="SPLICE_PLATE"/>
      <enumeration value="STIFFENER_PLATE"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="WEB_PLATE"/>
    </restriction>
  </simpleType>
  <complexType name="IfcPlateTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcPlateTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRailing" substitutionGroup="ifc:AbstractIfcBuildingElement" type="ifc:IfcRailing_Type"/>
  <complexType name="IfcRailing_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcRailingTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRailing_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRailing"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRailingType" substitutionGroup="ifc:AbstractIfcBuildingElementType" type="ifc:IfcRailingType_Type"/>
  <complexType name="IfcRailingType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcRailingTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRailingType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRailingType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRailingTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcRailingTypeEnum_Type"/>
  <simpleType name="IfcRailingTypeEnum_Type">
    <restriction base="string">
      <enumeration value="BALUSTRADE"/>
      <enumeration value="GUARDRAIL"/>
      <enumeration value="HANDRAIL"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcRailingTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRailingTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRamp" substitutionGroup="ifc:AbstractIfcBuildingElement" type="ifc:IfcRamp_Type"/>
  <complexType name="IfcRamp_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcRampTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRamp_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRamp"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRampFlight" substitutionGroup="ifc:AbstractIfcBuildingElement" type="ifc:IfcRampFlight_Type"/>
  <complexType name="IfcRampFlight_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcRampFlightTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRampFlight_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRampFlight"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRampFlightType" substitutionGroup="ifc:AbstractIfcBuildingElementType" type="ifc:IfcRampFlightType_Type"/>
  <complexType name="IfcRampFlightType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcRampFlightTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRampFlightType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRampFlightType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRampFlightTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcRampFlightTypeEnum_Type"/>
  <simpleType name="IfcRampFlightTypeEnum_Type">
    <restriction base="string">
      <enumeration value="NOTDEFINED"/>
      <enumeration value="SPIRAL"/>
      <enumeration value="STRAIGHT"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcRampFlightTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRampFlightTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRampType" substitutionGroup="ifc:AbstractIfcBuildingElementType" type="ifc:IfcRampType_Type"/>
  <complexType name="IfcRampType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcRampTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRampType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRampType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRampTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcRampTypeEnum_Type"/>
  <simpleType name="IfcRampTypeEnum_Type">
    <restriction base="string">
      <enumeration value="HALF_TURN_RAMP"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="QUARTER_TURN_RAMP"/>
      <enumeration value="SPIRAL_RAMP"/>
      <enumeration value="STRAIGHT_RUN_RAMP"/>
      <enumeration value="TWO_QUARTER_TURN_RAMP"/>
      <enumeration value="TWO_STRAIGHT_RUN_RAMP"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcRampTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRampTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelConnectsPathElements" substitutionGroup="ifc:IfcRelConnectsElements" type="ifc:IfcRelConnectsPathElements_Type"/>
  <complexType name="IfcRelConnectsPathElements_Type">
    <complexContent>
      <extension base="ifc:IfcRelConnectsElements_Type">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="relatingPriorities" type="integer"/>
          <element maxOccurs="unbounded" minOccurs="0" name="relatedPriorities" type="integer"/>
          <element name="relatedConnectionType" type="ifc:IfcConnectionTypeEnum_PropertyType"/>
          <element name="relatingConnectionType" type="ifc:IfcConnectionTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelConnectsPathElements_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelConnectsPathElements"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelCoversBldgElements" substitutionGroup="ifc:AbstractIfcRelConnects" type="ifc:IfcRelCoversBldgElements_Type"/>
  <complexType name="IfcRelCoversBldgElements_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelConnects_Type">
        <sequence>
          <element name="relatingBuildingElement" type="ifc:AbstractIfcElement_PropertyType"/>
          <element maxOccurs="unbounded" name="relatedCoverings" type="ifc:IfcCovering_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelCoversBldgElements_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelCoversBldgElements"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRelCoversSpaces" substitutionGroup="ifc:AbstractIfcRelConnects" type="ifc:IfcRelCoversSpaces_Type"/>
  <complexType name="IfcRelCoversSpaces_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcRelConnects_Type">
        <sequence>
          <element name="relatingSpace" type="ifc:IfcSpace_PropertyType"/>
          <element maxOccurs="unbounded" name="relatedCoverings" type="ifc:IfcCovering_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRelCoversSpaces_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRelCoversSpaces"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRoof" substitutionGroup="ifc:AbstractIfcBuildingElement" type="ifc:IfcRoof_Type"/>
  <complexType name="IfcRoof_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcRoofTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRoof_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRoof"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRoofType" substitutionGroup="ifc:AbstractIfcBuildingElementType" type="ifc:IfcRoofType_Type"/>
  <complexType name="IfcRoofType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcRoofTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcRoofType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRoofType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcRoofTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcRoofTypeEnum_Type"/>
  <simpleType name="IfcRoofTypeEnum_Type">
    <restriction base="string">
      <enumeration value="BARREL_ROOF"/>
      <enumeration value="BUTTERFLY_ROOF"/>
      <enumeration value="DOME_ROOF"/>
      <enumeration value="FLAT_ROOF"/>
      <enumeration value="FREEFORM"/>
      <enumeration value="GABLE_ROOF"/>
      <enumeration value="GAMBREL_ROOF"/>
      <enumeration value="HIP_ROOF"/>
      <enumeration value="HIPPED_GABLE_ROOF"/>
      <enumeration value="MANSARD_ROOF"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PAVILION_ROOF"/>
      <enumeration value="RAINBOW_ROOF"/>
      <enumeration value="SHED_ROOF"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcRoofTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcRoofTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcShadingDevice" substitutionGroup="ifc:AbstractIfcBuildingElement" type="ifc:IfcShadingDevice_Type"/>
  <complexType name="IfcShadingDevice_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcShadingDeviceTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcShadingDevice_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcShadingDevice"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcShadingDeviceType" substitutionGroup="ifc:AbstractIfcBuildingElementType" type="ifc:IfcShadingDeviceType_Type"/>
  <complexType name="IfcShadingDeviceType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcShadingDeviceTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcShadingDeviceType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcShadingDeviceType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcShadingDeviceTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcShadingDeviceTypeEnum_Type"/>
  <simpleType name="IfcShadingDeviceTypeEnum_Type">
    <restriction base="string">
      <enumeration value="AWNING"/>
      <enumeration value="JALOUSIE"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="SHUTTER"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcShadingDeviceTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcShadingDeviceTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSlab" substitutionGroup="ifc:AbstractIfcBuildingElement" type="ifc:IfcSlab_Type"/>
  <complexType name="IfcSlab_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcSlabTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSlab_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSlab"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSlabElementedCase" substitutionGroup="ifc:IfcSlab" type="ifc:IfcSlabElementedCase_Type"/>
  <complexType name="IfcSlabElementedCase_Type">
    <complexContent>
      <extension base="ifc:IfcSlab_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSlabElementedCase_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSlabElementedCase"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSlabStandardCase" substitutionGroup="ifc:IfcSlab" type="ifc:IfcSlabStandardCase_Type"/>
  <complexType name="IfcSlabStandardCase_Type">
    <complexContent>
      <extension base="ifc:IfcSlab_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSlabStandardCase_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSlabStandardCase"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSlabType" substitutionGroup="ifc:AbstractIfcBuildingElementType" type="ifc:IfcSlabType_Type"/>
  <complexType name="IfcSlabType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcSlabTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcSlabType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSlabType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcSlabTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcSlabTypeEnum_Type"/>
  <simpleType name="IfcSlabTypeEnum_Type">
    <restriction base="string">
      <enumeration value="APPROACH_SLAB"/>
      <enumeration value="BASESLAB"/>
      <enumeration value="FLOOR"/>
      <enumeration value="LANDING"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PAVING"/>
      <enumeration value="ROOF"/>
      <enumeration value="SIDEWALK"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="WEARING"/>
    </restriction>
  </simpleType>
  <complexType name="IfcSlabTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcSlabTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcStair" substitutionGroup="ifc:AbstractIfcBuildingElement" type="ifc:IfcStair_Type"/>
  <complexType name="IfcStair_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcStairTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcStair_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcStair"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcStairFlight" substitutionGroup="ifc:AbstractIfcBuildingElement" type="ifc:IfcStairFlight_Type"/>
  <complexType name="IfcStairFlight_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElement_Type">
        <sequence>
          <element minOccurs="0" name="numberOfRisers" type="integer"/>
          <element minOccurs="0" name="numberOfTreads" type="integer"/>
          <element minOccurs="0" name="riserHeight" type="gml:LengthType"/>
          <element minOccurs="0" name="treadLength" type="gml:LengthType"/>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcStairFlightTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcStairFlight_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcStairFlight"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcStairFlightType" substitutionGroup="ifc:AbstractIfcBuildingElementType" type="ifc:IfcStairFlightType_Type"/>
  <complexType name="IfcStairFlightType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcStairFlightTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcStairFlightType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcStairFlightType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcStairFlightTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcStairFlightTypeEnum_Type"/>
  <simpleType name="IfcStairFlightTypeEnum_Type">
    <restriction base="string">
      <enumeration value="CURVED"/>
      <enumeration value="FREEFORM"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="SPIRAL"/>
      <enumeration value="STRAIGHT"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="WINDER"/>
    </restriction>
  </simpleType>
  <complexType name="IfcStairFlightTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcStairFlightTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcStairType" substitutionGroup="ifc:AbstractIfcBuildingElementType" type="ifc:IfcStairType_Type"/>
  <complexType name="IfcStairType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcStairTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcStairType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcStairType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcStairTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcStairTypeEnum_Type"/>
  <simpleType name="IfcStairTypeEnum_Type">
    <restriction base="string">
      <enumeration value="CURVED_RUN_STAIR"/>
      <enumeration value="DOUBLE_RETURN_STAIR"/>
      <enumeration value="HALF_TURN_STAIR"/>
      <enumeration value="HALF_WINDING_STAIR"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="QUARTER_TURN_STAIR"/>
      <enumeration value="QUARTER_WINDING_STAIR"/>
      <enumeration value="SPIRAL_STAIR"/>
      <enumeration value="STRAIGHT_RUN_STAIR"/>
      <enumeration value="THREE_QUARTER_TURN_STAIR"/>
      <enumeration value="THREE_QUARTER_WINDING_STAIR"/>
      <enumeration value="TWO_CURVED_RUN_STAIR"/>
      <enumeration value="TWO_QUARTER_TURN_STAIR"/>
      <enumeration value="TWO_QUARTER_WINDING_STAIR"/>
      <enumeration value="TWO_STRAIGHT_RUN_STAIR"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcStairTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcStairTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcWall" substitutionGroup="ifc:AbstractIfcBuildingElement" type="ifc:IfcWall_Type"/>
  <complexType name="IfcWall_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElement_Type">
        <sequence>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcWallTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcWall_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcWall"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcWallElementedCase" substitutionGroup="ifc:IfcWall" type="ifc:IfcWallElementedCase_Type"/>
  <complexType name="IfcWallElementedCase_Type">
    <complexContent>
      <extension base="ifc:IfcWall_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcWallElementedCase_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcWallElementedCase"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcWallStandardCase" substitutionGroup="ifc:IfcWall" type="ifc:IfcWallStandardCase_Type"/>
  <complexType name="IfcWallStandardCase_Type">
    <complexContent>
      <extension base="ifc:IfcWall_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcWallStandardCase_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcWallStandardCase"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcWallType" substitutionGroup="ifc:AbstractIfcBuildingElementType" type="ifc:IfcWallType_Type"/>
  <complexType name="IfcWallType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcWallTypeEnum_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcWallType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcWallType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcWallTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcWallTypeEnum_Type"/>
  <simpleType name="IfcWallTypeEnum_Type">
    <restriction base="string">
      <enumeration value="ELEMENTEDWALL"/>
      <enumeration value="MOVABLE"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="PARAPET"/>
      <enumeration value="PARTITIONING"/>
      <enumeration value="PLUMBINGWALL"/>
      <enumeration value="POLYGONAL"/>
      <enumeration value="RETAININGWALL"/>
      <enumeration value="SHEAR"/>
      <enumeration value="SOLIDWALL"/>
      <enumeration value="STANDARD"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcWallTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcWallTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcWindow" substitutionGroup="ifc:AbstractIfcBuildingElement" type="ifc:IfcWindow_Type"/>
  <complexType name="IfcWindow_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElement_Type">
        <sequence>
          <element minOccurs="0" name="overallHeight" type="gml:LengthType"/>
          <element minOccurs="0" name="overallWidth" type="gml:LengthType"/>
          <element minOccurs="0" name="predefinedType" type="ifc:IfcWindowTypeEnum_PropertyType"/>
          <element minOccurs="0" name="partitioningType" type="ifc:IfcWindowTypePartitioningEnum_PropertyType"/>
          <element minOccurs="0" name="userDefinedPartitioningType" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcWindow_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcWindow"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcWindowStandardCase" substitutionGroup="ifc:IfcWindow" type="ifc:IfcWindowStandardCase_Type"/>
  <complexType name="IfcWindowStandardCase_Type">
    <complexContent>
      <extension base="ifc:IfcWindow_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcWindowStandardCase_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcWindowStandardCase"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcWindowType" substitutionGroup="ifc:AbstractIfcBuildingElementType" type="ifc:IfcWindowType_Type"/>
  <complexType name="IfcWindowType_Type">
    <complexContent>
      <extension base="ifc:AbstractIfcBuildingElementType_Type">
        <sequence>
          <element name="predefinedType" type="ifc:IfcWindowTypeEnum_PropertyType"/>
          <element name="partitioningType" type="ifc:IfcWindowTypePartitioningEnum_PropertyType"/>
          <element minOccurs="0" name="parameterTakesPrecedence" type="boolean"/>
          <element minOccurs="0" name="userDefinedPartitioningType" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcWindowType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcWindowType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcWindowTypeEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcWindowTypeEnum_Type"/>
  <simpleType name="IfcWindowTypeEnum_Type">
    <restriction base="string">
      <enumeration value="LIGHTDOME"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="SKYLIGHT"/>
      <enumeration value="USERDEFINED"/>
      <enumeration value="WINDOW"/>
    </restriction>
  </simpleType>
  <complexType name="IfcWindowTypeEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcWindowTypeEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcWindowTypePartitioningEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcWindowTypePartitioningEnum_Type"/>
  <simpleType name="IfcWindowTypePartitioningEnum_Type">
    <restriction base="string">
      <enumeration value="DOUBLE_PANEL_HORIZONTAL"/>
      <enumeration value="DOUBLE_PANEL_VERTICAL"/>
      <enumeration value="NOTDEFINED"/>
      <enumeration value="SINGLE_PANEL"/>
      <enumeration value="TRIPLE_PANEL_BOTTOM"/>
      <enumeration value="TRIPLE_PANEL_HORIZONTAL"/>
      <enumeration value="TRIPLE_PANEL_LEFT"/>
      <enumeration value="TRIPLE_PANEL_RIGHT"/>
      <enumeration value="TRIPLE_PANEL_TOP"/>
      <enumeration value="TRIPLE_PANEL_VERTICAL"/>
      <enumeration value="USERDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcWindowTypePartitioningEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcWindowTypePartitioningEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="ifcCourseType" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
  <complexType name="ifcCourseType_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:ifcCourseType"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
