XSD/IfcUtilityResource.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:ifc="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/IFC2GML/master/XSD/IFC" version="4.3">
  <include schemaLocation="IfcActorResource.xsd"/>
  <include schemaLocation="IfcConstraintResource.xsd"/>
  <include schemaLocation="IfcDateTimeResource.xsd"/>
  <include schemaLocation="IfcMeasureResource.xsd"/>
  <include schemaLocation="IfcResourceLayer.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="IfcApplication" substitutionGroup="gco:AbstractObject" type="ifc:IfcApplication_Type"/>
  <complexType name="IfcApplication_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="version" type="string"/>
          <element name="applicationFullName" type="string"/>
          <element name="applicationIdentifier" type="string"/>
          <element name="applicationDeveloper" type="ifc:IfcOrganization_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcApplication_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcApplication"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcChangeActionEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcChangeActionEnum_Type"/>
  <simpleType name="IfcChangeActionEnum_Type">
    <restriction base="string">
      <enumeration value="ADDED"/>
      <enumeration value="DELETED"/>
      <enumeration value="MODIFIED"/>
      <enumeration value="NOCHANGE"/>
      <enumeration value="NOTDEFINED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcChangeActionEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcChangeActionEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcGloballyUniqueId" substitutionGroup="gco:AbstractObject" type="ifc:IfcGloballyUniqueId_Type"/>
  <complexType name="IfcGloballyUniqueId_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcGloballyUniqueId_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcGloballyUniqueId"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcOwnerHistory" substitutionGroup="gco:AbstractObject" type="ifc:IfcOwnerHistory_Type"/>
  <complexType name="IfcOwnerHistory_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="state" type="ifc:IfcStateEnum_PropertyType"/>
          <element minOccurs="0" name="changeAction" type="ifc:IfcChangeActionEnum_PropertyType"/>
          <element minOccurs="0" name="lastModifiedDate" type="integer"/>
          <element name="creationDate" type="integer"/>
          <element name="owningUser" type="ifc:IfcPersonAndOrganization_PropertyType"/>
          <element minOccurs="0" name="lastModifyingUser" type="ifc:IfcPersonAndOrganization_PropertyType"/>
          <element name="owningApplication" type="ifc:IfcApplication_PropertyType"/>
          <element minOccurs="0" name="lastModifyingApplication" type="ifc:IfcApplication_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcOwnerHistory_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcOwnerHistory"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcStateEnum" substitutionGroup="gco:CharacterString" type="ifc:IfcStateEnum_Type"/>
  <simpleType name="IfcStateEnum_Type">
    <restriction base="string">
      <enumeration value="LOCKED"/>
      <enumeration value="READONLY"/>
      <enumeration value="READONLYLOCKED"/>
      <enumeration value="READWRITE"/>
      <enumeration value="READWRITELOCKED"/>
    </restriction>
  </simpleType>
  <complexType name="IfcStateEnum_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcStateEnum"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTable" substitutionGroup="gco:AbstractObject" type="ifc:IfcTable_Type"/>
  <complexType name="IfcTable_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="name" type="string"/>
          <element name="numberOfCellsInRow" type="integer"/>
          <element name="numberOfHeadings" type="integer"/>
          <element name="numberOfDataRows" type="integer"/>
          <element maxOccurs="unbounded" minOccurs="0" name="rows" type="ifc:IfcTableRow_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="columns" type="ifc:IfcTableColumn_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTable_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTable"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTableColumn" substitutionGroup="gco:AbstractObject" type="ifc:IfcTableColumn_Type"/>
  <complexType name="IfcTableColumn_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="identifier" type="string"/>
          <element minOccurs="0" name="name" type="string"/>
          <element minOccurs="0" name="description" type="string"/>
          <element minOccurs="0" name="unit" type="ifc:IfcUnit_PropertyType"/>
          <element minOccurs="0" name="referencePath" type="ifc:IfcReference_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTableColumn_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTableColumn"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="IfcTableRow" substitutionGroup="gco:AbstractObject" type="ifc:IfcTableRow_Type"/>
  <complexType name="IfcTableRow_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="rowCells" type="ifc:IfcValue_PropertyType"/>
          <element minOccurs="0" name="isHeading" type="boolean"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IfcTableRow_PropertyType">
    <sequence minOccurs="0">
      <element ref="ifc:IfcTableRow"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
